
<!doctype html>
<#include "ybk/config.html" />
<#assign topMenu="openAccount" />
<html>
<head>
    <meta charset="utf-8">
    <title>银商绑定指南-邮币卡</title>
    <link href="${staticUrl}/style/style.css?version=${jsVersion}" rel="stylesheet">
    <script src="${staticUrl}/js/chart/lib.js?version=${jsVersion}"></script>
    <script src="${staticUrl}/js/ybk/global.js?version=${jsVersion}" type="text/javascript"></script>
</head>

<body>
<#include "ybk/include/page/head.html" />

<div class="main market">
    <div class="clearfix">
        <div class="mod-left">
            <div class="goodsnav">
                <ul class="nav">
                    <li class="on"><a href="/ybk/article/bind_help.html">银商绑定指南</a></li>
                    <li><a href="/ybk/article/download.html">交易客户端下载</a></li>
                </ul>
            </div>
        </div>

        <div class="mod-right">
            <div class="mod-rightcontent">
                <div class="Content">
                    <ul class="title">
                        <li>
                            <a href="${imgUrl}/docs/工商银行银商绑定和出入金指南.docx">工商银行银商绑定和出入金指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/华夏银行银商绑定指南.docx">华夏银行银商绑定指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/海西文交所-农业银行绑定流程.docx">海西文交所-农业银行绑定流程.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/南京文交所-农业银行绑定流程.docx">南京文交所-农业银行绑定流程.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/中国艺交所-农业银行绑定流程.docx">中国艺交所-农业银行绑定流程.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/平安银行银商绑定出入金指南.docx">平安银行银商绑定出入金指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/浦发银行银商绑定和出入金指南.docx">浦发银行银商绑定和出入金指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/兴业银行银商绑定出入金指南.docx">兴业银行银商绑定出入金指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/招商银行网上银商绑定流程.docx">招商银行网上银商绑定流程.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/中国银行银商绑定出入金指南.docx">中国银行银商绑定出入金指南.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/汉唐-建行绑定流程.docx">汉唐-建行绑定流程.docx</a>
                        </li>
                        <li>
                            <a href="${imgUrl}/docs/中南-建行绑定流程.docx">中南-建行绑定流程.docx</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<#include "ybk/include/page/foot.html" />

</body>
</html>
