<!doctype html>
<#include "ybk/config.html" />
<#assign topMenu="${detail.categoryId}"/>
<#if detail.categoryId==1>
	<#assign title="打新申购"/>
<#elseif detail.categoryId==2>
	<#assign title="市场价格"/>
<#elseif detail.categoryId==3>
	<#assign title="交易所公告"/>
<#elseif detail.categoryId==5>
	<#assign title="邮币百科"/>
</#if>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>${title}--邮币卡</title>
		<link rel="stylesheet" href="${staticUrl}/style/style.css" />
		<script src="${staticUrl}/js/ybk/global.js?version=${jsVersion}" type="text/javascript"></script>
	</head>
	<body>
		<#include "include/page/head.html" />

		<div class="details">
			<p class="route">
				<a href="/ybk/article/list.html?categoryId=${detail.categoryId}&exchangeId=${exchangeId}">${title}</a>>正文
			</p>
			<div class="article">
				<h1>打新教程</h1>
				<h2>来源：<span>财猫邮币卡</span> 时间：<span>2015-11-6 9:55:28</span></h2>
				<div style="width:1140px;margin:0 auto;" class="daxin-cen">
				<p class='daxin-bt'>1、什么是邮币卡打新？</p>
		<p>打新就是用资金参与新藏品申购的过程。如果中签的话，就买到了即将上市的藏品。</p>
		<p class='daxin-bt'>2、为什么要进行邮币卡打新？</p>
		<p>邮币卡挂牌参考价一般低于专业市场现货价格，通常为现货价格的50%左右，且有邮币实物做依托。所以邮币卡打新风险低、收益高。</p>
		<p>藏品挂牌上线交易
一般是这样的：
</p>
		<img src="${imgUrl}/topic/ybk/dx/daxin1.png" alt="">
		<p class='daxin-bt'>3、如何打新？</p>
		<p>（1）入金：申购日之前投资人在交易账户中存入足额申购资金。</p>
		<p>（2）申购：申购当日交易时间投资人提交申购申请，申购款即被冻结，同时托管交易系统按照最小申购单位自动生成连续的配号。</p>
		<p>（3）公布结果：次日中签时电子交易合同成立并生效，对未中签部分的申购款予以解冻；解冻次日可以出金。</p>
		<p>（4）托管交易：中签公布次日托管藏品上市交易。</p>
		<p class='daxin-bt'>4、与股票打新有何区别？</p>
		<p class='daxin-bt2'>区别一：回报率高低有别</p>
		<p class='daxin-ind'>邮币卡电子盘同股票一样具有相当好的流动性；由于邮币卡市场大环境的持续走好，其收益率十分惊人，而且涨势持续时间较长，往往一款产品在短短几天内价格就较上市价翻一番，部分品种上市几个月内涨幅甚至达到500%--4000%。纵观各大文交所/交易中心的电子盘走势，60%的邮币卡商品都处于上涨态势，40%的涨停率，涨势惊人，这与邮币卡市场本身的品种属性是分不开的：邮币卡商品发行量既定，随着时间的流逝，收藏加上损耗，市场流通量必然逐渐降低，其价格具有天然的上涨趋势。</p>
		<p class='daxin-bt2'>
		区别二：中签以后操作获利方式不同</p>
		<p class='daxin-ind'>众所周知，A股市场的股票操作是T+1机制，即当日买入品种当日不可卖出。但邮币卡电子盘可做T+0，当日买入亦可当日卖出，国内股市只有上证、深证两个交易所，可以参与打新，而目前国内上线运营的邮币卡电子盘已有近十家，投资者可以同时在多个交易中心开户，进行操作，虽然一家平台中签率比较低，但是可以几家错开时间进行，提高了资金利用率。</p>
		<p class='daxin-bt2'>区别三：邮币卡“中签”容易，准入门槛低</p>
		<p class='daxin-ind'>目前，全国共有线下的邮币卡交易市场62个，实体市场经营面积约11.48万平方米，网络市场21家，经营者数量约2700多户，邮币卡市场总体规模约5000至6000亿元，年交易额约为200至250亿元人民币。
邮币卡电子盘定位为大众化、普惠型交易，让资金量较小的广大群众都有机会拿到发行的“原始股”，广泛参与、互动。这种机制更务实、更接地气，对交易商申购“不设下限”，对所有参与申购的交易商，中签比例不以持仓金额与申购金额大小为限制，只要有参与的意愿，大家都有中签的机会，这给了年轻人和资金量小的群体一个新选择。同时，交易商当日入金申购，翌日公布中签结果，不滞留、不占用交易商资金。
</p>
		<p class='daxin-bt2'>
		区别四：打新中签股票，提取实物权利</p>
		<p class='daxin-ind'>股票的操作过程中，一般一支好的股票可能持有几年的时间，甚至更长，在不打算继续持有情况下，根据情况卖掉出金，如果亏掉就资金打水漂。但是邮币卡电子盘一般一支股票在短时间内就可以反复买卖，不受时间限制，即使不想投资，也可以到实体店提取邮币卡实物，继续收藏升值。</p>
		<p class='daxin-bt'>附：申购问题汇总</p>
		<p>1怎么申购?</p>
		<p>答:我们的申购公告上会有申购的日期,在申购那天登陆客户端双击发行申购,发行藏品在具体藏品名称后面有申购的操作,直接购买就可以.</p>
		<p>2申购有时间限制吗?</p>
		<p>答:只能在申购那天的交易时间9:30-11:30下午13:00-15:00.</p>
		<p>3申购有次数限制吗?</p>
		<p>答:一个品种只能申购一次,如果数量要改变的话可以在申购委托查询里面撤销,然后再重新申购.</p>
		<p>4申购的结果什么时候知道?</p>
		<p>答:申购第二天闭市之后抽签,下午或晚上公布中签结果.您可以在申购成交里面查询.</p>
		<p>5我的申购成交里面全部撤单还有部分成交后撤单是什么意思?</p>
		<p>答:没有中签或部分未中签就是撤单的状态.</p>
		<p>6我的资金什么时候可以出?</p>
		<p>答:申购资金在公布中签之后就解冻了,在申购第三天上午可以出金.</p>
		<p>7申购有资金限制吗?最大申购数量是多少？</p>
		<p>答:最大的申购资金是申购价格*申购最大数量=申购最大资金，最大申购数量见《申购公告》。</p>
		<p>8申购中签是怎么分配的?</p>
		<p>答:我们总量的N%分配给市值的客户,总量的（100-N）%分配给资金的客户,剩余部分随机分配.市值部分是您的市值除以总市值乘以总量的N%,资金部分是您的资金除以总资金乘以总量的（100-N）%.您市值和资金都有的话两部分加起来就是中签数不含随机分配的.市值申购比例以《申购公告》为准。</p>
		<p>9市值申购怎么申购?</p>
		<p>答:申购必须要用资金,市值会增加您的中签率.您用资金申购了哪个品种,我们在收盘后统计您的持仓市值根据您市值的占比情况自动分配不需要您操作.</p>
		<p>10手机客户端可以申购吗?可以撤单么？</p>
		<p>答:在委托页面的更多里面有发行申购,打开发行藏品一直按着某个藏品名称就会有申购的操作出来。手机可以申购但是不能撤单，只能电脑客户端撤单。</p>
		<p>11申购的手续费是怎么收的?</p>
		<p>答:您好,申购一般收千分之三的手续费.没有中签的话手续费是退给您的.也有交易所为推荐一些藏品免费申购的情况。</p>
		<p>12客户质疑中签结果?</p>
		<p>答:您现在打开客户端双击报表查询,打开交易商结算表日期选择申购那天.我帮您算下其中藏品持有表的市值合计就是您的市值(注意没有挂牌的市值是不算的),申购明细表里面的申购金额就是资金,按照您的市值和资金中签数如下…</p>
		<p>13.托管有保管费么？</p>
		<p>答：托管只有鉴定费和挂牌费，没有保管费。</p>
		<p>14.申购结果怎么查询？</p>
		<p>答：申购第二天登陆客户端--发行申购--申购成交里面查询。</p>
		<p>15.挂牌参考价是怎么来的呢？</p>
		<p>答：挂牌指导价定价依据来自：综合经纪会员推荐挂牌价、专家委员会综合评估价、专业市场现货均价，各自所占挂牌指导定价权重一般依次为：30%；30%；40%。</p>
		<p>16.申购举例（其中市值申购比例为70%，资金申购比例为30%）：</p>
		<img src="${imgUrl}/topic/ybk/dx/daxin2.png" alt=""></div>
			</div>
		</div>

		<#include "include/page/foot.html" />
	</body>
</html>