
<!doctype html>
<#include "ybk/config.html" />
<#assign topMenu="openAccount" />
<html>
<head>
    <meta charset="utf-8">
    <title>客户端下载页面-邮币卡</title>
    <link href="${staticUrl}/style/style.css?version=${jsVersion}" rel="stylesheet">
    <link href="${staticUrl}/style/qiu-style.css?version=${jsVersion}" rel="stylesheet">
    <script src="${staticUrl}/js/chart/lib.js?version=${jsVersion}"></script>
    <script src="${staticUrl}/js/ybk/global.js?version=${jsVersion}" type="text/javascript"></script>
</head>

<body>
<#include "ybk/include/page/head.html" />

<div class="main helpList">
    <div class="clearfix">
        <div class="mod-left">
            <div class="goodsnav">
                <ul class="nav">
                    <li class="on"><a href="/ybk/article/download.html">交易客户端下载</a></li>
                </ul>
            </div>
        </div>
        <div class="mod-right">
            <div class="mod-rightcontent">
                <div class="exchangeSoft">
                    <dl>
                        <dt><img src="${imgUrl}/exchange/njwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1hqIZ6yK">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1hqi1KlY">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1dD0iOLF">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                        <dd><strong><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1qWJzoxm">Framework 2.0 下载 （32位）</a></strong><p>双击安装后客户端，若出现 SysFrame.exe-.Net Framework Initialization Error 的问题，请先卸载之前安装软件，然后下载安装Framework2.0 组件，再安装客户端即可。</p></dd>
                        <dd><strong><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1gd6ktIN">Framework 2.0 下载 （64位）</a></strong><p>双击安装后客户端，若出现 SysFrame.exe-.Net Framework Initialization Error 的问题，请先卸载之前安装软件，然后下载安装Framework2.0 组件，再安装客户端即可。</p></dd>
                        <dd class="center"><a target="_blank" href="http://pan.baidu.com/s/1eQ78sT0">钱币邮票交易客户端操作手册下载</a></dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/zgyjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1eQ16kJw">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1c0bRRDQ">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1mg1ZYJY">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                        <dd><strong><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1i3hhupn">dot_Net_Freamwork-2.0 32位版</a></strong><p>双击安装后客户端，若出现包含 Net Framework的错误信息，请先卸载之前安装软件，然后下载安装Framework2.0组件，再安装客户端即可。</p></dd>
                        <dd><strong><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1jG4fRls">dot_Net_Freamwork-2.0 64位版</a></strong><p>双击安装后客户端，若出现包含 Net Framework的错误信息，请先卸载之前安装软件，然后下载安装Framework2.0组件，再安装客户端即可。</p></dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/hxwjs.jpg"></dt>
                        <dd class="softList"><ul><li><a target="_blank" href="http://ybk.hxce.cn/upload/haixi_ybk.exe">钱币邮票交易新客户端</a></li></ul></dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/hxwjs1.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1jHyx0TC">邮币卡交易客户端（适用于XP、WIN7）</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/gzwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1nt2Dlkl">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1mgMsbhA">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1o68aLkQ">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/nfwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1mgu7Hd2">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1kTlMrXl">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1pJvhBIF">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="${imgUrl}/exchange/znwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1ntCgBsH">钱币邮票交易新客户端XP/WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1dDpwrJF">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/qxybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1o6EiADG">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1pJGi2lP">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1gdAtbG3">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/jmj.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1qWZikqg">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow" href="http://pan.baidu.com/s/1bohalFT">钱币邮票交易新客户端WIN7（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/htybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1bnlynYv">PC交易客户端-众筹版</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/bjsflt.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1qWOTswG">钱币邮票交易新客户端XP/WIN7（标准版）</a></li>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1ntD4e2P">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/jlwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1eQmCQSa">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1bn4tWeF">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a rel="nofollow" target="_blank" href="http://pan.baidu.com/s/1dD9F6gh">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/hqwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1o6MVXxS">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/14x8Iy">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1qWpbU6w">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/tjybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1ntzUog5">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1qWjAASG">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1ntCL6jf">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/xhjjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1i32hd9z">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1gdmCckb">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1ntvTpbF">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/xnybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" href="http://yun.baidu.com/share/link?shareid=3479332268&uk=2607741190">钱币邮票交易新客户端XP（标准版）</a></li>
                                <li><a target="_blank" href="http://yun.baidu.com/share/link?shareid=3486439609&uk=2607741190">钱币邮票交易新客户端WIN7（标准版）</a></li>
                                <li><a target="_blank" href="http://yun.baidu.com/share/link?shareid=3488649803&uk=2607741190">钱币邮票交易新客户端WIN8（标准版）</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/jqybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1skfR8Wt">上海文交所聚奇邮币卡交易中心客户端</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/sdlybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1dEoy9Vz">叁点零收藏品交易中心新交易客户端-PC1104版</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/shwjs.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1o7wnOZC">邮币卡交易客户端下载</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/xnybk.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1eRaOTJc">钱币邮票交易新客户端XP</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1qX6sArM">钱币邮票交易新客户端WIN7</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1qXltR2W">钱币邮票交易新客户端WIN8</a></li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt><img src="${imgUrl}/exchange/bjsljjy.jpg"></dt>
                        <dd class="softList">
                            <ul>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1c06r59Q">北酒所中国老酒交易中心客户端（XP版本）</a></li>
                                <li><a target="_blank" rel="nofollow"  href="http://pan.baidu.com/s/1ntIQyCT">北酒所中国老酒交易中心客户端（Win7版本）</a></li>
                            </ul>
                        </dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>
</div>


<#include "ybk/include/page/foot.html" />

</body>
</html>
