<#assign title="借款协议"/>
<#assign header="借款协议"/>
<#assign footer="0"/>
<#assign bg="bg-white"/>
<#include 'mobile/layout/layout.html'/>

<#macro content>

<article class="content">
<div class="content-b con-spacing10">
        <div class="contracts">
            <p class="r">编号：<i>&nbsp;&nbsp;&nbsp;&nbsp;</i></p>
            <h2>借款协议</h2>
            <p style="text-align:center;">本借款协议（下称“本协议”）由以下各方于<i>&nbsp;&nbsp;&nbsp;&nbsp;</i>年<i>&nbsp;&nbsp;</i>月<i>&nbsp;&nbsp;</i>日签署：</p>
            <h3>甲方：李林</h3>
            <p>身份证号：430422198212054411</p>

            <h3>乙方(借款人)：</h3>
            <p>身份证号：</p>
            <p>联系电话：</p>
            <h3>丙方（担保方）：北京朋乐投资管理有限公司</h3>
            <p>地址：北京市海淀区上地三街9号嘉华大厦A座301</p>
            <p><strong>鉴于：</strong></p>
            <p>1. 丙方是一家在北京市合法成立并有效存续的有限责任公司，旗下“财猫融资平台”（网站caimao.com）能够提供信用咨询、借款撮合、借款用途受托监管等综合服务；</p>
            <p>2. 乙方申请通过“财猫融资平台”提供的服务获取甲方借款，并承诺其提供给“财猫融资平台”的信息是完全真实的；</p>
            <p>3. 甲方承诺对本协议涉及的借款具有完全的支配能力，是其自有闲散资金，为其合法所得；并承诺其提供给“财猫融资平台”的信息是完全真实的；</p>
            <p>4. 双方均明知本次借款用途并有意成立借贷关系。甲方已授权“财猫融资平台”通过恒生电子股份有限公司“HOMS投资管理（系统）平台”进行股票交易账户风险监管。</p>
            <p>经协商一致，达成如下协议：</p>
            <h3>第一条 总则</h3>
            <p>乙方因进行股票投资需要借款，在乙方遵守本协议约定的前提下，出借人委托甲方向乙方提供借款、签订本《借款协议》并进行账户管理和风险控制；为保证甲方的资金安全，乙方愿意以自有资金向甲方提供相应比例的保证金作为借款履约保证，承诺严格按照本协议约定使用借款、接受甲方的账户管理和风险控制、支付利息及自负盈亏，并按期足额偿还借款本金及利息。</p>
            <p>现经甲乙双方自愿平等、协商一致，特订立本协议，以兹遵照履行。</p>
            <h3>第二条 借款方式及用途</h3>
            <p>1. 甲、乙双方同意根据本协议约定出借和使用借款，乙方向甲方按月支付利息，其中利息由甲方代为支付给出借人，具体约定如下：</p>
            <table>
                <tr>
                    <td>乙方保证金金额</td>
                    <td>￥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>乙方借款金额</td>
                    <td>￥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>乙方股票交易账户初始金额</td>
                    <td>￥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>借款利息</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;%/月</td>
                </tr>
                <tr>
                    <td>借款期限</td>
                    <td><i>&nbsp;&nbsp;</i>个月，<i>&nbsp;&nbsp;&nbsp;&nbsp;</i>年<i>&nbsp;&nbsp;</i>月<i>&nbsp;&nbsp;</i>日起，至<i>&nbsp;&nbsp;&nbsp;&nbsp;</i>年<i>&nbsp;&nbsp;</i>月<i>&nbsp;&nbsp;</i>日止</td>
                </tr>
                <tr>
                    <td>持仓比例</td>
                    <td>单只股票不得超过账户总资产的60%；<br>
                        单只股票的市值不得超过流通总市值的5%；<br>
                        单只股票持仓总市值不得超过该股前5个交易日日均成交额的20%
                    </td>
                </tr>
                <tr>
                    <td>风控线</td>
                    <td>警戒线：账户内总市值低于融资资金的115%<br>
                        平仓线：账户内总市值低于融资资金的110%
                    </td>
                </tr>
                <tr>
                    <td>付息方式</td>
                    <td>首次签约须于签约当日付息，期满续约须于期满日之前续交下期利息</td>
                </tr>
            </table>
            <p>2. 乙方将保证金和利息打入甲方指定银行账户起2日内，甲方将股票账户及交易密码告知乙方，自乙方获知交易密码之日起，乙方有权使用甲方股票账户中的资金总额依约买卖股票。</p>
            <p>3. 乙方可以使用上述股票子账户内资金总额（包括借款和保证金）购买上海或深圳证券交易所交易的股票，盈利归乙方所有，亏损由乙方承担，即乙方对上述账户进行股票买卖等操作产生的一切风险和后果由乙方承担，与甲方无关。乙方因行情交易软件异常造成的损失与甲方无关。甲乙双方对该股票交易账户的真实性和资金安全不存在异议。</p>
            <p>4. 借款人购买的股票原则上应业绩优良、流通股本规模适度、流动性好。借款人购买股票要按照以下条件：</p>
            <ul>
                <li>1）不得购买或持有S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；</li>
                <li>2）不得购买或持有权证类可以T+0交易的证券；</li>
                <li>3）不得购买上市十个交易日内的新股,或复牌首日股票等当日不设涨跌停板限制的股票；</li>
                <li>4）不得购买或持有基金类产品（包含但不限于分级基金及ETF）；</li>
                <li>5）账户单只股票持仓总市值不得超过账户总资产的60%；</li>
                <li>6）单只股票的市值不得超过流通总市值的5%；</li>
                <li>7）单只股票持仓总市值不得超过该股前5个交易日日均成交额的20%；</li>
                <li>8）创业板股票持仓总市值不得超过账户总资产的50%；</li>
                <li>9）对于证监会揭示有重大退市风险或者甲方认为存在退市风险的股票，甲方有权不经乙方允许，卖出股票。</li>
            </ul>
            <p> 如按照收盘价计算，借款人在某一交易日违反第5、6、7、8条约定，则借款人须在下一个交易日上午10:00前自行调整至约定比例，否则甲方有权以任何可以成交的价格完全卖出违反本条约定之类别股票。
                如果借款人在某一交易日被动持有上述不得购买的证券，则借款人须在3个交易日内自行卖出，否则甲方有权以任何可以成交的价格对上述证券进行卖出。
            </p>
            <h3>第三条 保证金及担保范围</h3>
            <p>1. 乙方应根据本协议的约定支付保证金到甲方指定账户，并及时补足保证金，如乙方交易账户亏损较为严重，且未及时补足保证金造成的账户损失，由乙方承担。</p>
            <p>2. 乙方保证金担保范围包括但不限于：借款金额的本息、滞纳金、违约金、损害赔偿金、诉讼费、保全费、公告费、律师费、调查费、公证费等为实现债权所发生的费用。</p>
            <p>3. 如乙方未及时付清任一笔借款的本金、利息，甲方有权从该笔借款对应的股票子账户内平仓出金或修改密码限制买卖，然后从该笔借款对应的保证金中直接收取拖欠的本金、利息，如果该笔借款保证金不足以支付的，甲方有权从乙方的其他借款保证金中抵扣，若仍然不足，甲方有权另行向乙方追索。</p>
            <p>4. 乙方授权甲方和委托单位，如果乙方未能履行本协议约定的任何义务，甲方和委托单位无论是否事先通知乙方，均可直接从乙方保证金中划扣乙方应付欠款。本授权委托在本协议法定诉讼时效内不可撤销。</p>
            <h3>第四条 借款期限和利息</h3>
            <p>1. 借款利率以本协议约定为准，借款利息、收取起算日自甲方股票账户开设完毕并取得交易资格，且甲方出借资金全额到账的当日开始计算。</p>
            <p>2. 借款期限以本协议约定为准，乙方要求借款、续借或清户需提前5天通知甲方，乙方如无特别说明，续借金额和期限默认与本协议的借款金额和期限相同。</p>
            <p>3. 如乙方延期支付本金和利息或欠付本金和利息，甲方及委托单位有权不经乙方同意直接将股票子账户内的股票平仓转帐，并按配资额度的 千分之一 按天收取滞纳金（如有非统一计息日，则分开计算）。如果甲方及委托单位在卖出股票品种收取本金、利息、滞纳金后，股票子账户内的总资产达到警戒线或平仓线的，按本协议警戒线、平仓线条款执行。</p>
            <p>4. 在借款期内，无论任何原因，乙方未使用股票子账户进行交易或造成股票账户不能进行交易的，乙方都应向甲方按本协议约定支付利息；借款期内乙方暂停使用交易账户或者终止协议的，利息不予退还。</p>
            <p>5. 乙方以银行转账的方式将保证金、利息转帐到以下甲方指定账户。</p>
            <p>甲方指定银行账户户名：李林</p>
            <h3>第五条 还款和结算方式</h3>
            <p>1. 当股票子账户的总资产（包括现金和证券）达到总操盘资金的120%时，且账户内的现金部分大于盈利部分，乙方有权要求甲方将盈利部分转至乙方名下账户，每次需按1000的整数倍提取。特殊情况下，若当天出金申请较多，由于财务繁忙，甲方有权提高出金门槛（按1万整数倍提取）。甲方应在收到乙方出金通知并成功执行出金操作的T+3日（自然日）内完成转账。</p>
            <p>2. 系统默认期满自动续约，若乙方未取消默认续约，需保证账户资金足够系统扣除续约利息，若账户资金不够内扣，则乙方需在期满下一工作日下午13:00之前补充资金，系统自动扣取续约利息；若下一工作日下午13:00之前，账户资金仍不足扣取续约利息，则风控系统将对账户进行强制平仓，并扣除当日管理费千一；若乙方取消自动续约，且到期当天下午13:00之前客户没有任何清户操作，13:00以后风控系统会对账户进行强制平仓。当对于当天买入的和跌停的股票，风控有权冻结账户，并于第二天卖出股票并收取千一的管理费，若第二天股票仍无法卖出，甲方有权对账户按照千一从到期日的第二天直至卖出为止收取管理费；对于停牌的股票，风控有权按照当日收盘价回收股票。如遇特殊情况风控有权采取相应的风控措施。</p>
            <p>3. 乙方账户由于送股、配股等原因产生零股无法卖出，系信托账户权限设置问题的情况，此情况下客户可联系甲方风控进行处理。</p>
            <p>4. 借款期满或本协议终止，甲方如未能全部收回其借款本金及利息，有权向乙方追偿，乙方除归还甲方全部借款和支付利息外，还应从借款期满之日起按借款本金和保证金之和的千分之一每日支付利息至甲方指定银行账户。</p>
            <p>5. 本协议因任何原因终止时，乙方应将出借人的借款本金归还给甲方，并不再使用甲方股票子账户和股票账户进行股票交易。</p>
            <p>6. 甲乙任一方若对资金划转有异议，以甲方指定银行账户的账单为准。</p>
            <h3>第六条 甲方的权利、义务及违约责任</h3>
            <p>1. 甲方有权代理出借人出借资金、签订《借款协议》，按本协议约定向借款人出借资金、收回借款和收取利息、违约金，及时将股票子账户的交易密码告知乙方，并保密相关交易信息，不得透露股票子账户的交易详情,不参与股票子账户的盈利分配。</p>
            <p>2. 甲方及委托单位有权监管股票账户和股票子账户的运作，对乙方进行账户管理和风险控制。对于证监会揭示有重大退市风险或者甲方认为存在退市风险的股票，甲方有权不经乙方允许，卖出股票。甲方可根据风控需求，对以本协议风控规则进行修订并在丙方网站发布（或短信通知乙方）。</p>
            <p>3. 除本协议另有约定外，甲方在本协议执行期内不得提取、划转账户内的资金，不得修改交易密码，不得转托管，不得进行任何买卖股票的操作，不得撤销指定交易，不得注销、挂失或停止使用股票账户、股票子账户（因证券公司原因除外），也不得调出或处置股票子账户内资产；否则，给乙方造成损失的，甲方应承担相应赔偿责任。若因停电、断网、交易软件等原因造成股票子帐户损失的，与甲方及委托单位无关。</p>
            <p>4. 如乙方所购股票因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券停牌，为保护双方利益，甲方保留要求乙方最早于停牌第二天上午10点前追加停牌股票市值的一定比例作为停牌股票的保证金的权利，追加的保证金最高可占该股票市值的30%。停牌期间，甲方不会擅自对该账户进行处理。但若乙方拒不追加停牌股票保证金，甲方有权收回账户，复牌后股票上涨盈利归甲方所有，与乙方无关；复牌后下跌造成损失从乙方自有保证金中扣除，穿仓部分由甲方独立承担。</p>
            <p>5. 甲方保证出借资金来源正当合法，不存在负债或者或有负债（指应披露而未披露结果给该笔资金的依约使用带来争议或者纠纷的负债），甲方具有对银行账户和股票账户使用和处理的排他性权利，并承诺在本协议执行期间不以银行账户和股票账户内资产（包括现金和证券）设置抵押、担保、租赁、托管等。</p>
            <p>6. 如因甲方原因导致甲方账户(包括银行账户和股票账户)被依法采取查封、冻结、划拨等强制措施，甲方应自账户被依法处置之日起按借款本金和保证金之和的千分之一每日支付违约金给乙方，如违约金不足以弥补给乙方造成的损失，甲方还应承担赔偿责任。借款期满账户仍未解除强制措施的,本协议自动终止,甲方将乙方保证金和乙方已付利息、乙方应提取盈利退还至乙方指定银行账户，并按约定支付违约金。</p>
            <p>7. 如乙方所购股票因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券连续停牌达到 7个交易日或者连续跌停板导致平仓无法实现，且占总市值50%以上，乙方须即时将账户内其它证券平仓，所得款项连同账户资金一并用于清偿甲方债权，不足部分由乙方自有资金偿还。同时，该证券复牌后或者连续跌停板打开且平仓可以实现时，如乙方仍有未清偿的债务，则甲方有权直接将该证券平仓用于清偿乙方所欠甲方的债务，剩余部分返还至乙方指定账户内。当乙方所欠甲方的债务全部清偿完毕，则甲方不再收取乙方的借款利息和逾期违约金。</p>
            <h3>第七条 乙方的权利、义务及违约责任</h3>
            <p>1. 乙方可以通过甲方股票子账户按照本协议约定进行买卖操作，有权收取。使用股票子账户内资金总额投资所得的收益，承担全部损失；无论股票子账户盈亏如何，乙方须按本协议约定向甲方支付利息。</p>
            <p>2. 如任一股票子账户内的所有股票出售（即清盘）后，还不足以归还该笔借款本金金额，乙方必须在清盘后三日内将亏损额补足归还给甲方，否则甲方有权从乙方进行交易的其他股票子账户中扣除相应金额。</p>
            <p>3. 乙方无权更改股票子账户的交易密码，乙方擅自更改交易密码的视作严重违约。</p>
            <p>4. 乙方不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易，如有任一次上述交易行为，应支付给甲方借款额10%的违约金，并直接从保证金中扣除，因此产生的一切责任和损失，由乙方承担。</p>
            <p>5. 如发生乙方账户穿仓现象，甲方有权立即停止乙方账户的使用并有权单方决定是否终止本协议，甲方会在发生该情况时及时发出通知（电话、短信或邮件的形式 ）要求其向甲方全额归还穿仓所占用的甲方的资金，乙方须在该通知发出之时起的24小时内及时全额补足，如不能按时补足，甲方有权立即终止该协议，并有权按照本协议第三条第3款、第四条第3款、第五条第4款的约定执行并向乙方追究法律责任；</p>
            <p>6. 乙方在本协议执行期间不能要求退还保证金；在上述情况下本协议自动终止时也不能退还保证金，直到甲方账户解除强制措施时方能退还。</p>
            <p>7. 股票交易费用由乙方承担：</p>
            <ul>
                <li>1）所有费用均以交易总额为基数计算；</li>
                <li>2）印花税按照国家标准，由证券公司在客户交易时直接代扣代缴；</li>
                <li>3）交易佣金由证券公司在交易时扣收；</li>
                <li>4）因买入金额过少（单笔2万以下）造成实际佣金与券商注明佣金有微小差别（最少10元），乙方表示无异议（乙方指定开户的由乙方自行承担佣金）。</li>
            </ul>
            <p>8. 所在营业部根据规定、规则或协议约定应收取的各项费用或代收税金等，由乙方按实承担。如果遇到政府部门出台缴纳个人资本利得税，则出借人和乙方各自承担协议期内的个人资本利得税部分，并互相保留1年的追溯权。</p>
            <p>9. 如账户内持仓股票有配股权利的，在配股公告发出2个交易日内，乙方应腾出可用资金购买配股或者把该股票卖出。如果乙方未执行，甲方及委托单位有权利以任何价格卖出该股票，如出现亏损由乙方自行承担。</p>
            <p>10. 本协议因任何原因终止时，乙方应将出借人的借款本金归还给甲方，并不再使用甲方股票子账户进行交易。</p>
            <p>11. 乙方一次性提现200万以上资金，需提前至少3天（自然日）通知甲方。甲方会在收到乙方出金通知后的T+3日（自然日）内完成转账。</p>
            <h3>第八条 警戒线与平仓线</h3>
            <p>1. 当客户账户内总市值低于融资资金的115%（警戒线）时，甲方及委托单位有权禁止乙方继续买入股票；乙方应于下一个交易日上午开盘前将保证金追加至警戒线以上，否则出于风险角度，甲方及委托单位有权对乙方账户进行限制，乙方只能减仓不得建仓，甲方有权利将账户的持仓降至50%。当客户账户内总市值低于融资资金的110%（平仓线）时，甲方及委托单位有权卖出质押账户内的股票，进行强制平仓。若乙方没有及时补足保证金至交易账户，甲方及委托单位将按照平仓线标准对乙方账户执行全部平仓。乙方被平仓后，须将保证金加至账户总市值达到警戒线以上方可重新操作。</p>
            <p>2. 当账户内某股票在某一交易日的全天成交金额低于500万元，且该股票持仓市值超过当日全天成交金额的30%，则甲方及委托单位有权利要求乙方在下一交易日上午10：00前将该股票市值降低至上一交易日该股票日成交金额的30%以内，或按照该股票持仓市值20%的金额追加额外保证金。该额外保证金留存在甲方的三方存管银行账户内，不得用于购买股票。如该股票在连续5个交易日中每天的成交金额不低于500万元且满足本协议其他条款时，甲方将于下一交易日将额外保证金无息退还给乙方。</p>
            <h3>第九条 协议生效、终止和续签</h3>
            <p>1. 本协议经甲方和乙方签字之日起生效，因借款期满、约定自动终止情形出现任一方依法依约解除本协议及双方协商一致解除本协议而终止，本协议的任一笔借款未到期的，本协议效力延续至借款到期止。</p>
            <p>2. 在本协议执行期间，如遇到乙方操作的任一股票子账户总市值低于平仓线时，甲方及委托单位可以立即卖出该股票子账户内的股票，视为强制平仓，乙方尊重并理解甲方和风控行为，不存在异议。本协议于甲方将股票完全变现且乙方在3个工作日内没有追加保证金后自动终止。</p>
            <p>3. 如甲方擅自提前收回任一笔出借资金的，应将乙方已支付的当月利息全部退还乙方，甲方还需支付 1个月利息作为违约金给乙方（本协议借款期限为一个月的无违约金）；若因乙方原因使一笔借款不能期满的（包括乙方低于平仓线被甲方强平且3个工作日不能补足保证金的），已经预付的当月利息（逾期支付的先扣除当月利息）不予退还。</p>
            <p>4. 如因证券公司政策原因，股票子账户无法正常继续使用，本协议自动终止，甲乙双方互不追究违约责任，按本协议第五条约定进行还款和结算。如因信托到期需要移仓，甲方有权对乙方账户进行强制平仓并转移账户。</p>
            <p>5. 乙方违法违规进行股票操作或乙方有严重违约行为的，甲方有权立即解除本协议，平仓锁定账户，收回本金，已支付利息不退还给乙方，乙方还需按  1 个月额外利息作为违约金给甲方，在确定不会给甲方造成损失的前提下，甲方向乙方退回剩余保证金。若乙方该行为导致甲方账户持有人被处罚而造成的一切损失，均由乙方负责。</p>
        </div>
    </div>
</article>

</#macro>