<article class="wrapper bg-white">
<!--顶部导航-->
<div class="am-header">
<a href="###" class="header-Link header-leftLink"><i class="am-icon-arrow-left"></i></a>
<h1>设置新安全密码</h1>
</div>
<!--顶部导航-->


</article>

<article class="content" style="padding-bottom:60px;">


<!--表单-->
<aside class="con-frame">
<ul class="datalist">

<li class="datalist-item clearfix">
<div class="am-grid datalist-line">
        <div class="am-grid-item am-grid-item-25  am-ft-right">
        <h4 class="am-ft-md cm-left">新安全密码</h4>
        </div>
        <div class="am-grid-item am-grid-item-75 am-ft-left am-left-10">
        <span class="ui-form-field">
<input name="" type="text" class="text_input" defaultvalue="输入密码" value="" placeholder="输入密码">
</span>
<p class="f-right"><span class="level level-strong">强</span></p>
</div>
</div>
</li>

<li class="datalist-item clearfix">
<div class="am-grid datalist-line">
        <div class="am-grid-item am-grid-item-25  am-ft-right">
        <h4 class="am-ft-md cm-left">确认密码</h4>
        </div>
        <div class="am-grid-item am-grid-item-75 am-ft-left am-left-10">
        <span class="ui-form-field">
<input name="" type="text" class="text_input" defaultvalue="输入密码" value="" placeholder="输入密码">
</span>
<p class="f-right"><i class=" type-icon icon-errorLogin"></i></p>
</div>
</div>
</li>
</ul>
</aside>






</article>


