
<!--tab-->
<div class="navi-container bg-gray">
<ul class="listTab listTab-5 listLateral">
<li class="listTab-item"><a href="${basePath}/mobile/trade/assets.htm">资产</a></li>
<li class="listTab-item"><a href="${basePath}/mobile/trade/buy.htm">买入</a></li>
<li class="listTab-item"><a href="${basePath}/mobile/trade/sell.htm">卖出</a></li>
<li class="listTab-item"><a href="${basePath}/mobile/trade/withdrawal.htm">撤单</a></li>
<li class="listTab-item"><a href="${basePath}/mobile/trade/inquery.htm">查询</a></li>
</ul>
</div>
<!--tab-->
<script type="text/javascript">
	$(".listTab-item").eq('${tabItem}').addClass("active");
</script>