<li class="list-audit-item">
<div class="audit-top clearfix">
<div class="cm-left">
<span class="icon-contract ${cls}"></span>
<span>类型：</span><b class="am-ft-xl">${type}</b><a href="${contract_link}" target="_blank" class="am-left-10">${contract_no}</a></div>
<div class="cm-right"><span>${order_status}</span></div>
</div>

<!--列表-->
<div class="sideCatalog">
<dl class="list-successNav">
<dd class="successNav-item activeSuccess">
<p class="layout01"><span>${apply_datetime}  提交申请</span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item lastLi">
<p class="layout01">${result}</p>
<span class="sideCatalog-dot"></span>
</dd>
</dl>
</div>
<!--列表-->
</li>