<div class="navFolding menu-show con-contract">
<!--合约详情中的标题-->
<div class="title-contract clearfix">
<h4>追加申请</h4>
<a class="title-link" data-dojo-attach-point="slideNode">
<span class="fa fa-lg" data-dojo-attach-point="slideIconNode">&#xf068;</span>
</a>
</div>
<!--合约详情中的标题-->


<div class="detail-contract" data-dojo-attach-point="contentNode" style="display: block;">

<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>申请日期：</th>
    <td><span class="am-ft-md" data-dojo-attach-point="beginDateNode"></span>
    </td>
    <th>追加金额：</th>
    <td><span class="am-ft-md am-ft-number" data-dojo-attach-point="addAmountNode"></span><span class="am-ft-md"> 元</span>
    </td>
    <th>追加状态：</th>
    <td><span data-dojo-attach-point="statusNode"></span><td>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>