<div>
    <div class="conside-h margt-10 margb-10">
        <em class="color-orange font-size16 font-weight" data-dojo-attach-point="statusNode"></em>
    </div>
    <div class="contract-details-conside-border paddt-10">
        <p class="paddl-20 paddb-10">
            <em>账户：</em><em data-dojo-attach-point="accountNode"></em>
            <a style="display: none;" class="color-blue cm-right paddr-5">下载软件</a>
        </p>

        <p style="display: none;" class="paddl-20 paddt-10 paddb-10 bg-lightblue ">
            <em>券商：海通证券</em><br>
            <em>密码：815492</em>
            <span class="b-securities-trader color-blue">隐藏<i></i></span>
        </p>

        <p class="paddl-20 paddt-10">
            <span>总操盘资产：<em class="am-ft-number color-red am-ft-lg" data-dojo-attach-point="totalAssetNode"></em>元</span>
        </p>

        <p class="paddl-20" data-dojo-attach-point="enableRatioCtn">
            <span>亏损警告线：<em class="am-ft-number am-ft-lg" data-dojo-attach-point="enableRatioNode"></em>元</span>
        </p>

        <p class="paddl-20" data-dojo-attach-point="exposureRatioCtn">
            <span>亏损平仓线：<em class="am-ft-number am-ft-lg" data-dojo-attach-point="exposureRatioNode"></em>元</span>
        </p>

        <p style="display:none;" class="paddl-20">
            <span class="color-blue">维持率：<em class="num">xx</em>%</span>
        </p>

        <p class="paddl-20">
            <span>可用金额：<em class="am-ft-number am-ft-lg" data-dojo-attach-point="enableWithdrawNode"></em>元</span>
        </p>

        <p class="paddl-20">
            <span>股票市值：<em class="am-ft-number am-ft-lg" data-dojo-attach-point="totalMarketValueNode"></em>元</span>
        </p>

        <p class="paddl-20">
            <span>浮动盈亏：<em class="am-ft-number am-ft-lg" data-dojo-attach-point="totalProfitNode"></em>元</span>
        </p>

        <a target="_blank" data-dojo-attach-point="addLink"><div class="margb-10" data-dojo-attach-point="addBtnNode"></div></a>
        <a target="_blank" data-dojo-attach-point="deferLink"><div class="margb-10" data-dojo-attach-point="deferBtnNode"></div></a>
        <a target="_blank" data-dojo-attach-point="repayLink"><div class="margb-10" data-dojo-attach-point="repayBtnNode"></div></a>
        <div class="margb-10" style="display: none;" data-dojo-attach-point="inBtnNode"></div>
        <div class="margb-10" style="display: none;" data-dojo-attach-point="outBtnNode"></div>
    </div>
</div>