<div class="contract-details-content">
    <div class="wrap-head margt-10 margb-10">
        <span class="h-sign-head">
            <i></i><em data-dojo-attach-point="titleNode"></em>
        </span>
        <span class="h-num">
            <em class="num" data-dojo-attach-point="noNode"></em>
        </span>
        <span class="h-main-contract">
            <i class="fa fa-circle bg-circle-contract"></i>
            <em class="txt-contract" data-dojo-attach-point="typeNode"></em>
        </span>
        <span class="h-sub-contract" data-dojo-attach-point="subCtnNode">
            <em class="color-blue">子合约</em><i class="fa fa-caret-down paddl-3 color-dark-blue"></i>
        </span>
        <span class="h-date">
            <em class="color-gray font-size12">发起时间：<span
                    data-dojo-attach-point="startDateNode"></span></em>
        </span>
    </div>
    <div class="money-ul-box contract-details-money">
        <ul>
            <li>
                            <span>
                                <em class="font-weight">借款金额</em><br>
                                <em class="num color-red font-size24" data-dojo-attach-point="loanAmountNode"></em><em>元</em>
                            </span>
                <i class="v-dashed-line"></i>
            </li>
            <li>
                            <span>
                                <em class="font-weight">风险保证金</em><br>
                                <em class="num color-red font-size24" data-dojo-attach-point="depositAmountNode"></em><em>元</em>
                            </span>
                <i class="v-dashed-line"></i>
            </li>
            <li>
                            <span>
                                <em class="font-weight">总额</em><br>
                                <em class="num color-red font-size24" data-dojo-attach-point="totalAmountNode"></em><em>元</em>
                            </span>
            </li>
        </ul>
    </div>
    <div class="contract-details-interest">
        <ul>
            <li>
                            <span>
                                <em>费用</em><br>
                                <b data-dojo-attach-point="billNode" style="white-space: nowrap;"></b>
                            </span>
            </li>
            <li>
                            <span>
                                <em>开始期日</em><br>
                                <b data-dojo-attach-point="beginDateNode"></b>
                            </span>
            </li>
            <li>
                            <span>
                                 <em>到期日</em><br>
                                <b data-dojo-attach-point="endDateNode"></b>
                            </span>
            </li>
            <li>
                            <span>
                                <em>投资方向</em><br>
                                <b>沪深A股</b>
                            </span>
            </li>
            <li>
                            <span>
                                <em>仓位要求</em><br>
                                <b>不限制</b>
                            </span>
            </li>
        </ul>
    </div>
</div>