<div class="frame-all frame-all-strong" style="margin-top: 0px">
<div class="con-ReCa" style="height:15px;">
	<div class="con-ReCa01">
		<h2 class="cm-left">合约号:  <a href=""><b class="am-ft-xl am-ft-number" data-dojo-attach-point="contractNoNode"></b></a></h2>
	</div>
</div>
<div class="con-ReCa" style="height:25px;">
<div class="con-ReCa01">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>借款金额：</th>
    <td><b class="am-ft-md" data-dojo-attach-point="loanAmountNode"></b><span class="am-ft-md am-left-5"> 元 </span></td>
  </tr>
</tbody>
</table>
</div>
<div class="con-ReCa02" style="top:16px">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>风险保证金：</th>
    <td><b class="am-ft-xl am-ft-number" data-dojo-attach-point="netAssetNode"></b></span></td>
  </tr>
</tbody>
</table>
</div>
<div class="con-ReCa03" style="top:16px">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>月利率：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-orange" data-dojo-attach-point="rateNode"></b></span></td>
  </tr>
</tbody>
</table>
</div>
<div class="con-ReCa04" style="top:16px">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>到期日：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-orange" data-dojo-attach-point="endDayNode"></b></span></td>
  </tr>
</tbody>
</table>
</div>
</div>
</div>