<div style="margin-top: 10px;">
    <div class="head">
        <i></i><em data-dojo-attach-point="titleNode"></em>
    </div>
    <div class="node">
        <div class="node-content clearfix" style="display:block;">
            <div>
                <div class="txt">
                    <span class="name">总操盘资产</span><br>
                    <span class="num" data-dojo-attach-point="totalAssetNode"></span> 元
                </div>
                <div class="txt">
                    <span class="name">股票市值</span><br>
                    <span class="num" data-dojo-attach-point="totalMarketValueNode"></span> 元
                </div>
                <div class="txt">
                    <span class="name">可用金额</span><br>
                    <span class="num" data-dojo-attach-point="curAmountNode"></span> 元
                </div>
                <div class="txt" data-dojo-attach-point="enableRatioCtn">
                    <span class="name">亏损警告线</span><br>
                    <span class="num" data-dojo-attach-point="enableRatioNode"></span> 元
                </div>
                <div class="txt" data-dojo-attach-point="exposureRatioCtn">
                    <span class="name">亏损平仓线</span><br>
                    <span class="num" data-dojo-attach-point="exposureRatioNode"></span> 元
                </div>
            </div>
        </div>
    </div>
</div>