<div class="frame-all" style="margin-top: 0px">
<div class="con-all">

<!--表单-->
<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>恭喜您，展期申请已成功！</b></p>
<p class="layout02"><span class="am-ft-gray am-ft-md">展期申请正在紧张处理，请耐心等待。如有疑问请拨打客服电话${hotline}</span></p>
<p class="layout02"><a href="${baseUrl}/financing/check.htm" target="_blank" class="am-ft-md">合约详情</a></p>
</div>
</div>
<!--内容end-->

</div>

</div>