<div>
    <div class="con-capital02">
        <div class="tx clearfix am-ft-md">
            <span class="">支付风险保证金 <span class="am-numberOrange" data-dojo-attach-point="depositAmountNode"></span>元</span>
            <b class="am-lr-10 am-ft-xl">+</b>
            <span class="am-left-10">首月利息<span class="am-numberOrange" data-dojo-attach-point="interestAmountNode"></span>元</span>
        </div>
        <p class="am-pt-15" data-dojo-attach-point="needRechargeCtn">
        <span class="am-ft-gray am-ft-md">
        可用保证金 <label data-dojo-attach-point="availableAmountNode"></label> 元，还差 <span data-dojo-attach-point="needAmountNode"></span> 元，</span><a href="${baseUrl}/account/recharge.htm">立即充值</a></p>
        <div data-dojo-attach-point="pwdNode"></div>
    </div>
    <div class="am-ft-center">
        <div data-dojo-attach-point="prevBtnNode"></div>
        <div data-dojo-attach-point="nextBtnNode"></div>
    </div>
</div>