<div class="con-contract">

<!--内容start-->
<div class="con-success clearfix" style="width:400px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-warning"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b data-dojo-attach-point="msgNode"></b></p>
<!-- <p class="layout02 am-ft-md"><span class="am-ft-gray">您可以查看当前的借款合约编号</span></p> -->
<!-- <p class="layout02 am-ft-md"><a href="${baseUrl}/financing/contract.htm" class="am-left-10">合约编号</a></p> -->
</div>
</div>
<!--内容end-->



</div>