<div class="cm-left dxStep01-lside" style="width: 380px;margin-left: 20px;">
    <!--标题-->
    <div class="title-common clearfix">
        <h2 class="cm-left" data-dojo-attach-point="titleNode">申请实盘资金</h2>
        <a data-dojo-attach-point="nextNode" class="cm-right" style="margin-right: 25px;">其他金额&gt;</a>
    </div>

    <!--金额-->
    <div class="pagination">
        <ul class="list-amoutCompetition" data-dojo-attach-point="selectNode">

        </ul>
        <div class="info-text-ctn" data-dojo-attach-point="blankNode" style="display: none;width: 300px !important;">
            <p>请先输入您的投资本金</p>
            <p>根据您的本金可融资<span data-dojo-attach-point="rateTextNode"></span>倍的资金</p>
        </div>
    </div>
    <!--金额-->
</div>