<div class="cm-right dxStep01-rside">
    <!--标题-->
    <div class="title-common clearfix">
        <h2 class="cm-left">操盘规则</h2>
    </div>


    <div class="con-tableTransverse am-pt-5">
        <table width="100%" border="0" cellspacing="0" class="tableTransverse">
            <tbody>
            <tr>
                <th style="width: 120px;">操盘须知</th>
                <td data-dojo-attach-point="noteNode"></td>
            </tr>
    
            <tr>
                <th style="width: 120px;">资金使用期限<i class="fa help" data-help="一个月按30个自然日计">&#xf059;</i></th>
                <td>
                    <div data-dojo-attach-point="daySelectNode"></div>
                </td>
            </tr>
            <tr>
                <th style="width: 120px;">费用</th>
                <td>
                    <div class="clearfix">
                        <div class="cm-left text-left"><span data-dojo-attach-point="billNode"></span></div>
                    </div>
                </td>
            </tr>
            <tr style="display: none">
                <th style="width: 120px;">开始交易时间</th>
                <td>
                    <label class="radio">
                        <input checked="checked" type="radio" name="optionsRadios" id="optionsRadios4" value="option1" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                        下个交易日
                    </label>

                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>