<div class="protocolctn">
	<p class="contract-line">合同编号：<span class="contract-fillin" data-field="contract_no">________________</span></p>
	<h2 class="item-title">短线宝融资协议</h2>
    <p>本短线宝合同（下称“短线宝”）由以下各方于<span class="contract-fillin" data-field="contract_start_year">________</span>年<span class="contract-fillin" data-field="contract_start_month">________</span>月<span class="contract-fillin" data-field="contract_start_day">________</span>日签署：</p>
    <p><b>甲方(出资人)：</b></p>
    <p>姓名：<span class="contract-fillin" data-field="counterpart_name" data-type="name">________</span></p>
    <p>身份证号：<span class="contract-fillin" data-field="counterpart_idcard" data-type="idcard">________</span></p>
    <p>团融网用户编号：<span class="contract-fillin" data-field="counterpart_user_id">________</span></p>
    <p><b> 乙方(借款人)：</b></p> 
    <p>姓名：<span class="contract-fillin" data-field="user_real_name">________</span></p>
    <p>身份证号：<span class="contract-fillin" data-field="idCard" data-type="idcard">________</span></p>
    <p>团融网用户编号：<span class="contract-fillin" data-field="user_id">________</span></p>
    <p><b>丙方：杭州团融网信息科技有限公司</b></p>
    <p>联系方式：0571—82859095</p>
    <p>地址：中国(杭州)萧山区萧山经济技术开发区启迪路198号C—607室。</p>
    <p>网址：www.tuanrongwang.com</p>
	<h3 class="item-title">第一条 总则</h3>
    <p><b>鉴于：</b></p>
    <p>1、 丙方是一家在杭州市合法成立并有效存续的有限责任公司，拥有www.tuanrongwang.com 网站（下称“团融网”）的经营权，为客户提供融资炒股的网络技术服务；</p>
    <p>2、 乙方已在团融网网站注册，并承诺其提供给丙方的信息是完全真实的；</p>
    <p>3、 甲方保证本协议涉及的借款来源合法同时乙方在符合本协议的情形下的使用不受他人干涉；并承诺其提供给丙方的信息是完全真实的；并且已经授权团融网平台签订本协议;</p>
    <p>4、 乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系。</p>
    <p><b>据此，各方经协商一致，达成如下协议，以兹共同遵照履行：</b></p>
	<h3 class="item-title">第二条 借款方式及用途</h3>
	<p>1、 甲、乙双方同意根据本协议约定出借和使用借款，合作结束时乙方委托丙方向甲方一次性还本付息。</p>
	<p>2、 甲、乙双方签订本协议之后，甲方委托丙方将出借款项划转至乙方的HOMS的客户端（账户内），同时反映在乙方团融账户内。乙方可自愿选择在团融网平台或HOMS的客户端进行证券买卖。</p>
	<p>3、 乙方可以使用上述交易账户内资金（包括借款和保证金）购买上海或深圳证券交易所交易的证券，盈利归乙方所有，亏损由乙方承担，即乙方承担上述账户进行证券买卖等操作产生的一切风险和后果，与甲方、丙方无关。</p>
	<h3 class="item-title">第三条 协议的订立</h3>
	<p>1、 各方同意并确认，各方通过自行或授权有关方根据团融网网站有关规则和说明，在团融网网站进行借款申请和点击确认签署本协议。</p>
	<p>2、 各方通过上述方式接受本协议且丙方审核通过后，本协议立即生效；协议生效的同时甲方不可撤销地授权丙方将出借款项划转至乙方的HOMS的客户端账户，同时反映在乙方团融账户内。</p>
	<p>3、 甲方同意并授权丙方按本协议及团融网网站有关规则的约定对出借款项利息和相关费用进行划扣和支付，并由丙方代为收取乙方支付的借款本息及交易相关费用（相关费用包括但不限于印花税、交易佣金、过户费、技术服务费，下同）。</p>
	<h3 calss="item-title">第四条 保证金及担保范围</h3>
	<p>1、 乙方应根据本协议的约定支付足额保证金项划转至HOMS的客户端账户，同时反映在乙方团融网账户内。</p>
	<p>2、 乙方保证金担保范围包括但不限于：借款金额的本息、违约金、以及交易相关费用。</p>
	<p>3、 如乙方未及时付清借款的本金、利息，丙方有权从该笔借款对应的交易账户内平仓出金或修改密码限制买卖，然后从乙方团融网账户内直接收取拖欠的本金和利息。如果乙方团融网账户内资金不足以支付的，甲方可以自行向乙方追偿或委托丙方代为追偿。</p>
	<p>4、乙方授权丙方，如果乙方未能履行本协议约定的义务，丙方无论是否事先通知乙方，均可直接从乙方团融网账户内划扣乙方应付欠款。本授权委托为不可撤销的特别授权。</p>
	<h3 class="item-title">第五条 借款金额、期限和利息</h3>
	<p>1．借款金额<span class="contract-fillin" data-type="amount" data-field="loan_amount">________________</span>元（最高借款金额不超过人民币壹佰万元，同时融资成数最高不超过80%）。</p>
	<p>2．借款期限为15天，乙方第二天起可以提前还款。</p>
    <p>3．借款利息计算：利率按<span class="contract-fillin" data-field="interest_month_rate">________</span>%／30天计算，利息从借款资金划转至乙方的homs客户端之日开始计算，结束于乙方还款的当天，借款期限不少于2天同时不超过15天。</p>
    <p>4．利息支付方式：一次性还本付息。</p>
    <p>5．在借款期内，因乙方自身原因未使用证券交易账户进行交易或造成证券账户不能进行交易的，乙方都应向甲方按本协议约定支付利息。</p>
	<h3 class="item-title">第六条 还款和结算方式</h3>
	<p>1、 当证券交易账户的总资产（包括现金和证券）大于借款额本息和保证金的总额时，超过部分视作证券交易账户的盈利，归乙方所有。</p>
	<p>2、 每一笔借款乙方都必须在15天之内将证券交易账户的总资产全部变现为货币资金，再与甲方办理借款账户内资产的清算手续。如果借款超过15天，甲方及／或丙方有权在未通知乙方的情况下卖出账户内的所有股票。同时甲方及／或丙方不承担任何责任。</p>
    <p>3、 借款到期前乙方所购证券中出现有停牌证券不能卖出，乙方首先应卖出账户内能进行交易的证券并优先用于归还所欠的借款本息；对于其中不能交易的证券：</p>
    <p>⑴停牌证券部分的市值与账户净资产的比例不高于2:1时，乙方应在复牌后当天将证券全部售出，与甲方按实际的使用天数和本合同约定的利率完成结算。</p>
    <p>⑵停牌证券部分的市值与账户净资产的比例高于2:1时，乙方应补入相应数额的保证金使停牌证券部分的市值与账户净资产的比例不高于2:1。乙方应在复牌后当天将证券全部售出，与甲方按实际的使用天数和本合同约定的利率完成结算。</p>
    <p>4、 如果到期前乙方所购证券中出现有退市、转板的证券时，乙方首先应卖出账户内能进行交易的证券，还清部分借款，其后事项由甲方与乙方协商解决。</p>
    <p>5、 借款期满或本协议终止，甲方如未能全部收回其借款本金及利息，有权向乙方追偿。乙方应于两日内无条件补足差额。丙方有权代为追偿。</p>
    <p>6、 本协议因不可抗力终止时，乙方应将出借人的借款本金及利息归还给甲方。</p>
	<h3 class="item-title">第七条 投资限制</h3>
    <p>1、不得购买S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；</p>
    <p>2、不得购买权证类可以T+0交易的证券；</p>
    <p>3、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票；</p>
    <p>4、不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易；同时不得进行与上述情况同向的交易。</p>
    <p>5、团融网平台所有客户投资于一家上市公司所发行的股票，不得超过该上市公司总股本的5％（含）。</p>
    <p>6、团融网平台公布或者临时决定的其他不可以买入的股票。</p>
	<h3 class="item-title">第八条 甲方的权利、义务及违约责任</h3>
    <p>1、 甲方保证本协议涉及的借款来源合法，同时乙方在符合本协议的情形下的使用不受他人干涉，如果第三人对资金归属、合法性问题发生争议，由甲方负责解决。如甲方未能解决，则放弃享有其所出借款项所带来的利息收益。</p>
    <p>2、 甲方授权丙方监管交易账户的运作，对乙方进行账户管理和风险控制。</p>
    <p>3、 甲方享有其所出借款项所带来的利息收益，并主动承担利息所得带来的可能的税费。</p>
    <p>4、 甲方承诺对出借款项相关的银行账户和证券交易账户丙方具有管理和处理的排他性权利，同时在账户正当使用的情况下，不以其他义务对抗甲方或丙方。</p>
    <p>5、 如乙方所购证券因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券连续停牌达到 7个交易日或者连续跌停板导致平仓无法实现，乙方须即时将账户内其它证券平仓，所得款项连同账户资金一并用于清偿甲方债权，不足部分由乙方自有资金偿还。
        同时，该证券复牌后或者连续 跌停板打开且平仓可以实现时，如乙方仍有未清偿的债务，则甲方有权直接将该证券平仓用于清偿乙方所欠甲方的债务，剩余部分返还至乙方团融网平台账户内。当乙方所欠甲方的债务全部清偿完毕后，本合同自动终止。</p>
	<h3 class="item-title">第九条 乙方的权利、义务及违约责任</h3>
	<p>1、 乙方可以通过丙方证券交易账户按照本协议约定进行买卖操作，有权收取使用证券交易账户内资金总额投资所得的收益，承担全部损失；无论证券交易账户盈亏如何，乙方须按本协议约定向甲方支付利息。</p>
	<p>2、 如乙方持有证券交易账户内的所有证券出售后，还不足以归还该笔借款本金利息，乙方必须在清盘后三日内将差额补足归还给甲方，如果乙方团融网账户内资金不足以支付的，甲方可以自行向乙方追偿或委托丙方代为追偿。</p>
	<p>3、 乙方不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反证券交易法律法规及证券公司规定的交易，如有任一次上述交易行为，应支付给甲方借款额10%的违约金，并直接从保证金中扣除，因此产生的一切责任和损失，由乙方承担。</p>
	<p>4、 如因乙方违规操作、债务等原因，导致甲方、丙方或第三方账户被采取查封、冻结、划拨等强制措施，由此产生的相关后果由乙方承担，如保证金不足以弥补损失的，乙方还应承担赔偿责任。借款期满,账户仍未解除强制措施的,本协议自动终止,乙方应另行全额归还给甲方出借资金、支付利息。</p>
	<p>5、 证券交易费用由乙方承担：</p>
    <p>1）所有费用以交易金额或交易量为基数计算；</p>
    <p>2）印花税、过户费按照国家标准或交易所规定，由证券公司在客户交易时直接代扣代缴；</p>
    <p>3）交易佣金由证券公司在交易时扣收；因买入金额过少造成实际佣金与券商注明佣金有微小差别（10%以内的差别），乙方表示无异议。</p>
    <p>4）支付丙方的技术服务费。在交易时由丙方收取。</p>
    <p>6、 所在证劵公司根据规定、规则或协议约定应收取的各项费用或代收税金等，由乙方按实承担。如果遇到政府部门出台缴纳个人资本利得税，则甲方和乙方各自承担协议期内的个人资本利得税部分，并互相保留1年的追溯权。</p>
    <p>7、 如账户内持仓股票有配股权利的，在券商通知后2天内，乙方应腾出可用资金购买配股或者把该股票卖出。如果乙方未执行，丙方有权利以任何价格卖出该股票，如出现亏损由乙方自己承担。</p>
    <p>8、 本协议因任何原因终止时，乙方应将借款本金及利息归还给甲方。</p>
    <p>9、 乙方在还清借款本息后，有权按团融网平台的规定进行相关操作。</p>
	<h3 class="item-title">第十条 丙方的义务、权利</h3>
	<p>1、 丙方应保证团融网服务正常运行，在团融网服务因质量原因、网络故障、系统异常，或交易结算系统中的关键程序出现故障导致团融网服务不能正常运行的，丙方应及时响应，采取必要措施，尽快恢复团融网服务。</p>
	<p>2、 甲方同意向乙方出借相应款项时，已委托丙方在本协议成立后将该笔借款直接划付至丙方为乙方开设HOMS的客户端账户内，同时反映在乙方团融网账户。甲方授权并委托丙方代其收取本协议约定的出借人每月应收本息，代收后按照甲方的要求进行处置，乙方对此表示认可。</p>
	<p>3、 丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。</p>
    <p>4、 丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。如因甲方问题，造成乙方损失时，丙方可以接受乙方的委托，代乙方向甲方追偿。</p>
    <p>5、 甲乙双方同意丙方有权代甲方在必要时对乙方进行借款的违约提醒及/或催收工作，包括但不限于短信、电话通知、上门通知、发律师函、对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给第三方进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合，同时应承担因乙方逾期还款而产生的催收费用。</p>
	<h3 class="item-title">第十一条 警戒线与平仓线</h3>
	<p>1、 警戒线为借款账户资产净值为借款时初始保证金的60%时账户内的总市值；平仓线为借款账户资产净值为借款时初始保证金的40%时账户内的总市值。
        当借款账户内的总市值低于警戒线时，乙方应禁止继续买入证券并于下一交易日 10:00前必须追加保证金至账户总市值处于警戒线之上，如不按规定追加保证金的，丙方有权将账户的证券减仓至本协议约定的融资成数之内。乙方不得再行建新仓，否则视为违约，丙方有权冻结账户、卖出证券，直到乙方将保证金补充至警戒线以上方可重新操作。当借款账户内的总市值低于平仓线时，甲方或丙方可以立即卖出账户内的证券并收回借款本息。
    </p>
	<p>2、 乙方被平仓并还清借款本息后本协议终止。如平仓后乙方团融网账户内剩余资金不足以支付甲方借款和利息时，甲方可以自行向乙方追偿或委托丙方代为追偿。</p>
	<p>3、 当乙方持有的某只证券的持仓市值超过当日全天成交金额的30%，则甲方及丙方有权利要求乙方在下一交易日上午 10:00前将该证券市值降低至上一交易日该证券成交金额的30%以内否则甲方或丙方有权对该证券进行平仓处理。</p>
	<h3 class="item-title">第十二条 债权转让</h3>
	<p>1、 本协议债权转让特指甲方将本协议的债权转让给第三方的行为。</p>
	<p>2、 当甲方将对乙方的债权转让给第三方时，甲方应在30个工作日内通知乙方。</p>
	<p>3、 当甲方通知到达乙方时，即表示新的债权人全面接受甲方对乙方的权利与义务。乙方对此表示认同。</p>
	<h3 class="item-title">第十三条 特殊免责条款</h3>
	<p>1、不可抗力：是指遭受不可抗力事件一方不能预见、不能避免、不能克服的客观情况，包括但不限于洪水、地震及其他自然灾害、战争、骚乱、火灾、突发性公共卫生事件、政府征用或没收、法律法规变化、突发停电或其他突发事件、注册与过户登记机构非正常的暂停或终止业务、交易系统非正常暂停或停止交易、非丙方所引起或能控制的计算机系统、通讯系统、互联网系统、电力系统故障等情形。遭受不可抗力一方应及时将不可抗力通知对方，因不可抗力造成的延迟履行或无法正常履行本协议时，遭受不可抗力一方可不承担违约责任，但应在条件允许的情况下，采取必要的补救措施以减少不可抗力造成的损失。</p>
	<p>2、乙方理解：鉴于计算机软硬件环境的差异性及复杂性，丙方基于团融网提供的服务可能因网络原因、市场波动、系统故障等出现停顿、延误或中断，乙方对此给予充分的谅解，不对此追究丙方之法律责任。</p>
	<h3 class="item-title">第十四条 未尽事项、修改补充及争议的解决</h3>
	<p>1、 本协议未约定事项按团融网有关规定包括但不限于规则、通告及说明执行。</p>
    <p>2、 甲、乙、丙三方协商一致可对本协议进行修改、补充。</p>
    <p>3、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并以丙住所地人民法院为第一审管辖法院。</p>
    <h3 class="item-title">第十五条 协议生效、终止和续签</h3>
    <p>1、 因借款期满、约定自动终止情形出现、任一方依法依约解除本协议及三方协商一致解除本协议而终止。</p>
    <p>2、 在本协议执行期间，如遇到乙方操作的任一证券交易账户总市值（盘中市值）低于平仓线时，丙方可以立即卖出该证券交易账户内的证券且还清全部借款本息后本协议自动终止。</p>
    <p>3、 对由于国家有关法律、法规、规章、政策的变化，监管机构管理规则的修改、紧急措施的出台等原因导致本合同部分条款无效的，不影响本合同其他条款的效力。由此造成的相关风险及损失，双方当事人互不承担责任。如因上述情况造成本合同无法继续履行，双方当事人因按照本合同有关结算的相关条款完成结算，完成结算后本合同自动终止。</p>
    <p>4、 如乙方违法违规进行证券操作，或乙方的持仓或操作与其他账户存在同向可疑违规情况的，或乙方有严重违约行为的，丙方有权代甲方立即解除本协议，平仓锁定账户，收回本金以及相应的利息。在还清全部借款本息的情况下，乙方可按团融网的相关规定进行操作。</p>
    <p>5、 协议有效期满后，若双方仍愿意继续合作，则需另行签订协议书。</p>
    <p>6、 本协议自签订之日起生效。若丙方通过团融网网上推介，且乙方通过团融网融资借款，则本协议经乙方点击确认并经丙方团融网推介系统确认成交之日起生效。</p>
    <h3 class="item-title">第十六条  声明</h3>
    <p><b>丙方声明：乙方的所有交易最终均发生在甲方在证券公司开设的账户内，丙方的团融网及第三方恒生电子股份有限公司的HOMS仅提供通道的技术服务。</b></p>
    <p><b>乙方声明：在签署本产品协议书以前，乙方已认真阅读《风险揭示书》和本协议书的全部内容，对有关条款不存在任何疑问或异议，并对协议三方的权利、义务、责任与风险有清楚和准确的理解，乙方做出的任何决策均出于自身独立的判断，是乙方真实的意思表示。</b></p>
    <p><b>甲方(出资人)：<span class="contract-fillin" data-field="counterpart_name" data-type="name">________</span></b></p>
    <p><b>乙方(借款人)：<span class="contract-fillin" data-field="user_real_name">________</span></b></p>
    <p><b>丙方：杭州团融网信息科技有限公司</b></p>
    <p>附件：1、《借款各融资成数的有关约定》</p>
    <p>2、《风险揭示书》</p>
    <p style="text-align: right">签约日期：<span class="contract-fillin" data-field="contract_start_year">________</span>年<span class="contract-fillin" data-field="contract_start_month">________</span>月<span class="contract-fillin" data-field="contract_start_day">________</span>日</p>
    <p>附件1</p>
    <h3 class="item-title">借款各融资成数的有关约定</h3>
    <table width="100%" border="1" cellpadding="2" cellspacing="0">
        <colgroup>
            <col width="18%" />
  			<col width="10%" />
  			<col width="62%" />
  			<col width="10%" />
        </colgroup>
        <tr><td>融次成数（f）</td><td>单只证券持仓比率上限</td><td>可买证券范围</td><td>融资金额上限</td><tr>
        <tr><td>f≤50.00%</td><td rowspan=3>55%</td><td rowspan=3>1、不得购买S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；2、不得购买权证类可以T+0交易的证券；3、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票。</td><td rowspan=5>500万元</td></tr>
        <tr><td>50.00%＜f≤66.67%</td></tr>
        <tr><td>66.67%＜f≤75.00%</td></tr>
        <tr><td>75.00%＜f≤80.00%</td><td rowspan=2>35%</td><td rowspan=2>只能购买沪深800只代表性较强的股票，和20天日均交易额在2000万元以上的ETF类基金、货币基金、分级基金中的A类份额(股票池1)。</td></tr>
        <tr><td>80.00%＜f≤83.33%</td></tr>
        <tr><td>83.33%＜f≤87.50%</td><td rowspan=2>35%</td><td rowspan=2>只能购买沪深300只代表性较强的股票， 和20天日均交易额在2000万元以上的ETF类基金、货币基金、分级基金中的A类份额(股票池2)。</td><td rowspan=2>300万元</td></tr>
        <tr><td>87.50%＜f≤90.00%</td></tr>
        <tr><td>短线宝借款：f≤80.00%</td><td>55%</td><td>1、不得购买S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；2、不得购买权证类可以T+0交易的证券；3、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票。</td><td>100万元</td></tr>
    </table>
    <p>警示线：账户净资产为初始保证金的60%时的账户总市值；平仓线：账户净资产为初始保证金的40%时的账户总市值。</p>
    <p>备注：</p>
    <p>1、融资成数（f）=融资金额/（保证金+融资金额），申请普通借款的最高融资成数不得超过90%；</p>
    <p>2、单只证券持仓比率=单个证券市值/账户资产总值；</p>
    <p>3、可买证券范围以账户实际可买证券为准；</p>
    <p>4、如果您申请的普通借款金额超过融资金额上限（但融资成数不得超过90%），可以进行借款申请，同时您可以拔打平台服务电话进行特别预约。</p>
    <p>5、如有新的《借款各融资成数的有关约定》公布，按其约定。</p>
    <p>6、股票池1、股票池2详见股票池公告。</p>
    <p style="text-align: right">杭州团融网信息科技有限公司</p>
    <p style="text-align: right"> 公告日期：2014-11-17</p>
    <p>附件2</p>
    <h3 class="item-title">团融网融资炒股风险揭示书</h3>
    <h3 class="item-title">融资炒股有风险、投资须谨慎</h3>
    <p>尊敬的客户：</p>
    <p>股市有风险、投资须谨慎。融资炒股在可能增加盈利的同时，也可能增加风险、须谨慎投资，团融网并不保证您的投资收益。在您选择通过团融网进行融资炒股前，请仔细阅读以下内容：</p>
    <p>您应根据个人财务状况、经验及投资目标，谨慎考虑此类业务是否适合您。下列各项总结了融资炒股服务涉及的部分风险。此总结并非一份详尽的列表，建议您在接受本条款前寻求独立专业意见。</p>
    <p>1、	扛杆式证券买卖的亏损风险可能十分大。您所蒙受的亏损可能超过最初保证金金额。若市场发展不利于您的仓位，您可能被要求在限时内存入额外的保证金，而该保证金数额可能较大。如未能在所约定的时间内提供所需的金额，您的持仓可能会被平仓，您也将要为账户所出现的任何亏损负责。因此，您必须仔细考虑,结合自己的财务状况及投资目标，判断这种业务是否适合您。</p>
    <p>2、	融资炒股可能涉及高风险。股票的价格变动可能导致您承受巨大亏损，而且在某些情况下亏损金额可能超过您已存入的保证金。除非您明白并愿意承担有关这类交易的风险，并在财务上能够承受超过您存入保证金数额的亏损，否则您不应参与融资炒股。</p>
    <p>3、	在某些市况下，您可能会发现难以或者不能平仓。发出价格限度、止损指示并不一定能将您的亏损局限于原先设想的数额之内，因为市况可能会使这些买卖盘无法按指定价格执行。</p>
    <p>4、	融资炒股经常带来高度杠杆效应，而高度杠杆效应可能对您产生有利的作用，亦可能对您产生不利的作用。运用杠杆效应可以导致巨额亏损或盈利。</p>
    <p>5、	通过团融网平台进行的交易，涉及电子交易系统进行交易的风险，如硬件或软件或人为故障、连接问题、电脑病毒及系统或电力故障。由于此类故障或中断，您可能无法将资金转入、转出、发出买卖指令、查看或取消有待确认的交易或就您的账户采取其他行动，继而可能导致您承受亏损或您的持仓被自动平仓。</p>
    <p>6、	对由于国家有关法律、法规、规章、政策的变化，监管机构管理规则的修改、紧急措施的出台或出于任何其他原因，您在团融网的交易能力受到限制或阻碍，您可能因此受到影响。在这些情况下，您可能须减少您在团融网的持仓或将您的持仓进行平仓。</p>
    <p>7、	任何交易（包括融资炒股）如涉及证券，将存在较大风险。证券价格波动性可能极大，且可能受到例如政治及经济政策变化（国内及海外）、政治不稳定、战争、自然灾害及全球市场波动等因素的影响。</p>
    <p>8、	你确认及同意，团融网在向您提供融资炒股服务时，将不会就任何交易向您提供任何建议，或对任何交易的价值提供任何意见。团融网及其雇员没有任何义务，向您提供其拥有的市场或其他资料。在融资炒股之前，您应根据您的投资目标、具体情况及所涉的风险及收益评估该买卖。</p>
    <p>9、	你确认您不应依赖来自团融网的任何资料、提议或其他资讯（包括市场研究及评论），而作出任何证券买卖决策。该资料仅为帮助您作出独立的投资决策而提供，并不构成投资建议。评论、金融资讯及资料仅供参考之用，而非作为投资建议或用作交易或其他用途。评论、金融资讯及资料可能由团融网或其他人士提供，或者由团融网以其他人士提供的资料及材料编制而成。团融网不会对任何评论、金融资讯或资料的准确性、真实性、可靠性、充分性、及时性或完整性，或其是否适用于任何用途，作出任何保证、陈述或担保，亦不对您或任何其他人士依赖任何评论、资讯或资料承担任何责任。</p>
    <p>10、	您确认即使您可能已通知团融网您的投资目标，您仍须就阁下的投资决策独自承担责任，而您的投资决策将被视为由您根据个人判断而作出的。团融网不会表明团融网可以就是否订立任何融资炒股或其后是否进行任何相关行动，或就有关任何融资炒股的任何其他商务事宜，向您提供意见，亦不会表明其雇员或代理人有权就上述事宜向您提供意见。对于因融资炒股服务而产生的任何税款或税费，或您应付的任何税款或税费，团融网一概不会承担。</p>
    <p>11、 您确认当通过团融网进行融资炒股时，已经知道团融网及第三方恒生电子股份有限公司的HOMS仅提供通道的技术服务。您确认您已经知道通过团融网进行融资炒股的融资出借人是出于其自身个人的行为，融资出借人与团融网是相互独立的主体；如果出现融资出借人严重违约的情况，团融网基于您的委托可以代您向融资出借人追索，但团融网不能作出任何保证。</p>
    <p>以上摘要不能披露有关通过团融网进行融资炒股的全部风险及重要事项。您在交易前，应仔细阅读团融网有关规定包括但不限于规则、通告及说明等。</p>
    <p style="text-align: right">风险揭示方：杭州团融网信息科技有限公司</p>
    <p style="text-align: right">公告日期：2014年11月17日</p>
</div>