<div class="frame-all" style="margin-top: 0px">
	<div class="con-all">

		<!--表单-->
		<form class="ui-form ui-form-specialStep" role="form">
			<div class="ui-form-item ui-form-itemText">
				<label class="ui-label">可用保证金：</label>
				<div class="ui-text">
					<b class="am-ft-orange am-ft-xxl am-ft-number"
						data-dojo-attach-point="availableAmountNode"></b> 元
				</div>
			</div>



			<div class="ui-form-item  ui-form-itemNobottom ui-form-item-gray">
				<label class="ui-label">追加金额：</label>
				<div data-dojo-attach-point="addLoanAmountNode"></div>
				<p class="ui-prompt-gray">
					如您需要超过<span data-dojo-attach-point="proMaxLoanAmountNode"></span>的融资，请联系客户服务热线
				</p>
				<div class="ui-text-float">
					<span class="am-ft-md am-lh-30">最大可借<span id="maxLoanAmount"></span>元
					</span>
				</div>
			</div>
		</form>

		<!--特殊的表单-->
		<div class="clearfix form-special">
			<div class="cm-left form-special-lside">
				<span class="am-ft-gray">追加后</span>
			</div>
			<div class="cm-left form-special-rside lineLeft-gray-dashed">
				<table width="100%" border="0" cellspacing="0"
					class="table-assetsIndex">
					<tbody>
						<tr>
							<th>融资成数：</th>
							<td width="300"><b class="am-ft-md"
								data-dojo-attach-point="ratioNode"></b> <a
								class="am-left-10 am-ft-sm"
								data-dojo-attach-point="ratioLinkNode" target="_blank">各融资成数的有关约定</a>
							</td>
							<th>月利率：</th>
							<td><b class="am-ft-md"
								data-dojo-attach-point="interest_day_rateNode"></b></td>
						</tr>
						<tr>
							<th>融资警示线：</th>
							<td><b class="am-ft-xl am-ft-number"> </b><span
								data-dojo-attach-point="warningLineNode"
								class="am-ft-md am-left-5"> </span> 元</td>
							<th>融资平仓线：</th>
							<td><b class="am-ft-xl am-ft-number"> </b><span
								data-dojo-attach-point="exposureRatioNode"
								class="am-ft-md am-left-5"></span> 元</td>
						</tr>
						<tr>
							<th>总融资金额：</th>
							<td><b class="am-ft-xl am-ft-number"></b><span
								data-dojo-attach-point="totalLoanNode"
								class="am-ft-md am-left-5"> </span> 元</td>
							<th></th>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--特殊的表单-->


		<form class="ui-form am-mt-20" role="form">
			<div class="ui-form-item">
				<div class="rside-item">
					<input name="" data-dojo-attach-point="protocolcheck"
						type="checkbox" value="" class="ui-checkbox"><span
						class="am-ft-md">我已阅读并同意</span><a
						id="protocoltoggle">《融资协议》</a>
				</div>
			</div>
			<div id="protocolcontent" data-dojo-attach-point="protocolNode" class="protocol-content" style="display: none;">
			</div>
			<div data-dojo-attach-point="nextBtnNode"></div>
		</form>

	</div>

</div>