<div class="frame-all" style="margin-top: 0px">
<div class="con-all">
<!--特殊的表单-->
<div class="clearfix form-special">
   <form class="ui-form" role="form">
       <div class="ui-form-item">
          <label class="ui-label">支付下月利息：</label>
          <div><b class="am-ft-xl am-ft-number" data-dojo-attach-point="interestNode"></b><span class="am-ft-md am-left-5"> 元 </span></div>
       </div>
       <div class="ui-form-item">
           <label class="ui-label">账户余额：</label>
           <div><b class="am-ft-xl am-ft-number" data-dojo-attach-point="amountNode"></b><span class="am-ft-md am-left-5"> 元 </span></div>
       </div>
       <div class="ui-form-item">
            <label class="ui-label">安全密码：</label>
            <div data-dojo-attach-point="tradePwdNode"></div>
       </div>
</form>
</div>
<form class="ui-form" role="form">
<div data-dojo-attach-point="prevBtnNode"></div>
<div data-dojo-attach-point="nextBtnNode"></div>
</form>

</div>

</div>