<div class="con-addCard">

<p class="am-ft-center am-ft-md"><span class="am-right-56">您没有正在还款的借款项。选择以下方式借款：</span></p>
<ul class="list-indexMenu listLateral list-noBorrowing">
<li class="list-noBorrowing-item list-indexMenu-item"><p><a href="${baseUrl}/financing/loan/dxb.htm" target="_blank"><i class="icon-indexMenu icon-indexMenu01">短线宝借款</i></a></p><p class="am-pt-15"><span>短线宝借款</span></p></li>
<li class="list-noBorrowing-item list-indexMenu-item list-indexMenu-item-last"><p><a href="${baseUrl}/financing/loan/borrow.htm" target="_blank"><i class="icon-indexMenu icon-indexMenu02">普通借款</i></a></p><p class="am-pt-15"><span>普通借款</span></p></li>
</ul>
<div class="loan-adctn clearfix">
<div class="loan-adctn-left">
<h1>以最低的资金斩获最高的收益</h1>
<p>充值即可融资，参与实盘交易，获取收益</p>
</div>
<div class="loan-adctn-right">
<h1>庞大的投资用户及雄厚的可融资金</h1>
<p>已经有<b data-dojo-attach-point="memberNode"></b>位投资者通过融资交易获利。融资金额高达<b data-dojo-attach-point="turnoverNode"></b>元</p>
</div>
</div>
</div>