<div class="frame-all grid-812">

<div class="boxContract lineBottom-gray-dashed clearfix">
<div class="cm-left">
<h4 class="title-txt" data-dojo-attach-point="contractTitleNode"><span class="icon-contract" data-dojo-attach-point="contractTypeNode"></span><span class="am-ft-md">合约号：<b data-dojo-attach-point="contractNoNode"></b></span></h4>
</div>
<div class="cm-right am-right-10 am-ft-md"><ul id="sddm" class="tdButton">
	<li data-dojo-attach-point="dropDownCtnNode"><a style="display: inline; background: none;">合约详情3</a><i class="fa" style="margin-left: 5px; color: #f0700c">&#xf0d7;</i>
	</li>
</ul></div>
</div>


<div class="boxContract-detail">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
<tbody>
<tr>
<td>
<p><span class="am-ft-md">借款余额</span></p>
<p>
<b class="am-ft-xxxl am-ft-number am-ft-green" data-dojo-attach-point="loanAmountLeftNode"></b><span class="am-ft-md"> 元 </span>
</p>
</td>
<td width="130" class="td-center"><span class="am-ft-xxxl am-ft-gray">=</span></td>
<td>
<p><span class="am-ft-md">借款初始金额</span></p>
<p>
<b class="am-ft-xl am-ft-number am-ft-green" data-dojo-attach-point="loanAmountNode"></b><span class="am-ft-md"> 元 </span>
</p>
</td>
<td width="130" class="td-center"><span class="am-ft-xxl am-ft-gray">—</span></td>
<td>
<p><span class="am-ft-md">已还金额</span></p>
<p>
<b class="am-ft-xl am-ft-number" data-dojo-attach-point="repayAmountNode"></b><span class="am-ft-md"> 元 </span>
</p>
</td>
</tr>
</tbody>
</table>

</div>


<div class="boxContract-detail">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>应付利息：</th>
    <td><span class="am-ft-md am-ft-number am-ft-green" data-dojo-attach-point="accruedInterestNode"></span><span class="am-ft-md"> 元</span>
    </td>
    <th>已结利息：</th>
    <td><span class="am-ft-md am-ft-number" data-dojo-attach-point="settledInterestNode"></span><span class="am-ft-md"> 元</span>
    </td>
    <th>月利率：</th>
    <td><b class="am-ft-md" data-dojo-attach-point="interestRateNode"></b>
    </td>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>保证金：</th>
    <td><span class="am-ft-md am-ft-number" data-dojo-attach-point="cashAmountNode"></span><span class="am-ft-md"> 元</span>
    </td>
    <th>融资成数：</th>
    <td><span class="am-ft-md am-ft-orange" data-dojo-attach-point="ratioNode"></span>
    </td>
    <th>到期日：</th>
    <td><span class="am-ft-md" data-dojo-attach-point="endDateNode"></span>
    </td>
    <th>剩余：</th>
    <td><span class="am-ft-md am-ft-orange" data-dojo-attach-point="dayLeftNode"></span><span class="am-ft-md"> 天</span>
    </td>
  </tr>
</tbody>
</table>
</div>
</div>