<div class="con-all">

<!--内容start-->
<div class="con-success clearfix" style="width:350px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>恭喜您，借款申请成功！</b></p>
<p class="layout02"><span class="">您已成功申请借款<b data-dojo-attach-point="loanAmountNode" class="am-ft-orange am-ft-xl"></b>元。</span></p>
<p class="layout02 am-ft-md"><a href="${baseUrl}/financing/check.htm" target="_blank">我的申请</a></p>
</div>
</div>
<!--内容end-->


</div>