<div>
    <div class="con-capital02">
        <div class="tx clearfix am-ft-md" data-dojo-attach-point="contentNode">
            <div style="width: 700px;margin: 0px 0px 30px 80px;padding-bottom: 15px; padding-top: 15px;background-color: #f8f8f8;" class="_p2p_node">
                您申请的<span class="am-numberOrange" data-dojo-attach-point="leverNode"></span>倍杠杆属于高倍杠杆，财猫网将投资其中的<span class="am-numberOrange" data-dojo-attach-point="cmValueNode"></span>元<br>
                剩余<span class="am-numberOrange" data-dojo-attach-point="lastValueNode"></span>元将通过P2P借贷市场进行投放，等待满标后给予您交易账户
            </div>
            <span class="">需支付保证金 <span class="am-numberOrange" data-dojo-attach-point="depositAmountNode"></span>元</span>
            <b class="am-lr-10 am-ft-xl _loan_normal_node">+</b>
            <span class="am-left-10 _loan_normal_node">首付费用 <span class="am-numberOrange" id="totalbill" data-dojo-attach-point="interestNode"></span>元<i class="fa help" id="totalbilldesc" data-help="">&#xf059;</i></span>

            <b class="am-lr-10 am-ft-xl _p2p_node">+</b>
            <span class="am-left-5 _p2p_node">总借款利息 <span class="am-numberOrange" data-dojo-attach-point="loanInterestNode"></span>元</span>
            <b class="am-lr-10 am-ft-xl _p2p_manage_fee_node">+</b>
            <span class="am-left-5 _p2p_manage_fee_node">管理费 <span class="am-numberOrange" data-dojo-attach-point="manageFeeNode"></span>元</span>
        </div>
        <p class="am-pt-15" data-dojo-attach-point="needRechargeCtn"><span class="am-ft-gray am-ft-md">
            可用保证金 <label data-dojo-attach-point="availableAmountNode"></label> 元，还差 <span data-dojo-attach-point="needAmountNode"></span> 元，</span><a href="${baseUrl}/account/recharge.htm">立即充值</a></p>
        <div data-dojo-attach-point="pwdNode"></div>
    </div>
    <div class="am-ft-center">
        <div data-dojo-attach-point="prevBtnNode"></div>
        <div data-dojo-attach-point="nextBtnNode"></div>
    </div>
</div>