<div>

    <div class="sideCompetition">
        <dl class="list-sideCompetition">
            <dd class="item">
                <p class="bg">
                    <i class="am-icon-arrow-left"></i>
                    <span class=" am-ft-xl">赠送 <label class="am-numberOrange" data-dojo-attach-point="loanAmountNode"></label>元 实盘资金</span>
                    <i class="fa help" data-help="完全免费">&#xf059;</i>
                </p>
                <span class="sideCatalog-dot"></span>
            </dd>
            <dd class="item">
                <p class="bg">
                    <i class="am-icon-arrow-left"></i>
                    <span class=" am-ft-xl">缴纳 <label class="am-numberOrange" data-dojo-attach-point="depositAmountNode"></label>元 保证金</span>
                    <i class="fa help" data-help="结束时如无亏损全额返还如亏损扣除亏损剩余返还">&#xf059;</i>
                </p>
                <span class="sideCatalog-dot"></span>
            </dd>
            <dd class="item">
                <p class="bg">
                    <i class="am-icon-arrow-left"></i>
                    <span class=" am-ft-xl">总共 <label class="am-numberOrange" data-dojo-attach-point="totalAmountNode"></label>元 实盘资金</span>
                    <i class="fa help" data-help="由您操盘，盈利归您，亏损在您的保证金中扣除">&#xf059;</i>
                </p>
                <span class="sideCatalog-dot"></span>
            </dd>
            <dd class="item">
                <p class="bg">
                    <i class="am-icon-arrow-left"></i>
                    <span class=" am-ft-xl">比赛 <label class="am-numberOrange" data-dojo-attach-point="dayNode"></label>个月</span>
                    <i class="fa help" data-help="" data-dojo-attach-point="dayTip">&#xf059;</i>
                </p>
                <span class="sideCatalog-dot"></span>
            </dd>
            <dd class="item lastLi">
                <p class="bg">
                    <i class="am-icon-arrow-left"></i>
                    <span class=" am-ft-xl">盈利归你，亏损自负</span>
                    <i class="fa help" data-help="交易账户到达平仓线自动平仓并退出比赛，剩余保证金退还给您">&#xf059;</i>
                </p>
                <span class="sideCatalog-dot"></span>
            </dd>
        </dl>
    </div>


    <div class="promptCompetition">
        <p class="clearfix">
            <span class="cm-left am-ft-lg">报名费：<label class="am-numberOrange" data-dojo-attach-point="feeNode"></label>元</span>
            <span class="cm-right am-ft-md">如有疑问请联系客服：${hotline}</span>
        </p>

        <p>
            <span class="am-ft-red am-ft-md" data-dojo-attach-point="noteNode"></span>
        </p>
    </div>
    <div data-dojo-attach-point="pwdNode"></div>
    <div class="button-center am-pt-15">
        <div data-dojo-attach-point="nextBtnNode"></div>
    </div>
</div>