<div>
    <div class="con-tableIndex">
        <table width="100%" border="0" cellspacing="0" class="tableIndex" style="table-layout: fixed">
            <tbody data-dojo-attach-point="itemCtnNode">
            <tr>
                <th style="width:15%">投资项目</th>
                <th style="width:13%">购买金额</th>
                <th style="width:10%">投标期限</th>
                <th style="width:13%">年化收益</th>
                <th style="width:13%">购买时间</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>