<tr class="mytender-list-row">
    <td class="am-ft-orange"><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsName"></span></td>
    <td><span><em class="am-ft-number am-ft-xxxl am-ft-wtBold" data-dojo-attach-point="invsAmountPreNode"></em>元</span></td>
    <td><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsDuringNode"></span>个月</td>
    <td class="am-ft-orange"><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsRateNode"></span></td>
    <td class="am-ft-orange"><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invrDataPay"></span></td>
</tr>

