<div class="frame-all" style="margin-top: 0px">
<div class="con-all">

<!--内容start-->
<div class="con-success clearfix" style="width:350px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>恭喜您，还款成功！</b></p>
<p class="layout02"><span class="">您已成功申请还款<b class="am-ft-orange am-ft-xl" data-dojo-attach-point="totalAmountNode"></b> 元。</span></p>
</div>
</div>
<!--内容end-->


</div>

</div>