<div class="frame-all" style="margin-top: 0px">
<div class="con-all">

<!--表单-->

<form class="ui-form ui-form-specialStep" role="form">
<div class="ui-form-item ui-form-itemText">
<label class="ui-label">可用余额：</label>
<div class="ui-text"><b class="am-ft-orange am-ft-xxl am-ft-number" data-dojo-attach-point="availableAmountNode"></b><span class="am-ft-md am-left-5">元 </span></div>
</div>



<div class="ui-form-item  ui-form-item-gray">
<label class="ui-label">归还本金：</label>
<div data-dojo-attach-point="repayAmountNode"></div>
<div class="ui-text-float"><span class="am-ft-md">元</span><span class="am-ft-md am-left-15">仅可使用可用余额还款</span></div>
</div>

<div class="ui-form-item ui-form-itemText">
<label class="ui-label">还款利息：</label>
<div class="ui-text"><b class="am-ft-md am-ft-number" data-dojo-attach-point="interestAmountNode"></b><span class="am-ft-md am-left-5"> 元 </span></div>
</div>
<div data-dojo-attach-point="nextBtnNode"></div>
</form>

</div>

</div>