<div>
    <div data-dojo-attach-point="titleNode" class="wrap-head margt-10 margb-10 titile-investment-money">
                    <span class="h-sign-head">
                        <i></i><em>投标赚钱（股票投资）</em>
                    </span>
        <span class="cm-right"><input type="checkbox" id="id_status" class="checkbox"><label for="id_status"
                                                                                             class="am-left-5 am-ft-sm">只显示可投标项目</label></span>
        <span class="sort-date cm-right" id="invsDatePublish"><i class="fa fa-arrow-down"
                                                                 data-dojo-attach-point="invsDatePublishNode"></i><em
                class="am-left-5">发布时间</em></span>
        <span class="sort-date cm-right" id="invsDuring"><i class="fa fa-arrow-down"
                                                            data-dojo-attach-point="invsDuringNode"></i><em
                class="am-left-5">借款期限</em></span>
        <span class="sort-date cm-right" id="invsAmountPre"><i class="fa fa-arrow-down"
                                                               data-dojo-attach-point="invsAmountPreNode"></i><em
                class="am-left-5">年化收益</em></span>
    </div>
    <div class="con-tableIndex">
        <table width="100%" border="0" cellspacing="0" class="tableIndex" style="table-layout: fixed">
            <tbody data-dojo-attach-point="itemCtnNode">
            <tr>
                <th style="width:15%">投资项目</th>
                <th style="width:13%">借款金额</th>
                <th style="width:13%">年化收益</th>
                <th style="width:10%">已完成比例</th>
                <th style="width:12%">还需资金</th>
                <th style="width:10%">借款期限</th>
                <th style="width:12%">已投资人数</th>
                <th style="width:15%">投标</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>