<div class="financial-lend-record">
    <div class="financial-head">
        <i></i><h2>资金出借记录</h2>
        <span class="cm-right">出借总额：<b data-dojo-attach-point="totalAmountNode"></b>元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            出借人次：<b data-dojo-attach-point="countNode"></b>人</span>
    </div>
    <div class="con-tb" id="payUser">
        <table>
            <tbody data-dojo-attach-point="rowCtnNode"><tr>
                <th>出借人</th>
                <th>出借资金</th>
                <th>投资时间</th>
            </tr>
            </tbody></table>
         <div class="pagination-holder clearfix">
              <div id="light-pagination" class="pagination"></div>
         </div>
    </div>
</div>