<tr>
    <td class="am-ft-orange"><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsName"></span></td>
    <td><span><em class="am-ft-number am-ft-xxxl am-ft-wtBold" data-dojo-attach-point="invsAmountPreNode"></em>元</span></td>
    <td class="am-ft-orange"><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsRateNode"></span></td>
    <td>
        <div data-dojo-attach-point="rateNode"></div>
    </td>
    <td><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsAmountLeftNode"></span>元</td>
    <td><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsDuringNode"></span>个月</td>
    <td><span class="am-ft-number am-ft-xxxl" data-dojo-attach-point="invsNumPaysNode"></span>人</td>
    <td class="td-button">
        <div data-dojo-attach-point="btnNode"></div>
    </td>
</tr>

