<div class="financial-loan-user">
    <div class="financial-head">
        <i></i><h2>借款人信息</h2>
    </div>
    <div class="con-tb">
        <table>
            <tbody><tr>
                <th style="width:20%"><em>姓名：</em></th>
                <td style="width:30%"><em data-dojo-attach-point="userNameNode"></em></td>
                <th style="width:20%"><em>手机号：</em></th>
                <td style="width:30%"><em data-dojo-attach-point="userPhoneNode"></em></td>
            </tr>
            <tr>
                <th><em>身份认证：</em></th>
                <td><em data-dojo-attach-point="idcardNode"></em></td>
                <th><em>注册时间：</em></th>
                <td><em data-dojo-attach-point="registerDatetimeNode"></em></td>
            </tr>
            <tr>
                <th><em>借款笔数：</em></th>
                <td><em data-dojo-attach-point="loanNumberNode"></em></td>
                <th><em>成功还款笔数：</em></th>
                <td><em data-dojo-attach-point="repayNumberNode"></em></td>
            </tr>
            </tbody></table>
    </div>
</div>