<div class="financial-loan-money">
    <div class="financial-head">
        <h2 data-dojo-attach-point="invsNameNode"></h2>
    </div>
    <div class="con-tb">
        <table>
            <tbody><tr>
                <td style="width:5em;" class="am-right-10">借款总额：</td>
                <td><b data-dojo-attach-point="invsAmountPreNode"></b>元</td>
                <td><em class="cm-right am-right-10">年化收益：</em></td>
                <td data-dojo-attach-point="invsRateNode"></td>
            </tr>
            <tr>
                <td>付息方式：</td>
                <td data-dojo-attach-point="invsInterestTypeNode"></td>
                <td><em class="cm-right am-right-10">每月利息：</em></td>
                <td><b data-dojo-attach-point="invsInterestNode"></b>元</td>
            </tr>
            <tr>
                <td>借款期限：</td>
                <td data-dojo-attach-point="invsDuringNode"></td>
                <td><em class="cm-right am-right-10">借款到期时间：</em></td>
                <td><span data-dojo-attach-point="invsDateRaiseEndNode"></span></td>
            </tr>
            <tr>
                <td>当前进度：</td>
                <td data-dojo-attach-point="progressNode"></td>
                <td><em class="cm-right am-right-10">还需资金：</em></td>
                <td><b class="color-red" data-dojo-attach-point="invsAmountLeftNode"></b>元</td>
            </tr>
            </tbody></table>
    </div>


</div>