<div class="conside-raised">
    <p class="am-mt-15">
                        <span class="bl-raiseding">
                            募资中
                        </span>
    </p>
    <p class="am-mt-15">
        <span class="am-left-5"><b>可用余额：</b><b class="lb-balance" data-dojo-attach-point="availableAmountNode"></b>元</span>
        <a class="color-dark-blue cm-right" target="_blank" href="${baseUrl}/account/recharge.htm">充值</a>
    </p>
    <div data-dojo-attach-point="amountNode"></div>
    <div data-dojo-attach-point="pwdNode"></div>
    <p class="confirm-chk am-mt-15">
        <input type="checkbox" class="checkbox" value="" data-dojo-attach-point="checkNode">
        <span>同意并确认《<em class="color-dark-blue" data-dojo-attach-point="protocolNode" style="cursor: pointer;">p2p协议</em>》</span>
    </p>
    <p class="confirm-btn">
        <div data-dojo-attach-point="confirmBtnNode"></div>
    </p>
</div>