<div class="financial-scheme">
    <div class="financial-head">
        <i></i><h2>股票融资方案</h2>
    </div>
    <div class="financial-scheme-content">

        <ul>
            <li>
                <b data-dojo-attach-point="totalAmountNode"></b>元
                <em class="clearfix">总操盘资金</em>
            </li>
            <li class="li-half">
                <b class="fin-sch-sign">=</b>
            </li>
            <li>
                <b data-dojo-attach-point="invsAmountPreNode"></b>元
                <em class="clearfix">实盘资金</em>
            </li>
            <li class="li-half">
                <b class="fin-sch-sign">+</b>
            </li>
            <li>
                <b data-dojo-attach-point="invsAmountSafeNode"></b>元
                <em class="clearfix">风险保证金<em>
                </em></em></li><em class="clearfix"><em>
        </em></em></ul><em class="clearfix"><em>

    </em></em></div><em class="clearfix"><em>

</em></em></div>