<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextName>gjs server dubbo</contextName>
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%t] %-5p %C.%M\(%L\) -%m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/gjs-dubbo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>gjs-dubbo.log.%i.bak</FileNamePattern>
        </rollingPolicy>
        <MaxHistory>30</MaxHistory>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d [%t] %-5p %C.%M\(%L\) -%m%n</Pattern>
        </layout>
    </appender>

	<logger name="org.apache" level="info"/>
    <logger name="java.sql" level="debug"/>
    <logger name="org.springframework" level="info"/>
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="info"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>