.genericButton {
	display: inline-block;
	width: 74px;
	height: 24px;
	line-height: 24px;
	color: #000;
	text-align: center;
	background: #fff;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.genericButton:hover {
	color: #4989fe
}

.genericButtonDisabled {
	color: #BFBFBF!important;
	cursor: default;
}