.genericMessageBox {
	position:absolute;
    left:50%;
    top:10px;
    width:400px;
    margin-left:-200px;
    z-index:20000;
}

.genericMessageBoxMsg {
	border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

.genericMessageBoxMsg h3 {
	margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}

.genericMessageBoxMsg p {
	margin: 0;
}
