body{font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; color:#666666;font-size:14px;vertical-align:baseline;}
input{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;outline:none;}
a{text-decoration:none; color:#0088cc; cursor:pointer;}
input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
a:hover{
    color:#ca2e35;
}

a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}
fieldset,img {
  border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:400
}
li {
  list-style:none
}
caption,th {
  text-align:left
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:400
}
/*----------------背景*/ 
.bg-gray{background:#eff1f4!important;}

/*----------------浮动*/
.cm-clear {
zoom: 1;
}
.cm-left {
display: inline;
float: left;
}
.cm-right {
display: inline;
float: right;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix::before, .clearfix::after {
display: table;
content: "";
line-height: 0;
}
/*----------------横向列表*/
 ul.listLateral li{float:left;list-style:none; display:inline-block;}
.firstLi {
margin-top: 0!important;
}
.lastLi {
margin-bottom: 0!important;
padding-bottom: 0!important;
}
 
 /*----------------字体---------------*/
.am-ft-xxxl{font-size:24px!important}
.am-ft-xxl{font-size:20px!important}
.am-ft-xl{font-size:18px!important}
.am-ft-lg{font-size:16px!important}
.am-ft-md{font-size:14px!important;}
.am-ft-sm{font-size:12px!important;}

.am-ft-main{color:#333!important;}
.am-ft-gray{color:#a0a0a0!important;}
.am-ft-tabText{color:#666!important}
.am-ft-red{color:#ff0000!important;}
.am-ft-orange{color:#f68100!important;}
.am-ft-green{color:#3b9028!important;}
.am-ft-white{color:#fff!important;}

.am-lh-18{ line-height:18px!important;}
.am-lh-24{ line-height:24px!important;}
.am-lh-30{ line-height:30px!important;}

.am-ft-number{ font-family:"Arial";}
.am-numberOrange{ font-size:24px;font-family:"Arial";color:#f68100;}

.Linebar{ color:#666666; padding:0 10px; font-size:14px;}

/* ----按钮---- */
.ui-button {
padding: 0;
display: inline-block;
position: relative;
text-align: center;
text-decoration: none!important;
vertical-align: middle;
overflow: visible;
cursor: pointer;
font-family: verdana,Hiragino Sans GB;
}
.btn-text {
display: block;
cursor: pointer;
border: 0;
text-decoration: none;
overflow: visible;
}
.ui-link{ text-align:center; padding:0 10px;}

.btn-mred{
cursor: pointer;
display:inline-block;
border-radius:10px;
color: #fff;
width:90px;
background-image: -moz-linear-gradient(top, #ff0000, #800000); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff0000), color-stop(1, #800000)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#800000', GradientType='0'); /* IE*/
box-shadow:3px 0px 3px rgba(0,0,0,.35);
line-height:54px;
background:#BE2C30;
}
.btn-mred .btn-text{box-shadow:inset 0 1px 3px rgba(255,255,255,.75);padding: 0 25px;color: #fff; font-size:24px;}
