
/*----------------浮动*/
.clear{clear:both;}

 /*----------------图标---------------*/

.icon-type{display:inline-block; vertical-align:middle; background-image:url(../image/common/icon-type.png); background-repeat:no-repeat;}
.icon-mail{width:15px; height:15px; background-position:0 0;}
.icon-mailNotice{width:18px; height:12px; background-position:-16px 0;}
.page-up-selsec, .page-down-selsec{
width:23px;
height:25px;
}
.page-up-selsec{
background-position:-52px -98px;
}
.page-down-selsec{
background-position: -24px -15px;
}
.icon-type-userDEF, .icon-type-securityON{
width:20px;
height:23px;
}
.icon-type-userDEF{
background:url(../image/login/icon-reg-user.png) no-repeat;
background-position:-1px -37px;
}
.icon-type-securityON{
background:url(../image/login/icon-reg-user.png) no-repeat;
background-position: -1px 2px;
}
.icon-type-verification{
width:22px;
height:23px;
background-position: -40px -45px;
}


.account-status-img {
display:inline-block; 
vertical-align:middle;
margin:0 auto;
text-align:center;
width: 40px;
height: 50px;
background-image:url(../image/index/icon-account-status.png);
background-repeat:no-repeat;
position:absolute;
left:50%;
margin-left:-17px;
top:50%;
margin-top:-25px;
}
.ico-authen {
background-position:0 0;
}
.ico-password {
background-position:-40px 0;
}
.ico-bankcards {
background-position:-80px 0;
}
.ico-password-active{
background-position:-120px 0;
}

.icon-arrow{
display:inline-block;
vertical-align:middle;
background:url(../image/common/icon-arrow.png) no-repeat;	
}
.icon-arrow-left{
width:6px;
height:12px;
background-position:0 0;
}
.bank-select-icon{
width:13px;
height:7px;
background-position:0 -12px;
	}
.icon-arrow-tdButton{
width:9px;
height:5px;
margin-left:10px;
background-position:0 -21px;
	}
	
/*
.icon-up-down{width:12px;height:12px; background:url(../image/common/icon-up-down.png) no-repeat; display:inline-block; vertical-align:middle;}
.icon-up{ background-position:0 0;}
a:hover .icon-up{ background-position:-12px 0;}
.icon-down{ background-position:0 -12px;}
a:hover .icon-down{ background-position:-12px -12px;}*/
.icon-weibo{
    margin-left:24px;
    margin-top: -5px;
    vertical-align:top;
    display:inline-block;
    width:32px;
    height:30px;
    background:url(../image/common/icon-hf.png) no-repeat 0px 0px;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    opacity: 0.8;
    cursor:pointer;
}
.icon-weibo:hover{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity: 1;
}

.icon-weixin:hover{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity: 1;
}
/* ----按钮---- */
.ui-button-mred, .ui-button-mred .ui-button-text,
.ui-button-mred:hover, .ui-button-mred:hover .ui-button-text,
 .ui-button-sgray, .ui-button-sgray .ui-button-text,
 .ui-button-sgray:hover, .ui-button-sgray:hover .ui-button-text,
 .ui-button-mgray, .ui-button-mgray .ui-button-text,
 .ui-button-mgray:hover, .ui-button-mgray:hover .ui-button-text,
 .ui-button-morange, .ui-button-morange .ui-button-text,
 .ui-button-morange:hover, .ui-button-morange:hover .ui-button-text,
 .ui-button-mgreen, .ui-button-mgreen .ui-button-text,
  .ui-button-mgreen:hover, .ui-button-mgreen:hover .ui-button-text,
  .ui-buttonUm, .ui-buttonUm .ui-button-text,
  .ui-buttonUm, .ui-buttonUm:hover,  .ui-buttonUm:hover .ui-button-text,
  .ui-button-sgrayUm, .ui-button-sgrayUm:hover, 
    .ui-button-sgrayUm:hover .ui-button-text,.ui-button-sgrayUm .ui-button-text
 {
background-image:url(../image/common/button_bosheng.png);
background-repeat: no-repeat;
background-color: transparent;
}

.ui-button-mred {
background-position: 0 0;
height:30px;
line-height:30px;
}
.ui-button-mred .ui-button-text {
padding:0 30px;
background-position:right -31px;
color: #fff;
}
.ui-button-mred:hover{
background-position: 0 -62px;
}
.ui-button-mred:hover .ui-button-text {
background-position:right -92px;
}
.ui-button-mgreen {
background-position: 0 -474px;
height:30px;
line-height:30px;
}
.ui-button-mgreen .ui-button-text {
padding:0 30px;
background-position:right -505px;
color: #fff;
}
.ui-button-mgreen:hover {
background-position: 0 -535px;
}
.ui-button-mgreen:hover .ui-button-text {
background-position:right -565px;
}

.ui-button-sgray {
background-position: 0 -123px;
height:25px;
line-height:25px;
}
.ui-button-sgray .ui-button-text {
padding:0 15px;
background-position:right -149px;
color: #666;
}
.ui-button-sgray:hover {
background-position: 0 -174px;
}
.ui-button-sgray:hover .ui-button-text {
background-position:right -200px;
}
.ui-button-sgrayUm, .ui-button-sgrayUm:hover {
background-position: 0 -659px;
}
.ui-button-sgrayUm .ui-button-text, .ui-button-sgrayUm:hover .ui-button-text {
background-position:right -684px;
}
.ui-button-mgray {
background-position: 0 -227px;
height:30px;
line-height:30px;
}
.ui-button-mgray .ui-button-text {
padding:0 15px;
background-position:right -258px;
color: #666;
}
.ui-button-mgray:hover {
background-position: 0 -289px;
}
.ui-button-mgray:hover .ui-button-text {
background-position:right -319px;
}
.ui-form-item .ui-button-mgray .ui-button-text{padding:0 30px;}
.ui-button-morange {
background-position: 0 -350px;
height:30px;
line-height:30px;
}
.ui-button-morange .ui-button-text {
padding:0 15px;
background-position:right -381px;
color: #fff;
}
.ui-button-morange:hover {
background-position: 0 -412px;
}
.ui-button-morange:hover .ui-button-text {
background-position:right -442px;
}

.ui-buttonUm, .ui-buttonUm:hover {
background-position: 0 -596px;
}
.ui-buttonUm .ui-button-text, .ui-buttonUm:hover .ui-button-text {
background-position:right -627px;
}

/*---------------强中弱*/
.in {
background: #e0e0e0;
color: #000000;
text-align: center;
display:inline-block;
height:16px;
line-height:16px;
width:50px;
margin-right: 2px;
font-size:12px;
margin-top:12px;
}
.strength01 {
background: #ffc4a6;
}
.strength02 {
background: #ff9863;
}
.strength03 {
background: #ff6c21;
}


 /*----------------输入框---------------*/
.ui-input{width:194px; padding:5px 3px; border:1px #cccccc solid; background:#fff;line-height:18px; vertical-align:middle;position: relative;}
.ui-input-enter{border: 1px #3a9bff solid;}
.ui-input-error{border: 1px #ff0000 solid;}
.ui-input-focus{border: 1px #3a9bff solid;}
.ui-uminput{background:#f6f6f6;}


.ui-input-mobile{width:94px;}
.ui-input-date .ui-input{ width:80px; border:0; padding:5px;}
.ui-radio{ vertical-align:middle; margin-right:3px;}
.ui-textarea{width:250px;}
.ui-input-file{width:200px;}

/* -----------下拉菜单----------- */
.ui-select{
width:180px;
}
.ui-select-expansion {
position: relative;
}
.ui-select a.layer {
width:187px;
height:18px;
line-height:18px;
padding: 5px 3px 5px 10px;
display:block;
position: relative;
text-align:center;
color: #ea7b22;
background:#fff;
border: 1px solid #cccccc;
margin:0;
background:url(../image/common/icon-type.png) no-repeat right -15px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.ui-select a.layer .text{
color:#000;
width:165px;
font-size:12px;
text-align:left;
display:block;
float:left;
}
.ui-select .detail{
display:none;
}
.ui-select-expansion .detail{
width:200px;
line-height:30px;
display: block;
position: absolute;
left:0;
z-index: 99999;
background-color: #FFF;
border: 1px solid #cccbc8;
border-top: 0;
text-align: center;
right: -2px;
max-height:200px;
overflow-y:scroll;
overflow-x:hidden;
}
*html .ui-select-expansion .detail{
right:0;
}
.ui-select-expansion .detail a {
float: none;
display: block;
color:#000;
font-size:12px;
text-align:left;
padding-left:10px;
width:175px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
*html .ui-select-expansion .detail a{
padding-left:0;
}
.ui-select-expansion .detail a:hover{
color:#000;
display: block;
color: #4989fe;
background:#f1f1f1;
text-decoration:none;
}

.ui-checkbox{vertical-align:middle; margin-right:5px;}


 /*----------------进度条---------------*/
.index-Progress01, .index-Progress02, .index-Progress03 {
width: 111px;
height: 12px;
background:url(../image/common/progress.png) no-repeat;
display: inline-block;
vertical-align: middle;
}
.index-Progress01{
background-position:0 0;
}
.index-Progress02{
background-position:0 -12px;
}
.index-Progress03{
background-position:0 -24px;
}

/* global_jht.css  */

/*----------------背景*/
.bg-grayDeep{background:#dcdcdc!important;}
.bg-white{background:#fff!important;}

/*----------------字体---------------*/

.ui-aseparator {
    padding: 0 5px;
    color: #666666;
}

/*----------------图标---------------*/
.icon-introduceIndex{width:90px;height:90px; display:inline-block; vertical-align:middle; background-image:url(../image/index/icon-introduceIndex.png); background-repeat:no-repeat;}
.icon-introduceIndex01{ background-position:0 0;}
.icon-introduceIndex02{ background-position:0 -90px;}
.icon-introduceIndex03{ background-position:0 -180px;}
.icon-introduceIndex04{ background-position:0 -270px;}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-transition: border-color .25s, color .25s;
    transition: border-color .25s, color .25s;
}

.ui-icon{
    display:inline-block;
    vertical-align:middle;
    background:url(../image/common/ui-icon.png) no-repeat;
}
.icon-ssm-success{
    width:15px;
    height:15px;
    background-position: -51px -50px;
}
.icon-small-warning{
    width:17px;
    height:17px;
    background-position: 0 0;
}
.icon-small-prompt{
    width:17px;
    height:17px;
    background-position: -17px 0;
}
.icon-small-error{
    width:17px;
    height:17px;
    background-position: -34px 0;
}
.icon-small-success{
    width:17px;
    height:17px;
    background-position:-51px 0;
}
.icon-small-ban{
    width:17px;
    height:17px;
    background-position:-69px -0;
}
.icon-small-doubt{
    width:17px;
    height:17px;
    background-position:-86px -0;
}

.icon-big-warning{
    width:31px;
    height:31px;
    background-position: 0 -18px;
}
.icon-big-prompt{
    width:31px;
    height:31px;
    background-position: -34px -18px;
}

.icon-big-error{
    width:31px;
    height:31px;
    background-position: -68px -18px;
    vertical-align:top;
    margin-top:3px;
}
.icon-big-success{
    width:40px;
    height:40px;
    background:url(../image/reg/reg-icon.png) no-repeat;
    background-position: -18px 0px;
}
.icon-big-ban{
    width:31px;
    height:31px;
    background-position:-136px -18px;
}
.icon-big-doubt{
    width:31px;
    height:31px;
    background-position:-170px -18px;
}

.icon-middle-error{
    width:24px;
    height:24px;
    background-position: -48px -70px;
}
.icon-middle-success{
    width:24px;
    height:24px;
    background-position:-72px -70px;
}
.icon-middle-doubt{
    width:31px;
    height:31px;
    background-position:-120px -70px;
}


.am-icon-arrow-right, .am-icon-arrow-left, .am-icon-arrow-top, .am-icon-arrow-bottom {
    display: block;
    background: 0 0;
    width: 8px;
    height: 8px;
    border-bottom:solid 1px #959595;
    border-right:solid 1px #959595;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.am-icon-arrow-left{border-bottom:none;border-right:none;border-top:solid 1px #303030;border-left:solid 1px #303030;}
.am-icon-arrow-top{border-bottom:none;border-right:none;border-right:solid 1px #959595;border-top:solid 1px #959595;}
.am-icon-arrow-bottom{border-bottom:none;border-right:none;border-left:solid 1px #959595;border-bottom:solid 1px #959595;}
/* ----按钮---- */
.ui-button-text {
    display: block;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    overflow: visible;
}
.ui-button-mred, .ui-button-mred:hover {
    background-color:#e0444d;
    color: #fff;
    height:32px;
    line-height:32px;
}
.ui-button-mred .ui-button-text {
    padding:0 25px;
    font-size:18px;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
    background: #c7c7c7;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----------------输入框---------------*/
.form-control {
    display:inline-block;
    width:99%;
    padding:5px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control, .select2-search input[type="text"] {
    padding:5px 10px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height:18px;
    color: #34495e;
    border:1px solid #bdc3c7;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.ui-form-item-error .form-control, .ui-form-item-error .select2-search input[type="text"]{
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
}
.ui-form-item-success .form-control, .ui-form-item-success .select2-search input[type="text"] {
    color: #2ecc71;
    border-color: #2ecc71;
    box-shadow: none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type="text"][disabled], .select2-search input[type="text"][readonly], fieldset[disabled] .select2-search input[type="text"] {
    color: #d5dbdb;
    cursor: default;
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    opacity: .7;
}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.ui-form-item-error .form-control:focus, .ui-form-item-success .form-control:focus{border-color:#e74c3c;-webkit-box-shadow:none}
.ui-form-item-success .form-control:focus{border-color: #2ecc71;}

/* ----选择框---- */
.select {
    position: relative;
    display: inline-block;
    width: auto;
    min-width: 100px;
    vertical-align: top;
}
.select.form-control, .select.select2-search input[type="text"] {
    height: auto;
    padding: 0;
    border: none;
}
.select2-choice {
    /* position: relative; */
    display: inline-block;
    width: 89%;
    padding: 6px 0 6px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    border: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.select-primary .select2-choice {
    color: #676767; text-align:left;
    border: 1px solid #d5d5d5;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.select2-chosen {
    overflow: hidden;
    text-align: left;
}
.select2-arrow {
    position: absolute;
    top: 42%;
    right:10px;
    display: inline-block;
    border-color: #d6d6d6 transparent;
    border-style: solid;
    border-width: 6px 5px;
    border-bottom-style: none;
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
}
.select-primary .select2-choice .select2-arrow {
    border-top-color: #d6d6d6;
}
.select2-arrow b {
    display: none;
}
.select2-search {
    display: none;
    width: 100%;
    padding: 8px 6px;
}
.select2-offscreen, .select2-offscreen:focus {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    border: 0 !important;
    outline: 0 !important;
}

.dropdown-menu, .select2-drop {
    z-index: 1000;
    min-width: 100px;
    padding: 0;
    margin-top: 9px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #cccbc8;
    border: none;
    box-shadow: none;
}
.select2-drop {
    position: absolute;
    top: 100%;
    z-index: 9999;
    min-width: 100px;
    margin-top: 9px;
    font-size: 14px;
    visibility: visible;
    filter: none;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    border: 1px solid #cccbc8;
    -webkit-filter: none;
}
.select2-display-none {
    display: none;
}
.select2-results {
    position: relative;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results li:hover{ background-color:#fafafa;}
.select2-drop .select2-results {
    padding: 0;
    margin: 0;
    list-style: none;
}
.select2-drop .select2-result-label {
    padding: 8px 16px;
    line-height: 1.429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .25s, color .25s;
    transition: background-color .25s, color .25s;
}
.select2-drop .select2-result-selectable .select2-result-label {
    color: rgba(52, 73, 94, .85);
    cursor: pointer;
}
.select2-drop .select2-results > li:first-child > .select2-result-label {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.select2-drop .select2-results > li:first-child > .select2-result-label {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.select2-drop .select2-results > li:last-child > .select2-result-label {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* ----复选框+单选框---- */
.checkbox, .radio {
    position: relative;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    cursor:pointer;
}
.checkbox input[type="checkbox"].custom-checkbox, .radio input[type="checkbox"].custom-checkbox, .checkbox input[type="radio"].custom-radio, .radio input[type="radio"].custom-radio {
    height: 12px;
}
.checkbox .icons, .radio .icons {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    /*font-size: 12px;
    line-height: 20px;*/
    color: #bdc3c7;
    text-align: center;
    cursor: pointer;
    background: none;
}
.checkbox .icon-checked, .radio .icon-checked, .checkbox .icon-unchecked, .radio .icon-unchecked {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-table;
    margin: 0;
    background-color: transparent;
    filter: none;
    opacity: 1;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    -webkit-filter: none;
}
.checkbox .icons .icon-checked, .radio .icons .icon-checked {
    filter: alpha(opacity=0);
    opacity: 0;
}

/* global_dl.css */
body{font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; color:#666666;vertical-align:baseline;}
input{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;outline:none;}
a{text-decoration:none; color:#0088cc; cursor:pointer;}
input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
a:hover{
    color:#ca2e35;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset,img {
    border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:400
}
li {
    list-style:none
}
caption,th {
    text-align:left
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:400
}
/*----------------背景*/
.bg-gray{background:#eff1f4!important;}

/*----------------浮动*/
.cm-clear {
    zoom: 1;
}
.cm-left {
    display: inline;
    float: left;
}
.cm-right {
    display: inline;
    float: right;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix::before, .clearfix::after {
    display: table;
    content: "";
    line-height: 0;
}
/*----------------横向列表*/
ul.listLateral li{float:left;list-style:none; display:inline-block;}
.firstLi {
    margin-top: 0!important;
}
.lastLi {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}

/*----------------字体---------------*/
.am-ft-xxxl{font-size:24px!important}
.am-ft-xxl{font-size:20px!important}
.am-ft-xl{font-size:18px!important}
.am-ft-lg{font-size:16px!important}
.am-ft-md{font-size:14px!important;}
.am-ft-sm{font-size:12px!important;}

.am-ft-main{color:#333!important;}
.am-ft-gray{color:#a0a0a0!important;}
.am-ft-tabText{color:#666!important}
.am-ft-red{color:#ff0000!important;}
.am-ft-orange{color:#f68100!important;}
.am-ft-green{color:#3b9028!important;}
.am-ft-white{color:#fff!important;}

.am-lh-18{ line-height:18px!important;}
.am-lh-24{ line-height:24px!important;}
.am-lh-30{ line-height:30px!important;}

.am-ft-number{ font-family:"Arial";}
.am-numberOrange{ font-size:24px;font-family:"Arial";color:#f68100;}

.Linebar{ color:#666666; padding:0 10px; font-size:14px;}

/* ----按钮---- */
.ui-button {
    padding: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    overflow: visible;
    cursor: pointer;
    font-family: verdana,Hiragino Sans GB;
}
.btn-text {
    display: block;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    overflow: visible;
}
.ui-link{ text-align:center; padding:0 10px;}

/*jinhuiting*/
/*----------------公共元素*/
body{font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; color:#333;overflow-x: hidden;}
input{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
a{text-decoration:none; color:#0088cc; cursor:pointer;}
input{outline:none;}
input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
a:hover{
    color:#e0444d;
}
a:focus {
    outline: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset,img {
    border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:400
}
li {
    list-style:none
}
caption,th {
    text-align:left
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:400
}
/*----------------背景*/
.bg-gray{background:#eff1f4!important;}

/*----------------浮动*/
.cm-clear {
    zoom: 1;
}
.cm-left {
    display: inline;
    float: left;
}
.cm-right {
    display: inline;
    float: right;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix::before, .clearfix::after {
    display: table;
    content: "";
    line-height: 0;
}
/*----------------横向列表*/
ul.listLateral li{float:left;list-style:none; display:inline-block;}
.firstLi {
    margin-top: 0!important;
}
.lastLi {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}

/*----------------字体---------------*/
.tableIndex .am-ft-xxxl {
    font-size: 13px!important
}
.am-ft-xxxl{font-size:24px!important}
.am-ft-xxl{font-size:20px!important}
.am-ft-xl{font-size:18px!important}
.am-ft-lg{font-size:16px!important}
.am-ft-md{font-size:14px!important;}
.am-ft-sm{font-size:12px!important;}
.bigNumber{font-size:30px!important;}

.am-ft-main{color:#333!important;}
.am-ft-gray{color:#a0a0a0!important;}
.am-ft-tabText{color:#666!important}
.am-ft-red{color:#ff0000!important;}
.am-ft-orange{color:#f68100!important;}
.am-ft-green{color:#3b9028!important;}
.am-ft-white{color:#fff!important;}

.am-lh-18{ line-height:18px!important;}
.am-lh-24{ line-height:24px!important;}
.am-lh-30{ line-height:30px!important;}

.am-ft-number{ font-family:"Arial";}
.am-numberOrange{ font-size:24px;font-family:"Arial";color:#f68100;}

.Linebar{ color:#666666; padding:0 10px; font-size:14px;}

.label {
    display: inline;
    padding: .2em .2em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align:middle;
    margin-right:5px;
}
.label-purple{ background-color:#d127fa;}
.label-blue{ background-color:#2ebac7;padding: .2em .5em .3em;}

/* ----图标---- */
.topbar1 .menu i{
    -ms-transition: background .3s cubic-bezier(0.17,.67,.88,1.25);
    -moz-transition: background .3s cubic-bezier(0.17,.67,.88,1.25);
    -webkit-transition: background .3s cubic-bezier(0.17,.67,.88,1.25);
    transition: background .3s cubic-bezier(0.17,.67,.88,1.25);
}
.icon{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    background-image:url(../image/common/u-spirits.png);
    background-repeat:no-repeat;
}
.icon-sina{width:25px; height:25px; background-position:0 0;}
.icon-sina:hover{width:25px; height:25px; background-position:0 -26px;}
.icon-weixin{width:25px; height:25px; background-position:-32px 0;}
.icon-weixin:hover{width:25px; height:25px; background-position:-32px -26px;}

/* ----按钮---- */
.ui-button {
    padding: 0;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    overflow: visible;
    cursor: pointer;

}
.btn-text {
    display: block;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    overflow: visible;
}
.ui-link{ text-align:center; padding:0 10px;}

.btn-mred, .btn-morange{
    line-height:36px;
}

.btn-mred .btn-text, .btn-morange .btn-text{padding: 0 25px; font-size:16px;}

/*------------------------步骤*/
.progress {
    width:120px;
    height:20px;
    overflow: hidden;

    border-radius:1px;
    margin-top:3px;
    text-align:center;

    font-size:12px;
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);*/
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height:20px;
    text-align: center;
    /*-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);*/
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}

