.grid1000{width:1000px;margin:0 auto;}
.grid1050{width:1050px;margin:0 auto;}
.content{font-size:14px;}
.am-ft-left{text-align:left!important;}
.am-ft-center{text-align:center!important}
.am-ft-right{text-align:right!important;}
.am-left-5{ padding-left:5px;}
.am-left-10{ padding-left:10px;}
.am-left-15{ padding-left:15px;}
.am-left-20{ padding-left:20px;}
.am-left-30{ padding-left:30px;}
.am-right-5{ padding-right:5px;}
.am-right-10{ padding-right:10px;}
.am-right-15{ padding-right:15px;}
.am-right-20{ padding-right:20px;}
.am-right-30{ padding-right:30px;}
.am-pt-5{ padding-top:5px;}
.am-pt-10{ padding-top:10px;}
.am-pt-15{ padding-top:15px;}
.am-pt-20{ padding-top:20px;}
.am-pb-5{ padding-bottom:5px;}
.am-pb-10{ padding-bottom:10px;}
.am-pb-15{ padding-bottom:15px;}
.am-pb-20{ padding-bottom:20px;}
.am-ml-1em{ margin-left:1em;}
.am-ml-70{ margin-left:70px;}
.am-mt-5{ margin-top:5px;}
.am-mt-10{ margin-top:10px;}
.am-mt-15{ margin-top:15px;}
.am-mt-20{ margin-top:20px;}
.am-mb-10{ margin-bottom:10px;}

/*  头部“宋体”， content“微软雅黑” 数字 */
.topbar1 a:hover{text-decoration:underline;}
.index-content{overflow:hidden;background:#eff1f4;}
.nav a:hover{}
.pre{position:relative;font-size:13px;}
.header{width:100%;height:80px;background:#fff;zoom: 1;}
.topbar1{line-height:35px;height:34px;background:#f7f7f7;color:#666666;border-bottom:1px solid #eeeeee;font-family:"宋体";}
.topbar1 .wel{color:#848484;}
.topbar1 .sp-login-reg a{color:#848484;}
.topbar1 .fa{margin-left:3px;}
.topbar1 .em-phone-num{font-size:16px;}

.prel-left{}
.prel-left .fa{color:#f8b600;}
.prel-left .num-replace{padding-left:5px;font-family:"PingHei";font-size:15px;}
.prel-right{position:absolute;top:0;right:0;}
.prel-right .fa{letter-spacing:-2px;word-spacing:-2px;*display:inline;*zoom:1;}
.prel-right a{color: #666666;}

.hd-login:hover{color: #c50a06;}
.hd-login:hover a{color: #c50a06;}
.hd-reg:hover{color: #c50a06;}
.hd-reg:hover a{color: #c50a06;}

.topbar-account-op{position: relative;}
.topbar-account-op a.topbar-account{}
.topbar-account-op a{position: relative;z-index:12;}
.topbar-account-op .fa{position: relative;z-index:12;}
.topbar-account-op ul{position:absolute;z-index:11;top:-10px;left:-10px;border:1px solid #e6c28b;background:#fff;}
.topbar-account-op ul li{line-height:30px;height:30px;padding:0 15px 0 10px;}

/*手机宝pop*/
.pop-phone-bao{position:absolute;top:-16px;right:-2em;font-size:12px;}
.pop-phone-bao .fa{color:#cd5927;position:absolute;top:12px;left:10px;font-size:14px;}
.pop-phone-bao em{display:block;background:#cd5927;padding:0px 8px;color:white;border-radius:8px;line-height:18px;}

/*导航栏菜单*/
.nav{height:55px;position:relative;border-bottom:1px solid #e6e6e6;color:#000000;}
.nav ul{float:right;margin-top:18px;}
.nav ul li{float:left;margin:0 20px;position:relative;font-size:16px;}
.nav ul li a{position:relative;z-index:10;padding:0px 5px 2px 5px;}
.nav ul li a:hover{border-bottom:1px solid #333333;}
.nav dl{position:absolute;z-index:9;top:-10px;left:-10px;border:1px solid #e6c28b;background:#fff;padding:5px 0;}
.nav dl dd{padding:0 10px;text-overflow:ellipsis;white-space:nowrap;line-height:35px;height:35px;font-size:14px;}

/*logo位置*/
.logo-index{position:absolute;top:10px;left:0;width:246px;height:40px;}

/*图片切换*/
.banner-default{width:100%;height:333px;}
.banner-slider .fa{position: absolute;left: 0;width: 100%;text-align: center;}

/*公告、累计*/
.index-notice-line{width:100%;position:absolute;bottom:0px;left:0;height:40px;line-height:40px;font-size:16px;color:white;background: rgba(0,0,0, 0.1);background:none\9;}
.index-notice-line .am-ft-orange{font-size:18px;}

/*立即登录*/
.index-login{position: absolute;left: 50%;bottom:60px;margin-left:-370px;width:693px;height:55px;}

/*图标列表*/
.sign-list{padding-top:30px;padding-bottom:10px;}
.sign-list ul{ overflow:hidden;}
.sign-list li{float:left; padding:0 10px;}
.sign-list .sign-fa-stack{margin:0 auto;position: relative;display:block;width: 8em;height: 8em;line-height: 8em;vertical-align: middle;width:75px;}

.sign-list .fa{width:62px;height:62px; vertical-align:middle; display:inline-block; background:url(../image/pz/icon-index-pzw.jpg) no-repeat;}
.sign-list .fa-clock-o-i{ background-position:0 0;color:#bfd5eb;font-size: 6em;}
.sign-list .fa-rmb-i{ background-position:-62px 0;color:#fbe3b5;font-size: 6em;}
.sign-list .fa-coffee-i{ background-position:-124px 0;color:#fabfd3;font-size: 5em;}
.sign-list .fa-txt{ background-position:-186px 0;}
.sign-list .fa-circle{font-size: 8em;}
.sign-index-01 .fa-circle{color:#7ab0d5;}
.sign-index-02 .fa-circle{color:#edbb5a;}
.sign-index-03 .fa-circle{color:#ed7098;}
.sign-index-04 .fa-circle{color:#b856dc;}
.sign-list .sign-txt{font-size:44px;color:white;}
.sign-list h2{text-align:left;font-size:18px;padding-top:px;padding-bottom:5px;}
.sign-list p{text-align:left;font-size:14px; line-height:24px; white-space:inherit;}

.sign-list .sign-inner{width:62px;height:62px; vertical-align:middle; display:inline-block; background:url(../image/index/icon-index-pzw.png) no-repeat;}
.sign-list .sign-inner-01{ background-position:0 0;}
.sign-list .sign-inner-02{ background-position:-62px 0;}
.sign-list .sign-inner-03{ background-position:-124px 0;}
.sign-list .sign-inner-04{ background-position:-186px 0;}


/* OK sign-txt */
.index-sign-txt{text-align: center;margin-top:20px;}
.index-sign-txt-04{text-align: center;}

/* 快速融资 */
.profit-p2p-b{background:#fff;border:1px solid #d8d9dc; padding:20px 20px 40px 20px;}
.index-profit-p2p-b{width:1008px; margin:0 auto; margin-top:30px;}
.index-profit-p2p-b .am-ft-red{color:#c55657!important;}
.index-profit-p2p-b .table01{ margin-top:25px;}
.index-profit-p2p-b .table01 td{ line-height:24px;}
.index-profit-p2p-b .ui-btn{ position:absolute; width:89px; height:32px; line-height:32px; color:#fff; zoom:1; bottom:-16px; left:50%; margin-left:-45px; font-size:15px; text-align:center;}
.profit-p2p-inside{background-color:#f7f4f4; position:relative;width:190px; max-width:190px; padding:25px 35px;margin-top:20px;}
.profit-p2p-l{margin-left:100px;  }
.profit-p2p-r{margin-right:100px;}

.title-profit-p2p{width:825px; height:55px; background:url(../image/pz/title-index-pzw.png) no-repeat right bottom; color:#b72022; font-size:24px; padding-left:40px; padding-top:5px;}
.title-profit-p2p span{ font-size:16px; padding-left:10px;}

.btn-red-profitIndex{ background-color:#af191a;}
.btn-blue-profitIndex{ background-color:#8767ff;}

/* 融资累计 */
.quantity-center{ background-color:#e4393c; padding:35px 0 55px 0; width:100%; margin-top:25px; text-align:center; color:#fff;}
.quantity-center-head{padding-top:35px; line-height:52px;}
.quantity-center-head em{ border:1px #c1c1c0 solid; width:52px; height:52px; margin:0 2px; display:inline-block; font-size:24px;}

/*首页底部图标列表*/
.btm-sign-list{font-size:12px;padding:65px 65px 0 65px;}
.btm-sign-list h4{ color:#b72022; font-size:14px; line-height:24px;}
.btm-sign-list li{float:left;width:16%;padding-bottom:30px; padding-top:50px; padding-left:2%;padding-right:2%; color:#a3a3a3;}
.btm-sign-list li p{ text-align:center;}
.btm-sign-list em{padding-left:0px;}
.btm-sign-list .sign-fa-stack{width:56px;position: relative;text-align:center;vertical-align: middle; margin:0 auto;}
.btm-sign-list .fa{text-align: center;margin:0 auto;width:56px;height:63px; vertical-align:middle; display:inline-block; background:url(../image/pz/icon-index-pzw.jpg) no-repeat;}

.btm-sign-list .fa-bolt{ background-position:0 -62px;}
.btm-sign-list .fa-15{ background-position:-56px -62px;}
.btm-sign-list .fa-zhen{ background-position:-112px -62px;}
.btm-sign-list .fa-100{ background-position:-168px -62px;}
.btm-sign-list .fa-shield{ background-position:-224px -62px;}

/*---------------底部*/
/*---------------底部*/
.footer {
background: #ffff;
width: 100%;
margin-top: 25px;
margin-bottom: 35px;
overflow: hidden;
color: #a0a0a0;
font-size:14px;
}

.footer .footer-wrapper {
    background:#b41719;
    background-image: -moz-linear-gradient(top, #a0090b, #c22a2b); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a0090b), color-stop(1, #c22a2b)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0090b', endColorstr='#c22a2b', GradientType='0'); /* IE*/
}

.footer{color:white;font-size:14px;}
.footer a{color:white;}
.footer a:hover{text-decoration:underline;}
.footer h2{font-size:16px;font-weight:bold;}

.ft-left{position:relative;float:left;width:600px;margin-top:40px;margin-bottom:10px;}

.inner-links{float:left;width:35%;}
.inner-links h2{padding-bottom:10px;}
.inner-links ul{}
.inner-links ul li{float:left;width:50%;line-height:25px;height:25px;}

.partners{float:left;width:65%;}
.partners h2{padding-bottom:10px;}
.partners ul{width:318px;}
.partners ul li{float:left;width:96px;height:28px;background:#fff;margin-bottom:8px;margin-right:10px;text-align:center;}
.partners ul li img{vertical-align:middle;}
.down-load-left{float:left;}
.down-load h2{padding-bottom:5px;}
.partners ul li.partners-01{background:url(../image/partners/01.png) no-repeat center center #fff;}
.partners ul li.partners-02{background:url(../image/partners/02.png) no-repeat center center #fff;}
.partners ul li.partners-03{background:url(../image/partners/03.png) no-repeat center center #fff;}
.partners ul li.partners-04{background:url(../image/partners/04.png) no-repeat center center #fff;}
.partners ul li.partners-05{background:url(../image/partners/05.png) no-repeat center center #fff;}
.partners ul li.partners-06{background:url(../image/partners/06.png) no-repeat center center #fff;}
.partners ul li.partners-07{background:url(../image/partners/07.png) no-repeat center center #fff;}

.sign-homs{width:64px;height:22px;background:#fff;background:url(../image/footer/sign-homs.png) no-repeat center center #fff;}

.home-down-arrow{text-align:center;font-family:"tahoma";font-size:12px;margin-top: 4px;margin-left: 15px;}

.concern-us{float:left;margin-left:80px;}
.concern-us-sign{margin-left:95px;}
.concern-us-sign .icon-xinlang{ background-position:0 0;}
.concern-us-sign .icon-tengxun{background-position:-37px 0;}
.concern-us-sign .icon-weixin{background-position:-80px 0;}
/*字体图标*/
.concern-us-sign .fa:hover{color:white;}

.ft-right{float:left;width:450px;margin-top:40px;}
.ft-right-inner{margin-left:35px;}
.ft-right-inner h2{padding-bottom:10px;}
.ft-right-inner p{line-height:30px;height:30px;}
.ft-right-inner p.textIndex-3em{padding-left:3em;}

.ftl-rightLine{position:absolute;top:0;right:0;width:0;height:80%;border-right:1px solid #fff;}

/* 底部链接类型的页面 */
.link-content{background:#f8f8f8;border-top:2px solid #C26467;padding-top:30px;padding-bottom:70px;}
.l-sidebar{float:left;width:160px;margin-right:30px;background:#f8f8f8;}
.l-sidebar ul{}
.l-sidebar ul li{height:55px;line-height:55px;background:#f1f1f1;text-align:center;margin-bottom:4px;font-size:13px;}
.l-sidebar ul li a{display:block;color:#292929;}
.l-sidebar ul li a:hover{background:#c16063;color:white;}
.l-sidebar ul li.active a{background:#a91f24;color:white;}

.link-wrapper{float:left;width:860px;color:#282828;}
.link-wrapper a:hover{text-decoration:underline;}
.link-wrapper-inner{border:1px solid #e2e2e2;padding:20px;background:#fff;}
.link-wrapper h2{height:24px;line-height:24px;padding-bottom:10px;font-size:16px;border-bottom:1px solid #e2e2e2;padding-left:10px;}
.link-inner-contact{padding-left:35px;}
.link-inner-contact p{line-height:22px;color:#282828;padding-bottom:10px;}
.contact-map{margin:35px 0 30px 0;}
.link-inner-info{position:relative;margin:35px 30px 30px 35px;min-height: 385px;}
.link-inner-info p{line-height:25px;padding-bottom:5px;}
.link-inner-info.security-content .fa{margin-right:5px;vertical-align:0;}
.link-inner-info.security-content h4{line-height:25px;padding-bottom:5px;font-weight:bold;font-size:14px;}
.link-inner-info.security-content h5{line-height:25px;padding-bottom:5px;font-weight:bold;}
.link-inner-info.security-content .understand{color:#b65154;cursor:pointer;display:inline-block;}
.link-inner-info .abs-shareholder-01{position:absolute;bottom:-35px;right:0px;}
.link-inner-info.security-content .security-item-show{display:none;padding-top:5px;}
.link-inner-info.security-content .security-item{position:relative;}
.link-inner-info.security-content .security-item-img{position:absolute;top:80px;right:0;}
.link-inner-info.security-content .security-item-img-04{top:60px;}
.link-partners ul li{float:left;width:96px;height:28px;background:#fff;margin-bottom:20px;margin-right:20px;text-align:center;border:1px solid #ccc;padding:5px 10px;}
.link-partners ul li img{vertical-align:middle;}
.link-partners ul li.partners-01{background:url(../image/partners/01.png) no-repeat center center #fff;}
.link-partners ul li.partners-02{background:url(../image/partners/02.png) no-repeat center center #fff;}
.link-partners ul li.partners-03{background:url(../image/partners/03.png) no-repeat center center #fff;}
.link-partners ul li.partners-04{background:url(../image/partners/04.png) no-repeat center center #fff;}
.link-partners ul li.partners-05{background:url(../image/partners/05.png) no-repeat center center #fff;}
.link-partners ul li.partners-06{background:url(../image/partners/06.png) no-repeat center center #fff;}
.link-partners ul li.partners-07{background:url(../image/partners/07.png) no-repeat center center #fff;}

/* 新人指引 */
.banner-newGuidelines{height:165px;background:#a91f24 url(../image/banner/banner-newGuidelines.png) no-repeat center top;}
.newGuidelines-wrapper{padding-left:205px;position:relative;margin-top:115px;}
.newGuidelines-wrapper .abs-ng-lconside{position:absolute;top:0;left:40px;height:100%;}

.ng-line-01, .ng-line-02, .ng-line-03{float:left;display:block;height:100%;margin-right:35px;}
.ng-line-01, .ng-line-03{width:1px;background:#a91f24;}
.ng-line-02{width:8px;background:url(../image/new-guidelines/ng-line-01.png) repeat-y left -10px;}
.ng-step{position:relative;margin-bottom:24px;padding-top:66px;}
.ng-step-01{padding-top:0;}
.ng-step-head{position:absolute;top:0;left:0;}

.ng-step-head h2{height:46px;}
.ng-step-head h2 em{float:left;color:#a91f24;font-size:20px;font-family:"arial";line-height:40px;}
.ng-step-head img{float:left;margin-top:15px;}
.ng-step-head .ng-bg-bubbles{float:left;font-family:"微软雅黑";margin-right:20px;font-size:12px;color:white;display:inline-block;width:60px;height:46px;text-align:center;line-height:36px;background:url(../image/new-guidelines/ng-lsider-02.png) no-repeat left top;}

.ng-step-01 .ng-step-head {top:-80px;left:-205px;}
.ng-step-02 .ng-step-head {top:0px;left:-110px;}
.ng-step-03 .ng-step-head {top:0px;left:-238px;}
.ng-step-03 .ng-step-head .ng-bg-bubbles{margin-right:30px;}
.ng-step-04 .ng-step-head {top:0px;left:-110px;}
.ng-step-05 .ng-step-head {top:0px;left:-219px;}
.ng-step-06 .ng-step-head {top:0px;left:-110px;}
/* 完成 */

.footer .cm-right{ padding:25px 0 0 0; width:190px; text-align:right;}
.foot-bottom {
    border-top: 1px #5f5f5f solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:20px;
    position: relative;
    color: #fff;
}

/*---------------底部*/

.index-wrapper{background:#f8f8f8;}

.ft-left-inner{margin-left:60px;margin-bottom:10px;}

.concern-us-sign .fa{margin-right:25px;color:#F1F0F0;cursor: pointer;}
.concern-us-sign .fa-weixin:hover .ewm-box{display:block;}
.ewm-box{display:none;position: absolute;top: -110px;left: 100px;z-index: 999;width: 100px;height: 100px;}
.ewm-box img{width: 100px;height: 100px;}

.btm-sign-list .sign-inner{width:56px;height:63px; vertical-align:middle; display:inline-block; background:url(../image/index/icon-index-pzw.png) no-repeat;}
.btm-sign-list .sign-inner-01{ background-position:0 -62px;}
.btm-sign-list .sign-inner-02{ background-position:-56px -62px;}
.btm-sign-list .sign-inner-03{ background-position:-112px -62px;}
.btm-sign-list .sign-inner-04{ background-position:-168px -62px;}
.btm-sign-list .sign-inner-05{ background-position:-224px -62px;}