body{font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; color:#555555;}
input{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
a{text-decoration:none; color:#555555; cursor:pointer;}
i{font-style:normal;}
input{outline:none;}
input:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-modify:read-write-plaintext-only;
}
a:hover{
color:#ec6500;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}
fieldset,img {
  border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:400
}
li {
  list-style: none
}
caption,th {
  text-align:left
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:400
}
/*----------------浮动*/
.cm-clear {
zoom: 1;
}
.cm-left {
display: inline;
float: left;
}
.cm-right {
display: inline;
float: right;
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix::before, .clearfix::after {
display: table;
content: "";
line-height: 0;
}
/*----------------横向列表*/
 ul.listLateral li{float:left;list-style:none; display:inline-block;}
.firstLi {
margin-top: 0!important;
}
.lastLi {
margin-bottom: 0!important;
padding-bottom: 0!important;
}

/*---- 框架---- */
.contents {
width: 960px;
margin: 0 auto;
overflow: visible;
min-height:405px;
_height:405px;

}
.grid-940{width:940px; margin:0 auto;}

.am-ft-left{text-align:left!important;}
.am-ft-center{text-align:center!important}
.am-ft-right{text-align:right!important;}

.am-left-5{ padding-left:5px;}
.am-left-10{ padding-left:10px;}
.am-left-15{ padding-left:15px;}
.am-left-20{ padding-left:20px;}
.am-right-5{ padding-right:5px;}
.am-right-10{ padding-right:10px;}
.am-right-15{ padding-right:15px;}
.am-right-20{ padding-right:20px;}


.am-pt-5{ padding-top:5px;}
.am-pt-10{ padding-top:10px;}
.am-pt-15{ padding-top:15px;}
.am-pt-20{ padding-top:20px;}
.am-pb-5{ padding-bottom:5px;}
.am-pb-10{ padding-bottom:10px;}
.am-pb-15{ padding-bottom:15px;}
.am-pb-20{ padding-bottom:20px;}

.am-mt-5{ margin-top:5px;}
.am-mt-10{ margin-top:10px;}
.am-mt-15{ margin-top:15px;}
.am-mt-20{ margin-top:20px;}

/*----------------字体---------------*/
.am-ft-xxxl{font-size:24px!important}
.am-ft-xxl{font-size:20px!important}
.am-ft-xl{font-size:18px!important}
.am-ft-lg{font-size:18px!important;font-family: inherit;display: inline-block;}
.am-ft-md{font-size:14px!important;}
.am-ft-sm{font-size:12px!important;}

.am-ft-main{color:#666666;}
.am-ft-gray{color:#959595;}
.am-ft-white{color:#fff;}
.am-ft-orange{color:#ec6500;}

.Linebar{ padding:0 10px; font-size:14px;}

 /*----------------图标---------------*/
 .icon-type{
display:inline-block;
vertical-align:middle;
background:url(image/type-ico.png) no-repeat;	
}
.icon-tel{width:18px; height:18px; background-position:0 0; margin:0 10px 0 0;}
.icon-phone{width:13px; height:19px; background-position:0 -19px;margin:0 5px 0 0;}
.icon-weixin{width:24px; height:20px; background-position:0 -39px;margin:0 5px 0 0;}
.icon-notice{width:31px;height:27px;background-position:0 -60px;margin:0 12px 0 0;}
.icon-newsPoint{width:4px;height:4px;background-position:0 -86px;margin:0 8px 0 0;}
.icon-cai{width:13px;height:16px;background-position:-31px -60px;margin:0 15px 0 0;}

.icon-login{
display:inline-block;
vertical-align:middle;
background:url(../image/icon-login.png) no-repeat;	
}
.icon-login-userDEF{width:16px;height:17px; background-position:0 0;}
.icon-login-securityON{width:16px;height:17px; background-position:0 -17px;}
.icon-login-verification{width:16px;height:17px; background-position:0 -34px;}


/*---------------表单布局*/
.ui-form{font-size:12px;line-height:1.5;position:relative;zoom:1}
.ui-form,.ui-form *{list-style:none}
.ui-form-item {
padding: 0 0 0 350px;
margin-bottom:20px;
position: relative;
zoom: 1;
}
.ui-form-itemText{margin-bottom:10px;}
.ui-form-itemNobottom{margin-bottom:0;}
.ui-form-item-gray{ background:#ecf6fc; padding-top:15px; padding-bottom:15px;}

.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-form-title {
font: 18px/28px tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
font-weight: 500;
font-weight: bold\0;
width: 100%;
color: #4d4d4d;
}

.ui-form-item label.ui-label{
line-height:18px;
font-size: 14px;
padding:5px 0;
float: left;
margin-right: 10px;
text-align: right;
width: 120px; 
margin-left:-120px;}
.ui-form-item .ui-text{line-height:18px;font-size: 14px; display:inline-block; padding:5px 0; width:92%;
}
.ui-form-other {
position: relative;
line-height: 18px;
padding-top: 7px;
height: 18px;
zoom: 1;
_width: 100%;
_overflow: hidden;
}
.ui-form-other-fg {
padding-top: 4px;
*width:260px;
}
.ui-form-other .forgot {
position: absolute;
right:0;
top: 5px;
}
.ui-form-other .forgot:hover{*right:auto;}


/*---------------头部*/
.topbar{width:100%;height:38px; background:#475059; border-bottom:1px #d3d3d3 solid;zoom: 1; color:#fff;}
.topbar .welcome{ line-height:38px;padding-left:10px;}
.topbar .welcome .sevrice{ font-size:18px; line-height:30px; padding-left:50px;}
.topbar-user{ line-height:38px; padding-left:15px;}
.topbar-user a{color:#fff;}

.topMenu-item-frist{ padding-right:50px;}
.topMenu-item a{padding:0 7px;}

/*---------------logo+菜单*/
.header{width:100%;padding:25px 0; height:65px; background:#fff;zoom: 1;}
.header-reg{border-bottom:2px #eaeaea solid;}
.header-lisde{ float:left;width:150px;position: relative;}
.header-lisde a{width:140px;height:50px; position:absolute; left:5px;}

.nav{float:right;position: relative;z-index: 1000; padding-top:15px;}
.nav-item{font-size:16px;height:30px; line-height:30px; padding:0 15px;position: relative;}
.nav-item a{color:#313131;height:30px; display:block; padding:0 20px; -webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;}
.nav-item a:hover, .nav-item a.active{color:#fff; text-decoration:none;background:#0388d5;}
.header-risde{ font-size:16px; padding:20px 10px;}
.header-risde b{ font-size:24px;}

/*---------------banner*/
.banner {
position: relative;
margin: 0 auto;
min-width: 990px;
overflow: hidden;
width: 100%;
height: 350px;
z-index: 100;
background-color: #f9f9f9;
}
.banner-slider{
position: relative;
width: 100%;
background-repeat: no-repeat;
background-color: #f9f4ed;
background-position: center center;
height: 350px;
}
.banner-slider-item {
float: left;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 350px;
}
.banner-slider-link{
outline:0;
display: block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-position: 50% 50%;
background-repeat: no-repeat;
-webkit-transition: opacity 800ms ease-in-out;
-moz-transition: opacity 800ms ease-in-out;
-ms-transition: opacity 800ms ease-in-out;
-o-transition: opacity 800ms ease-in-out;
transition: opacity 800ms ease-in-out;
text-align: center;
vertical-align: middle;
}
.banner-number-box{
position: relative;
z-index: 999;}
.slide-number{
padding: 8px 0 9px 0;
width: 120px;
margin-left: -60px;
text-align: center;
position: absolute;
bottom: 0px;
left: 50%;
}
.slide-number a {
float: left;
width: 19px;
height: 19px;
color:#6e6d6d;
display: block;
margin: 0 10px 0 0;
overflow: hidden;
outline: none;
background:url(image/banner-point.png) no-repeat;
background-position:0 0;
}
.slide-number a.active{background-position:0 -19px; color:#fff;}

.banner-login{position:absolute;right:10px; bottom:30px;width:250px; padding:15px 30px; display:block; border: 1px solid transparent;
background: rgba(255,255,255,.8);
_background: 0;
_border: 0;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B2FFFFFF', EndColorStr='#B2FFFFFF');
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.login-modern .ui-form-item {
padding:0;
width:250px;
height:34px;
border: 1px #cccccc solid;
margin-top:10px;
margin-bottom:0;
background:#fff;
}
.login-modern .ui-form-item-enter{border: 1px #3a9bff solid;}
.login-modern .ui-form-item-error{border: 1px #ff0000 solid;}
.login-modern .ui-form-item-focus{border: 1px #3a9bff solid;}
.login-modern .ui-form-item label.ui-label {
width:35px;
*line-height:26px;
margin:0;
padding:0;
background:#fff;
height:34px;
}
.login-modern .ui-input {
width: 199px;
background: #fff;
border:none;
vertical-align: middle;
font-size:14px;
padding:8px;
*padding:8px;
height: 18px;
line-height: 18px;
}
.login-modern .identifying-code
{
width:150px;
position:relative;
}
.login-modern .identifying-code .ui-input
{
width:90px;display:inline-block
}
.login-modern .identifying-code .identifying-code-img
{
    position:absolute;left:160px;top:0;
    width:90px;
    height:34px;
    border:1px #fff solid;
    margin-top:-1px;
    display:inline-block;
    cursor: pointer;
}

.ui-form-item label.ui-label .icon-type{
display: block;
font-size:0px;
text-indent: -9999em;
overflow: hidden;
margin:8px;
}

.sl-error-display {
padding:0 5px;
margin-bottom:5px;
height: auto;
opacity: 1;
line-height: 24px;
background: #fef0e7;
border: 1px solid #ffc6a7;
position: absolute;
width: 240px;
top: 12px;
}
.ui-button-login {
display: block;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
width: 250px;
padding: 0 20px;
font-size: 16px;
line-height: 40px;
height: 40px;
color: #fff;
font-weight: 400;
font-weight: bold\0;
_font-weight: 700;
background-color: #ec6500;
border: 0;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}
.ui-button-login:hover, a.ui-button-login:hover {
text-decoration: none;
background-color: #FF6D00;
}
.ui-form-item label.ui-label .icon-login {
display: block;
font-size: 0px;
text-indent: -9999em;
overflow: hidden;
margin: 8px;
}

/*---------------内容上部*/
.contents-top{ padding:0 0 20px 0;}
.contents-top .cm-left{width:600px; padding-top:30px;}
.contents-top .cm-right{width:260px; margin-right:20px; height:210px; background:url(image/Data-statistics.png) no-repeat;}
.list-indexMenu-item{ width:112px;padding:0 40px; border-right:1px #dfdfdf dashed; height:170px; text-align:center; font-size:18px; color: #555555;}
.list-indexMenu-item-last{border-right:none;}
.icon-indexMenu{width:111px; height:111px; background:url(image/icon-indexMenu.png) no-repeat; display:inline-block; vertical-align:middle; font-size:0;}
.list-indexMenu-item a{ display:block;}
.icon-indexMenu01{ background-position:0 0;}
a:hover .icon-indexMenu01{ background-position:-111px 0;}
.icon-indexMenu02{ background-position:0 -111px;}
a:hover .icon-indexMenu02{ background-position:-111px -111px;}
.icon-indexMenu03{ background-position:0 -222px;}
a:hover .icon-indexMenu03{ background-position:-111px -222px;}

.con-data{width:238px; padding:45px 11px 0 11px;}
.con-data h3{ color:#313131; font-size:20px; display:block; padding-left:5px; height:40px; line-height:40px;}
.list-conData-item{ height:30px; line-height:30px; padding:12px 5px; border-top:1px #bdb19b dashed;}
.list-conData-item .am-ft-orange{font-size:22px;}
.icon-conData{width:22px; height:28px; background:url(image/Data-statistics.png) no-repeat; display:inline-block; vertical-align:middle; font-size:0; margin-right:5px;margin-top: -10px;}
.icon-conData01{ background-position:0 -210px;}
.icon-conData02{ background-position:-25px -210px;}

/*---------------内容标题*/
.con-title{height:48px; line-height:48px; padding:1px 0; margin:15px 0 0 0; border-top:1px #dfdfdf solid; border-bottom:1px #dfdfdf solid;}
.con-title .cm-left{position:relative;z-index:2;font-size:14px; width:800px;overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; padding-left:5px;}
.con-title .cm-left b{padding-right:15px;}
.con-title .cm-left em{position:absolute;z-index:3;top:0;right:0;font-size:12px}
.con-title .cm-right{padding:13px 0;}
.con-title .cm-right a{ display:block; height:22px; line-height:22px; border:1px #dfdfdf solid; padding:0 7px; color:#474747;}

.con-title h2{margin:0 auto; font-size:22px; line-height:48px; height:48px;text-align:center;}
.triangle-left 
{
    width:0;
    height:0;
    border-top:48px solid transparent;
    border-right: 20px solid #0192e6;
    border-bottom: 0px solid transparent;
	display:inline-block;
}
.triangle-center{display:inline-block; background:#0192e6; padding:0 20px; color:#fff; line-height:48px;vertical-align:top;}
.triangle-right 
{
    width:0;
    height:0;
    border-top:0px solid transparent;
    border-left: 20px solid #0192e6;
    border-bottom: 48px solid transparent;
	display:inline-block;
}

/*--选项卡*/
#table-tags {
padding:0;
height:48px;
border:1px #e1e1e1 solid;
moz-border-top-left-radius:5px;
webkit-border-top-left-radius:5px;
border-top-left-radius:5px;
moz-border-top-right-radius:5px;
webkit-border-top-right-radius:5px;
border-top-right-radius:5px;
}
#table-tags li {
/*background:url(../image/bosheng/tagleft.png) no-repeat left bottom;*/
float:left;
list-style:none;
width:50%;
height:48px;
color:#fff;
text-align:center;
margin-top:-1px;
display: list-item;
}
#table-tags li a {
/*background:url(../image/bosheng/tagright.png) no-repeat right bottom;*/
float:left;
width:100%;
color: #313131; 
border-right:1px #eaeaea solid;
font-size:18px;
 line-height:48px;
 height:48px;
 text-decoration:none; 
 text-align:left;
 color:#646464;
}
#table-tags li a span{
width:260px;
display:block;
font-weight:bold;
background:url(image/arrow-tab.png) no-repeat right center;

}
#table-tags li.selectTag a span{
background:url(image/arrow-tab-active.png) no-repeat right center;
}
#table-tags li a.last{ border-right:none;}
#table-tags li.emptyTag {
	background: none transparent scroll repeat 0% 0%; 
}
#table-tags li.selectTag {
	background-position: left top; height:49px; border-bottom:1px #fff solid;
}
#table-tags li.selectTag a {
	background-position: right top; line-height:48px;
 height:48px;color:#018fe1 ;
}
#tagContent{
border:1px #eaeaea solid;
border-top:none;
moz-border-bottom-left-radius:5px;
webkit-border-bottom-left-radius:5px;
border-bottom-left-radius:5px;
moz-border-bottom-right-radius:5px;
webkit-border-bottom-right-radius:5px;
border-bottom-right-radius:5px;
padding:15px 15px 10px 15px;
height:230px;
}
.tagContent {
width:100%;
display: none;
}
#tagContent div.selectTag {
display: block;
}

/*---------------框架*/
.frame-box{border:1px #eaeaea solid;
moz-border-radius:5px;
webkit-border-radius:5px;
border-radius:5px;
padding:0 5px;
color:##696969;
}
.frame-title{ height:48px; line-height:48px; border-bottom:1px #eaeaea solid; font-size:20px; padding-left:14px;font-weight:bold;color:#646464;}
.frame-title em{font-size:16px;font-weight:bold;}
.con-frame{ padding:0 5px;}


/*---------------新闻部分*/
.con-news{ padding:15px 0 0 0;}
.news-lside{width:627px;}
.news-rside{width:315px; }

.news-detail-top{border-bottom:1px #cdcccc dashed; padding-bottom:8px;}
.news-detailTop-lside{width:146px;}
.news-detailTop-lside img{border:1px #e1e1e1 solid; padding:1px;}
.news-detailTop-rside{width:430px; padding-left:10px; }
.news-detailTop-rside p.layout01{font-size:14px;}
.news-detailTop-rside p.layout02{ line-height:24px; padding:5px 0 0 0;}

.list-news-detailBottom{padding:10px 0 0 0;}
.list-news-detailBottom-item{ line-height:24px; font-size:14px; padding:5px 0;position:relative;}
.list-news-detailBottom-item span{position:absolute;top:0;right:0;color:#757575;}
.list-news-detailBottom-item a{width:500px;overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; display:block;}
.list-news-detailBottom-item a:hover{color:#ec6500;}

.list-newsFrame{ overflow:hidden; padding:5px 10px 19px 10px; height:231px;}
.list-newsFrame-item{line-height:24px; padding:14px 0; border-bottom:1px #cdcccc dashed; font-size:14px;}
.list-newsFrame-item a{ color:#474747;}
.list-newsFrame-item a:hover{color:#ec6500;}
.list-newsFrame-item a .layout02{ padding-left:29px;}
.list-newsFrame-item .date{}

/*---------------排行部分*/
.con-ranking{ margin:15px 0 0 0;position:relative;}
.ranking-lside{width:472px;}
.ranking-rside{width:472px; position:absolute;top:0;right:0;}

/*-----------------排行榜*/
.cost-list{width:100%;}
.tr_line{height:0;}

.cost-list th{line-height:50px;height:50px;font-weight:bold;font-size:14px;text-align:center;}
.cost-list td{line-height:50px;height:50px;font-size:14px;text-align:center;}
.tr_line td{border-bottom:1px #cdcccc dashed;height:0;}
.td_frist{float:left;}
.td_frist span{padding-left: 14px;}
.td_frist i{margin-left: 14px;padding: 3px 3px 3px 3px;border: 1px #039EF8 solid;color:White;background:#0192e6;-moz-border-radius:3px;-webkit-border-radius:3x;border-radius: 3px;}
.td_frist .rank-first{background:#ef1f59;border: 1px #FF215F solid;}
.td_frist .rank-second{background:#83a601;border: 1px #98C001 solid;}
.td_frist .rank-third{background:#fb7212;border: 1px #fb7212 solid;}
/*-----------------footer*/
.footer{background:#475059;width:100%;margin-top:20px;color:White;overflow:hidden;}
.partner{text-align:center;line-height:50px;height:50px;border-bottom: 1px #59626b solid;margin-top: 10px;font-size:16px;text-align:center;}
.partner span{color:#E9E9E9;padding-right:20px;}
.partner a{color:#E9E9E9;padding-right:25px;}
.partner a:hover{color:#ec6500;}
.footbar{text-align:center;line-height:50px;height:50px;border-bottom: 1px #59626b solid;padding: 10px;font-size:16px;}
.footbar a{color:#E9E9E9;}
.footbar a:hover{color:#ec6500;}
.footbar i{padding:0 8px;}
.footbar .icon_qq{display:inline-block;width:26px;height:50px;background:url(image/icon_qq.jpg) no-repeat left 15px;margin-right:5px;}
.footbar .seaver-time{padding-left:30px;padding-right:25px;}
.footbar em{padding-left:5px;}
.foot-bottom{color:#E9E9E9;text-align:center;padding-right:180px;margin-top:20px;margin-bottom: 20px;position:relative;}
.foot-bottom p{font-size:14px;line-height:20px;height:20px;padding-bottom: 20px;}
.foot-bottom .phone{padding-left:1em;}
.foot-bottom .copyright{padding:0 1em;}
.foot-bottom .ewm{display:block;width:150px;height:120px;position:absolute;top:0;right:50%;background:url(image/ewm.jpg) no-repeat left top;margin-right:-400px;}
.foot-bottom .img_list{width:400px;margin:0 auto;overflow:hidden;}
.foot-bottom .img_list li{display:inline;height:44px;float:left;}

.foot-bottom .img_list .img_list_01{width:97px;background-image:url(image/foot_img_list.jpg);background-position:-5px 0;}
.foot-bottom .img_list .img_list_02{width:66px;background-image:url(image/foot_img_list.jpg);background-position:-101px 0;}
.foot-bottom .img_list .img_list_03{width:42px;background-image:url(image/foot_img_list.jpg);background-position:-166px 0;}
.foot-bottom .img_list .img_list_04{width:31px;background-image:url(image/foot_img_list.jpg);background-position:-207px 0;}
.foot-bottom .img_list .img_list_05{width:95px;background-image:url(image/foot_img_list.jpg);background-position:-255px 0;}
.foot-bottom .img_list .img_list_06{width:38px;background-image:url(image/foot_img_list.jpg);background-position:-354px 0;}
.foot-bottom .img_list li a{cursor:pointer;height:100%;width:100%;display:block;}



/* 头部底部灰色的先 */
.header-line{width:100%;height:5px;background:url(image/header-line-bg.jpg) repeat-x left top;}
/*  帮助中心 */
.position{line-height:50px;font-size:16px;}
.position span{color:#5c5c5c;}
.position .home{padding-left:25px;background:url(image/conside.png) no-repeat -20px -8px;}  
.position span i{padding: 0 10px;}
.wrap{border:1px #eaeaea solid;min-height:1000px;position:relative;}
.conside{position:absolute;top:0;left:0;width:198px;background:url(image/conside-bg.jpg) repeat-y left top;height:100%;}
.conside .head{position:relative;z-index:10;}
.conside .head h1{display:block;position:absolute;top:10px;left:-10px;width:148px;line-height:50px; height:50px;padding-left:50px;color:#fff;font-size:20px;background:#0388d5;-webkit-border-radius: 0 5px 5px 0px;-moz-border-radius: 0 5px 5px 0px;border-radius: 0 5px 5px 0px;box-shadow: 0 2px 6px rgba(0,0,0,0.4);}
.conside .head i{position:absolute;top:60px;left:-10px;width: 0;height: 0;border-top: 0px solid transparent;border-right: 10px solid #02314f;border-bottom: 10px solid transparent;}
.con-nav{margin-top:80px;}
.con-nav-line{border-top: 1px #e6e6e6 solid;border-bottom: 1px #fafafa solid;}
.con-nav h1{color:#0C0B0B;line-height:50px;height:50px;font-size:18px;padding-left:45px;background:url(image/conside.png) no-repeat -20px -184px;margin-right: 1px;}
.con-nav h1.on{background:url(image/conside.png) no-repeat -20px -133px #fff;color:#ee7100;}
.con-nav ul{}
.con-nav ul li{line-height:35px;height:35px;border-bottom: 1px #cdcccc dashed;padding-left:45px;background:url(image/conside-help.jpg) no-repeat 25px -40px;}
.con-nav ul li.on{background:url(image/conside-help.jpg) no-repeat 25px -1px;}
.con-nav ul li.con-nav-li-end{border:none;}
.con-nav ul li a{color:#5d5d5d;font-size:14px;}
.con-nav ul li.on a{color:#f86204;}

.wrap-r{padding:0 20px 0 220px;}
.wrap-r .head{margin-top:10px;border-bottom:2px #eaeaea solid;position:relative;z-index:1;}
.wrap-r .head h1{line-height:50px;height:50px;padding-left: 10px;font-size:22px;font-weight:bold;color:#4c4c4c;border-bottom:2px #0388d5 solid;position:relative;z-index:999;width: 169px;margin-bottom: -2px;}
.wrap-r .head i{font-size:20px;padding:0 10px 0 10px;color:#f86204;font-weight:900;}
.wrap-r-contents{font-size:15px;padding-left:15px;padding-right:10px;padding-top:30px;}
.wrap-r-contents h1{font-weight:bold;line-height:50px;height:50px;color:#4d4b4c;}
.wrap-r-contents .txt{position:relative;line-height:40px;padding-left:4em;}
.wrap-r-contents .txt h3{position:absolute;top:0;left:0;}
.wrap-r-contents .txt em.on{color:#fa5f03;}
.wrap-r-contents .txt em.small{font-size:13px;}
.wrap-r-contents .help-img01{margin:10px 0;width:100%;height:290px;background:url(image/help.png) no-repeat left top;}
.wrap-r-contents .help-img02{margin:10px 0;width:100%;height:340px;background:url(image/help.png) no-repeat left -300px;}
.wrap-r-contents .help-img03{margin:10px 0;width:100%;height:260px;background:url(image/help.png) no-repeat left -640px;}
.wrap-r-contents .help-img04{margin:30px 0 120px 0;width:100%;height:60px;background:url(image/help.png) no-repeat left -900px;}
.wrap-r-contents .intro{position:relative;height: 220px;margin:30px 0px 0px 0;padding-right:260px;}
.wrap-r-contents .intro .img{position:absolute;top:0;right:0;}
.wrap-r-contents .intro .img img{padding:3px; border:1px #eaeaea solid;height:180px;}
.wrap-r-contents .intro .line{position:absolute;bottom:0;left:-10px;border-bottom: 1px #cdcccc dashed;width:718px;}
.wrap-r-contents p{line-height:30px;}
.wrap-r-contents p.strong{font-weight:bold;line-height:40px;}
.wrap-r-contents p.txt-title{padding-top:30px;color:#0488d3;font-size:18px;font-weight:bold;}
.wrap-r-contents .news-list ul li{line-height:30px;height:30px;position:relative;}
.wrap-r-contents .news-list ul li a{color:#515151;}
.wrap-r-contents .news-list ul li a:hover{color:#ec6500;}
.wrap-r-contents .news-list ul li span{position:absolute;top:0;right:0;}
.wrap-r-contents .advisor{position:relative;}
.wrap-r-contents .advisor .advisor-title{position:absolute;top:0px;left:0;width:100%;text-align:center;}
.wrap-r-contents .advisor h1{font-size:22px;}
.wrap-r-contents .advisor ul{}
.wrap-r-contents .advisor ul li{float:left;width:20%;font-size:12px;margin-top:70px;}
.wrap-r-contents .advisor ul li .img-advisor{width:96px;margin:0 auto;}
.wrap-r-contents .advisor ul li .head-img{display:block;width:89px;height:89px;}
.wrap-r-contents .advisor ul li .head-img img{width:88px;height:88px;padding:1px;border:1px #e5e4e4 solid;}
.wrap-r-contents .advisor ul li .advisor-name{display:block;line-height:20px;font-weight:bold;color:#3e3a2e;text-align:center;}
.wrap-r-contents .advisor ul li .qq-img{display:block;text-align:center;height:20px;}
.wrap-r-contents .advisor ul li .qq-num{color:#818181;text-align:center;display:block;}
.wrap-r-contents .advisor ul li .qq-num em{padding-left:5px;}
                
/*---------------资讯详情*/
.con-detailNews{ padding:10px;}
.detailNews-title{ text-align:center;line-height:22px; padding-bottom:15px; border-bottom:1px #e5e5e5 solid;}
.detailNews-title .title{  font-size:24px; padding-top:20px;}
.detailNews-title .source{ font-size:12px; padding-top:15px;}
.detailNews-text{padding:15px 0;}
.detailNews-text p{font-size:16px; line-height:30px; padding:10px 0; text-indent:18pt;}