/*消息显示样式start*/
.header-tc-content {
    width: 302px;
	padding: 0 26px;
	line-height: 34px;
	position: absolute;
	border: 1px solid #aabad5;
	border-top: none;
	right: 16px;
	top: 32px;
	background-color: #fff;
	text-align: left;
	display: none;
	z-index: 200;
	color: #4b4b4b;
	font-size: 12px;
	height: auto!important;
	min-height: 32px;
	height: 32px;
	box-shadow: 0 0 6px rgba(0,0,0,.19);
	display: none;
}
.header-tc-ct-bg {
	position: absolute;
	top: -8px;
	right: 40px;
	width: 0;
	height: 0;
	border: 4px solid #fff;
	border-color: transparent transparent #fff;
}
.text:hover .header-tc-content{display:block;}

.news-title {
   line-height: 42px;
   border-bottom: 1px solid #e0e6f1;
   overflow: hidden;
}
.news-list{
   margin: 0;
   padding: 0;
   max-height: 374px;
   overflow-y: auto;
   margin-right: -18px;
   padding-right: 12px;
   position: relative;
   display:block;
}
.clr:after{
   content: "";
   display: table;
   clear: both;
}

.news-title .news-title-ctx {
    color: #969696;
    font-size: 14px;
    float: left;
}

.news-title .news-title-op {
   color: #4b4b4b;
   font-size: 14px;
   float: right;
   text-decoration: none;
   cursor: pointer;
   display: block;
}

.news-list {
   margin: 0;
   padding: 0;
   max-height: 374px;
   overflow-y: auto;
   margin-right: -18px;
   padding-right: 12px;
   position: relative;
}

.news-item {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e0e6f1;
	list-style: none;
	position: relative;
}

.news-item .news-ctx {
	line-height: 18px;
	float: left;
	width: 270px;
	margin-top: -2px;
	position: relative;
	height: 34px;
}

.news-item .news-ctx-link {
	color: #4b4b4b;
	height: 36px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	float: left;
	width: 100%;
}

.news-item .news-time {
	position: absolute;
	bottom: -16px;
	right: 0;
	color: #969696;
	font-size: 12px;
	line-height: 14px;
}

.news-bottom {
	height: 42px;
	text-align: center;
	border-top: 1px solid #e0e6f1;
}

.news-bottom .news-more {
	color: #4b4b4b;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
}
.news-empty {
	width: 140px;
	height: 84px;
	background: url(../../resources/image/customize/news_icon.png) 36px -200px no-repeat;
	padding-top: 100px;
	text-align: center;
	color: #d8d8d8;
	font-size: 14px;
	margin: 0 auto;
	display:none;
}
.news-close {
position: absolute;
right: 0px;
top: 0;
width: 16px;
height: 16px;
background: url(../../resources/image/customize/news_icon.png) right 0 no-repeat;
cursor: pointer;
text-decoration: none;
display: none;
}
.news-item:hover .news-close{
	display:block;
}
/*消息显示样式end*/
/*富文本编辑样式start*/
.special-note h1,.special-note h2,.special-note h3,.special-note h4,
.special-note h5,.special-note h6,.special-note p {
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.special-note h1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
}
.special-note h2 {
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
}
.special-note h3 {
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}
.special-note h4 {
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
}
.special-note h5 {
	font-size: 0.83em;
	-webkit-margin-before: 1.67em;
	-webkit-margin-after: 1.67em;
}

.special-note h6 {
	font-size: 0.67em;
	-webkit-margin-before: 2.33em;
	-webkit-margin-after: 2.33em;
}
.special-note address {
	display: block;
	font-style: italic;
}
.special-note pre{
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}
.special-note p {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}
.special-note strong {
	font-weight: bold;
}
.special-note em{
	font-style: italic;
}
.special-note u{
	text-decoration: underline;
}
.special-note strike{
text-decoration: line-through;
}
.special-note sub {
	vertical-align: sub;
	font-size: smaller;
}
.special-note sup {
	vertical-align: super;
	font-size: smaller;
}
.special-note ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.special-note ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.special-note li {
	display: list-item;
	text-align: -webkit-match-parent;
}
/*富文本编辑样式end*/