<#assign controller="P1"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="content">
<div class="banner banner-pz">
    <!-- 图片切换 start -->
    <ul class="banner-slider">
        <li class="banner-slider-item">
            <a class="banner-slider-link" style="background:#d33917 url(${dojoUrl}/app/resources/image/customize/${proDayAdImg}) center 0 no-repeat;"></a>
        </li>
    </ul>

</div>

<div class="grid1000">
<!--步骤start-->
<ul class="navi-container">
    <ol class="ui-step ui-step-5">
        <li class="ui-step-start ui-step-active">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont"></i>
                <i class="ui-step-number">1</i>
                <span class="ui-step-text">申请资金操盘</span>
            </div>
        </li>

        <li>
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont"></i>
                <i class="ui-step-number">2</i>
                <span class="ui-step-text">支付保证金</span>
            </div>
        </li>

        <li>
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont"></i>
                <i class="ui-step-number">3</i>
                <span class="ui-step-text">操盘申请成功</span>
            </div>
        </li>

        <li>
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont"></i>
                <i class="ui-step-number">4</i>
                <span class="ui-step-text">开始投资股票</span>
            </div>
        </li>


        <li class="ui-step-end">
            <div class="ui-step-line">-</div>
            <div class="ui-step-icon">
                <i class="iconfont"></i>
                <i class="ui-step-number">5</i>
                <span class="ui-step-text">盈利全归您</span>
            </div>
        </li>
    </ol>
</ul>
<!--步骤end-->


<!--框架-->
<div class="">
    <div class="" id="contentctn">
        <div id="panel1">
        <!--申请资金操盘-->
            <div class="con-dxStep01 clearfix">
                <div id="leftctn"></div>
                <div id="rightctn"></div>
            </div>
            <!--申请资金操盘-->


            <!--是否同意-->
            <div class="am-ft-center">
                <p class=" am-pt-15"><span class="am-ft-md">如有疑问请联系客服：${hotline}</span></p>

                <p class=" am-pt-15"><label class="checkbox" for="checkbox1">
                    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox"><span
                        class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span><span
                        class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <span class="am-ft-md">我已经阅读并同意<a id="protocoltoggler">《借款协议》</a></span>
                </label></p>

                <div class="button-center am-pt-15">
                    <div id="loaninfobtn"></div>
                </div>
            </div>
        </div>
        <!--是否同意-->


        <!--详细说明-->
        <div class="con-instructions">
            <b class="am-ft-md">详细说明：</b>
            <ul>
            <#list proDayDesc as d>
        		<li>${d}</li>
        	</#list>
            </ul>
        </div>
        <!--详细说明-->

    </div>
</div>
<!--框架end-->
</div>

</div>
</#macro>
