<#assign controller="NewGuidelines"/>
<#include 'layout/layout.html'/>
<#macro content>

<!--banner-->
<div class="banner-newGuidelines"></div>

<!--新人注册-->
<div class="newGuidelines-content">
        <div class="grid1050">
            <div class="newGuidelines-wrapper">
                <div class="abs-ng-lconside">
                    <i class="ng-line-01"></i><i class="ng-line-02"></i><i class="ng-line-03"></i>
                </div>

                <div class="ng-step ng-step-01">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第一步</span><em>新人注册</em></h2>
                    </div>
                
                    <img src="${dojoUrl}/app/resources/image/customize/guide1.png">
                </div>

                <div class="ng-step ng-step-02">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第二步</span><em>实名认证</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide2.png">
                </div>
                
                <div class="ng-step ng-step-03">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第三步</span><em>安全密码</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide3.png">
                </div>

                <div class="ng-step ng-step-04">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第四步</span><em>账户充值</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide4.png">
                </div>

                <div class="ng-step ng-step-05">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第五步</span><em>选择融资方案</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide5.png">
                </div>

                <div class="ng-step ng-step-06">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第六步</span><em>机构审核，获取交易账号</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide6.png">
                </div>

                <div class="ng-step ng-step-05">
                    <div class="ng-step-head">
                        <h2><img src="${dojoUrl}/app/resources/image/new-guidelines/ng-lsider-01.png"><span class="ng-bg-bubbles">第七步</span><em>交易清算，提款</em></h2>
                    </div>
                    <img src="${dojoUrl}/app/resources/image/customize/guide7.png">
                </div>
            </div>
        </div>

    </div>
</#macro>