<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财猫全民免息活动</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link href="${dojoUrl}/app/resources/custom/style/topic/actvity0707.css" rel="stylesheet">
</head>
<body>

<div class="topic_main">
    <div class="bg">
        <div class="bg1">
            <div class="layout">
                <p class="button01"><a class="free" href="${basePath}/p2.htm" target="_blank">我要免费资金</a></p>
            </div>
        </div>
        <div class="bg2">
            <div class="layout">
                <p class="time">活动时间:7月10日~7月19日（以在财猫首次融资时间为准）</p>
                <ul class="rule">
                    <li><i class="free">1</i>只要爆了仓的全国所有股民均可享受本活动，限2000人。</li>
                    <li><i class="free">2</i>在财猫首次融资，使用1~3倍月融资，前5天免费。</li>
                    <li><i class="free">3</i>每位股民可享受最高5万元融资的前5天免费额度，超出部分按正常收息。</li>
                    <li><i class="free">4</i>融资成功后，发送爆仓截图给客服，活动结束后按照融资额度统一返现。</li>
                    <li><i class="free">5</i>财猫爆仓老用户参与活动无需发送截图，活动结束后按照融资额度统一返现。</li>
                    <li><i class="free">6</i>本活动最终解释权归财猫网所有。</li>
                </ul>
            </div>
        </div>
        <div class="bg3">
            <div class="layout">
                <div class="path">
                    <span>在财猫月融资1~3倍</span>
                    <span class="mt-10">在Q群联系客服，发送爆仓截图。</span>
                    <span>统一返现到账</span>
                </div>
            </div>
        </div>
        <div class="bg4">
            <div class="layout">
                <p class="button02"><a class="free" href="${basePath}/p2.htm" target="_blank">我要免费资金</a></p>
                <p class="QQ">
                    财猫炒股官方Q群：284822493（申请加入须提供注册信息）
                </p>
            </div>
        </div>
        <div class="bg5">
            <div class="layout">
                <div class="intro">
                    <p>财猫团队获得华尔街顶级风险投资机构红杉资本A轮千万美金投资，由金融服务、风险管理及互联网运营等业界一流的专业人士组成的130人全职团队运营。</p>
                    <p>联合创始人兼COO高耀华先生曾就职于国信和中信证券，统领TMT行业的研究工作并获得超额收益。高先生是CFA和FRM持证人，先后被《新财富》、《金融界》、汤森路透评为全球最佳分析师。</p>
                    <p>财猫核心团队成员多毕业于清华大学、北京大学、复旦大学等国内顶级名校，曾就职于甲骨文、腾讯、中信证券等国内外知名企业，是国内最专业的互联网金融团队之一。</p>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    if (document.cookie.indexOf('visit_device') != -1) {
        document.getElementById("visit_mobile").style.display="block";
    }
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?40c3749d7e01ea226451c05cc78ee57f";
        var s = document.getElementById("footer");
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
