<#assign controller="CompanyIntro"/>
<#include 'layout/layout.html'/>
<#macro content>
    <style>.text-bold{font-weight: bold}</style>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="agreement-user.htm">用户协议</a></li>
                    <li><a href="agreement-day.htm">日融借款协议</a></li>
                    <li class="active"><a href="agreement-month.htm">月融借款协议</a></li>
                </ul>
            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>月融借款协议</h2>
                    <div class="link-inner-info link-company-intro">

                    </div>
                </div>
            </div>
        </div>
    </div>
</#macro>