<#assign controller="CompanyIntro"/>
<#include 'layout/layout.html'/>
<#macro content>
    <style>.text-bold{font-weight: bold}</style>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="agreement-user.htm">用户协议</a></li>
                    <li class="active"><a href="agreement-day.htm">日融借款协议</a></li>
                    <li><a href="agreement-month.htm">月融借款协议</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>日融借款协议</h2>
                    <div class="link-inner-info link-company-intro">
                        <p>　　财猫网互联网金融理财平台由北京朋乐投资管理有限公司全资负责运营，注册资金1000万人民币。公司于2015年4月成立于北京上地信息产业园区，组建了一只由金融服务、风险管理及电子商务等业界一流的专业人士组成的超百人全职运营团队。</p>
                        <p>　　管理团队成员多毕业于清华大学、北京大学等国内顶级名校，曾就职于甲骨文、腾讯、中信证券、上交所等国内外知名企业，是国内最专业的互联网金融团队之一。</p>
                        <p>　　财猫互联网金融理财平台致力于为公众提供一个安全、专业、高收益的理财平台，专注为用户提供A股融资等互联网理财服务，并首创“比特币抵押融资”的跨行业理财模式。</p>
                        <p>　　财猫团队拥有多年的资产管理服务和风险控制经验，为用户投资理财提供权威风控服务。财猫平台利用领先的信息处理技术，构建了基于比特币区块链多重验证的多维度安全体系，最大限度地为用户提供更优质、更便捷、更安全的互联网金融理财服务。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</#macro>