<#assign controller="CompanyIntro"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li class="active"><a href="company-intro.htm">公司简介</a></li>
                    <li><a href="manage-team.htm">管理团队</a></li>
                    <li><a href="platform-advantage.htm">平台优势</a></li>
                    <li><a href="contact-us.htm">联系我们</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>公司简介</h2>
                    <div class="link-inner-info link-company-intro">
                        <p>　　财猫网互联网资产交易平台由北京朋乐投资管理有限公司全资负责运营，注册资金1000万人民币。公司于2015年4月成立于北京中关村高科技产业园区上地信息技术基地，组建了一只由金融服务、风险管理及互联网运营等业界一流的专业人士组成的超百人全职运营团队。</p>
                        <p>　　核心团队成员多毕业于清华大学、北京大学、复旦大学等国内顶级名校，曾就职于甲骨文、腾讯、中信证券等国内外知名企业，是国内最专业的互联网金融团队之一。</p>
                        <p>　　财猫互联网资产交易平台致力于为公众提供一个国际化、高收益、安全、专业的互联网资产交易平台，为用户提供A股、新三版、港股、美股、外汇等全球范围内的互联网资产交易服务。</p>
                        <p>　　财猫团队拥有多年的资产管理服务和风险控制经验，为用户投资理财提供权威风控服务。目前财猫网A股融资服务已经开通，后续将陆续提供更多品类更多功能的投资服务。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</#macro>