<#assign controller="NewGuidelines"/>
<#include 'layout/layout.html'/>
<#macro content>
    <link rel="stylesheet" type="text/css" href="${dojoUrl}/app/resources/custom/guide/style.css" />
<!--新人注册-->
    <div class="whydo">
        <div class="wrap">
            <div class="header">为什么要股票融资？<em>我出钱·你炒股·收益全归您</em></div>
            <div class="list">
                <dl>
                    <dt><img src="${dojoUrl}/app/resources/custom/guide/img/photo1.jpg"></dt>
                    <dd style="text-align: center;"><em>炒股资金少</em>小张是工薪阶层，但是<br/>可用于炒股的资金只有1万。</dd>
                </dl>
                <dl>
                    <dt><img src="${dojoUrl}/app/resources/custom/guide/img/photo2.jpg"></dt>
                    <dd style="text-align: center;"><em>我出钱</em>小张将1万元作为股票投资本金在财猫网申请融资5万共有6万资金用于炒股。</dd>
                </dl>
                <dl>
                    <dt><img src="${dojoUrl}/app/resources/custom/guide/img/photo3.jpg"></dt>
                    <dd style="text-align: center;"><em>您炒股</em>小张的股票一个月内大涨30%<br>收益比普通收益高出5倍</dd>
                </dl>
                <dl>
                    <dt><img src="${dojoUrl}/app/resources/custom/guide/img/photo4.jpg"></dt>
                    <dd style="text-align: center;"><em>收益全归您</em>最终小张拿回了10000本金<br/>和18000元收益。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="caimaoInf">
        <div class="wrap">
            <div class="header">
                为什么选择财猫金融？<em><i></i><b>财猫的产品优势让您获益更大</b></em>
            </div>
            <div class="info"><img src="${dojoUrl}/app/resources/custom/guide/img/inf1.jpg?234"></div>
            <div class="header header2">
                <em><i></i><b>财猫的平台优势让您交易无忧</b></em>
            </div>
            <p class="slg">财猫专业化的多维度安全保障，让您交易更安全、更放心。</p>
            <div class="ilist">
                <dl>
                    <dt>法律安全保障</dt>
                    <dd>财猫金融与用户签订的协议由专业的律师团队修订， 依照《合同法》和《电子签名法》，电子采用PDF防篡改技术，纸质微景一律归档保存。</dd>
                </dl>
                <dl>
                    <dt>资金安全保障</dt>
                    <dd>财猫金融与齐鲁证券达成深度合作，用户操盘资金由光大银行作为托管，严格按照专户专款专用的模式运作，受到银行和开户证券公司的双重监管。</dd>
                </dl>
                <dl>
                    <dt>交易安全保障</dt>
                    <dd>用户交易指令通过恒生HOMS软件直接在券商下单，100%实盘操作。</dd>
                </dl>
                <dl>
                    <dt>数据安全保障</dt>
                    <dd>财猫金融建立了反应实时、深入行业、专业能力顶级的安全团队，为平台量身定制安全方案，全面保障用户的数据安全。</dd>
                </dl>
                <dl>
                    <dt>风控安全保障</dt>
                    <dd>财猫金融拥有全方位的 风控系统，风控团队均由从业经验6年以上来自中信证券等各大知名金融公司的专业人才组成，对用户的操盘账户进行风控监控、预警、平仓。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="bigthree">
        <div class="wrap">
            <div class="header" style="width: auto;zoom: normal;height: auto;background: none;">
                <em><i></i><b>财猫的团队优势让您长期受益</b></em>
            </div>
            <p class="con1">红杉资本投资公司打造   专业实力团队为您理财服务</p>
            <p class="con2">财猫团队将为您开发更多专业的金融产品，让您在不同阶段持续受益。</p>
            <dl>
                <dt><i>CEO</i>李林</dt>
                <dd>清华大学硕士研究生，曾就职于甲骨文，连续创业，多次打破行业记录</dd>
            </dl>
            <dl>
                <dt><i>COO</i>高耀华</dt>
                <dd>清华大学硕士研究生，原中信证券资管部VP，CFA、FRM持证人<br>曾被数家权威第三方机构评选为最佳分析师</dd>
            </dl>
            <dl>
                <dt><i>CMO</i>杜均</dt>
                <dd>曾就职于康盛创想、腾讯，知名社区软件Discuz！产品负责人</dd>
            </dl>
        </div>
    </div>
    <div class="bp"><img src="${dojoUrl}/app/resources/custom/guide/img/bp.jpg?150715"></div>
    <div class="notice">
        <strong>小贴士</strong>
        <dl>
            <dt>· 财猫支持快捷支付、  网银充值、支付宝转账</dt>
            <dt style="margin-top: 20px;">· 限制购买的股票</dt>
            <dd>    1 、不得购买S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；<br>
                2 、不得购买权证类可以T+0交易的证券；<br>
                3 、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票；<br>
                4 、不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易。</dd>
        </dl>
        <dl>
            <dt>· 交易前必读</dt>
            <dd>    1 、请尽量保持总操盘资金高于亏损警戒线，及时添加风险保证金，以免到达亏损平仓线被强制平仓；<br>
                2 、总操盘资金到达亏损平仓线后，如不想添加风险保证金，请及时卖出股票，以免出现超额亏损；<br>
                3 、请尽量保持账户余额充足，以免被自动平仓。</dd>
        </dl>
        <div class="btn"><a href="${dojoUrl}/p2.htm"><img src="${dojoUrl}/app/resources/custom/guide/img/btn.jpg?150715"></a></div>
    </div>
</#macro>