<#assign bodyCls="bg-gray">
<#assign controller="Help"/>
<#include 'layout/layout.html'/>
<#macro content>
    <div class="banner-help"></div>
    <div class="grid1100">
        <div class="help-content">
            <div class="help-head">
                <ul>
                    <li class="select">
                        <h2>常见问题</h2>
                        <i class="i-help-problem"></i>
                    </li>
                    <li>
                        <h2>项目介绍</h2>
                        <i class="i-help-intro"></i>
                    </li>
                </ul>
            </div>
            <!--常见问题 strat-->
            <div class="help-pannel-01 content">

                <table>
                    <tbody><tr class="help-tr-01" id="pos-0-0">
                        <td style="width:86px;"><i class="i-help i-help-01"></i></td>
                        <th style="width:120px;">注册</th>
                        <td>
                            <div class="inline-block">
                                <h2>网站注册</h2>
                                <h5>打开注册页面， 填写</h5>
                                <h5>基本信息进行注册</h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h2>实名登记</h2>
                                <h5>填写上真实的个人姓名和相</h5>
                                <h5>关证件信息，完成实名登记</h5>
                            </div>
							<div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h2>安全密码</h2>
                                <h5>设置安全密码，进行安全操作</h5>
                            </div>
                        </td>
                    </tr>

                    <tr class="help-tr-02" id="pos-0-1">
                        <td style="width:86px;"><i class="i-help i-help-02"></i></td>
                        <th style="width:120px;">充值</th>
                        <td>
                            <div class="inline-block">
                                <h5>登录后点击<em class="am-ft-gray">（我的账户）</em>，</h5>
                                <h5>然后点击<em class="am-ft-gray">（充值）</em></h5>
                            </div>
                            <div class="inline-block am-ml-1em">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>进入充值页面, 输入有效</h5>
                                <h5>充值金额, 点击<em class="am-ft-gray">（充值）</em></h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>登录到您的网上银行进行充值</h5>
                            </div>
                        </td>
                    </tr>
                    <tr class="help-tr-01" id="pos-0-2">
                        <td style="width:86px;"><i class="i-help i-help-03"></i></td>
                        <th style="width:120px;">融资</th>
                        <td>
                            <div class="inline-block">
                                <h5>选择融资项目，点击<em class="am-ft-gray">（申请）</em></h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>输入项目金额, 确认申请</h5>
                            </div>
                        </td>
                    </tr>
                    <tr class="help-tr-02" id="pos-0-3">
                        <td style="width:86px;"><i class="i-help i-help-04"></i></td>
                        <th style="width:120px;">提现</th>
                        <td>
                            <div class="inline-block">
                                <h5>登录后点击<em class="am-ft-gray">（我的账户），</em>点击<em class="am-ft-gray">（提现）</em></h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>输入提现金额, 点击<em class="am-ft-gray">（确认提现）</em></h5>
                            </div>
                        </td>
                    </tr>
                    <tr class="help-tr-01" id="pos-0-4">
                        <td style="width:86px;"><i class="i-help i-help-05"></i></td>
                        <th style="width:120px;">绑卡</th>
                        <td>
                            <div class="inline-block">
                                <h5>进入银行卡设置,</h5>
                                <h5>点击<em class="am-ft-gray">（添加银行卡）</em></h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>输入银行卡等相关信</h5>
                                <h5>息，绑定账户银行卡</h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>进入银行卡设置，</h5>
                                <h5>点击<em class="am-ft-gray">（待验证）</em></h5>
                            </div>
                            <div class="inline-block">
                                <i class="i-help-caret-right"></i>
                            </div>
                            <div class="inline-block">
                                <h5>输入汇款金额，</h5>
                                <h5>点击<em class="am-ft-gray">（提交认证）</em></h5>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>

                <div class="help-pannel-01-vline"></div>
            </div>
            <!--常见问题 end-->

            <!--项目介绍 start-->
            <div class="help-pannel-02 content" style="display:none;">
                <table>
                    <tbody>
                    <#if isProDay>
                    <tr id="pos-1-0">
                        <th>${proDay}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    <#if isProMonth>
                    <tr id="pos-1-1">
                        <th>${proMonth}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    <#if isProP2P>
                    <tr id="pos-1-2">
                        <th>${proP2P}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    <#if isProOffer>
                    <tr id="pos-1-3">
                        <th>${proOffer}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    <#if isProFree>
                    <tr id="pos-1-4">
                        <th>${proFree}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    <#if isProContest>
                    <tr id="pos-1-5">
                        <th>${proContest}<i class="fa fa-caret-right"></i></th>
                        <td>
                            <h2></h2>
                            <h5>内容待定</h5>
                        </td>
                    </tr>
                    </#if>
                    </tbody></table>

            </div>
            <!--项目介绍 end-->
        </div>

    </div>
</#macro>
