<#assign controller="Information"/> 
<#include 'layout/layout.html'/>

<#macro content>
<div class="container">
<div class="detailNews-title">
	<div class="title font-color-main" id="infoTitle"
		style="text-align: center; font-size: 19px; margin: 10px auto;"></div>
	<div class="source font-color-gray" id="createDatetime"
		style="text-align: center; font-size: 13px;margin-bottom: 10px;"></div>
</div>

<div class="detailNews-text">
	<div id="infoContent" style="text-indent: 2em;"></div>
</div>
</div>
</#macro>
