<#assign controller="ManageTeam"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="company-intro.htm">公司简介</a></li>
                    <li class="active"><a href="manage-team.htm">管理团队</a></li>
                    <li><a href="platform-advantage.htm">平台优势</a></li>
                    <li><a href="contact-us.htm">联系我们</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>管理团队</h2>
                    <div class="link-inner-info link-mange-team">
                        <p style="font-weight: bold">李林：财猫网创始人兼CEO</p>
                        <p>　　李林先生毕业于清华大学，获工科硕士学位。曾就职于甲骨文,2009年开始自主创业，先后创办过友易网、人人折团购搜索、火币网等多个互联网项目，拥有丰富的互联网从业以及管理经验。全面负责公司战略、团队组建、重要产品及投资者关系的规划。</p>
                        <p style="font-weight: bold">高耀华：财猫网联合创始人兼COO</p>
                        <p>　　高耀华先生毕业于清华大学，获工科硕士学位。曾就职于国信和中信证券，职级VP，统领TMT行业的研究工作并获得超额收益。高先生是CFA和FRM持证人，在《新财富》、《金融界》、汤森路透的全球最佳分析师评选中，均榜上有名。目前负责财猫网的运营。</p>
                        <p style="font-weight: bold">杜均：财猫网联合创始人兼CMO</p>
                        <p>　　杜均先生曾就职于康盛创想、腾讯，历任市场主管、运营主管、高级产品经理。在加入财猫之前是知名社区软件Discuz!的产品负责人，长期专注于社区产品与社会化营销的研究和探索。目前负责公司市场及客户关系等管理工作。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</#macro>