<#assign controller="JoinUs"/>
<#include 'layout/layout.html'/>
<#macro content>
    <div class="link-content content clearfix">
        <div class="grid1050">
            <div class="link-wrapper" style="width: 100%">
                <div class="link-wrapper-inner">
                    <h2>公告：<span id="noticeTitlePoint"></span></h2>

                    <div class="link-inner-info">
                        <div id="noticeContentPoint">

                        </div>

                        <p style="text-align:right;line-height:150%">
                            <span id="noticeSourcePoint"></span>
                        </p>
                        <p style="text-align:right;line-height:150%">
                            <span id="noticeCreatedPoint"></span>
                        </p>

                        <p>
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</#macro>