<#assign controller="Partners"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="company-intro.htm">公司简介</a></li>
                    <li><a href="company-culture.htm">企业文化</a></li>
                    <li><a href="manage-team.htm">管理团队</a></li>
                    <li><a href="platform-advantage.htm">平台优势</a></li>
                    <li><a href="company-qualification.htm">公司资质</a></li>
                    <li><a href="development-history.htm">发展历程</a></li>
                    <li><a href="join-us.htm">加入我们</a></li>
                    <li class="active"><a href="partners.htm">合作伙伴</a></li>
                    <li><a href="contact-us.htm">联系我们</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>合作伙伴</h2>
                    <div class="link-inner-info link-partners">
                        <#list partnerImgs as p>
	                       <a><img src="${dojoUrl}/app/resources/image/customize/${p}"></a>
                        </#list>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</#macro>