<#assign controller="PlatformAdvan"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="company-intro.htm">公司简介</a></li>
                    <li><a href="manage-team.htm">管理团队</a></li>
                    <li class="active"><a href="platform-advantage.htm">平台优势</a></li>
                    <li><a href="contact-us.htm">联系我们</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>平台优势</h2>
                    <div class="link-inner-info link-platform-advantage">
                        <p style="font-weight: bold">1、顶级的安全保障：</p>
                        <p>　　财猫网互联网理财平台构建了包括平台安全防护、账户安全防护、钱包安全防护、内控监管防护和国内顶级全职专业安全团队防护的全球领先的立体化防护体系，并成立了专业的法务和风控团队。</p>
                        <p style="font-weight: bold">2、专业的运营团队</p>
                        <p>　　财猫网拥有熟悉杠杆、交易和股票的运营专员，在流动性、操作以及法律风险的把控上有成熟的手段和丰富的经验。</p>
                        <p style="font-weight: bold">3、7*24小时优质客服</p>
                        <p>　　财猫网推行7*24小时人工客服制度。客服人员具有丰富的比特币交易平台用户运营经验，熟知股票和杠杆交易等专业知识。</p>
                        <p style="font-weight: bold">4、强大的资源配置</p>
                        <p>　　财猫网管理团队具有强大的资源整合能力，目前已与多家银行、信托等金融机构达成战略合作关系，保有资金雄厚，能为广大用户提供持续稳定的资金服务。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</#macro>