<!DOCTYPE html>
<html>
<head>
    <title>融资网借款协议</title>
    <style>
        .cm-right{float:right;}
    </style>
</head>
<body>
<div class="content">
    <div class="fin-contract-content">
        <p class="cm-right">编号：<i>&nbsp;&nbsp;</i></p>
        <h2>借款协议</h2>
        <p style="text-align:center;">本借款协议（下称“本协议”）由以下各方于<i>&nbsp;&nbsp;</i>年<i>&nbsp;</i>月<i>&nbsp;</i>日签署：</p>

        <p style=";margin-bottom:0;vertical-align:baseline">
            <h3>甲方（出借人）：</h3>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <h3>乙方（借款人）：</h3>
        </p>
        <p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left: 0;line-height:20px;background:white">
            <h3>丙方（居间人）：北京朋乐投资管理有限公司</h3>
        </p>
        <p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left: 0;line-height:20px;background:white">
            <span >地址：北京市海淀区上地三街9号嘉华大厦A座301</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <strong><span >鉴于：</span></strong>
        </p>
        <p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left: 0;text-indent:28px;line-height:20px;background:white">
            <span >1</span><span >、&nbsp;丙方是一家在北京市合法成立并有效存续的有限责任公司，旗下“财猫融资平台”（网站caimao.com即财猫网）能够提供信用咨询、借款撮合、借款用途受托监管等综合服务；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2</span><span >、 </span><span >甲方已在</span><span >财猫网</span><span >注册，并承诺其提供给丙方的信息是完全真实的；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3</span><span >、</span><span >乙方已在</span><span >财猫网</span><span >注册，并承诺其提供给丙方的信息是完全真实的；</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 30px;line-height:12px;vertical-align:baseline">
            <span >4</span><span >、乙方承诺其不是中国法律、法规禁止购买股票等有价证券的人士；</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 30px;line-height:12px;vertical-align:baseline">
            <span >5</span><span >、甲方承诺对本协议涉及的借款资金具有完全的支配权，是其自有资金，为其合法所得；</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 30px;line-height:12px;vertical-align:baseline">
            <span >6</span><span >、乙方承诺对本协议涉及的保证金具有完全的支配权，是其自有资金，为其合法所得；</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 30px;line-height:12px;vertical-align:baseline">
            <span >7</span><span >、乙方有借款需求，并完成财猫网的实名认证程序，甲方亦同意借款，双方有意成立借贷关系；&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 30px;line-height:12px;vertical-align:baseline">
            <span >8</span><span >、甲、乙双方在本协议签署之前已阅读并充分了解丙方放置在财猫网上的本协议版本。</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;line-height: 12px;vertical-align:baseline">
            <span >&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;text-indent: 28px;line-height:12px;vertical-align:baseline">
            <span >各方经友好协商一致，于乙方在财猫网平台上发布的融资借款计划满标时签订如下协议，共同遵照履行：</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;vertical-align:baseline">
            <h3>第一条&nbsp;借款</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.1</span><span >、甲方同意将其合法持有的资金人民币【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】元整（小写：￥【____】元）借给乙方。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.2</span><span >、本协议下的借款期限为：【____】年【____】月【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】日（以下简称</span><span >“</span><strong><span >起始日</span></strong><span >”</span><span >）起至【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】年【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】月【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】日（以下简称</span><span >“</span><strong><span >届满日</span></strong><span >”</span><span >）。借款期限本协议内又称“借款周期”。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.3</span><span >、本协议下的借款年利率为：【<span style=" font-size: 12px; line-height: 20px; text-indent: 28px; background-color: rgb(255, 255, 255);">____</span>】</span><span >%</span><span >，自起始日起计算利息。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.4</span><span >、乙方承诺本协议下的借款将仅用于投资在上海和深圳证券交易所（以下简称</span><span >“</span><strong><span >交易所</span></strong><span >”</span><span >）上市交易的有价证券，并只在与丙方协商确定的证券账户（下称“指定证券账户”）内操作，不挪作他用。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.5</span><span >、保证金及担保范围</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.5.1</span><span >、乙方了解并同意，乙方应按财猫网的规则及时支付保证金，</span><span >并及时补足保证金，如乙方交易账户亏损较为严重，且未及时补足保证金造成的账户损失，由乙方承担。</span><span >如乙方应冻结的保证金未能按时冻结或划入的，即使满标，乙方也无法使用甲方借款。且乙方仍应按本协议的约定向甲方支付利息。</span><span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.5.2</span><span >、</span><span >乙方保证金担保范围包括但不限于：借款金额的本息、滞纳金、违约金、损害赔偿金、诉讼费、保全费、公告费、律师费、调查费、公证费等为实现债权所发生的费用。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.5.3</span><span >、</span><span >如乙方未及时付清任一笔借款的本金、利息，丙方有权从该笔借款对应的证券账户内平仓出金或修改密码限制买卖，然后从该笔借款对应的保证金中直接收取拖欠的本金、利息，如果该笔借款保证金不足以支付的，丙方有权从乙方的其他借款保证金中抵扣，若仍然不足，甲方有权另行向乙方追索。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1.5.4</span><span >、</span><span >乙方授权甲方和丙方，如果乙方未能履行本协议约定的任何义务，甲方和丙方无论是否事先通知乙方，均可直接从乙方保证金中划扣乙方应付欠款。本授权委托在本协议法定诉讼时效内不可撤销。</span>
        </p>
        <p>
            <span style="background:white">&nbsp;</span>
        </p>
        <p style="margin: 5px 0;line-height: 20px">
            <span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;line-height: 20px">
        <h3>第二条&nbsp;指定证券账户资金监督和风险控制</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.1</span><span >、乙方承诺只将借款在指定证券账户内操作，并在获知交易密码后不得修改。如遇特殊情况，乙方须要修改交易密码，乙方应事先通知丙方。乙方不可撤销的委托丙方对于乙方证券操作的过程进行实时监督，在本协议约定的条件发生时并不可撤销的授权丙方有权直接进行证券操作，或是更改密码。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.2</span><span >、甲方不可撤销的委托丙方对于乙方证券操作的过程进行实时监督，代理甲方与乙方就操作过程中的所有突发情况进行磋商，并不可撤销的授权丙方有权直接进行证券操作，或是更改密码。甲方了解并同意，即使丙方接受了甲方的委托，丙方亦无法实际控制乙方的行为，丙方对甲方出借资金的安全及损失并不承担担保或其他任何责任。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.3</span><span >、丙方根据前述甲、乙双方的委托授权采取的全部行为，均对甲、乙双方具有拘束力，产生的法律后果由甲、乙双方承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.4</span><span >、乙方在借款期限内自行决定买卖交易所上市交易的证券，原则上应购买业绩优良、流通股本规模适度、流动性好的股票，且须遵守如下限制性规定：</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1) 不得购买或持有S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2) 不得购买或持有权证类可以T+0交易的证券；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3) 不得购买上市十个交易日内的新股,或复牌首日股票等当日不设涨跌停板限制的股票；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4) 不得购买或持有基金类产品（包含但不限于分级基金及ETF）；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >5) 账户单只股票持仓总市值不得超过账户总资产的60%；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6) 单只股票的市值不得超过流通总市值的5%；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7) 单只股票持仓总市值不得超过该股前5个交易日日均成交额的20%；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >8) 创业板股票持仓总市值不得超过账户总资产的50%；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >9) 对于证监会揭示有重大退市风险或者甲方认为存在退市风险的股票，甲方有权不经乙方允许，卖出股票。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >如按照收盘价计算，乙方在某一交易日违反第5、6、7、8条约定，则乙方须在下一个交易日上午10:00前自行调整至约定比例，否则丙方有权以任何可以成交的价格完全卖出违反本条约定之类别股票，乙方认可丙方的此项操作，乙方确认对因此带来的损失并承担完全的责任；如果乙方在某一交易日被动持有上述不得购买的证券，则乙方须在3个交易日内自行卖出，否则丙方有权以任何可以成交的价格对上述证券进行卖出，乙方认可丙方的此项操作，乙方确认对因此带来的损失并承担完全的责任。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >若乙方违反本条款下的任一限制性规定且不按前述条款的约定操作将构成根本性违约，甲、乙双方在此不可撤销的授权丙方有权卖出指定证券账户中的所有股票、按照本协议下述第三条和第四条的约定收回借款和利息，本协议解除。</span>
        </p>
        <p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left: 0;text-indent:28px;line-height:20px;background:white">
            <span style="font-size: 12px;font-family: &#39;Times New Roman&#39;, serif">2.5</span><span >、当证券账户内的资产总值低于借款时资产总额的115%（警戒线）时，乙方不可撤销得授权丙方有权对乙方账户进行限制，乙方只能减仓不得建仓，丙方有权将账户的持仓降至50%。当证券账户内的资产总值低于借款时资产总额的110%（平仓线）时，乙方不可撤销得授权丙方有权立即卖出质押账户内的股票，进行强制平仓。若乙方没有及时补足保证金至交易账户，乙方不可撤销得授权丙方有权将按照平仓线标准对乙方账户执行全部平仓。乙方被平仓后，须将保证金加至账户总市值达到警戒线以上方可重新操作。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.6</span><span >、</span> <span >当账户内某股票在某一交易日的全天成交金额低于500万元，且该股票持仓市值超过当日全天成交金额的30%，则乙方不可撤销得授权丙方有权利要求乙方在下一交易日上午10：00前将该股票市值降低至上一交易日该股票日成交金额的30%以内，或按照该股票持仓市值20%的金额追加额外保证金。该额外保证金留存在丙方相应账户内，不得用于购买股票。如该股票在连续5个交易日中每天的成交金额不低于500万元且满足本协议其他条款时，乙方不可撤销得授权丙方有权将于下一交易日将额外保证金无息退还给乙方。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.7</span><span >、各方同意在计算</span><span >“</span><span >警戒线</span><span >”</span><span >、</span><span >“</span><span >平仓线</span><span >”</span><span >金额时，按每个交易日实时价格计价，借款本金金额以外的部分全部视为保证金。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.8</span><span >、若乙方持有的股票当天出现跌幅达到【】%（即：距离跌停板为【】%）时，丙方有权是否选择卖出该股票。若乙方买入股票出现停牌时，乙方应立即另行筹措资金归还所借的甲方本金、应付利息及服务费等，乙方的筹款时间自股票停牌日起最长不得超过【】个交易日，且不得迟于届满日。本息还清且所有费用支付后，丙方即允许乙方仍可以通过指定证券账户进行股票交易，并积极协助乙方进行相关的资金划转，但丙方有权调低乙方在财猫网上的信用。对于停牌股票复牌后仍然无法卖出的损失，乙方应自行全部承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.9</span><span >、甲方、乙方确认并同意，任何原因（包括但不限于法律法规或政策禁止等原因）导致证券公司停止对接第三方公司的软件或系统，或出现第三方公司的软件或系统无法正常使用的情形，致使影响丙方对指定证券账户进行监督的，为保护甲方权益，即便指定证券账户内的股票未达平仓线，丙方有权卖出该证券账户内的所有股票，相应损失由乙方承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.10</span><span >、甲、乙双方了解并同意，虽有本协议约定的风险控制标准，但为保障借款本金的安全，丙方有权依据股市行情单方调整风险控制标准，调整后的风险控制标准将公布于财猫网。本协议约定的风险控制标准与最新公布于财猫网的风险控制标准不一致的，以最新公布的风险控制标准为准。丙方调整风险控制标准不代表丙方对风险的保证，也不代表对甲方本金安全提供保证。甲方充分了解借款风险。</span><strong><span >&nbsp;</span></strong>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.11</span><span >、</span><span >当乙方相应证券账户的总资产（包括现金和证券）达到总操盘资金的120%时，且账户内的现金部分大于盈利部分，乙方有权要求丙方将盈利部分转至乙方名下账户，每次需按1000的整数倍提取。特殊情况下，若当天出金申请较多，由于财务繁忙，乙方不可撤销的授权丙方有权提高出金门槛（按1万整数倍提取）。丙方应在收到乙方出金通知并成功执行出金操作的T+3日（自然日）内完成转账。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.12</span><span >、</span><span >当借款期限届满且乙方证券账户内的股票停牌时，系统默认期满自动续约，需保证账户资金足够系统扣除续约利息，若账户资金不够内扣，则乙方需在期满下一工作日下午13:00之前补充资金，系统自动扣取续约利息；若下一工作日下午13:00之前，账户资金仍不足扣取续约利息，则乙方同意乙方账户将被强制平仓；当借款期限届满且乙方证券账户内的股票未停牌时，如到期当天下午13:00之前乙方没有任何清户操作，13:00以后乙方同意乙方账户将被强制平仓。当对于当天买入的和跌停的股票，乙方不可撤销得授权丙方有权冻结账户。如遇特殊情况风控有权采取相应的风控措施。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2.13</span><span >、</span><span >乙方账户由于送股、配股等原因产生零股无法卖出，系合作机构账户权限设置问题的情况，此情况下乙方可联系丙方进行处理。</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;vertical-align:baseline">
            <strong>&nbsp;</strong>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;vertical-align:baseline">
        <h3>第三条&nbsp;利息支付</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3.1</span><span >、乙方将按下述约定支付利息：</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >（</span><span >1</span><span >）乙方应按月依本协议前述约定的利率计算利息，于甲方出借资金全额到账的当日开始计算。本协议内的“月”均指自然月，举例如借款周期为2015年2月18日起至2015年3月17日止即为借款期限为1个月。乙方按月借款且借款期限超过一个月的，除第一个月外，乙方应每月支付利息人民币总计【】元整（小写：￥【】元），支付时间为乙方满标之日当日一次性全部支付完毕。若届时任一自然月没有相同日期，则提前至该自然月的最后一天。乙方支付的利息统一先划入丙方资金账户，丙方负责于借款期限届满之日向甲方资金账户划入全部利息。甲方可以在财猫网查询应得的利息。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3.2</span><span >、</span><span >借款期限以本协议约定为准，乙方要求借款或清户需提前5天通知丙方，丙方再通知甲方。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3.3</span><span >、</span> <span >乙方不可撤销地同意并确认，若乙方未能如期支付利息，乙方同意于随后的第二个交易日划转出相当于应付利息的款项。乙方未按时操作的，在此授权丙方代为进行。乙方进一步确认，如果现金余额不足以支付应付利息，乙方不可撤销地授权丙方直接将证券账户内的股票平仓转帐，并按借款额度的 千分之一 按天收取滞纳金（如有非统一计息日，则分开计算）；如果丙方及委托单位在卖出股票品种收取利息、滞纳金后，证券账户内的总资产达到警戒线或平仓线的，按本协议警戒线、平仓线条款执行；由此造成平仓或损失等均由乙方自行承担，甲方和丙方不承担任何责任。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3.4</span><span >、</span> <span >在借款期内，无论任何原因，乙方未使用证券账户进行交易或造成股票账户不能进行交易的，乙方都应向甲方按本协议约定支付利息；借款期内乙方暂停使用交易账户或者终止协议的，利息不予退还。</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
        <h3>第四条&nbsp;本金偿还</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.1</span><span >、届满日当日，乙方应偿还全部本金。但如果届满日当日非交易日，乙方同意将提前至上一个交易日还款。届满日当日，乙方应确保指定证券账户内的所有资产为货币资金；本协议项下的借款资金丙方将于正常计算的届满日的第二天（不因交易日提前而提前）划至甲方资金账户中，扣除借款本金后的余额划入乙方资金账户中。如前述货币资金不足以支付借款本金，乙方应在届满日向甲方补足并支付至甲方资金账户中。如乙方未能足额补足差额，甲方有权向乙方追偿。</span><span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.2</span><span >、若届满日指定证券账户里除货币资金以外仍有证券资产，乙方不可撤销的授权丙方有权于当日卖出所有证券资产并修改交易密码；卖出后的资金将按照前述4.1款的约定履行还款事宜。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.3</span><span >、若前述证券资产在届满日仍未能卖出且证券账户内剩余的货币资金不足以支付甲方借款本金，乙方应将差额于届满日补足并支付到甲方资金账户中。如乙方未能足额补足差额，且前述证券资产卖出后所得货币资金亦不足以补足差额，甲方或丙方有权向乙方追偿。 </span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.4</span><span >、甲方了解并同意，乙方有权在借款期间内提前还款并终止合同。乙方提前清偿借款时，已支付的全部利息不予返还。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.5</span><span >、乙方同意，乙方如丧失民事行为能力的，自乙方民事行为能力丧失时起，本协议项下的借款自动提前到期并本合同终止。但丙方仅有义务自知悉该信息时配合进行指定证券账户内的证券及现金资产处理及本协议项下的债务清偿事宜，即丙方自知悉该信息时有权尽早卖出乙方指定证券账户内的所有证券并修改交易密码；卖出后的资金将按照前述4.1款的约定履行还款事宜。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.6</span><span >、乙方承诺并同意，甲方对乙方财猫网账户内的全部资金（包括乙方指定证券账户内的全部资产），本协议项下的债务享有最优先受偿权。乙方并同意甲方有权将其债权转让给丙方。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.7</span><span >、借款期满或本协议终止，甲方如未能全部收回其借款本金及利息，有权向乙方追偿，乙方除归还甲方全部借款和支付利息外，还应从借款期满之日起按借款本金的千分之一每日支付利息至丙方指定银行账户。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.8</span><span >、</span> <span >本协议因任何原因终止时，乙方应将甲方的借款本金归还给甲方，并不再使用相应的证券账户进行股票交易。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4.9</span><span >、</span> <span >甲乙任一方若对资金划转有异议，以丙方指定银行账户的账单为准。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <br/>
        </p>
        <p style=";margin-bottom:0;line-height:12px;vertical-align: baseline">
            <h3>第五条&nbsp;甲方的权利和义务</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >5.1</span><span >、甲方有权按照本协议约定，享有其所出借款项所带来的利息收益。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >52</span><span >、如乙方违约，甲方要求丙方提供其已获得的乙方信息，丙方应当提供。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >5.3</span><span >、甲方应主动缴纳由利息所得产生的可能的税费。</span><span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >5.4</span><span >、甲方应遵守财猫网的规定，包括但不限于保证借款款项的合法性，并确保其提供信息和资料的真实性，不提供虚假信息或隐瞒重要事实。</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <h3>第六条&nbsp;乙方的权利和义务</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.1</span><span >、乙方须按照本协议约定，按期足额向甲方偿还本金和利息。乙方须按照本协议约定，按期足额向丙方支付服务费。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.2</span><span >、乙方有权按照本协议约定，对届满日证券账户内超过借款本金之外的投资收益享有收益权。</span><span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.3</span><span >、乙方承诺所借款项不用于任何违法用途，仅限于投资在上海和深圳证券交易所上市交易的有价证券，并严格本协议约定及丙方网站列明的规则和要求，进行证券交易。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.4</span><span >、乙方应确保其提供的信息和资料的真实性，不得提供虚假信息或隐瞒重要事实。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.5</span><span >、乙方不得将本协议项下的任何权利义务转让给任何其他方。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.6</span><span >、如乙方任一证券账户内的所有股票出售（即清盘）后，还不足以归还该笔借款本金金额，乙方必须在清盘后三日内将亏损额补足归还给甲方，否则乙方不可撤销的授权丙方从乙方进行交易的其他证券账户中扣除相应金额。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.7</span><span >、乙方无权更改证券账户的交易密码，乙方擅自更改交易密码的视作严重违约。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.8</span><span >、乙方不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易，如有任一次上述交易行为，应分别支付给甲方和丙方其借款额各</span><span >10%</span><span >的违约金，并直接从保证金中扣除，因此产生的一切责任和损失，由乙方承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.9</span><span >、</span> <span >如因甲方原因导致甲方账户</span><span >(</span><span >被依法采取查封、冻结、划拨等强制措施，甲方应自账户被依法处置之日起按借款本金的千分之一每日支付违约金给乙方，如违约金不足以弥补给乙方造成的损失，甲方还应承担赔偿责任。借款期满账户仍未解除强制措施的</span><span >,</span><span >本协议自动终止</span><span >,</span><span >乙方有权获得其已支付的全部利息的退还和应提取盈利退的还且甲方应并按约定支付违约金。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.10</span><span >、乙方在本协议执行期间不能要求退还保证金；在</span><span >7.9</span><span >条约定的情况下本协议自动终止时也不能退还保证金，直到甲方账户解除强制措施时方能退还。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.11</span><span >、股票交易费用由乙方承担：</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >1</span><span >）所有费用均以交易总额为基数计算；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >2</span><span >）印花税按照国家标准，由证券公司在客户交易时直接代扣代缴；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >3</span><span >）交易佣金由证券公司在交易时扣收；</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >4</span><span >）因买入金额过少（单笔</span><span >2</span><span >万以下）造成实际佣金与券商注明佣金有微小差别（最少</span><span >10</span><span >元），乙方表示无异议（乙方指定开户的由乙方自行承担佣金）。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.12</span><span >、如账户内持仓股票有配股权利的，在配股公告发出2个交易日内，乙方应挪出可用资金购买配股或者把该股票卖出。如果乙方未执行，乙方不可撤销得授权丙方有权以任何价格卖出该股票，如出现亏损由乙方自行承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.13</span><span >、</span> <span >本协议因任何原因终止时，乙方应将甲方的借款本金和全部利息归还给甲方，并不再使用相应证券账户进行交易。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >6.14</span><span >、乙方一次性提现200万以上资金，需提前至少3天（自然日）通知丙方。丙方会在收到乙方出金通知后的T+3日（自然日）内完成转账。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
        <h3>第七条&nbsp;丙方的权利和义务</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.1</span><span >、丙方仅向甲、乙双方提供辅助服务。甲、乙双方任一方违反承诺或约定，包括但不限于资金来源不正当等，所导致的任何后果均该违约方承担。丙方对因任一方的资金来源不正当等违约行为所导致的任何后果不承担任何法律责任。对按本协议约定丙方需协助监督的行为，丙方需尽力完成。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.2</span><span >、因乙方、甲方或其他方（包括但不限于市场、网络、第三方过错、第三方系统或第三方技术等问题）造成的延误或错误，从而产生的法律后果和（或）经济损失等，丙方不承担任何责任。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.3</span><span >、丙方应对甲方和乙方的信息及本协议内容保密，但相关权力部门要求披露（包括但不限于法院、仲裁机构、金融监管机构等）的除外。如任何一方违反本协议约定，另一方请求披露时，丙方有权披露。甲方、乙方均确认并同意，如本款约定与财猫网服务协议约定不一致的，则丙方有权按照财猫网服务协议的约定对甲方和乙方的信息进行披露或使用。</span><span >&nbsp;</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.4</span><span >、甲、乙双方一致同意，在丙方认为必要时，丙方有权代甲方对乙方进行关于本协议借款的违约提醒及催收工作，包括但不限于：电话通知、上门催收提醒、发律师函、对乙方提起诉讼等。甲方在此确认委托丙方为其进行以上工作，并授权丙方可以将此工作委托给本协议外的其他方进行。乙方对前述委托的提醒、催收事项已明确知晓，并承担因此产生的费用。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.5</span><span >、为保护甲方和（或）乙方的权益，或遵从法律法规或政策的要求等，丙方有权利单方修改本协议模版，并就协议的修改在网站上发出尽量明显的通知（或短信通知乙方）。甲方、乙方在每次投资</span><span >/</span><span >借款前，应仔细查看协议条款和借款条件等。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.6</span><span >、丙方有权监管乙方证券账户的运作，对乙方进行账户管理和风险控制。对于证监会揭示有重大退市风险或者丙方认为存在退市风险的股票，丙方有权不经乙方允许，卖出股票。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.7</span><span >、如乙方所购股票因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券停牌，为保护双方利益，乙方不可撤销的授权丙方要求乙方最早于停牌第二天上午10点前追加停牌股票市值的一定比例作为停牌股票的保证金的权利，追加的保证金最高可占该股票市值的30%。若乙方拒不追加停牌股票保证金，乙方不可撤销的授权丙方收回账户，复牌后股票上涨盈利归丙方所有，与乙方无关；复牌后下跌造成损失从乙方自有保证金中扣除，丙方同意穿仓部分由丙方独立承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >7.8</span><span >、如乙方所购股票因异常波动、上市公司涉嫌违规需要进行调查以及突发性事件或不可抗力等原因导致该证券连续停牌达到</span><span > 7</span><span >个交易日或者连续跌停板导致平仓无法实现，且占总市值</span><span >50%</span><span >以上，乙方须即时将账户内其它证券平仓，所得款项连同账户资金一并用于清偿甲方债权，不足部分由乙方自有资金偿还。同时，该证券复牌后或者连续跌停板打开且平仓可以实现时，如乙方仍有未清偿的债务，则丙方不可撤销得授权丙方直接将该证券平仓用于清偿乙方所欠甲方的债务，剩余部分返还至乙方指定账户内。当乙方所欠甲方的债务全部清偿完毕，则甲方不再收取乙方的借款利息和逾期违约金。</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <h3>第八条&nbsp;违约责任</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >8.1</span><span >、协议各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >8.2</span><span >、任何一方违约，违约方应承担因违约而产生的赔偿责任并承担其余其他各方因违约而产生的其他费用和损失，包括但不限于调查、诉讼费、律师费等。如违约方为乙方的，甲方有权立即解除本协议，并要求乙方立即偿还未偿还的本金、利息、罚息、违约金。</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <h3>第九条&nbsp;法律及争议解决</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >本协议的效力、履行、终止、解释均适用中华人民共和国法律。因本协议产生的任何争议，本协议任何一方均有权向丙方所在地有管辖法院提起诉讼解决。</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
            <span style="font-family:&#39;Times New Roman&#39;,&#39;serif&#39;">&nbsp;</span>
        </p>
        <p style=";margin-bottom:0;vertical-align:baseline">
        <h3>第十条&nbsp;协议生效、终止和续签</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >10.1</span><span >、本协议经甲方和乙方签字之日起生效，因借款期满、约定自动终止情形出现任一方依法依约解除本协议及双方协商一致解除本协议而终止，本协议的任一笔借款未到期的，本协议效力延续至借款到期止。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >10.2</span><span >、在本协议执行期间，如遇到乙方操作的任一证券账户总市值低于平仓线时，乙方不可撤销得授权丙方有权立即卖出该证券账户内的股票，视为强制平仓，乙方尊重并理解丙方行为，不存在异议。本协议于丙方将股票完全变现后自动终止。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >10.3</span><span >、如甲方擅自提前收回任一笔出借资金的，应将乙方已支付的相应利息退还乙方，甲方还需支付 1个月利息作为违约金给乙方（本协议借款期限为一个月的无违约金）；若因乙方原因使一笔借款不能期满的（包括乙方低于平仓线被甲方强平），已经支付的全部利息不予退还。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >10.4</span><span >、如因证券公司政策原因，股证券账户无法正常继续使用，本协议自动终止，甲乙丙三方互不追究违约责任，按本协议第三条、第四条约定进行还款和结算。如因到期有移仓需求，乙方不可撤销的授权丙方有权对乙方账户进行强制平仓并转移账户。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >10.5</span><span >、乙方违法违规进行股票操作或乙方有严重违约行为的，甲方有权立即解除本协议，并授权丙方平仓锁定账户，收回本金，已支付利息不退还给乙方，乙方还需按</span><span > 1 </span><span >个月额外利息作为违约金分别给甲方和丙方，在确定不会给甲方或丙方造成损失的前提下，向乙方退回剩余保证金。若乙方该行为导致甲方账户持有人或丙方被处罚而造成的一切损失，均由乙方负责。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;line-height: 12px;vertical-align:baseline">
            <span style="font-size:12px;font-family:&#39;Arial&#39;,&#39;sans-serif&#39;">&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style=";margin-bottom:0;line-height: 12px;vertical-align:baseline">
            <h3>第十一条&nbsp;附则</h3>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >11.1</span><span >、甲、乙双方在此确认根据本协议或在本协议项下甲、乙双方仅是借贷双方的法律关系，在任何情况下均不得解释为甲方委托乙方进行投资或者理财、甲方和乙方共同、联合或是合伙投资的行为或者法律关系。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >11.2</span><span >、本协议由各当事人在线签署，采用电子文本形式制成，并保存在丙方为此设立的专用服务器上备查，各方均认可该形式的协议效力。本协议的保存期间自生效日起不少于</span><span >5</span><span >年。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >11.3</span><span >、本协议自满标时生效，有效期截至乙方借款本息和服务费全部清偿之日。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >11.4</span><span >、本协议生效日起至乙方借款全部本息和服务费清偿之日止，乙方或甲方有义务在下列信息变更后三日内提供更新后的信息给丙方：本人、本人的家庭联系人及紧急联系人、工作单位、居住地址、住所电话、手机号码、电子邮箱、银行账户。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >11.5</span><span >、本协议的任何条款或该条款对任何人或情形适用时被认定无效，其余条款或该条款对其他人或情形适用时的有效性并不受影响，依然有效。</span>
        </p>
        <p style="margin: 5px 0;text-indent: 28px;line-height: 20px">
            <span >&nbsp;</span>
        </p>
        <p>
            <br/>
        </p>
    </div>
</div>
</body>
</html>
