<!DOCTYPE html>
<html>
<head>
    <title>融资网注册协议</title>
    <style>
        .cm-right{float:right;}
    </style>
</head>
<body>
    <div class="content">
        <div class="fin-contract-content">
            <h2>融资网注册协议</h2>
            <h3>特别提示：</h3>
            <p>欢迎使用财猫网为您提供的各项服务。</p>
            <p>财猫网旨在为用户提供优质互联网金融服务，基于财猫团队在互联网及金融行业的丰富经验，财猫网可为用户提供高效、优质的信息支持、资金监管、风险控制等互联网金融服务。</p>
            <p>在您使用财猫网提供的各项服务前，请您务必仔细阅读《财猫网用户协议》（下称“本协议”），充分理解本协议各条款内容。如您对本协议有任何疑问，您可直接拨打财猫网客服电话进行咨询。</p>
            <h3>一、协议说明</h3>
            <p>1、本协议所称财猫网，包括财猫网（域名为www.caimao.com）网站、财猫客户端、微信平台财猫官方账号等。</p>
            <p>2、您访问和使用财猫网，一经勾选“阅读并同意《财猫网用户协议》”，即表示您已充分阅读、理解并接受本协议全部内容，与财猫网达成一致，成为财猫网用户；您与财猫网间的权利义务关系，受本协议各条款约束。</p>
            <p>3、您与财猫网间的协议内容除本协议正文外，还包括各项财猫网规则。各项财猫网规则是本协议不可分割的组成部分，与本协议正文具有同等法律效力。</p>
            <p>本协议所称财猫网规则，是指财猫网上已经发布及后续发布的全部规则、实施细则、产品（服务）流程说明、解读、公告、通知等。</p>
            <p>4、财猫网根据需要，有权修改本协议或财猫网规则。相关修订内容将通过财猫网进行公告，届时不再另行单独通知您。本协议或财猫网规则修改后，如您继续访问和使用财猫网，即视为您已阅读、理解并接受相关修订内容。</p>
            <h3>二、账户注册</h3>
            <p>1、在您注册成为财猫网用户、访问使用财猫网服务前，您应为符合中华人民共和国法律法规规定的完全民事行为能力人。如您不具备完全民事行为能力，您及您的监护人应承担因此产生的全部法律后果。</p>
            <p>2、您有义务确保您向财猫网提供信息的真实、准确、完整性。财猫网对您提供信息的真实、准确、完整性无审核义务。因您未如实、合法、完整提供信息造成的后果，由您自行承担，与财猫网无关。</p>
            <p>3、请您务必按照财猫网注册页面的提示，真实、准确、完整的填写信息，阅读并同意《财猫网用户协议》。完成前述行为后，您可获得财猫网账户，成为财猫网用户。</p>
            <p>4、您在财猫网的账户名称、密码及信息均为您自行设置，您应对您财猫网账户项下的所有行为结果负责。</p>
            <h3>三、账户使用</h3>
            <p>1、您财猫网账户仅限您个人使用，请您务必妥善保管好您财猫网账户、密码及相关信息。请勿将您财猫网账户转让或借予他人使用。因黑客行为，或因您疏忽保管财猫网账户导致被他人非法使用，或您将财猫网账户转让、借予他人使用产生的全部后果，由您自行承担，与财猫网无关。</p>
            <p>2、您承诺合理、合法使用财猫网账户，不以任何方式利用财猫网从事有违中华人民共和国法律法规及社会公德的活动。否则财猫网有权终止对您的服务（包括但不限于删除违法违规内容、注销账户等），由此产生的后果由您自行承担，与财猫网无关。</p>
            <p>3、为保障财猫网正常有序运行，财猫网有权对您访问、使用财猫网的活动进行管理和监督。如您有违反本协议或财猫网规则的行为，财猫网有权根据本协议及财猫网规则对您作出相应处理（包括但不限于中断或终止对您提供服务），由此产生的后果由您自行承担，与财猫网无关。</p>
            <h3>四、用户授权</h3>
            <p>您同意财猫网以短信、微信、电子邮件、网站（客户端）消息推送等方式向您发送产品（服务）及相关商业信息。</p>
            <h3>五、隐私保护</h3>
            <p>财猫网尊重并保护您的隐私。财猫网承诺，除以下情况外，不对外公开或向第三方披露您的注册资料及您在访问、使用财猫网时存储在财猫网上的非公开信息：</p>
            <p>1、获得您明确授权；</p>
            <p>2、依法律法规或应司法、行政部门要求，向第三人或司法、行政部门披露。</p>
            <h3>六、协议变更及终止</h3>
            <p>1、您同意，财猫网有权随时变更、中断、终止为您提供的部分或全部服务；在变更、中断、终止部分或全部服务前，无须事先通知您或征得您的同意；且财猫网无须为此向您或任何第三方承担任何责任。</p>
            <p>2、如有以下情况，财猫网有权以注销（永久冻结）账户的方式终止与您的协议：</p>
            <ul>
                <li>1)您提供的手机号码、电子邮件地址不存在，或财猫网无法与您取得联系的；</li>
                <li>2)您向财猫网提供的信息不真实或不准确或不完整的；</li>
                <li>3)本协议及财猫网规则变更时，您明确通知财猫网不接受修订协议及规则的；</li>
                <li>4)其他财猫网认为应当终止服务的情况。</li>
            </ul>
            <h3>七、通知</h3>
            <p>您应确保您提供给财猫网的联系方式（手机号码、电子邮件地址）是能有效与您取得联系的。财猫网在服务过程中，将通过发送短信、电子邮件等方式向您送达各类通知。因您未提供正确、真实、有效的联系方式造成的后果，由您自行承担，与财猫网无关。</p>
            <h3>八、免责声明</h3>
            <p>1、您理解，股市有风险，入市应谨慎，您应对您的投资选择负责。</p>
            <p>2、财猫网不保证财猫网上有关行情分析、市场评析等内容的正确性和适用性。</p>
            <p>3、因网络服务特殊性，财猫团队需要定期或不定期对财猫网进行更新、检修或维护，因此产生服务变更、中断，财猫网不承担任何责任。</p>
            <p>4、财猫网上可能会存在其他互联网网站或资源链接，是否使用该类网站或资源链接由您自行判断；财猫网不保证该类网站或资源链接的适用性，对因使用该类网站或资源链接产生的后果，由您自行承担。</p>
            <p>5、您在财猫网上发表的内容仅代表您个人的立场与观点，您应对您所发表的内容负责。因您所发表的内容引发的后果，由您自行承担，与财猫网无关。</p>
            <h3>九、法律适用及管辖</h3>
            <p>1、本协议适用中华人民共和国大陆地区法律。</p>
            <p>2、因本协议履行过程中产生的诉讼，由北京朋乐投资管理有限公司所在地人民法院管辖。</p>
        </div>
    </div>
</body>
</html>
