<#assign controller="WebSecurity"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li class="active"><a href="security.htm">安全保障</a></li>
                    <li><a href="shareholder.htm">股东背景</a></li>
                    <li><a href="safeguards.htm">保障措施</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>安全保障</h2>

                    <div class="link-inner-info security-content">
                        <p style="font-weight: bold;">公司资质实力保障</p>
                        <p>XXXXXX</p>
                        <br />

                        <p style="font-weight: bold;">专业团队信心保障</p>
                        <p>财猫网以普惠金融的梦想及互联网金融创新的基因凝聚了一批充满阳光、活力和进取精神的金融、运营、互联网技术精英，他们是金融创新未来的筑梦者，也是脚踏实地的践行者。财猫网成立至今，牢记自律和诚信的生存根本，在行业中辛苦耕耘，业绩逐月攀升，业务不断拓展，已达相当规摸，优势渐显。</p>
                        <br />

                        <p style="font-weight: bold;">银行监管资金安全</p>
                        <p>财猫网把客户的利益放在首位，对客户的每一笔投资，都进行专业、严格的风控管理。目前我方按照“专户专款专用"的标准模式对客户交易资金进行保管运作，因此客户在财猫网的交易资金是可以完全放心的。</p>
                        <br />

                        <p style="font-weight: bold;">严格的风控体系</p>
                        <p>以银行监管资金，以券商监管交易，财猫网控制风险，并设置警戒线和平仓线，让客户及早的预知风险，严格按照警戒线和平仓线为客户做好风险管理。</p>
                        <br />

                        <p style="font-weight: bold;">线上信息安全保障</p>
                        <p>强大的技术运营团队、独立研发的平台系统、科学严格的权限管理及银行级数据灾备系统保障用户线上的账户信息以及交易记录信息的绝对安全，为用户资金及个人信息提供360度无死角的信息安全保障。同时我方还拥有完善的安全监测系统，可以及时发现网站的异常并及时作出反应。 我方会严格遵守国家相关的法律法规，保护用户的隐私信息。未经您同意，我方不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。</p>
                        <br />

                        <p style="font-weight: bold;">政策法规保障</p>
                        <p>
                            <img src="/app/resources/image/customize/aqbz1.png" />
                            <img src="/app/resources/image/customize/aqbz2.png" />
                            <img src="/app/resources/image/customize/aqbz3.png" />
                        </p>
                        <br />

                    </div>
                </div>
            </div>
        </div>

    </div>
</#macro>