<#assign controller="shareholder"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="link-content content clearfix">
        <div class="grid1050">
            <div class="l-sidebar">
                <ul>
                    <li><a href="security.htm">安全保障</a></li>
                    <li class="active"><a href="shareholder.htm">股东背景</a></li>
                    <li><a href="safeguards.htm">保障措施</a></li>
                </ul>

            </div>
            <div class="link-wrapper">
                <div class="link-wrapper-inner">
                    <h2>强大的股东背景</h2>

                    <div class="link-inner-info">
                        <p>内容待定</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</#macro>