<!-- <#assign controller="WebSecurity"/> -->
<#include 'layout/layout.html'/>
<#macro content>

<div class="banner-download">
<div class="fullSlide">
<div class="bd2">
<div class="sign-download">
<h1>交易软件下载</h1>
<p class="info">iPhone版 V1.3.4</p>
<p class="btn"><a class="btn-dl btn-iphone"></a></p>
<p class="info">Android版 V1.3.4</p>
<p class="btn"><a class="btn-dl btn-android"></a></p>
<p class="ewm-android"><img src="${dojoUrl}/app/resources/image/common/and_zs.png"/></p>
</div>
</div>
</div>
</div>
<!--下载banner  end--> 

<div class="grid-1050">
<!--详情下载-->
<!--内容-->
<div class="con-frame con-frame-nospacing">
<ul class="list-productFeature">
<li class="list-productFeature-item">
<div class="productFeature-part cm-left"><span class="productFeature-img productFeature-img01"></span></div>
<div class="productFeature-part cm-right">
<p class="font-color-blue">下载HOMS客户端</p>
<p class="font-color-gray">下载地址：<a href="http://www.ihoms.com/www/download.do" target="_blank">http://www.ihoms.com/www/download.do</a></p>
</div>
</li>

<li class="list-productFeature-item">
<div class="productFeature-part cm-left">
<p class="font-color-blue">《恒生电子》专业股票交易软件</p>
<p class="font-color-gray">完美同步PC端功能，让您在路上，在旅途中一样轻松快捷的操作</p>
<p class="font-color-gray">登入软件时需输入密码，操作时需输入密码，安全可靠</p>
<p class="font-color-gray">您的账号在异地登入时，会自动锁定，需手机验证解锁</p>
</div>
<div class="productFeature-part cm-right"><span class="productFeature-img productFeature-img01"></span></div>
</li>


</ul>
</div>
<!--内容-->
<!--下载详情end-->
</div>

</#macro>