<div class="money-transfer-wrapper">
    <div class="money-transfer-inner">
        <table class="money-transfer-step2">
            <tbody><tr>
                <th><em>操作员编号：</em></th>
                <td>
                    <em class="mt-num-x" data-dojo-attach-point="numNode"></em><span style="padding-left: 10px;" data-dojo-attach-point="prodNode"></span>
                </td> 
            </tr>
            <tr>
                <th><em>可用余额：</em></th>
                <td>
                    <em class="mt-num-xl" data-dojo-attach-point="enableAmountNode"></em>元
                </td>
            </tr>
            <tr>
                <th><em>转入金额：</em></th>
                <td>
                    <em class="mt-num-xxl am-ft-red" style="color:#ca2e35;" data-dojo-attach-point="amountNode"></em><em class="am-left-10 am-right-10">元</em>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <div data-dojo-attach-point="prevNode"></div>
                    <div data-dojo-attach-point="confirmNode"></div>
                </td>
            </tr>
            </tbody></table>

    </div>
</div>