.topline2{position:relative;z-index:10;overflow:hidden}
.topline2 .popNotice{top:-99999px;border:1px solid #d0d0d0;border-top:0 none;position:absolute;width:720px;background:#fff}
.topline2 .noticeBtn{padding:0 5px;cursor:pointer}
.noticeOpen{overflow:visible}
.noticeOpen .popNotice{right:80px;top:30px}
.popNotice{color:#666}
.popNotice .bold{font-weight:700}
.popNotice .orange{color:#eb4636}
.popNotice .black{color:#000}
.popNotice .noticeHead{height:44px;line-height:44px;border-bottom:1px solid #d0d0d0;overflow:hidden;padding:0 14px 0 20px}
.popNotice dt{float:left;font-size:14px}
.popNotice dd{float:right}
.popNotice .noticeBody{max-height:440px;overflow:auto}
.popNotice .noticeBody dd{font:14px/44px arial;color:#999}
.popNotice .noticeBody dt a{font-weight:700;margin:0 10px}
.popNotice .noticeBody dt i{color:#999;font:14px/38px arial;height:44px;display:inline-block;vertical-align:middle;margin-right:10px}
.popNotice .noticeBody dl{padding:0 15px 0 28px;overflow:hidden;height:44px;line-height:44px;color:#000}
.popNotice .noticeBody dl:nth-child(odd){background:#f6f7fb}
.popNotice .noticeBody dl:hover{background:#e8e8e8}
.popNotice .noticeBody dl.unread em{font-weight:700}
.popNotice .noticeBody dl.unread i{color:#eb4636}
.popNotice .noticeBody p{font-size:18px;text-align:center;padding:15px 0;background:#f6f7fb}
.popNotice .pagination{display:block;text-align:center;padding:20px 0}