<!doctype html>
<html style="overflow: hidden">
<head>
    <meta charset="utf-8">
    <title>财猫-下载</title>
    <link href="../style/page/page.css" rel="stylesheet">
    <!--<link href="../style/page/downloading.css" rel="stylesheet">-->
    <script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/scrollPage.js"></script>
    <script>
        $(function(){
            $(".section4").height($(window).height()-167);
            $(".func_area").height($(window).height()*4);
            $(document).scrollTop(0);
            scrollInit.tance=15;
            scrollInit($(".section"))
        })
    </script>
</head>

<body style="overflow:hidden">

<div class="func_area">
    <div class="section">
        <div id="top">
            <div class="w top_in">
                <div class="f_l">您好！欢迎来到财猫网！</div>
                <div class="f_r right">
                    <span class="plr_10"><a href="">登录</a></span><s>|</s>
                    <span class="plr_10"><a href="">注册</a></span><s>|</s>
                    <span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
                    <span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
                    <span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
                </div>
            </div>
        </div>
        <!--头部-->
        <div id="header">
            <div class="w header_in">
                <div class="f_l left">
                    <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
                </div>
                <div class="f_r right">
                    <ul>
                        <li><a href="#">首页 <b></b></a></li>
                        <li><a href="#">交易<b></b></a></li>
                        <li><a href="#">融资<b></b></a></li>
                        <li><a class="hov" href="#">账户<b></b></a></li>
                        <li><a href="#">投资<b></b></a></li>
                        <li><a href="#">下载 <i class="icons icon_nav_new"></i> <b></b></a></li>
                        <li><a href="#">新手引导<b></b></a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="section1"  style="height:955px;">
            <div class="con">
                <img class="p_t_30" src="../../img/images/secton_01.png" alt=""/>
            </div>
        </div>

    </div>

    <div class="section section2" style="height:987px;">
        <div class="con">
            <img class="p_t_40" src="../../img/images/section_02_01.png" alt=""/>
            <img src="../../img/images/section_02_02.png" alt="" usemap="#Map2" class="p_t_30"/>
            <map name="Map2">
                <area shape="rect" coords="0,0,187,50" href="#">
                <area shape="rect" coords="223,2,425,51" href="#">
            </map>
        </div>
    </div>

    <div class="section section3" style="height:976px;">
        <div class="con">
            <img class="p_t_70" src="../../img/images/section_03_01.png" alt=""/>
            
                <img src="../../img/images/section_03_02.png" alt="" usemap="#Map3" class="p_t_30"/>
                <map name="Map3">
                  <area shape="rect" coords="1,1,275,57" href="#">   <!--32位-->
                  <area shape="rect" coords="287,3,551,51" href="#"> <!--64位-->
                </map>
        </div>
    </div>

    <div class="section" style="height:1072px;">
        <div class="section4">
            <div class="bg4">
                <img src="../../img/images/section_04.png" alt="" usemap="#Map"/>
                <map name="Map">
                    <area shape="rect" coords="22,130,319,196" href="#">
                    <area shape="rect" coords="108,206,237,234" href="#">
                    <area shape="rect" coords="0,461,150,499" href="#">
                    <area shape="rect" coords="192,460,352,498" href="#">
                </map>
            </div>
        </div>
        <!--底部-->
        <div id="footer">
            <div class="w">
                <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
                <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
                <p class="server2">
                    <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
                    <a href="#"><i class="icons icon_weibo_b"> </i></a>
                </p>
                <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
            </div>
        </div>
    </div>
</div>


</body>

</html>
