<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财猫前端页面</title>
    <style>
        body,html,dl,dt,dd,h2{
            padding:0;margin:0;
        }
        div{
           padding: 20px;
            font-size: 12px;
        }
       dl{
         float: left;
         padding-right:60px;
         line-height: 30px;
          margin-top: 10px;
         }
        dl  dt{
         color: #3e3e3e;
        }
        a{
            color:#1686CC;
            text-decoration: none;
        }
        a:hover{
            color:#f00;
        }
    </style>
</head>
<base target="_blank">
<body>

<div>
    <h2>财猫前端页面</h2>
    <dl>
        <dt>首页&二级页布局</dt>
        <dd><a href="home.html">首页.jpg -> home.html</a></dd>
        <dd><a href="page.html">列表页布局</a></dd>
        <dd><a href="lead.html">新手引导</a></dd>
    </dl>
    <dl>

        <dt>登录注册相关</dt>
        <dd><a href="login.html">登录</a></dd>
        <dd><a href="sign.html">注册</a></dd>
        <dd><a href="set_password.html">找回密码</a></dd>
        <dd><a href="downloading.html">下载</a></dd>
    </dl>
    <dl>

        <dt>融资</dt>
        <dd><a href="p.html">融资.jpg -> p.html</a></dd>
        <dd><a href="p2.html">融资2.jpg -> p2.html</a></dd>
        <dd><a href="p3.html">融资3.jpg -> p3.html</a></dd>
        <dd><a href="p_month.html">融资4.jpg -> p_month.html</a></dd>
        <dd><a href="p_mine.html">我的融资(当前合约).jpg -> p_mine.html</a></dd>
        <dd><a href="p_history.html">我的融资(历史合约).jpg -> p_history.html</a></dd>
        <dd><a href="p_apply.html">我的融资(我的申请).jpg -> p_apply.html</a></dd>

    </dl>
    <dl>
        <dt>充值&账户相关</dt>
        <dd><a href="message.html">个人资料.jpg -> message.html</a></dd>
        <dd><a href="account.html">账户.jpg -> account.html</a></dd>
        <dd><a href="recharge.html">账户充值.jpg -> recharge.html</a></dd>
        <dd><a href="card.html">账户提现银行卡.jpg -> card.html</a></dd>
        <dd><a href="fund.html">账户(资金明细).jpg -> fund.html</a></dd>
        <dd><a href="record_recharge.html">账户(充值记录).jpg -> record_recharge.html</a></dd>
        <dd><a href="record_withdraw.html">账户(提现记录).jpg -> record_withdraw.html</a></dd>
        <dd><a href="safe.html">账户安全.jpg ->safe.html</a></dd>
    </dl>
    <dl>
        <dt>推广赚钱</dt>
        <dd><a href="promotion.html">推广赚钱-推广详情.jpg -> promotion.html</a></dd>
        <dd><a href="record_convert.html">推广赚钱-兑换记录.jpg -> record_convert.html</a></dd>
        <dd><a href="record_discount.html">推广赚钱-返佣记录.jpg -> record_discount.html</a></dd>
        <dd><a href="record_user.html">推广赚钱-推广用户.jpg -> record_user.html</a></dd>
    </dl>
    <dl>
        <dt>投资</dt>
        <dd><a href="my_invest.html">投资（我的投资）.jpg -> my_invest.html</a></dd>
        <dd><a href="p2p.html">投资（开始投资）.jpg -> p2p.html</a></dd>
        <dd><a href="p2p.html">消息.jpg -> p2p.html</a></dd>
    </dl>
    <dl>
        <dt>着陆页(先不管这一列)</dt>
        <dd><a href="land_page.html">着陆页1</a></dd>
        <dd><a href="land_page02.html">着陆页2</a></dd>
        <dd><a href="land_page03.html">着陆页3</a></dd>
    </dl>

</div>

</body>
</html>