<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>落地页02</title>
    <link href="../style/page/land.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src=""></script>

</head>

<body>
<div class="land land02">
    <div class="con">
        <div class="top">
            <h1>财猫网-招招有才</h1>
            <div class="img indent">
                <p>你出钱，你炒股！收益全归您！收益加倍 1-5倍杠杆，利率低至0.98%</p>
                <img src="../../img/land/land02_top_bg.png" alt=""/>
            </div>
            <a class="btn" href="">我要翻倍</a>

        </div>
        <div class="bottom">
          <div class="indent">红杉资本投资 互联网金融专业团队<img src="../../img/land/team_bg.png" alt=""/></div>
            <img src="../../img/land/manger_bg.png" alt=""/>
            <a class="btn_blue" href="">现在就去注册</a>
            <p>24小时服务电话 <span>4000-898-000</span> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;官方QQ群 <span>284822493</span> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;理财QQ群 <span>312993436</span></p>
        </div>
    </div>
</div>
</body>
</html>
