<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财猫-新手引导</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<div id="top">
    <div class="w top_in">
        <div class="f_l">您好！欢迎来到财猫网！</div>
        <div class="f_r right">
            <span class="plr_10"><a href="">登录</a></span><s>|</s>
            <span class="plr_10"><a href="">注册</a></span><s>|</s>
            <span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
            <span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
            <span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
        </div>
    </div>
</div>
<!--顶部登录后-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l left">-->
<!--<span>总资产:<b>400,000</b>元</span>-->
<!--<span>浮动盈亏：<b class="red">-500元</b></span>-->
<!--<span>浮动盈亏：<b class="cyan">+1500元</b></span>-->
<!--<a class="red" href="">充值</a>-->
<!--<a href="">按日融资</a>-->
<!--<span class="icons icon_prompt">-->
<!--</span>-->
<!--<span class="icons icon_prompt_red"></span>-->
<!--<span class="icons icon_prompt_orange"></span>-->
<!--</div>-->
<!--<div class="f_r right">-->
<!--&lt;!&ndash;消息框位灰色时  直接去掉icon_info即可&ndash;&gt;-->
<!--<span class="font_red"><i class="icons icon_info"></i>6</span>-->
<!--<span class="plr_10">您好，马建军 </span>-->
<!--<a href="#">退出</a>-->
<!--<div class="popNotice">-->
    <!--<dl class="noticeHead">-->
        <!--<dt>我的消息</dt>-->
        <!--<dd><i class="orange">16条未读</i>/200000000条消息</dd>-->
    <!--</dl>-->
    <!--<div class="noticeBody">-->
        <!--<dl class="unread">-->
            <!--<dt><i>■</i><em>您的HOMS子账户101816已达预警线,请及时追加保证金</em><a href="">追加</a></dt>-->
            <!--<dd>2015-06-16 11:00:41</dd>-->
        <!--</dl>-->
        <!--<dl>-->
            <!--<dt><i>■</i><em>您的HOMS子账户101816已达预警线,请及时追加保证金</em><a href="">追加</a></dt>-->
            <!--<dd>2015-06-16 11:00:41</dd>-->
        <!--</dl>-->
        <!--<dl>-->
            <!--<dt><i>■</i><em>您的HOMS子账户101816已达预警线,请及时追加保证金</em><a href="">追加</a></dt>-->
            <!--<dd>2015-06-16 11:00:41</dd>-->
        <!--</dl>-->

        <!--<p>暂无消息</p>-->
    <!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--(function(){-->
        <!--var noticeIsClose = 1,-->
                <!--btn = document.querySelector("#noticeBtn"),-->
                <!--box = btn.parentNode,-->
                <!--tmpCN = box.className;-->
        <!--document.addEventListener ?-->
                <!--btn.addEventListener('click', switchNotice, false) : btn.attachEvent('onclick', switchNotice);-->
        <!--function switchNotice(){-->
            <!--if(noticeIsClose){-->
                <!--noticeIsClose = 0;-->
                <!--box.className = tmpCN + ' noticeOpen';-->
            <!--}else{-->
                <!--noticeIsClose = 1;-->
                <!--box.className = tmpCN;-->
            <!--}-->
        <!--}-->
    <!--})();-->
<!--</script>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--头部-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">融资<b></b></a></li>
                <li><a href="#">账户<b></b></a></li>
                <li><a href="#">投资<b></b></a></li>
                <li><a href="#">下载 <i class="icons icon_nav_new"></i> <b></b></a></li>
                <li><a class="hov" href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>

</div>
<!--notice-->
<div id="notice">
    <div class="w">
        <i class="icons icon_notice"></i><a href="">财猫上线一周年网庆，充值送宝马，你敢来吗？</a><span>我知道了</span>
    </div>
</div>
<!--内容区-->
<div id="main">
    <div class="lead">
        <div class="w lead_01">
            <h2>为什么要股票融资</h2>
            <hr class="hr_s" />
            <h3>我出钱·你炒股·收益全归您</h3>
            <ul>
                <li class="one">
                    <span>炒股资金少</span>
                    小张是工薪阶层，但是<br>
                    可用于炒股的资金只有1万。
                </li>
                <li class="two">
                    <span>我出钱</span>
                    小张将1万元作为股票投资本金<br>
                    在财猫网5万共有6万资金用于炒股。
                </li>
                <li class="three">
                    <span>您炒股</span>
                    小张的股票一个月内大涨<br>
                    30%收益比普通收益高出5倍
                </li>
                <li class="four">
                    <span>收益全归您</span>
                    最终小张拿回了1万<br>
                    本金和18000元收益。
                </li>
            </ul>
        </div>
        <div class="lead_02">
            <div class="w">
                <h2>为什么要选择财猫金融</h2>
                <hr class="hr_s" />
                <h3><i></i>财猫的产品优势让您获益更大</h3>
                <div class="m_t_30">
                    <img src="../../img/images/lead_bg_02.png" alt="" width="1200" height="454">
                </div>
            </div>
        </div>
        <div class="lead_03 w">
            <h3><i class="two"></i>财猫的平台优势让您交易无忧</h3>
            <p class="font_18 m_t_30">财猫专业化的多维度安全保障，让您交易更安全、更放心。</p>
            <ul>
                <li>
                    <b>法律安全保障</b>
                    财猫金融与用户签订的协议由专业的律师团队修订， 依照《合同法》和《电子签名法》，电子采用PDF防篡改技术，纸质微景一律归档保存。
                </li>
                <li>
                    <b>资金安全保障</b>
                    财猫金融与齐鲁证券达成深度合作，用户操盘资金由光大银行作为托管，严格按照专户专款专用的模式运作，受到银行和开户证券公司的双重监管。
                </li>
                <li>
                    <b>交易安全保障</b>
                    用户交易指令通过恒生HOMS软件直接在券商下单，100%实盘操作。
                </li>
                <li>
                    <b>数据安全保障</b>
                    财猫金融建立了反应实时、深入行业、专业能力顶级的安全团队，为平台量身定制安全方案，全面保障用户的数据安全。
                </li>
                <li>
                    <b>风控安全保障</b>
                    财猫金融拥有全方位的 风控系统，风控团队均由从业经验6年以上来自中信证券等各大知名金融公司的专业人才组成，对用户的操盘账户进行风控监控、预警、平仓。
                </li>
            </ul>
        </div>
        <div class="lead_04">
            <div class="w">
                <h3><i class="three"></i>财猫的团队优势让您长期受益</h3>
                <p class="font_18 m_t_30">红杉资本投资公司打造&nbsp;&nbsp;&nbsp;专业实力团队为您理财服务</p>
                 <p>财猫团队将为您开发更多专业的金融产品，让您在不同阶段持续受益。</p>
                <ul>
                    <li>
                        <b> <span class="font_red">CEO </span> 李林</b>
                        清华大学, 曾就职甲骨文，连续创业，多次打破行业记录
                    </li>
                    <li>
                        <b> <span class="font_red">COO </span> 高耀华</b>
                        清华大学,原中信证券资管部VP、CFA、FRM持证人，<br>
                        曾被数家权威第三方机构评选为最佳分析师
                    </li>
                    <li>
                        <b> <span class="font_red">CMO </span> 杜均</b>
                        曾就职于康盛创想、腾讯，知名社区软件DISCUZ产品负责人
                    </li>
                </ul>
            </div>

        </div>
        <div class="lead_05">
            <div class="w">
                <h2>在财猫，5步搞定融资和交易</h2>
                <div class="m_t_30">
                    <img src="../../img/images/lead_bg_05.png" alt="" width="1200" height="142">
                </div>
                <div class="m_t_30">
                    <p class="tips"><span>小贴士</span></p>
                    <p class="m_t_20 font_18 font_red">· 财猫支持快捷支付、  网银充值、支付宝转账</p>
                    <p class="m_t_20 font_18 font_red">   · 限制购买的股票</p>

                    <p>
                        1 、不得购买S、ST、*ST、S*ST、SST、以及被交易所特别处理的股票；<br>
                        2 、不得购买权证类可以T+0交易的证券；<br>
                        3 、不得购买首日上市新股（或复牌首日股票）等当日不设涨跌停板限制的股票；<br>
                        4 、不得进行坐庄、对敲、接盘、大宗交易、内幕信息等违反股票交易法律法规及证券公司规定的交易。
                    </p>
                    <p class="m_t_20  font_18 font_red">· 交易前必读</p>
                     <p> 1 、请尽量保持总操盘资金高于亏损警戒线，及时添加风险保证金，以免到达亏损平仓线被强制平仓；<br>
                        2 、总操盘资金到达亏损平仓线后，如不想添加风险保证金，请及时卖出股票，以免出现超额亏损；<br>
                        3 、请尽量保持账户余额充足，以免被自动平仓。</p>
                    <p class="end"><a class="btn btn_red" href="#">现在就去融资</a></p>
                </div>
            </div>
        </div>

    </div>
</div>


<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>



</body>
</html>
