<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财猫-公告</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<div id="top">
    <div class="w top_in">
        <div class="f_l">您好！欢迎来到财猫网！</div>
        <div class="f_r right">
            <span class="plr_10"><a href="">登录</a></span><s>|</s>
            <span class="plr_10"><a href="">注册</a></span><s>|</s>
            <span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
            <span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
            <span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
        </div>
    </div>
</div>
<!--顶部登录后-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l left">-->
<!--<span>总资产:<b>400,000</b>元</span>-->
<!--<span>浮动盈亏：<b class="red">-500元</b></span>-->
<!--<span>浮动盈亏：<b class="cyan">+1500元</b></span>-->
<!--<a class="red" href="">充值</a>-->
<!--<a href="">按日配</a>-->
<!--<span class="icons icon_prompt">-->
<!--</span>-->
<!--<span class="icons icon_prompt_red"></span>-->
<!--<span class="icons icon_prompt_orange"></span>-->
<!--</div>-->
<!--<div class="f_r right">-->
<!--&lt;!&ndash;消息框位灰色时  直接去掉icon_info即可&ndash;&gt;-->
<!--<span class="font_red"><i class="icons icon_info"></i>6</span>-->
<!--<span class="plr_10">您好，马建军 </span>-->
<!--<a href="#">退出</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--头部-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">配资<b></b></a></li>
                <li><a class="hov" href="#">账户<b></b></a></li>
                <li><a href="#">投资<b></b></a></li>
                <li><a href="#">下载 <i class="icons icon_nav_new"></i> <b></b></a></li>
                <li><a href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>

</div>

<!--内容区-->
<div id="main">
    <div class="w sec_main">
       <div class="notice">
           <div class="left">
                <div class="tit">
                    <h3>财猫上线一周年网庆，充值送宝马，你敢来吗！</h3>
                    <p><span>时间：</span>2015-06-16 15:17:20 &nbsp;<span>来源：</span><a href="">财猫</a></p>
                </div>
               <div class="con">
                   <p>尊敬的财猫用户：<br/>
                       财猫近期上线的“邀请好友注册返利”活动得到了用户的支持，也同时发生了有用户大量恶意刷量的情况。我们谴责这种不诚信、损害平台和其他用户利益的行为，为了保证大部分用户的公正，我们宣布升级活动规则：<br/>
                       1、  邀请好友注册并充值返20元规则暂停；<br/>
                       2、  邀请好友注册并月配资1万元返现从原来的30元增加到50元；<br/>
                       3、  6月12日23点前正常的邀请好友充值账户将会按时返现；作弊账户不予返现，23点以后的邀请好友充值账户不再返20元；<br/>
                       4、  充值时间早上8点到晚上21点；<br/>
                       5、  返现将会在第二个工作日以积分形式打到账户，节假日顺延；<br/>
                       6、  每满100积分可提现、充值配资；<br/>
                       7、  恶意刷量的作弊账户一经发现会被系统自动没收；<br/>
                       8、  本活动严禁用户利用活动规则作弊，一经发现，停止返利和兑现！最终解释权归财猫网所有！<br/>
                       详情请见：https://www.caimao.com/activity/brokerage?_=1433469600257<br/>
                        <span> 注：参与返佣的基数为邀请好友前20天配资产生的利息。<br/>
                       &nbsp;&nbsp;&nbsp;&nbsp; 欢迎广大渠道商加盟财猫网推广服务计划！详情垂询：<br/>
                       &nbsp;&nbsp;&nbsp;&nbsp; 24小时服务热线：4000-898-000<br/>
                       &nbsp;&nbsp;&nbsp;&nbsp; 或直接联系：139-1111-6318  陈经理</span>
                   </p>
                   <p class="align_right">
                       财猫团队<br>
                       2015年6月16日
                   </p>
               </div>
           </div>
           <div class="right">
               <h4><i class="icons icon_notices"></i>历史公告</h4>
               <ul>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资配资配资配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
                   <li><i></i><a href="">财猫调整线上配资杠杆倍数 </a><span>2015-06-16</span></li>
               </ul>
           </div>
       </div>
    </div>
</div>

<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>
</body>
</html>
