<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>融资-按日融资</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l">您好！欢迎来到财猫网！</div>-->
<!--<div class="f_r right">-->
<!--<span class="plr_10"><a href="">登录</a></span><s>|</s>-->
<!--<span class="plr_10"><a href="">注册</a></span><s>|</s>-->
<!--<span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>-->
<!--<span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>-->
<!--<span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--顶部登录后-->
<div id="top">
    <div class="w top_in">
        <div class="f_l left">
            <span>总资产:<b>400,000</b>元</span>
            <span>浮动盈亏：<b class="red">-500元</b></span>
            <span>浮动盈亏：<b class="cyan">+1500元</b></span>
            <a class="red" href="">充值</a>
            <a href="">按日融资</a>
            <span class="icons icon_prompt">
            </span>
            <span class="icons icon_prompt_red"></span>
            <span class="icons icon_prompt_orange"></span>
        </div>
        <div class="f_r right">
            <!--消息框位灰色时  直接去掉icon_info即可-->
            <span class="font_red"><i class="icons icon_info"></i>6</span>
            <span class="plr_10">您好，马建军 </span>
            <a href="#">退出</a>
        </div>
    </div>
</div>

<!--导航-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a class="hov" href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">融资<b></b></a></li>
                <li><a href="#">账户<b></b></a></li>
                <li><a class="new" href="#">下载<b></b></a></li>
                <li><a href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>
</div>



<!--内容区-->
<div id="main">
    <div class="w sec_main">
        <!--左右布局-->
        <div class="left_bar">
            <ul>
                <li><a class="hov" href="#"><i class="icons icon_p_day"></i>按日融资</a></li>
                <li><a href=""><i class="icons icon_p_month"></i>按月融资</a></li>
                <li><a href=""><i class="icons icon_p_mine"></i>我的融资</a></li>
            </ul>
        </div>
        <div class="right_bar">
            <div class="pei clear_fix">
                <div class="f_l left">
                    <div class="title">您的投资本金</div>
                    <div class="p_input">
                        <input class="input_text" type="text" value="20000"/><s>元</s>
                    </div>
                    <div class="title m_t_20">可融资金额</div>
                    <div class="p_money">
                        <ul>
                            <li class="hov">
                                <p class="bei p_l_10">2<i class="icons icon_bei">倍</i></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<i class="icons icon_bei">倍</i></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                            </li>
                            <li class="no_pointer">
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="f_r right">
                    <div class="title">确认操盘规则</div>
                    <ul class="p2p">
                        <li>
                            <span class="f_l">操盘须知</span>
                            <span class="f_r">投资沪深A股，仓位不限制</span>
                        </li>
                        <li>
                            <span class="f_l">总操盘金</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">亏损警戒线</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">亏损平仓线</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">资金使用期限</span>
                            <span class="f_r">
                                <select name="" class="input_select size_m" data-type="*">
                                    <option value="1个月">1个月</option>
                                    <option value="2个月">2个月</option>
                                    <option value="3个月-10">3个月</option>
                                </select>
                            </span>
                        </li>
                        <li>
                            <span class="f_l">财猫提供</span>
                            <span class="f_r">200000元</span>
                        </li>
                        <li>
                            <span class="f_l">P2P借贷</span>
                            <span class="f_r">500000元</span>
                        </li>

                        <li>
                            <span class="f_l">费用</span>
                            <span class="f_r no_border font_red">
                                <b><s style="width: 20%"></s></b> 月利率2.0%
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="m_t_10 font_black">您申请的 <span class="font_red">4倍</span> 杠杆属于高倍杠杆，财猫网将投资其中的 <span class="font_red">20000元</span>，剩余 <span class="font_red">50000元</span>将通过P2P借贷市场进行投放，等待满标后给予您交易账户</p>
            <div class="pei_down">
                <p class="f_r">可用保证金7333333306元，还差 <span>63333333.23元</span><a href="" class="btn size_m btn_red m_l_10">立即充值</a></p>
                <p class="f_r">您需要支付保证金 <span>20c44444400元</span> + 首付费用 <span>10000元</span> 共 <b class="font_red font_24">20000000010元</b> + P2P账户管理费 <span>20000000元</span></p>

            </div>
            <p class="read"> <label><input type="checkbox"/> 我已阅读并同意</label>  <a href="">《借款协议》</a></p>
            <p class="m_t_20"><a href="" class="btn btn_blue size_l">申请融资</a></p>
            <p class="m_t_20"><a href="" class="btn size_l btn_gray">申请融资</a></p>
        </div>
    </div>
</div>



<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>
</body>
</html>
