<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>融资-按日融资</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l">您好！欢迎来到财猫网！</div>-->
<!--<div class="f_r right">-->
<!--<span class="plr_10"><a href="">登录</a></span><s>|</s>-->
<!--<span class="plr_10"><a href="">注册</a></span><s>|</s>-->
<!--<span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>-->
<!--<span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>-->
<!--<span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--顶部登录后-->
<div id="top">
    <div class="w top_in">
        <div class="f_l left">
            <span>总资产:<b>400,000</b>元</span>
            <span>浮动盈亏：<b class="red">-500元</b></span>
            <span>浮动盈亏：<b class="cyan">+1500元</b></span>
            <a class="red" href="">充值</a>
            <a href="">按日融资</a>
            <span class="icons icon_prompt">
            </span>
            <span class="icons icon_prompt_red"></span>
            <span class="icons icon_prompt_orange"></span>
        </div>
        <div class="f_r right">
            <!--消息框位灰色时  直接去掉icon_info即可-->
            <span class="font_red"><i class="icons icon_info"></i>6</span>
            <span class="plr_10">您好，马建军 </span>
            <a href="#">退出</a>
        </div>
    </div>
</div>

<!--导航-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a class="hov" href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">融资<b></b></a></li>
                <li><a href="#">账户<b></b></a></li>
                <li><a class="new" href="#">下载<b></b></a></li>
                <li><a href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>
</div>



<!--内容区-->
<div id="main">
    <div class="w sec_main">
        <!--左右布局-->
        <div class="left_bar">
            <ul>
                <li><a class="hov" href="#"><i class="icons icon_p_day"></i>按日融资</a></li>
                <li><a href=""><i class="icons icon_p_month"></i>按月融资</a></li>
                <li><a href=""><i class="icons icon_p_mine"></i>我的融资</a></li>
            </ul>
        </div>
        <div class="right_bar">
            <div class="pei clear_fix">
                <div class="f_l left">
                    <div class="title">您的投资本金</div>
                    <div class="p_input">
                        <input class="input_text" type="text"/>
                        <s>元</s>
                        <span class="f_l"><i class="icons icon_input_money"></i>请输入投资本金，最少3000元，最多300万</span>
                        <span class="f_r">账户余额40000元</span>
                    </div>
                    <div class="title m_t_20">可融资金额</div>
                    <div class="p_money">
                        <ul class="limited_offers">
                            <li class="hov">

                                    <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                    <p class="align_center"> <b>20000</b>元 </p>
                                    <p class="bor_top">日利率：0.1%-0.1%</p>
                                    <i class="icons icon_offers"></i>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                                <i class="icons icon_offers"></i>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%</p>
                                <i class="icons icon_offers"></i>
                            </li>
                            <li>
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top">日利率：0.1%</p>
                                <i class="icons icon_offers"></i>
                            </li>
                            <li style="background-color: #e3e3e3">
                                <p class="bei p_l_10">2<span class="font_14">倍/</span></p>
                                <p class="align_center"> <b>20000</b>元 </p>
                                <p class="bor_top p_l_10">日利率：0.1%-0.1%</p>
                                <i class="icons icon_offers"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="f_r right">
                    <div class="title">确认操盘规则</div>
                    <ul>
                        <li>
                            <span class="f_l">操盘须知</span>
                            <span class="f_r">投资沪深A股，仓位不限制</span>
                        </li>
                        <li>
                            <span class="f_l">总操盘金</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">亏损警戒线</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">亏损平仓线</span>
                            <span class="f_r"><b>2,200元</b></span>
                        </li>
                        <li>
                            <span class="f_l">资金使用期限</span>
                            <span class="f_r">不限</span>
                        </li>
                        <li>
                            <span class="f_l">融资日费用</span>
                            <span class="f_r no_border">10元/每天 <span>（按天收取，周末节假日免费）</span></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pei_down m_t_30">
                <p class="f_r">可用保证金706元，还差 <span class="font_red">633.23元</span><a href="" class="btn size_m btn_red m_l_10">立即充值</a></p>
                <p class="f_r">您需要支付保证金 <span class="font_red">2000元</span> + 首付费用 <span class="font_red">10元</span> 共 <b class="font_red font_24">2010元</b></p>

            </div>
            <p class="read"> <label><input type="checkbox"/> 我已阅读并同意</label>  <a href="">《借款协议》</a></p>
            <p class="m_t_20"><a href="" class="btn btn_blue size_l">申请融资</a></p>
            <p class="m_t_20"><a href="" class="btn size_l btn_gray">申请融资</a></p>
        </div>
    </div>
</div>

<!--弹层-->
<div class="layout" style="display: none">
    <h3 class="title">融资支付 <a href=""><i class="icons icon_close"></i></a></h3>
    <form action="">
        <div class="group m_t_10">
            <div>安全密码</div>
            <div><input class="input_text" type="password" data-type="*" data-msg-null="请输入密码"></div>
            <p class="m_t_10"><a class="f_r" href="#">忘记密码？</a></p>
        </div>

        <div class="group m_t_30">
            <button class="btn btn_red">保存</button>
        </div>
    </form>
</div>

<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>
</body>
</html>
