<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>账户-推广赚钱-推广详情</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<div id="top">
    <div class="w top_in">
        <div class="f_l">您好！欢迎来到财猫网！</div>
        <div class="f_r right">
            <span class="plr_10"><a href="">登录</a></span><s>|</s>
            <span class="plr_10"><a href="">注册</a></span><s>|</s>
            <span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
            <span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
            <span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
        </div>
    </div>
</div>
<!--顶部登录后-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l left">-->
<!--<span>总资产:<b>400,000</b>元</span>-->
<!--<span>浮动盈亏：<b class="red">-500元</b></span>-->
<!--<span>浮动盈亏：<b class="cyan">+1500元</b></span>-->
<!--<a class="red" href="">充值</a>-->
<!--<a href="">按日融资</a>-->
<!--<span class="icons icon_prompt">-->
<!--</span>-->
<!--<span class="icons icon_prompt_red"></span>-->
<!--<span class="icons icon_prompt_orange"></span>-->
<!--</div>-->
<!--<div class="f_r right">-->
<!--&lt;!&ndash;消息框位灰色时  直接去掉icon_info即可&ndash;&gt;-->
<!--<span class="font_red"><i class="icons icon_info"></i>6</span>-->
<!--<span class="plr_10">您好，马建军 </span>-->
<!--<a href="#">退出</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--头部-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">融资<b></b></a></li>
                <li><a class="hov" href="#">账户<b></b></a></li>
                <li><a href="#">下载<b></b></a></li>
                <li><a href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>

</div>

<!--内容区-->
<div id="main">
    <div class="w sec_main">
        <!--左右布局-->
        <div class="left_bar">
            <ul>
                <li><a href="#"><i class="icons icon_account"></i>我的账户</a></li>
                <li><a href=""><i class="icons icon_recharge"></i>我要充值</a></li>
                <li><a href=""><i class="icons icon_withdraw"></i>我要提现</a></li>
                <li><a href=""><i class="icons icon_fund"></i>资金明细</a></li>
                <li><a href=""><i class="icons icon_secure"></i>账户安全</a></li>
                <li><a href=""><i class="icons icon_message"></i>个人资料</a></li>
                <li><a class="hov" href=""><i class="icons icon_promotion"></i>推广赚钱</a></li>
            </ul>
        </div>
        <div class="right_bar">
            <div class="tabNav">
                <ul>
                    <li><a href="">推广详情</a></li>
                    <li><a href="">兑换记录</a></li>
                    <li><a href="">推广用户</a></li>
                    <li><a class="on" href="">返佣记录</a></li>
                </ul>
            </div>
            <div class="promotion">
                <div class="top">
                    <p><i class="icons icon_level"></i>事在人为 ! 精诚所至，金石为开！</p>
                    <div class="invite">
                        <span class="f_l m_r_15">您的邀请链接</span>
                        <div class="invite_box" id="copy_url" data-clipboard-text="https://www.caimao.com"><input class="invite_link" type="text" value="https://www.caimao.com" /><i class="icons icon_copy"> 复制</i><b class="msg" id="copy_tip" style="display: none">复制成功</b>
                        </div>
                    </div>
                </div>
                <div class="down">
                    <div class="tit">您的邀请</div>
                    <ul class="my_asset asset_in">
                        <li>注册人数<b>8,070.46</b></li>
                        <li>融资人数<b> 0.46</b></li>
                        <li>融资金额<b> 8,070.46</b></li>
                        <li>实际利息<b> 6.220</b></li>
                    </ul>
                    <div class="tit">您的等级</div>
                    <ul class="my_asset asset_in">
                        <li>返佣等级<b>V0</b></li>
                        <li>返佣比例<b> 0%</b></li>
                    </ul>
                    <div class="tit">您的收益</div>
                    <ul class="my_asset asset_in">
                        <li>累计返佣<b>8,070.46</b></li>
                        <li>邀请奖励<b> 0.46</b></li>
                        <li>总共战绩<b> 8,070.46</b></li>
                        <li>当前积分<b> 300 </b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>

<script src="../js/ZeroClipboard.min.js"></script>
<script>
    var CopyUrl = new ZeroClipboard( document.getElementById('copy_url')),
            CopyTip = document.getElementById('copy_tip');

    CopyUrl.on( "ready", function( readyEvent ) {
        CopyUrl.on( "aftercopy", function( event ) {
            CopyTip.style.display = 'block';
        });
    });
</script>
</body>
</html>
