<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>财猫-充值</title>
	<link href="../style/page/page.css" rel="stylesheet">
	<link href="../style/page/recharge.css" rel="stylesheet">
	<script src="../js/v2/actionTip.js"></script>
</head>

<body>
<!--顶部未登录-->
<div id="top">
	<div class="w top_in">
		<div class="f_l">您好！欢迎来到财猫网！</div>
		<div class="f_r right">
			<span class="plr_10"><a href="">登录</a></span><s>|</s>
			<span class="plr_10"><a href="">注册</a></span><s>|</s>
			<span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
			<span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
			<span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
		</div>
	</div>
</div>
<!--顶部登录后-->
<!--<div id="top">-->
<!--<div class="w top_in">-->
<!--<div class="f_l left">-->
<!--<span>总资产:<b>400,000</b>元</span>-->
<!--<span>浮动盈亏：<b class="red">-500元</b></span>-->
<!--<span>浮动盈亏：<b class="cyan">+1500元</b></span>-->
<!--<a class="red" href="">充值</a>-->
<!--<a href="">按日融资</a>-->
<!--<span class="icons icon_prompt">-->
<!--</span>-->
<!--<span class="icons icon_prompt_red"></span>-->
<!--<span class="icons icon_prompt_orange"></span>-->
<!--</div>-->
<!--<div class="f_r right">-->
<!--&lt;!&ndash;消息框位灰色时  直接去掉icon_info即可&ndash;&gt;-->
<!--<span class="font_red"><i class="icons icon_info"></i>6</span>-->
<!--<span class="plr_10">您好，马建军 </span>-->
<!--<a href="#">退出</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--头部-->
<div id="header">
	<div class="w header_in">
		<div class="f_l left">
			<h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
		</div>
		<div class="f_r right">
			<ul>
				<li><a href="#">首页 <b></b></a></li>
				<li><a href="#">交易<b></b></a></li>
				<li><a href="#">融资<b></b></a></li>
				<li><a class="hov" href="#">账户<b></b></a></li>
				<li><a href="#">下载<b></b></a></li>
				<li><a href="#">新手引导<b></b></a></li>
			</ul>
		</div>
	</div>

</div>

<!--内容区-->
<div id="main">
	<div class="w sec_main">
		<!--左右布局-->
		<div class="left_bar">
			<ul>
				<li><a href="#"><i class="icons icon_account"></i>我的账户</a></li>
				<li><a class="hov" href=""><i class="icons icon_recharge"></i>我要充值</a></li>
				<li><a href=""><i class="icons icon_withdraw"></i>我要提现</a></li>
				<li><a href=""><i class="icons icon_fund"></i>资金明细</a></li>
				<li><a href=""><i class="icons icon_secure"></i>账户安全</a></li>
				<li><a href=""><i class="icons icon_message"></i>个人资料</a></li>
			</ul>
		</div>
		<div class="right_bar">
			<div class="tabNav">
				<ul>
					<li><a href="" class="on">网银充值</a></li>
					<li><a href="">支付宝转账</a></li>
					<li><a href="">银行转账</a></li>
					<li><a href="">充值记录</a></li>
				</ul>
			</div>

<!-- 账户(充值).jpg begin -->
			<div class="cyberBank transferBox">
				<div class="selectBank">
					<p><span>注：暂时不支持信用卡充值</span>请选择充值银行</p>
					<ul>
						<li class="on"><img src="../../img/1.jpg"><i></i></li>
						<li><img src="../../img/2.jpg"><i></i></li>
						<li><img src="../../img/3.jpg"><i></i></li>
						<li><img src="../../img/4.jpg"><i></i></li>
						<li><img src="../../img/5.jpg"><i></i></li>
						<li><img src="../../img/6.jpg"><i></i></li>
						<li><img src="../../img/7.jpg"><i></i></li>
						<li><img src="../../img/8.jpg"><i></i></li>
						<li><img src="../../img/9.jpg"><i></i></li>
						<li><img src="../../img/10.jpg"><i></i></li>
						<li><img src="../../img/11.jpg"><i></i></li>
						<li><img src="../../img/12.jpg"><i></i></li>
						<li><img src="../../img/13.jpg"><i></i></li>
						<li><img src="../../img/14.jpg"><i></i></li>
					</ul>
				</div>
				<dl class="clearFix formgroup">
					<dt>可用余额</dt>
					<dd><i class="orange bold">2,010</i>元</dd>
				</dl>
				<dl class="clear_fix formgroup">
					<dt>充值金额</dt>
					<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue"/><label for="rechargeValue">元</label></dd>
				</dl>
				<dl class="clear_fix formgroup">
					<dt>充值金额</dt>
					<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue2"/><label for="rechargeValue2">元</label></dd>
				</dl>
				<dl class="clear_fix formgroup">
					<dt>充值金额</dt>
					<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue3"/><label for="rechargeValue3">元</label></dd>
				</dl>
				<dl class="clear_fix formgroup">
					<dt>充值金额</dt>
					<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue4"/><label for="rechargeValue4">元</label></dd>
				</dl>
				<dl class="clear_fix formgroup">
					<dt>手续费</dt>
					<dd><i class="black bold">0.00</i> 元  (推广期间，财猫网承担在线充值手续费，请放心使用)</dd>
				</dl>
				<a href="" class="btn" id="btn">下一步</a>
			</div>
			<script>
				buildDom('#rechargeValue');
				buildDom('rechargeValue2');
				buildDom('rechargeValue3');
				buildDom('rechargeValue4');
				buildDom('btn');


				setTimeout(function(){				

					var input = document.querySelector('#rechargeValue');
					input.top().notice('这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置')
					var input2 = document.querySelector('#rechargeValue2');
					input2.left().notice('这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置')
					var input3 = document.querySelector('#rechargeValue3');
					input3.bottom().error('这里是显示提示的位置')
					var input4 = document.querySelector('#rechargeValue4');
					input4.right().warn('这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置这里是显示提示的位置')

					var btn = document.querySelector('#btn');
					btn.right().notice('无法进行下一步',1000)
				},1000)
			</script>
<!-- 账户(充值).jpg end -->




<!-- 账户(充值)1.jpg begin -->
			<div class="confirmForm transferBox">
				<table border="0" cellpadding="0" cellspacing="1">
					<tr><td class="thead"><span>充值方式</span></td><td><img src="../../img/2.jpg"> 尾号 <i class="black bold">0616</i></td></tr>
					<tr><td class="thead"><span>充值金额</span></td><td><i class="orange bold">5000</i> 元</td></tr>
					<tr><td class="thead"><span>手续费</span></td><td><i class="black bold">0.00</i> 元  (推广期间，财猫网承担在线充值手续费，请放心使用)</td></tr>
					<tr><td class="thead"><span>合计</span></td><td><i class="orange bold">5005</i> 元</td></tr>
				</table>
				<div class="btnGroup clear_fix">
					<a href="" class="btn">确认充值</a><a href="" class="btn graybtn">返回上一步</a>
				</div>
			</div>
<!-- 账户(充值)1.jpg end -->




<!-- 账户(充值)银行转账.jpg begin -->
			<div class="counter transferBox">
				<p>您可以通过网上银行或银行柜台向 <b>北京朋乐投资管理有限公司</b> 转账</p>
				<dl class="bankInfo">
					<dt><img src="../../img/1.jpg"></dt>
					<dd>
						<span>账号</span><b>1109 1322 0310 301</b><br>
						<span>户名</span><b>北京朋乐投资管理有限公司</b><br>
						<span>开户行</span><b>招商银行西二旗支行</b><br>
					</dd>
				</dl>
				<p class="notice">
					银行转账确认单（<span class="orange">请在线下转账或银行汇款完成后填写，以方便客服为您及时处理！</span>）
				</p>
				<div class="formHere">
					<dl class="clear_fix formgroup">
						<dt>入账银行</dt>
						<dd class="inputBox selectBox"><input type="text" value="招商银行西二旗支行" class="textInput" id="rechargeValue"/><span></span><div class="bankList">
							<ul>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
								<li>招商银行西二旗支行</li>
							</ul>
						</div></dd>
					</dl>
					<dl class="clear_fix formgroup">
						<dt>充值金额</dt>
						<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue"/><label for="rechargeValue">元</label></dd>
					</dl>
					<dl class="clear_fix formgroup">
						<dt>备注</dt>
						<dd class="inputBox"><input type="text" class="textInput"/></dd>
					</dl>
					<a href="" class="btn">确定</a>
				</div>
			</div>
<!-- 账户(充值)银行转账.jpg end -->




<!-- 账户(充值)银行转账1.jpg begin -->
			<div class="counter transferBox">
				<p>您可以通过网上银行或银行柜台向 <b>北京朋乐投资管理有限公司</b> 转账</p>
				<dl class="bankInfo">
					<dt><img src="../../img/1.jpg"></dt>
					<dd>
						<span>账号</span><b>1109 1322 0310 301</b><br>
						<span>户名</span><b>北京朋乐投资管理有限公司</b><br>
						<span>开户行</span><b>招商银行西二旗支行</b><br>
					</dd>
				</dl>
				<p class="notice">
					银行转账确认单（<span class="orange">请在线下转账或银行汇款完成后填写，以方便客服为您及时处理！</span>）
				</p>
				<div class="formSuccess">
					<strong>恭喜您，银行转账确认单提交成功！</strong>
					<p>申请确认正在紧张处理，请耐心等待。如有疑问请拨打客服电话</p>
					<em>4000-898-000</em>
				</div>
			</div>
<!-- 账户(充值)银行转账1.jpg end -->





<!-- 账户(充值)支付宝.jpg begin -->
			<div class="alipay transferBox">
				<dl class="alipayActivity">
					<dt><img src="../../img/bao.jpg"></dt>
					<dd><span>账户支付</span><em class="orange">手机转账0手续费</em></dd>
				</dl>
				<div class="formHere">
					
					<dl class="clear_fix formgroup">
						<dt>支付宝帐号</dt>
						<dd class="inputBox"><input type="text" class="textInput" placeholder="请输入支付宝帐号"/></dd>
					</dl>
					<dl class="clear_fix formgroup">
						<dt>充值金额</dt>
						<dd class="inputBox"><input type="text" class="textInput" id="rechargeValue"/><label for="rechargeValue">元</label></dd>
					</dl>
					<dl class="clear_fix formgroup">
						<dt></dt>
						<dd class="inputBox"><a href="" class="btn">下一步</a></dd>
					</dl>
					
				</div>
			</div>
<!-- 账户(充值)支付宝.jpg end -->





<!-- 账户(充值)支付宝1.jpg begin -->
			<div class="alipay transferBox">
				<div class="alipayInfo">
					<dl>
						<dt>收款人支付宝账户</dt>
						<dd>zhifu@caimao.com</dd>
					</dl>
					<dl>
						<dt>账户名称</dt>
						<dd>北京朋乐投资管理有限公司</dd>
					</dl>
				</div>
				<div class="userAlipayInfo">
					<table border="0" cellpadding="0" cellspacing="1">
						<tr><td class="thead"><span>您的支付宝账户</span></td><td><b class="bold black">15801577915</b></td></tr>
						<tr><td class="thead"><span>转入金额</span></td><td><i class="orange bold">5000</i> 元</td></tr>
					</table>
				</div>
				<div class="payInfo">
					 <div class="left">
					 	<div class="code"><img src="../../img/recharge/code.jpg"></div>
					 	<p>快速转账，<i class="orange">0手续费</i></p>
					 </div>
					 <div class="right">
					 	<a href="" class="btn">去付款</a>
					 </div>
				</div>
				<p class="notice">2小时内到账，如需加急，请联系客服</p>
			</div>
<!-- 账户(充值)支付宝1.jpg end -->




		</div>
	</div>
</div>


<!--底部-->
<div id="footer">
	<div class="w">
		<p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
		<p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
		<p class="server2">
			<a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
			<a href="#"><i class="icons icon_weibo_b"> </i></a>
		</p>
		<p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
	</div>
</div>
</body>
</html>
