<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财猫-注册-新</title>
    <link href="../style/page/page.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<div id="top">
    <div class="w top_in">
        <div class="f_l">您好！欢迎来到财猫网！</div>
        <div class="f_r right">
            <span class="plr_10"><a href="">登录</a></span><s>|</s>
            <span class="plr_10"><a href="">注册</a></span><s>|</s>
            <span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
            <span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
            <span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
        </div>
    </div>
</div>


<!--头部-->
<div id="header">
    <div class="w header_in">
        <div class="f_l left">
            <h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a href="#">首页 <b></b></a></li>
                <li><a href="#">交易<b></b></a></li>
                <li><a href="#">配资<b></b></a></li>
                <li><a class="hov" href="#">账户<b></b></a></li>
                <li><a href="#">投资<b></b></a></li>
                <li><a href="#">下载 <i class="icons icon_nav_new"></i> <b></b></a></li>
                <li><a href="#">新手引导<b></b></a></li>
            </ul>
        </div>
    </div>

</div>

<!--内容区-->

<!--第一步-->
<div id="registerStep1Div" class="login register" style="display: none">
    <div class="register_in">
        <div class="w relative">
            <img class="activity_img" src="../../img/images/login_activity.png"  width="604" height="400">
            <div class="home_login home_login_bg"></div>
            <div class="home_login">
                <form action="/" method="post" id="regiester1">
                    <div class="hd">
                        <h5 class="align_left">&nbsp;注册财猫</h5>
                    </div>
                    <div class="bd">
                        <div class="group m_t_10">
                            <input id="registerMobile" validateType="empty:手机号码不能为空 phone" type="text" autocomplete="off" placeholder="请输入手机号码" class="input_text" maxlength="11"/>
                        </div>
                        <div class="group clear_fix">
                            <input id="smsCheckCode" type="text" autocomplete="off" validateType="empty:验证码不能为空 authcode" placeholder="请输入短信验证码" class="input_text input_verify" maxlength="6"/>
                            <button id="sendSmsCheckCode" type="button" class="verify">发送验证码</button>
                        </div>
                        <button id="registerS1Btn" type="button" class="btn btn_red size_full m_t_10">下一步</button>
                    </div>
                </form>

                <div class="ft m_t_10">已有账户？<a href="/user/login.html">登录</a></div>
            </div>
        </div>
    </div>
    <p class="rule">
        活动规则：<br>
        1.本活动面向2015年8月19日00点至8月31日24点期间新注册用户。<br>
        2.注册即送100元现金，注册后24小时内到账。<br>
        3.用户在活动期间第一次配资后，即可提现红包。<br>
        4.红包失效情况：（1）若充值后没有配资即提现，联系客服即可，同时红包失效；（2）8月31日24点后没有配资，红包失效；（3）日配资用户当天配资当天归还，红包失效。<br>
        5.本活动最终解释权归财猫网所有。
    </p>
</div>

<!--第二步-->
<div id="registerStep2Div" class="login register">
    <div class="register_in">
        <div class="w relative">
            <img class="activity_img" src="../../img/images/login_activity.png"  width="604" height="400">
            <div class="home_login home_regiester home_login_bg"></div>
            <div class="home_login home_regiester">
                <form action="/user/regiester" method="post" id="regiester2">
                    <div class="hd">
                        <h5 class="align_left"> &nbsp;注册财猫</h5>
                    </div>
                    <div class="bd">
                        <p id="echoRegisterMobile" class="reg_phone">您的手机号码：<strong>18611356701</strong> </p>
                        <!--<p ></p>-->
                        <div class="group p_b_15">
                            <input id="password" type="password" validateType="empty:密码不能为空 len:6:16 password" placeholder="设置登录密码" class="input_text input_pass" maxlength="20"/>
                            <i id="levelBar" class="icons icon_low"></i>
                        </div>
                        <div class="group">
                            <input id="passwordConfirm" type="password" validateType="empty:密码不能为空 same:#password:两次密码输入不一致" placeholder="确认登录密码" class="input_text input_pass" maxlength="20"/>
                        </div>
                        <div class="group">
                            <input id="ref_phone" type="text" autocomplete="off" placeholder="邀请人手机号" class="input_text" maxlength="11"/>
                        </div>
                        <p class="font_12">
                            <label><input id="protocol" type="checkbox" value="yue"/> 我已阅读并同意</label><a href="javascript:void(0);" id="regiesterProtocol">《网上融资用户服务协议》</a>
                        </p>
                        <button id="registerS2Btn" class="btn btn_red size_full" type="button">完成注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p class="rule">
        活动规则：<br>
        1.本活动面向2015年8月19日00点至8月31日24点期间新注册用户。<br>
        2.注册即送100元现金，注册后24小时内到账。<br>
        3.用户在活动期间第一次配资后，即可提现红包。<br>
        4.红包失效情况：（1）若充值后没有配资即提现，联系客服即可，同时红包失效；（2）8月31日24点后没有配资，红包失效；（3）日配资用户当天配资当天归还，红包失效。<br>
        5.本活动最终解释权归财猫网所有。
    </p>
</div>



<!--底部-->
<div id="footer">
    <div class="w">
        <p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
        <p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
        <p class="server2">
            <a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
            <a href="#"><i class="icons icon_weibo_b"> </i></a>
        </p>
        <p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
    </div>
</div>
</body>
</html>
