<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>财猫-个股详情</title>
	<link href="../style/page/niu.css" rel="stylesheet">
</head>

<body>
<!--顶部未登录-->
<div id="top">
	<div class="w top_in">
		<div class="f_l">您好！欢迎来到财猫网！</div>
		<div class="f_r right">
			<span class="plr_10"><a href="">登录</a></span><s>|</s>
			<span class="plr_10"><a href="">注册</a></span><s>|</s>
			<span class="plr_10"><i class="icons icon_weixin"><span></span></i></span><s>|</s>
			<span class="plr_10 no_bor"><a href=""><i class="icons icon_weibo"></i></a></span><s>|</s>
			<span class="font_red p_l_5"><i class="icons icon_tel"></i>24小时服务电话4000-898-000</span>
		</div>
	</div>
</div>


<!--头部-->
<div id="header">
	<div class="w header_in">
		<div class="f_l left">
			<h1 class="icons icon_logo"><a href="#">财猫网</a></h1><p class="icons icon_logo_p">招招有财</p>
		</div>
		<div class="f_r right">
			<ul>
				<li><a href="#">首页 <b></b></a></li>
				<li><a href="#">交易<b></b></a></li>
				<li><a href="#">融资<b></b></a></li>
				<li><a class="hov" href="#">账户<b></b></a></li>
				<li><a href="#">下载<b></b></a></li>
				<li><a href="#">新手引导<b></b></a></li>
			</ul>
		</div>
	</div>

</div>


<!--内容区-->
<div id="main">
	<div class="stocks w">
		<div class="record">
			<div class="font_16">个股持仓详情</div>
			<table class="table m_t_10 table_striped table_hover">
				<colgroup>
					<col style="width:200px;">
					<col style="width:110px;">
					<col style="width:120px;">
					<col style="width:120px;">
					<col style="width:120px;">
					<col style="width:110px;">
					<col style="width:360px;">
				</colgroup>
				<thead>
				<tr>
					<th>时间</th>
					<th>操作</th>
					<th>手数</th>
					<th>持有仓位</th>
					<th>持仓比例</th>
					<th>浮动盈亏</th>
					<th>操作理由</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>2015-06-10 14:13:12</td>
					<td>买入</td>
					<td>10000</td>
					<td>153,000</td>
					<td>22.21%</td>
					<td><b class="font_cyan">2.01%</b></td>
					<td>以价格波段调整收益考虑增仓</td>
				</tr>
				<tr>
					<td>2015-06-10 14:13:12</td>
					<td>买入</td>
					<td>10000</td>
					<td>153,000</td>
					<td>22.21%</td>
					<td><b class="font_red">2.01%</b></td>
					<td>以价格波段调整收益考虑增仓</td>
				</tr>
				<tr>
					<td>2015-06-10 14:13:12</td>
					<td>买入</td>
					<td>10000</td>
					<td>153,000</td>
					<td>22.21%</td>
					<td><b class="font_cyan">2.01%</b></td>
					<td>以价格波段调整收益考虑增仓</td>
				</tr>
				<tr>
					<td>2015-06-10 14:13:12</td>
					<td>买入</td>
					<td>10000</td>
					<td>153,000</td>
					<td>22.21%</td>
					<td><b class="font_red">2.01%</b></td>
					<td>以价格波段调整收益考虑增仓</td>
				</tr>
				<tr>
					<td>2015-06-10 14:13:12</td>
					<td>买入</td>
					<td>10000</td>
					<td>153,000</td>
					<td>22.21%</td>
					<td><b class="font_red">2.01%</b></td>
					<td>以价格波段调整收益考虑增仓</td>
				</tr>
					<tr class="table_crumbs">
						<td colspan="7">
							<i class="icons icon_info_null"></i>
							<p>个股持仓记录为空</p>
						</td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>

</div>


<!--底部-->
<div id="footer">
	<div class="w">
		<p class="nav_sub"><a href="">关于我们</a>|<a href="">服务条款</a>|<a href="">帮助中心</a></p>
		<p class="server"> <i class="icons icon_qqs"></i>官方QQ群4006660888  <i class="icons icon_telephone"></i>24小时服务电话4000-898-000</p>
		<p class="server2">
			<a class="weixin"><i class="icons icon_weixin_b"><span></span></i></a>
			<a href="#"><i class="icons icon_weibo_b"> </i></a>
		</p>
		<p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
	</div>
</div>
</body>
</html>
