<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>500</title>

</head>

<body>
<div class="login-pop">
<div class="box">
<div class="tang-title"><div class="buttons"></div><span>500</span></div>

<div class="tang-content">
<div class="pass-login-pop-content" >
<table width="100%" border="0" cellspacing="0" class="login_table" style="text-align:center">
  <tbody>
  <tr>
        <td>您访问的页面不见了，返回 <a href="${basePath}/user/login">首页</a></td>
  </tr>
</tbody></table>
</div>
<div class="clear"></div>
</div>

</div>

</div>
</body>
</html>
