<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>-出错</title>
</head>

<body>
<div class="login-pop" style="width:600px;left:50%; margin-left:-300px; top:50%; margin-top:-230px;">
<div class="box">
<div class="tang-title"><div class="buttons"></div><span></span></div>

<div class="tang-content">
<div class="pass-login-pop-content" >
<table width="100%" border="0" cellspacing="0" class="login_table" style="text-align:center">
  <tbody>
  <tr>
    <td>{"success": false, "msg": "${exception.message!''}"}<a href="/"></a></td>
  </tr>
</tbody></table>
</div>
<div class="clear"></div>
</div>

</div>

</div>
</body>
</html>
