<div class="ui-form-item">
<label class="ui-label" style="line-height:50px;">选择银行：</label>
<div class="form-content bank-select-tip">
<!--选择银行卡--><div data-dojo-attach-point="bankcardNode" class="bank-select-block">
<span class="ui-input-placeholder-extra">选择你的银行卡</span>
<span class="bank-no"></span>

<span data-dojo-attach-point="bankListToggleNode" class="icon-arrow bank-select-icon" id="showOrHidden_bank_list">选择你的银行卡</span>
</div>

<!--拓展内容-->
<div data-dojo-attach-point="bankListBoxNode" class="bank-list-box">
<ul data-dojo-attach-point="bankListNode" class="list-chooseBank">
</ul>
</div>


</div>
</div>