<div class="con-all">

<!--内容start-->
<div class="con-success clearfix" style="width:350px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-error"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>很抱歉，银行卡绑定失败了！</b></p>
<p class="layout02"><span class=" am-ft-md">点此<a class="am-left-5" href="${baseUrl}/account/bankcard/bind.htm">重新绑定</a></span></p>
<p class="layout02"><span class="">您可以检查以下地方：</span></p>
<p class="layout03"><span class="">1.网络是否稳定。</span></p>
<p class="layout03"><span class="">2.银行卡卡号与持有人信息是否对应。</span></p>
<p class="layout03"><span class="">3.银行卡是否可用。</span></p>
</div>
</div>
<!--内容end-->


</div>