<div class="con-all">

<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>恭喜您，银行卡绑定成功！</b></p>
<p class="layout02 am-ft-md"><a href="${baseUrl}/account/set-transaction_password01.htm">设置安全密码</a><a href="${baseUrl}/home/index.htm" class="am-left-10">会员中心</a><a href="${baseUrl}/account/bankcard.htm" class="am-left-10">银行卡信息</a></p>

<!--成功列表-->
<div class="sideCatalog">
<dl class="list-successNav">
<dd class="successNav-item visited">
<p class="layout01"><span>注册登录</span></p>
<p class="layout02"></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item visited">
<p class="layout01"><span>实名认证</span></p>
<p class="layout02"><span></span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item activeSuccess">
<p class="layout01"><span>绑定银行卡</span></p>
<p class="layout02"><span>银行卡已绑定成功，可以快速的充值了</span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item next">
<p class="layout01"><a href="${baseUrl}/account/tradepwd/set.htm"><span>设置安全密码</span></a><span style="font-size: 12px;
color: #a0a0a0;">（如已设置，可跳过此步骤）</span></p>
<p class="layout02"><span>安全密码是平台上进行核心操作时，唯一身份认证</span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item">
<p class="layout01">充值</p>
<p class="layout02"><span>通过绑定的银行卡充入保证金</span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item">
<p class="layout01"><span>融资</span></p>
<p class="layout02"><span>根据保证金金额按比例融资</span></p>
<span class="sideCatalog-dot"></span>
</dd>
<dd class="successNav-item lastLi">
<p class="layout01"><span>交易并盈利</span></p>
<span class="sideCatalog-dot"></span>
</dd>
</dl>
</div>
<!--列表-->


</div>
</div>
<!--内容end-->


</div>