<div class="bank-card-box bank-card-bind-su">

    <div class="bank-card-boder">
        <div class="btn-line">
            <div class="btn"><a href="${baseUrl}/account/bankcard/bind.htm?edit=1"><i class="fa fa-exchange">&nbsp;</i>换卡</a></div>
        </div>
        <div class="bank-card-node">
            <div class="bank-logo" data-dojo-attach-point="bankcardImgNode">
                <img src="">
                <em class="bank-logo-name" data-dojo-attach-point="bankcardNameNode"></em>
            </div>
            <div class="bank-user-name" data-dojo-attach-point="cardholderNode"></div>
            <div class="bank-card-bun num" data-dojo-attach-point="bankcardNoNode"></div>
            <div class="bank-user-name" data-dojo-attach-point="openBankNode"></div>
        </div>

    </div>
</div>