<div class="frame-all">
    <div class="">
        <!--表单-->
        <form class="ui-form ui-form-specialStep" role="form">

            <div class="ui-form-item" style="padding-left: 130px;">
                <label class="ui-label">充值方式：</label>

                <div class="ui-text">
                    <span class="ui-logo-small"><img data-dojo-attach-point="bankImgNode"/></span>
                </div>
            </div>

            <div class="ui-form-item ui-form-itemNobottom" style="padding-left: 130px;">
                <label class="ui-label">充值金额：</label>
                <div class="ui-text">
                    <b class="am-ft-md am-ft-number am-ft-orange" data-dojo-attach-point="amountNode">
                    </b> 元
                </div>
            </div>
            <div class="ui-form-item ui-form-itemNobottom" style="padding-left: 130px;">
                <label class="ui-label">手续费：</label>
                <div class="ui-text">
                    <b class="am-ft-md am-ft-number" data-dojo-attach-point="tipNode">
                    </b> 元
                </div>
            </div>
            <div class="ui-form-item ui-form-itemNobottom" style="padding-left: 130px;">
                <label class="ui-label">合计：</label>
                <div class="ui-text">
                    <b class="am-ft-md am-ft-number am-ft-orange" data-dojo-attach-point="totalAmountNode">
                    </b> 元
                </div>
            </div>
            <div data-dojo-attach-point="preBtnNode"></div>
            <div data-dojo-attach-point="confirmBtnNode"></div>
        </form>
    </div>
</div>