<div class="frame-all">
    <div>
        <form class="ui-form ui-form-bankInfo" role="form" data-dojo-attach-point="formNode">

            <div class="ui-form-item"  style="padding-left: 130px;">
                <label class="ui-label">可用余额：</label>
                <div class="ui-text">
                    <b data-dojo-attach-point="avalaibleAmountNode"></b> 元
                </div>
            </div>

            <div class="ui-form-item"  style="padding-left: 130px;">
                <label class="ui-label">手续费：</label>
                <div class="ui-text">
                    <b data-dojo-attach-point="tipNode"></b> 元
                </div>
            </div>

            <div data-dojo-attach-point="nextBtnNode"></div>
        </form>
    </div>
</div>