<div class="con-all">

<!--内容start-->
<div class="con-success clearfix" style="width:300px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-error"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>很抱歉，充值失败！</b></p>
<p class="layout02"><span class=" am-ft-md">点此<a class="am-left-5" href="new-recharge01.html" target="_blank">重新充值</a></span></p>
<p class="layout02"><span class="">您可以检查以下地方：</span></p>
<p class="layout03"><span class="">1.网络是否稳定。</span></p>
<p class="layout03"><span class="">2.安全密码输入是否正确。</span></p>
</div>
</div>
<!--内容end-->


</div>