<div class="box">
<div class="con-box">
<!--窗口标题 -->
<div class="title-box clearfix">
<h2 class="cm-left">登录网上银行充值</h2>
<a data-dojo-attach-point="closeNode" class="cm-right close-box">×</a>
</div><!--窗口标题 -->


<div class="content">
<p class="layout01"><span class="am-ft-md">请在新开网银页面完成充值后选择：</span></p>
<p class="layout01 am-ft-md"><i class="ui-icon icon-middle-success"></i><b class=" am-left-10">充值成功！</b><a href="${baseUrl}/account/rw.htm" class=" am-left-10">查看充值记录</a></p>
<p class="layout01 am-ft-md"><i class="ui-icon icon-middle-error"></i><b class=" am-left-10">充值失败！</b><a href="${baseUrl}/account/recharge.htm" class=" am-left-10">选择其它充值方式</a></p>


</div>
</div>
</div>