<div class="con-all">

<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>恭喜您，充值成功！</b></p>
<p class="layout02"><span class="am-ft-md">您已充值<b class="am-ft-lg am-ft-number am-ft-orange" data-dojo-attach-point="totalAmountNode"></b> 元。</span></p>
<p class="layout02 am-ft-md"><a href="${baseUrl}/account/rw.htm">充值记录</a></p>
</div>
</div>
<!--内容end-->


</div>