<div class="con-rside cm-right" style="margin-top:0px">

<ul class="list-security">
<li class="list-security-item firstLi" data-access="0 9">
<table border="0" cellspacing="0" class="list-security-item-table">
  <tbody><tr>
    <td class="list-security-item-ico"><i class="ui-icon icon-middle-success"></i></td>
	<td class="list-security-item-text">登录密码</td>
    <td class="list-security-item-part">
    <div data-dojo-attach-point="pwdStrongNode"></div>
     <p><span class="am-ft-orange">互联网存在盗号风险，建议定期更换密码，以保证账号安全。</span></p>
	</td>
    <td class="list-security-item-link"><a href="${baseUrl}/user/changeloginpwd.htm" target="_blank" class="am-ft-md">修改</a></td>
  </tr>
</tbody></table>
</li>

<li class="list-security-item" data-access="0 9">
<table border="0" cellspacing="0" class="list-security-item-table">
  <tbody><tr>
    <td class="list-security-item-ico"><i data-dojo-attach-point="tradePwdIconNode" class="ui-icon"></i></td>
	<td class="list-security-item-text">安全密码</td>
    <td class="list-security-item-part">
    <div data-dojo-attach-point="tradePwdStrongNode"></div>
    <p><span class="am-ft-gray">设置安全密码，保证资金安全。</span></p>
	</td>
    <td class="list-security-item-link"><a target="_blank" class="am-ft-md" data-dojo-attach-point="tradePwdLinkNode"></a>
    <a target="_blank" class="am-ft-md" data-dojo-attach-point="tradePwdLinkForgetNode"></a></td>
  </tr>
</tbody></table>
</li>


<li class="list-security-item" data-access="0 9">
<table border="0" cellspacing="0" class="list-security-item-table">
  <tbody><tr>
    <td class="list-security-item-ico"><i class="ui-icon" data-dojo-attach-point="mobileIconNode"></i></td>
	<td class="list-security-item-text">绑定手机</td>
    <td class="list-security-item-part">
    <p><b class="am-ft-md" data-dojo-attach-point="mobileNode"></b></p>
	<p><span class="am-ft-gray">账号如有异常，将会实时通知您。</span></p>
	</td>
    <td class="list-security-item-link"><a class="am-ft-md" target="_blank" data-dojo-attach-point="mobileLinkNode"></a></td>
  </tr>
</tbody></table>
</li>

<li class="list-security-item" data-access="0 9">
<table border="0" cellspacing="0" class="list-security-item-table">
  <tbody><tr>
    <td class="list-security-item-ico"><i data-dojo-attach-point="emailIconNode" class="ui-icon"></i></td>
	<td class="list-security-item-text">绑定邮箱</td>
    <td class="list-security-item-part">
    <p><span data-dojo-attach-point="emailNode" class="am-ft-md"></span></p>
    <p><span class="am-ft-gray">将会为您推荐第一手的财经资讯。</span></p>
	</td>
    <td class="list-security-item-link"><a class="am-ft-md" data-dojo-attach-point="emailLinkNode" target="_blank"></a></td>
  </tr>
</tbody></table>
</li>

<li class="list-security-item" data-access="0 9">
<table border="0" cellspacing="0" class="list-security-item-table">
  <tbody><tr>
    <td class="list-security-item-ico"><i data-dojo-attach-point="pwdQuestionIconNode" class="ui-icon"></i></td>
	<td class="list-security-item-text">安全密码保护问题</td>
    <td class="list-security-item-part">
    <p><span data-dojo-attach-point="tradePwdQuestionNode" class="am-ft-orange am-ft-md"></span></p>
    <p><span class="am-ft-gray">记住您的密码保护问题及答案，以便后续密码遗忘或变更时确认是否本人修改。</span></p>
	</td>
    <td class="list-security-item-link">
    <a data-dojo-attach-point="tradePwdQuestionLinkForgetNode" target="_blank" class="am-ft-md"></a></td>
  </tr>
</tbody></table>
</li>
</ul>

</div>