<div class="con-all frame-all">

<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b >恭喜您，安全密码设置成功！</b></p>
<p class="layout02"><span class="am-ft-orange">请妥善保管安全密码，它是平台上进行核心操作时，比如更改绑定手机号，借款合约，资金相关操作，唯一身份认证。</span></p>
<p class="layout02">
<a data-dojo-attach-point="ifQuestionLinkNode" href="${baseUrl}/account/tradepwd/question.htm" target="_blank" class="ui-button ui-button-mred">
<b class="ui-button-text am-ft-white am-ft-md" data-dojo-attach-point="ifQuestionNode">设置密码保护问题</b></a></p>
<p class="layout02"><span class="am-ft-gray" data-dojo-attach-point="ifQuestionNode2">设置密码保护问题，以便后续密码遗忘或变更时确认是否本人修改</span></p>
<p class="layout02"><span class="am-ft-md">点此返回<a href="${baseUrl}/home/index.htm" class="am-left-5">会员中心首页</a></span></p>
</div>
</div>
<!--内容end-->

</div>
