<div class="center">
<div class="con-success clearfix" style="width:450px">
<div class="cm-left successIcon-lside"></div>
<div class="cm-left successText-rside">
<p class="layout01"><i class="ui-icon icon-big-success"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>恭喜您，安全密码保护问题设置成功！</b></p>
<p class="layout02"><span class="am-ft-orange am-ft-md">请记住您的密码保护问题及答案，以便后续密码遗忘或变更时确认是否本人修改。</span></p>
<p class="layout02"><span class="am-ft-md"><a class="am-left-5 am-right-5" href="${baseUrl}/account/security.htm" target="_blank">安全信息</a><a class="am-left-5" href="${baseUrl}/home/index.htm" target="_blank">会员中心首页</a></span></p>
</div>
</div>
</div>