<div>
	<div class="${baseClass}Base">
		<div class="${baseClass}Avatar">
			<img src="app/resources/images/avatar.png">
		</div>
		<div class="${baseClass}Main">
			<div class="${baseClass}Title">中午好，张三</div>
			<div class="${baseClass}Field">邮箱：<span data-dojo-attach-point="email"></span></div>
			<div data-dojo-type="app/ux/GenericProgressBar" data-dojo-props="label: '安全等级：'" data-dojo-attach-point="security"></div>
		</div>
	</div>
	<div class="${baseClass}Field">上次登录IP：<span data-dojo-attach-point="lastLoginIP"></span></div>
	<div class="${baseClass}Field">上次登录时间：<span data-dojo-attach-point="lastLoginTime"></span></div>
</div>
