<div class="con-all">

<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b >恭喜您，取现申请成功！</b></p>
<!-- <p class="layout02"><span class="am-ft-md  am-lh-24">预计到<span class="am-ft-orange am-left-5 am-right-5">2014-08-14</span>号到账，请注意查收</span></p> -->
<p class="layout02"><span class="am-ft-md  am-lh-24">查看<a href="${baseUrl}/account/rw.htm#withdraw" class="am-left-5">取现记录</a>，或返回<a href="${baseUrl}/home/index.htm" class="am-left-5">会员中心首页</a>。</span></p>
</div>
</div>
<!--内容end-->


</div>