<div class="con-all">

	<!--表单-->
	<div data-dojo-attach-point="formNode" class="ui-form" role="form">
		<div class="ui-form-item">
			<label class="ui-label">取现金额：</label> <b
				class="ui-text am-ft-md am-ft-number"><span
				data-dojo-attach-point="withdrawAmountIntNode" class="am-ft-xxl"></span><span
				data-dojo-attach-point="withdrawAmountDecNode"></span><span
				style="font-weight: normal; font-family: Hiragino Sans GB, Microsoft Yahei">
					元</span></b>
		</div>

	</div>

</div>