<div class="con-ReCa" style="margin-left: 10px;height: 143px;border-left: 1px #eaeaea solid;float:left;padding-left:40px;">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
  	<th>账户总值：</th>
    <td><b class="am-ft-number am-ft-lg" data-dojo-attach-point="assetTotalValueNode">0.00</b> 元 </td>
  </tr><tr>
    <th>资金余额：</th>
    <td><b class="am-ft-number am-ft-lg" data-dojo-attach-point="curAmountNode">0.00</b> 元 </td>
  </tr><tr>
    <th>证券市值：</th>
    <td><b class="am-ft-number am-ft-lg" data-dojo-attach-point="stockAssetNode">0.00</b> 元 </td>
  </tr><tr>
    <th>可用余额：</th>
    <td><b class="am-ft-number am-ft-lg" data-dojo-attach-point="availableAmountNode">0.00</b> 元</td>
  </tr>
</tbody>
</table>

</div>