<div>
<div class="clearfix">

<ul class="list-assetsIndex listLateral">
<li class="list-assetsIndex-item clearfix">
<div class="cm-left am-mt-15">
<table border="0" cellspacing="0" class="table-assetsIndex">
  <tbody><tr>
    <th>可用余额：</th>
    <td><b class="am-ft-number am-ft-xl" data-dojo-attach-point="avalaibleAmountNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
  <tr>
    <th>冻结金额：</th>
    <td><b class=" am-ft-xl am-ft-number" data-dojo-attach-point="freezeAmountNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
</tbody></table>
</div>
<div class="cm-right am-mt-5">
<a href="${baseUrl}/account/recharge.htm" target="_blank"><div data-dojo-attach-point="rechargeBtnNode"></div></a>
<div class="am-mt-5"><a href="${baseUrl}/account/withdraw.htm" target="_blank"><div data-dojo-attach-point="withdrawBtnNode"></div></a></div>
</div>
</li>

<div data-dojo-attach-point="loanPanelNode"></div>
</ul>
<div data-dojo-attach-point="assetsPanel" class="assetsIndex-chart clearfix" style="height: 138px;">
<div class="assetsIndex-item">
<p><span class="am-ft-md">总资产</span></p>
<p class="am-pt-5"><span class="am-ft-md"><b class="am-ft-xl am-ft-number" data-dojo-attach-point="totalAssetNode">0.00</b><span class="am-ft-md am-left-5">元 </span></span></p>
</div>
<div class="assetsIndex-item">
<p><span class="am-ft-md">净资产</span></p>
<p class="am-pt-5"><span class="am-ft-md"><b data-dojo-attach-point="netAssetNode" class="am-ft-xl am-ft-number">0.00</b><span class="am-ft-md am-left-5">元 </span></span></p>
</div>
<div class="assetsIndex-item">
<p><span class="am-ft-md">股票市值</span></p>
<p class="am-pt-5"><span class="am-ft-md"><b data-dojo-attach-point="stockPriceNode" class="am-ft-xl am-ft-number">0.00</b><span class="am-ft-md am-left-5">元 </span></span></p>
</div>
<div style="float: right; margin-right: 10px;"><i data-dojo-attach-point="RefreshNode" class="fa fa-2x refresh-extra">&#xf021;</i></div>
<div data-dojo-attach-point="RiskControlGaugeNode" style="float: right;margin-right: 10px;margin-top: -12px; display: inline-block;"></div>
</div>
</div>
</div>