<div class="con-contract">

<!--内容start-->
<div class="con-success clearfix" style="width:320px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-warning"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>暂时无法进行该操作！</b></p>
<p class="layout02"><span class="am-ft-gray am-ft-md">请先逐步完成以下操作。</span></p>
</div>
</div>
<!--内容end-->


<!--步骤-->
<div class="lineTop-gray-dashed">
<ul class="ui-step-tips">
<li data-dojo-attach-point="realNameNode" class="ui-step-tips-item">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont01"></i>
<div class="ui-step-text">
<p data-dojo-attach-point="realNameLinkNode" style="margin-left:-15px;"></p>
</div>
</div>
</li>
<li data-dojo-attach-point="bankcardNode" class="ui-step-tips-item">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont02"></i>
<div class="ui-step-text">
<p data-dojo-attach-point="bankcardLinkNode" style="margin-left:-10px;"></p>
</div>
</div>
</li>
<li data-dojo-attach-point="tradePwdNode" class="ui-step-tips-item ui-step-end">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont03"></i>
<div class="ui-step-text">
<p data-dojo-attach-point="tradePwdLinkNode" style="margin-left:-15px;"></p>
</div>
</div>
</li>
</ul>
</div>
<!--步骤-->

</div>