<li class="list-assetsIndex-item lineLeft-gray-dashed">
<div class="clearfix">
<div class="cm-left">
<b class="am-ft-orange">审核中<span data-dojo-attach-point="dotNode"></span></b>
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody>
  <tr>
    <th>融资金额：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-gray" data-dojo-attach-point="loanAmountNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
  <tr>
    <th>融资保证金：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-gray" data-dojo-attach-point="cashAmountNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
</tbody></table>
</div>
<div class="cm-right am-mt-5">
<a href="${baseUrl}/financing/loan/borrow.htm" target="_blank"><div data-dojo-attach-point="loanBtnNode"></div></a>
<div class="am-mt-5">
<a href="${baseUrl}/financing/repayment/payback.htm" target="_blank"><div data-dojo-attach-point="repayBtnNode"></div></a>
</div>
</div>
</div>
</li>