<li class="list-assetsIndex-item lineLeft-gray-dashed">
<div class="clearfix">
<div class="cm-left">
<table width="100%" border="0" cellspacing="0" class="table-assetsIndex">
  <tbody><tr>
    <th>融资余额：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-green" data-dojo-attach-point="loanAmountNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
  <tr>
    <th>应付利息：</th>
    <td><b class="am-ft-xl am-ft-number am-ft-green" data-dojo-attach-point="accruedInterestNode">0.00</b><span class="am-ft-md am-left-5">元 </span></td>
  </tr>
  <tr>
    <th>到期日期：</th>
    <td><span class="am-ft-md" data-dojo-attach-point="endDateNode"></span></td>
  </tr>
</tbody></table>
</div>
<div class="cm-right am-mt-5">
<a href="${baseUrl}/financing/loan/extra.htm" target="_blank" data-dojo-attach-point="loanLinkNode"><div data-dojo-attach-point="loanBtnNode"></div></a>
<div class="am-mt-5">
<a href="${baseUrl}/financing/repayment/payback.htm" target="_blank" data-dojo-attach-point="repayLinkNode"><div data-dojo-attach-point="repayBtnNode"></div></a>
</div>
</div>
</div>
</li>