<div class="con-contract">

<!--内容start-->
<div class="con-success clearfix" style="width:320px;">
<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-warning"></i></div>
<div class="cm-left successText-rside">
<p class="layout01"><b>暂时无法进行该操作！</b></p>
<p class="layout02"><span class="am-ft-red" style="font-size: 15px;">安全密码是平台上进行核心操作时，唯一身份认证。</span></p>
<p class="layout02"><span class="am-ft-md" data-dojo-attach-point="tradePwdLinkNode"></span></p>
</div>
</div>
<!--内容end-->
</div>