<ul class="ui-step-tips ui-step-index clearfix" style="overflow: visible;" data-dojo-attach-point="statusCtnNode">
<li data-dojo-attach-point="isTrustNode" class="ui-step-tips-item">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont01"><i class="iconfontinner" data-dojo-attach-point="showTrustNode"></i></i>
<div class="ui-step-text ui-step-text-extra">
<p style="margin-left:5px;"><span data-dojo-attach-point="isTrustTextNode"></span></p>
</div>
</div>
</li>
<li data-dojo-attach-point="isBankCardNode" class="ui-step-tips-item">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont02"><i class="iconfontinner" data-dojo-attach-point="showBankCardNode"></i></i>
<div class="ui-step-text ui-step-text-extra">
<p style="margin-left:-5px;"><span data-dojo-attach-point="isBankCardTextNode"></span></p>
</div>
</div>
</li>
<li data-dojo-attach-point="isTradePwdNode" class="ui-step-tips-item ui-step-end">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont iconfont03"><i class="iconfontinner" data-dojo-attach-point="showTradePwdNode"></i></i>
<div class="ui-step-text ui-step-text-extra">
<p style="margin-left:-10px;"><span data-dojo-attach-point="isTradePwdTextNode"></span></p>
</div>
</div>
</li>
</ul>