<div>
<!--头像-->
<div class="clearfix">
<div data-dojo-attach-point="avatarCtnNode" class="i-loginInfo-portrait"><img data-dojo-attach-point="avatarNode" src="${baseUrl}/app/resources/image/common/avatar.png" class="img-avtar" width="70"></div>
<div class="i-loginInfo-main">
<p><b data-dojo-attach-point="usernameNode" class="am-ft-md"></b></p>
<p class="am-pt-10"><span class="am-ft-gray">会员积分：<b class="am-ft-orange" data-dojo-attach-point="userScoreNode"></b> 分</span></p>
<p class="am-pt-5 am-ft-gray" style="font-size: 12px;" data-dojo-attach-point="scoreNode"></p>
</div>
</div>
<div data-dojo-attach-point="userStatusCtnNode"></div>

<!--登录时间-->
<p class="am-ft-gray am-lh-24 am-pt-10">上次登录IP ：<span data-dojo-attach-point="lastLoginIPNode"></span></p>
<p class="am-ft-gray am-lh-24">上次登录时间：<span data-dojo-attach-point="lastLoginTimeNode"></span></p>

</div>