<#assign controller="guide"/>
<#include 'layout/layout.html'/>
<#macro content>

<!--内容start-->
<div class="contents con-lr clearfix">

<!--左边start-->
<div class="conLR-lside cm-left">
<div class="pagination">
<ul class="list-lside">
<li class="list-lside-item active">
<a href="#fakelink" class=""><span>按日融资</span></a>
</li>
<li class="list-lside-item">
<a href="#fakelink" class=""><span>按月融资</span></a>
</li>
<li class="list-lside-item">
<a href="#fakelink" class=""><span>安全保障</span></a>
</li>
<li class="list-lside-item">
<a href="software-guide.html" class=""><span>交易软件</span></a>
</li>
<li class="list-lside-item">
<a href="#fakelink" class=""><span>关于我们</span></a>
</li>
</ul>
</div>
</div>
<!--左边end-->


<!--右边-->
<div class="conLR-rside cm-right">
<!--标题-->
<div class="title-frame">
<h3>什么是按日融资</h3><span class="arrow"></span>
</div>
<!--标题-->

<!--内容-->
<div class="conLR-text">
<h2>按日融资交易利器，灵活便捷，随借随还</h2>
<p>按日融资通俗的来讲就是按天融资，特别适合按日融资能力卓越的操盘能手，看中行情，快速获利，随借随还在一定程度上降低了投资成本。</p>
<p>默认每天自动续期，余额不足或您需要中止时，平仓清算。</p>
<p>单笔最高可申请25万，灵活便捷，用几天算几天，财务自由由您把控。</p>
</div>
<!--内容-->

<!--标题-->
<div class="title-frame">
<h3>操盘风控管理</h3><span class="arrow"></span>
</div>
<!--标题-->

<!--内容-->
<div class="conLR-text">
<h2>尽职风控，专业管理</h2>
<p>为了投资者的资金安全及操盘手的风险控制，我们会设置亏损警戒线和平仓线。</p>
<p>当总资金低于亏损警戒线时我们将冻结您买入股票的权限，此时您只能卖出不能买入，通过追加保证金后方可继续买卖。</p>
<p>当总资金低于亏损平仓线时，您的仓位随时可能会被我们风控人员平仓处理。</p>
</div>
<!--内容-->

<!--标题-->
<div class="title-frame">
<h3>盈利的提取清算</h3><span class="arrow"></span>
</div>
<!--标题-->

<!--内容-->
<div class="conLR-text">
<h2>提取清算高效便利</h2>
<p>盈利的提取：如果您有盈利需要提取，请在前一日将等值仓位卖出，我们会在次日划给您。</p>
<p>合约的清算：如操作中止或到期，我们将在中止当日予以平仓清算，次日将剩余款项退给您，亏损状况下，保证金是不能提取的，除非中止合约或者合约到期。</p>
</div>
<!--内容-->

<!--标题-->
<div class="title-frame">
<h3>注意事项</h3><span class="arrow"></span>
</div>
<!--标题-->

<!--内容-->
<div class="conLR-text">
<h2>禁止购买的股票</h2>
<p>1. 不得买入ST类股票、当日已经跌停的股票。</p>
<p>2. 不得买入连续跌停后次打开跌停的股票（打开跌停的全日，无论反弹大小，均不可买入）。</p>
<p>3. 不得买入权证类可以T+0交易的证券。</p>
<p>4. 不得买入首日上市的新股及恢复上市首日等无涨跌幅限制的股票。</p>
<p>5. 不得买入已经被本平台列入高风险类有退市预期的股票，详情关注首页公告。</p>

<h2>单仓的限制</h2>
<p>1. 借款金额100万或以上主板单只股票不得超过账户总资产的50%（100万以下不受限制）；</p>
<p>2. 借款金额100万或以上创业板单只股票不得超过账户总资产的30%（100万以下不受限制）；</p>

<h2>如何中止爱融资</h2>
<p>1. 主动中止：卖出账户中的股票，前往个人账户中心，选择中止协议，并按流程中止。</p>
<p>2.  被动中止：触及平仓线被清仓处理的，我们会予以中止处理并退还剩余保证金（如有）。</p>

<h2>其他说明</h2>
<p>1. 最加保证金单次最低额度为申请额度的3%，即每1万元300元。</p>
</div>
<!--内容-->

<!--标题-->
<div class="title-frame">
<h3>郑重声明</h3><span class="arrow"></span>
</div>
<!--标题-->

<!--内容-->
<div class="conLR-text am-mt-20">
<p>1. 未满18周岁，或者没有固定收入或者无风险承受能力的人不得使用本平台进行投资。</p>
<p>2. 证券监管部门明确市场禁入的人员不得进行操作。</p>
<p>3. 内幕信息知情人员包括但不限于上市公司董事、高管、监事、会计审计人员、律师等等不得利用内幕信息借用本平台进行操作。</p>
</div>
<!--内容-->

</div>
<!--右边end-->




</div>
</#macro>