/** RESET **/
body {
  font-family: 'Microsoft YaHei',Lucida Grande,Lucida Sans Unicode,\5B8B\4F53;
  -webkit-text-size-adjust: none;
  color: #6a6a6a;
  _font: 12px/1.5 \5B8B\4F53; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
  padding: 0;
  margin: 0; }

ol, ul {
  list-style: none; }

li {
  list-style-type: none; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: top;
  border: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%;
  font-weight: 400; }

i, u, em, b, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: 400; }

input, textarea, button, select, button {
  outline: none;
  resize: none;
  font-family: \5B8B\4F53; }

a {
  color: #666;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  a:visited {
    text-decoration: none; }
  a:hover {
    color: #5376be;
    text-decoration: none;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: "."; }

html, body {
  background: #dfdfdf; }

dt {
  font-size: 18px;
  line-height: 3;
  padding: 0 1em;
  border-bottom: 1px solid #e5e5e5;
  background: #fff; }

dd {
  font-size: 16px;
  line-height: 2;
  padding: 0 1em .5em;
  display: none; }

img {
  width: 100%; }
