[
	["帮助中心"],
	["交易所对比", ["上海黄金交易所简介", ["交易所的官方网址是什么？",
				"交易所的官方网址是：www.sge.com.cn",
				"交易所的官方网站主要提供交易所概况、行情数据、交易数据、业务规则、公告通知、行业动态、会员服务等信息，并提供相关资料的下载服务。"
			],
			["交易所的交易流程是什么？",
				"现货实盘品种交易流程为：",
				"开户——存入资金/存入黄金——下达交易指令——成交——清算——提取黄金/提取资金",
				"现货延期品种交易流程为：",
				"开户——开通延期市场交易权限——存入交易资金——下达交易指令——成交——交收申报——中立仓申报——清算—提取黄金/提取资金"
			],
			["交易所的相关费用有哪些？",
				"实物交易的费用一般包括：交易手续费、交割费、仓储费（目前对个人客户免受仓储费）等；",
				"如果发生实物出库行为的，还有运保费、出入库费等费用；",
				"对于延期交易品种，如果市场交货量与收货量不平衡，多空双方之一方需要向另一方支付递延费；如果市场持仓规模超过交易所的规定时，超期持仓需要支付超期费。"
			],
			["交易所的交易时间？",
				"北京时间",
				"夜间：20:00-02:30（周一周五）",
				"上午：09:00-11:30（周一周五）",
				"下午：13:30-15:30（周一周五）",
				"下午15:00-15:30为交割申报时间；下午15:31-15:40为中立仓申报时间；周一上午8：50-9：00、周一至周五夜间19:50-20:00为集合竞价和撮合时间。其中夜间与次日白天交易时间段为一完整交易日，20:00至次日凌晨02:30为夜市交易，其余时间为日市交易。",
				"以上交易时间如有变动，以上金所实际交易时间为准。"
			],
			["交易所的交易品种有哪些？",
				"目前，交易所在财猫贵金属有包括黄金、白银两个品种，共8个合约，其中：",
				"黄金为Au99.99、Au99.95、Au100g三个现货实盘合约",
				"黄金延期Au(T+D)、迷你黄金延期mAu(T+D)、黄金单月延期Au(T+N1)、黄金双月延期Au(T+N2)四个现货延期交收合约",
				"白银有Ag（T+D）现货延期交收合约；"
			],
			["交易所实行什么样的交易方式？",
				"黄金、白银、铂等贵金属的标准化合约以集中竞价的方式进行交易，按照价格优先、时间优先的原则撮合成交；非标准化合约通过询价方式进行交易，实行“自主报价、协商成交”。（本手册仅介绍集中竞价方式的交易）",
				"会员单位一般通过电脑及网络以远程方式进行交易；其他客户则是通过会员单位的代理，以代理会员提供的方式参与交易所的交易。"
			],
			["交易所提供哪些服务？",
				"交易所提供黄金、白银、铂等贵金属的交易、清算、交割、储运以及信息等相关服务。"
			],
			["交易单位",
				"黄金交易品种标价为人民币元/克，白银交易品种为人民币元/千克；交易单位为手及其整数倍：Au99.99每手对应的交易单位为10克；Au100g和mAu(T+D)每手对应的交易单位均为100克；Au99.95、Au(T+D)、Au(T+N1)、Au(T+N2)和Ag（T+D）每手对应的交易单位均为1千克。"
			],
			["上海黄金交易所简介",
				"上海黄金交易所是经国务院批准，由中国人民银行组建，在国家工商行政管理总局登记注册的，中国唯一合法从事黄金交易的国家级市场，遵循公开、公平、公正和诚实信用的原则组织黄金交易，不以营利为目的，实行自律性管理的社团法人。上海黄金交易所的建立使中国的黄金市场与货币市场、证券市场、外汇市场一起构筑成中国完整的金融市场体系，为中国黄金市场的参与者提供了现货交易平台，使黄金生产与消费企业的产需供求实现了衔接，完成了黄金统购统配向市场交易的平稳过渡。"
			]
		],
		["南方稀贵金属交易所简介", ["交易所的交易品种有哪些？",
				"目前南交所挂牌交易的品种包括：白银、铜、铟、铋、碲、锡、锑、钨、铂、钯、铑、16种稀土氧化物【氧化镧、氧化镝、氧化铈、氧化镨钕、氧化铕、氧化铽、氧化钇、氧化镨、氧化钕、氧化钐、氧化铥、氧化铒、氧化镱、氧化镥、氧化钬、氧化钆】，一共有27个稀贵金属品种。"
			],
			["交易所的交易时间？",
				"每周一至周五开市（国家法定节假日及交易所公告的休市日除外）",
				"交易时间为：上午09:00—次日凌晨06:00"
			],
			["交易所的交易特点是什么？",
				"交易成本最低：交易手续费为成交额的万分之八，无点差，无递延费(无过夜费)；",
				"交易机制简单：类似股票交易，非“对赌性质的做市商交易”，更利于普通投资者；",
				"投资门槛最低：白银的最小交易单位为10g，最少仅需10元左右既可以投资白银；",
				"随时提取现货：实物交收机制，可随时提取现货，随时回购——“一个可以拿回家的股票”；",
				"21小时T+0双向买卖：交易可以买多也可以卖空，双向交易随时可以获利；每天交易长达21小时；",
				"保证资金安全：交易商资金实行银行第三方存管，充分保障交易商的资金安全；",
				"10%交易保证金：资金最多可放大10倍。"
			],
			["交易所的官方网站是什么？",
				"交易所的官方网站是：www.nanjiaosuo.com"
			],
			["南方稀贵金属交易所简介",
				"南方稀贵金属交易所（以下简称“南交所”）是经国务院部际联席会议验收通过、目前国内唯一一家获得批准的稀贵金属“证券化”交易所。",
				"南交所交易模式为稀贵金属的证券化交易，与股票交易类似，另外突出的优点为：交易时间长达21小时，T+0一天可多次交易，双向买卖（可买涨也可买跌），开户便捷10秒即可完成，可随时提取现货，为一只无溢价、可以“拿回家的股票”。",
				"目前南交所挂牌交易的品种主要包括：白银、铜、铟、铋、碲、锡、锑、钨、稀土氧化物等稀贵（有色）金属。",
				"同时，南交所在各主要稀贵金属冶炼地和消费集中地兴建交收基地，服务于当地实体产业，帮助生产企业实现“零库存”。"
			]
		],
		["热点对比", ["南交所和上金所入金门槛对比",
				"南交所：南交所的主要交易品种白银10g的交易单位是手，每手10g，10g的价格约为34-37元，只要投入一手的钱就可以进行交易；",
				"上金所：上金所的主要交易品种白银延期（AgT+D）、迷你黄金延期（mAuT+D）、黄金延期（AuT+D）。",
				"白银延期的交易单位是手，每手1kg，1kg的价格约为3500-3600元，考虑到9%保证金产生的杠杆效应，每手最少投入315元就可以进行交易；",
				"迷你黄金延期的交易单位是手，每手100g，100g的价格约为23700元，考虑到7%保证金产生的杠杆效应，每手最少投入约2600元就可以进行交易；",
				"黄金延期的交易单位是手，每手1kg，1kg的价格约为237000元，考虑到7%保证金产生的杠杆效应，每手最少投入约16590元就可以进行交易。"
			],
			["南交所和上金所的持仓方式对比",
				"南交所的持仓方式为单向持仓，用户在开仓时只能进行选择买入或者卖出其中一个方向进行交易，即多仓和空仓只可选择其中一种持有；",
				"上金所的持仓方式为双向持仓，用户在开仓时可以同时选择买入和卖出两个方向进行交易，可以多空双向持仓。"
			],
			["南交所和上金所手续费对比",
				"南交所的交易手续费为万分之八；开仓和平仓都收取手续费。",
				"上金所的交易手续费为万分之八，与南交所不同的是上金所对于当日开仓、当日平仓的合约，平仓部分的手续费在清算时会先扣除然后返还给用户。"
			],
			["南交所和上金所交易时间对比",
				"南方稀贵金属所交易时间为周一至周五的09:00至次日06:00（节假日除外），除了06:00至09:00之间的3个小时，每个交易日的交易时间为连续21个小时。",
				"上海黄金交易所交易时间为每周一至五9:00-11:30、13:30-15:30以及20:00-2:30（节假日除外），每个交易日的交易时间合计11个小时。"
			]
		]
	],
	["南方稀贵金属交易所", ["开户常识", ["开户时间",
				"1.财猫为您提供24小时在线开户服务，交易时间是周一至周五的9:00-次日6:00；",
				"2.开户之后即可绑卡和充值、交易、提现。"
			],
			["极速开户",
				"1.手机注册财猫账户2.验证身份信息3.绑定银行卡4.开通南交所账户。"
			],
			["注册财猫",
				"财猫贵金属需要使用财猫账号进行登录，如果您还没有财猫账号，点击“注册”按钮，输入手机验证码即可快速完成注册。"
			],
			["什么是贵金属交易？",
				"贵金属交易是指投资人在根据黄金、白银等贵金属市场价格的波动变化，确定买入或卖出，对贵金属市场低买高卖赚取差价的过程。平台特性是：10倍杠杆、双向交易、24小时交易。",
				"贵金属交易是目前最火热的交易品种，不设置涨跌停，随时建仓平仓。"
			],
			["在财猫开户有哪些优势？",
				"1.开户方便快捷，为您一键开户畅通无阻，只需绑定一卡，可以开通多个交易所，我们帮你提交个人信息到交易所，您无需自己处理交易所复杂的交易流程。",
				"2.有法律保障，财猫贵金属与用户签订的协议由专业的律师团队修订，依照《合同法》和《电子签名法》，电子采用PDF防篡改技术，纸质微景一律归档保存。",
				"3.专业动态新闻，为您的行情分析提供及时、准确的参考。"
			],
			["通过财猫开户安全吗？",
				"1.【数据安全保障】财猫贵金属建立了反应实时、深入行业、专业能力的顶级的安全团队，为平台量身定制安全方案，全面保证用户的数据安全。",
				"2.【风控安全保障】财猫贵金属拥有全方位的风险系统，风险团队均由从业经验10年以上的来自中信证券等各大知名金融公司的专业人才组成，对用户的操盘账户的进行风控监控，预警，平仓。"
			],
			["在财猫可以开通那些账户?",
				"目前可开通南方稀贵金属交易所和上海黄金交易所两个账户。"
			],
			["南交所开户需要准备什么?",
				"1.需要填写您姓名、手机号、身份证号；",
				"2.需要填写开户储蓄卡号。"
			],
			["南交所开户的流程？",
				"1.选择财猫贵金属账户；",
				"2.选择“交易”界面，点击“开户”按钮；",
				"3.填写姓名、身份证号、银行卡号即可开户成功；",
				"提醒： 2016-1-29前开户的用户需进行第4步“银商绑定”：",
				"前往网银页面进行银商绑定，银商绑定流程可在帮助文档查看。"
			],
			["支持绑卡的银行和出入金额度？",
				"2016-1-29日之后开户绑定的银行卡出入金额度：",
				"目前异度支付支持银行卡有：工行、农行、中行、中信、平安、招商、交通、光大",
				"（支持银行卡还在陆续更新中…）",
				"出入金额度：每笔5w，每日前3笔免手续费。",
				"2016-1-29日之前开户绑定的银行卡及出入金额度：",
				"支持银行：中行、中信、招商、平安、兴业、光大、华夏（需柜台签约）",
				"出入金额度：",
				"中信：日入金500w，月入金500w",
				"兴业：日入金5w，月入金50w",
				"其余银行没有特殊限制。"
			],
			["什么是交易密码和资金密码？",
				"交易密码：用户用于登陆交易所的交易密码。",
				"资金密码：用户登陆财猫贵金属转账界面进行转账操作的密码。"
			],
			["如何修改交易密码和资金密码？",
				"在交易日内（除周六日、国家法定节假日和国际市场休市之外，周一到周五09:00--次日6:00为交易日。）修改交易密码：请登录财猫贵金属后轻触“个人”=》“南交所”=》“修改交易密码”=》输入当前资金密码以及新密码，即可完成修改交易密码操作。",
				"修改资金密码：请登录财猫贵金属后轻触“个人”=》“南交所”=》“修改资金密码”=》输入当前资金密码以及新密码，即可完成修改资金密码操作。"
			]
		],
		["交易行情", ["什么是交易品种？",
				"交易品种是指在交易所挂牌交易的物品。例如，南交所挂牌交易的品种包括：白银、铟、铋、碲、锡、锑、钨、稀土氧化物等23种稀贵（有色）金属。"
			],
			["什么是交易品种的最高价和最低价？",
				"最高价：某交易品种当日交易成交的最高价格。",
				"最低价：某交易品种当日交易成交的最低价格。"
			],
			["什么是分时图？",
				"分时图是指某交易品种的即时走势图，是买入和卖出操作的主要依据。"
			],
			["什么是K线图？",
				"K线图是以每个分析周期的开盘价、最高价、最低价和收盘价绘制而成，反映大势的状况和价格信息的图形，又称蜡烛图。如果分析周期是一天，就能得到日K线图，同样也可得到周K线图、月K线图。"
			],
			["什么是交易品种的涨停跌停？",
				"现货交易中为限制涨跌幅，设置一定的幅度，若达到这一幅度，即涨停或跌停。南交所的涨跌幅是±7%。例如，南交所白银的上一交易日的收盘价是40元，当前交易日的涨停价为40+40*7%=42.8元，跌停价为40-40*7%=37.2元。"
			]
		],
		["交易操作", ["买一、买二、卖一、卖二是什么？",
				"在撮合制交易中，买卖双方按各自的价格在市场中买入或者卖出贵金属，在交易操作栏右侧显示不同的出价单。通俗来讲，想买的人很多，现在没有成交的出价最高的，就是买1，稍低一点的就是买2；想卖的人也很多，现在未成交的出价最低的，就是卖1，稍高一些的就是卖2；",
				"一般来说，你如果想买，输入卖1的钱，就肯定能买到，如果输入买1的钱，就要排队等。如果输入买2的钱，排队就更靠后。卖出也一样。买的价格如果和卖的价格不同，就成交不了。这时候，有一堆人在等着买，一堆人在等着卖。他们都给出了自己委托的价格。于是就让他们排队。出价最高的买者，和出价最低的卖者，有最优先的权利。然后依次排队。这些价格中，买和卖两个最接近的价格，买的就叫买一，卖的就叫卖一。比买的低一点排在第二的价格，就叫买二。同样，排队在卖的里面比卖一高点的就是卖二。",
				"例如，白银买一的价格是10元，卖一的价格是10.01元。这个价格后面还跟了一个数，就是现在开价买或者卖的手数，这时候，除了出价10元的人以外，还有出价9.99元的人，就排队在买二的队伍里面等着买。同样的，出价10.02要卖的人就排队在卖二里面。"
			],
			["持仓信息中的名词解释",
				"总资产：账户资金余额与所持有货物市值的总和；",
				"持仓盈亏：当前所有持仓的总盈亏值；",
				"风险率：负债总额与资产总值的比值，描述投资者资金账户的使用情况即风险的大小。风险率=（总资产-净资产）/总资产；",
				"可用资金：可用于划转保证金、手续费、货款等的资金，是未被交易占用、可用于开新仓的资金；",
				"净资产：账户总资产减去融资融货的值；",
				"可出资金：当前可以划出的资金；有过交易的资金部分，T+2才可以出金。"
			],
			["南交所交易时间？",
				"正常交易日是周一到周五09:00--次日6:00，周六周日休市。除此之外，休市期还要包括国家法定节假日，以及国际市场休市。"
			],
			["什么是市价和限价？",
				"限价是指跌停价和涨停价范围内指定价格，当市价达到限价价格时，系统会自动完成限价交易操作。需要注意：若买入限价高于当前市价，或者卖出限价低于当前市价，则一般情况下会直接以市价成交，若数量较多，会根据对手方的报价，分批次成交。举例：南交所白银当前市价为40元，限价的价格范围为37.2-42.8元，如果指定39元限价买入白银100手，当市价达到39元时，系统将自动买入白银100手（因为以39元卖出白银的数量未知，不保证100手全部成交）；另外，如果指定41元限价买入白银100手，因为市价低于限价，系统将立刻买入白银100手，一般情况下会以当前市价40元成交，此时会出现委托价格与成交价格不相符的情况（委托价41元，成交价40元）。"
			],
			["如何确定交易的价格范围？",
				"价格范围即跌停价至涨停价。"
			],
			["什么是买入和卖出？",
				"买入是指买升，又称“做多”，当最新市价高于建立订单时的价格即可获利，平仓以“卖出价”为依据。",
				"卖出是指买跌，又称“做空”，当最新市价低于建立订单时的价格即可获利，平仓以“买入价”为依据。"
			],
			["如何计算盈亏？",
				"以白银交易为例：",
				"1.投资者看跌—卖出：",
				"卖出价：45(元/10克)=》卖出开仓，买入价:40(元/10克)=》买入平仓，手数:10手，每一手为10克(如股票每手100股)，保证金(客户需按照南交所的规定标准缴纳的资金，专门用于交易的结算和履约的保证，以20%计算:45×10手×20%=90元，手续费(交易服务费，单边万分之八):45×10手×0.0008 40×10手×0.0008=0.68元，盈亏计算:(45-40)×10-0.68=49.32元(投资者盈利)。",
				"2.投资者看涨—买入：买入价:40(元/10克)=》买入开仓，卖出价:45(元/10克)=》卖出平仓，手数:10手，每一手为10克(如股票每手100股），保证金(以20%计算):40×10手×20%=80元手续费(单边万分之八):40×10手×0.0008 45×10手×0.0008=0.68元，盈亏计算:(45-40)×10-0.68=49.32元(投资者盈利)。"
			],
			["关于价格与国际价格不一致的问题？",
				"南交所进行撮合交易，所以品种价格为南交所所内价格，与国际价格不完全一致。由于南交所的白银价格的影响因素与国际上的白银价格相似因此，大趋势是类似的。"
			],
			["银行资金转入交易账户限额？",
				"2016-1-29日之后开户绑定的银行卡出入金额度：",
				"出入金额度：每笔5w，每日前3笔免手续费。",
				"2016-1-29日之前开户绑定的银行卡及出入金额度：",
				"中信：日入金500w，月入金500w",
				"兴业：日入金5w，月入金50w",
				"其余银行没有特殊限制，无手续费。",
				"最低入金限制：最低只需转入“当时1手贵金属的价格除以10”的金额到交易账户即可进行交易。",
				"温馨提示：贵金属价格是浮动的，建议您转账时多转几元达到1手白银的成交标准。",
				"举例：用户小李打算进行白银交易，他观察到当时1手白银的最新价格是40元，于是他从银行向自己的贵金属交易账户中转入4元，通过10倍杠杆原理，就能实现1手白银的交易。"
			]
		],
		["热点问题", ["财猫贵金属提供哪些资讯消息？",
				"财猫贵金属提供了国内外财经消息、贵金属行情以及财经深度分析等资讯消息，为您进行交易操作提供参考和依据。"
			],
			["持仓信息中的名词解释",
				"总资产：账户资金余额与所持有货物市值的总和；",
				"持仓盈亏：当前所有持仓的总盈亏值；",
				"风险率：负债总额与资产总值的比值，描述投资者资金账户的使用情况即风险的大小。风险率=（总资产-净资产）/总资产；",
				"可用资金：可用于划转保证金、手续费、货款等的资金，是未被交易占用、可用于开新仓的资金；",
				"净资产：账户总资产减去融资融货的值；",
				"可出资金：当前可以划出的资金；有过交易的资金部分，T+2才可以出金。"
			],
			["满足交易的最低入金门槛是多少？",
				"您最低只需转入“当时1手贵金属的价格除以10”的金额到交易账户即可进行交易。温馨提示：贵金属价格是浮动的，建议您转账时多转几元达到1手白银的成交标准。",
				"举例：用户小李打算进行白银交易，他观察到当时1手白银的最新价格是40元，于是他从银行向自己的贵金属交易账户中转入4元，通过10倍杠杆原理，就能实现1手白银的交易。"
			],
			["什么是风险率？",
				"风险率即负债总额与资产总值比值，描述投资者资金账户的使用情况即风险的大小。仓位越大，风险率越高，仓位越小，风险率越低。风险率=负债总额/资产总值=(融资金额+融货金额)/（资金余额+所持有货的价值）=（资产总值-净值）/资产总值",
				"交易系统对风险率的处理，以南交所为例：风险率和放大倍数的关系"
			],
			["如何处理和降低风险率？",
				"一、投资者降低风险率可选择以下操作：",
				"1.第2个交易日15:30之前自行平仓。",
				"2.第2个交易日15:30之前补足资金(现货)。",
				"3.行情波动,第2个交易日15:30瞬间风险率＜90%若以上三种情况都没发生，南交所将于第2个交易日15:30强平。",
				"强平条件（以下二个条件同时符合）",
				"1.收市时，风险率≥90%",
				"2.第2个交易日15:30交易账户风险率瞬间≥90%",
				"二、产生负债时，如何降低风险率",
				"案例：王先生于2013年在交易账户中入金1万元。",
				"（1）多次买入白银，共1400手，均价为50元/手，货物总值7万元，交易手续费为56元。此时，王先生账户中的资金情况如下：",
				"资金余额=0",
				"可出资金=0",
				"资产总值=70000",
				"融资金额（负债）=70000-10000+56=60056",
				"资产净值=70000-60056=9944",
				"风险率=60056/70000=86%",
				"（2）当白银价格下跌到47元/手时，此时王先生账户中的资金情况如下：资金余额=0",
				"可出资金=0",
				"资产总值=1400×47=65800",
				"融资金额（负债）=60056",
				"资产净值=65800-60056=5744",
				"假设王先生要将风险率恢复至90%以下，则需要入金X元，那么有",
				"（60056-X）/65800<90%",
				"则X>836假设需要平仓白银的价值为Y，那么有",
				"（60056-Y）/（65800-Y）<90%",
				"则Y>8360",
				"（此案例中，未计算融资费用）"
			],
			["财猫贵金属交易手续费是多少？",
				"财猫贵金属针对投资者的每次交易，收取白银总价的万分之八的手续费。因为是每次收取，所以每笔交易中，买和卖各收取一次，这样手续费的金额就是大约就是万分之十六。（因为买入价和卖出价是有差距的，所以是大约万分之十六）"
			],
			["银行对交易账户出入金有手续费吗？",
				"银行与贵金属账户之间出入金不收取任何手续费。"
			],
			["财猫贵金属的交易时间？",
				"南交所的正常交易日是每周的周一到周五：09:00--次日6:00，周六周日休市。除此之外，休市期还包括国家法定节假日，以及国际市场休市。"
			],
			["为什么部分资金不可出金？",
				"南交所与上金所的持仓保证金部分是不可出金的。",
				"上金所当天平仓后，平仓的本金和盈利T+1交易日后均可出金。",
				"南交所有持仓时及平仓后可出金额的规则较复杂，具体有以下三种情况：",
				"1.用户有持仓并使用了杠杆融资，不能出金，需要T+2才可出金。举例说明：",
				"用户账户有10元，在周一买了100元的白银，用杠杆融资了90元，货值超过了用户10元的净资产，当天平仓也不能出金，需要T+2也就是周三才能出金。也就是说只要用户使用了杠杆，就需要T+2才能出金。",
				"2.用户当天建仓当天平仓，本金可以当天出，盈利的部分需要T+2才可出金(T+2指的是交易日后再过2个交易日，如果是周一交易，T+2指的是周三)",
				"举例说明:",
				"A用户账户里有500元，在周一用300元建仓进行交易，盈利3元，用户当天平仓后300元本金当天可以出金，盈利的3元要T+2（周三）出金；",
				"B如果用户账户里有500元，用300元建仓进行交易，账户中未交易的200元当天可以出金。",
				"3.若客户持仓过夜经过了南交所的结算周期，本金和盈利都需要T+2出金（南交所每天06:00-09:00进行结算）",
				"举例说明：如果用户账户有500元，在周一用300元建仓进行交易，当天未平仓。周二06:00-09:00是南交所闭市进行结算的时间，用户的持仓过了结算流程之后，建仓的本金和盈利都需要T+2（周三）才能出金；用户账户中未交易的200元随时可出金。"
			],
			["什么是平仓功能？举例说明：",
				"贵金属交易中的平仓是指交易者买入或者卖出与其持仓中商品、数量相同但交易方向相反的委托操作，从而使得该商品从持仓中移除。",
				"通俗的说，贵金属市场是一个双向交易制度的市场，通常有2种方式了结自己的持仓：第一种，先买入做多开仓，后卖出，平仓；第二种，先卖出做空开仓，后买入，平仓。"
			],
			["点击平仓后，平仓的数量计算方法：",
				"若您持仓方向为白银买入，此时平仓量默认数量为（白银最大可卖量，白银持仓量）中的最小值；若您持仓方向为白银卖出，此时平仓量默认数量为（白银最大可买量，白银持仓量）中的最小值；",
				"举例，若您当前持仓为买入5手白银，平仓操作应当为“卖出5手白银”；",
				"若当前持仓为卖出5手白银，平仓操作应当为“买入5手白银”。"
			],
			["什么是强制平仓？",
				"当每个交易日闭市时，若交易商的持仓风险率≥90%，系统将在下一交易日开市时提醒该交易商降低风险率，若在第二个交易日15:30该交易商瞬间风险率≥90%，则南交所将从15:30开始为用户的账户进行逐笔平仓，直到风险率低于90%为止；",
				"降低风险率做法：1、交易商第二个交易日15:30之前自行平仓；2、交易商第二个交易日15:30之前补足资金（现货）；3、行情波动，第二个交易日15:30瞬间风险率＜90%；"
			],
			["融资费和融货费是什么？和隔夜费有什么区别？",
				"融资费：资金不足、超过一个交易日，产生融资费用，即差额部分的万分之一；",
				"融货费：货物不足、超过一个交易日，产生融货费用，以手为单位进行收费，如白银0.008元/手/天，具体详见南交所官网；",
				"融资融货费结算时间：闭市后6:00-9:00很多用户问到有关隔夜费的问题，南交所没有隔夜费。用户在交易中由于资金不足使用杠杆并持仓到下一个交易日，就会产生融资融货费；如果用户当天平仓，不会产生融资融货费；如果用户未使用杠杆交易，不会产生融资融货费。",
				"举例说明：某客户有5万资金，做多20手，均价6500（满仓可做76手），在第二日开盘时，支付的融资费=（6500*20-50000）*万1=8元",
				"某客户有5万资金，做空20手，均价6500（满仓可做76手），在第二日开盘时，支付的融货费=20*0.008=0.16元",
				"附图：南交所融资融货收费标",
				"<img:02>"
			],
			["什么是席位号？",
				"是南交所提供的8位交易商号，例如：16312111"
			],
			["免费送1000元白银活动规则？",
				"本活动实际赠送3手白银，约值100元（白银价格随行情波动，实际价值以市场价格为准）。因白银交易可利用10倍杠杆，您可交易资金为1000元；每个交易账户仅赠送一次；所赠3手白银不可提现，交易后产生的盈利可提现；3手白银有效期为5个交易日,到期后财猫贵金属有权进行回收；"
			],
			["南交所可交易贵金属品种？",
				"南交所的交易品种共有27个：白银、铜、铟、铋、碲、锡、锑、钨条、铂、钯、铑、氧化镧、氧化钇、氧化铽、氧化铈、氧化铕、氧化镝、氧化镨钕、氧化镨、氧化钕、氧化钐、氧化铥、氧化铒、氧化镱、氧化镥、氧化钬、氧化钆。",
			],
			["我的资金安全吗？",
				"财猫贵金属所有投资者投资账户的资金由中国银行、农业银行、工商银行、建设银行、招商银行、中信银行、光大银行、平安银行、兴业银行等进行第三方存管。由银行负责资金安全和清算，他人无法动用投资者账户资金，充分保证了资金的安全，存取款自由、方便。"
			]
		]
	],
	["上海黄金交易所", 
		["合约", ["现货延期交易品种的保证金？",
				"<img:03>"
			],
			["延期交易合约与期货合约有何异同？",
				"相同点：",
				"1、交易的对象都是标准化的合约；",
				"2、都是以保证金方式进行的交易；",
				"3、都有开仓、平仓的交易指令及持仓的概念；",
				"4、都有保证金制度、限仓制度、涨跌停板制度、大户报告制度、强行平仓制度等风险控制措施；",
				"5、期货交易的当日无负债结算制度与延期交收合约交易的每日无负债结算制度也基本相同；",
				"不同点：",
				"1、延期交收合约交易没有固定的交割期",
				"延期交收合约交易，每天买卖双方都可以自由地选择是否进行交收申报，没有固定的交割期，持仓时间也不受限制，这与期货合约中具有固定的交割期限有本质的不同。",
				"2、延期交收合约交易以交割为基础",
				"例如，通常情况下，黄金延期交收合约的交收比一般在50%左右，以交割为基础的交易模式和特征非常明显，这与不以交割为目的的期货交易有显著的区别。",
				"3、延期交收合约的交易价格为现货价格",
				"延期交收合约交易具有明显的现货属性，因为每日都在进行交割，因此延期交收合约的价格不会背离现货价格，能直接反映市场的供求关系；期货的价格一般情况下与现货价格存在基差。",
				"4、延期交收合约交易具备特有的交易特性",
				"延期交收合约交易具有延期补偿费制度、中立仓制度、超期费制度等期货交易没有的特有制度。",
				"5、延期交收合约交易的风险控制机制更丰富",
				"延期交收合约交易除了具有与期货交易相同的保证金制度、限仓制度、涨跌停板制度、强行平仓制度等风险控制制度外，其特有的延期补偿费制度、中立仓制度、超期费制度等也为交易风险的控制提供了更丰富的手段。",
				"另外，延期交收合约没有固定交割日，不强制交割，每天都进行的交割实际上使得风险不易累积，无期货中可能存在的逼仓风险。"
			],
			["实物黄金交易与纸黄金有何区别？",
				"1、交易对象不同",
				"个人投资者通过银行的代理参与交易所实物黄金的买卖，交易的对象是交易所标准化的黄金实物；",
				"纸黄金的交易对象是代表黄金价格的虚拟的数字，买卖的价格是银行报出的价格。",
				"2、交易对手不同",
				"投资者买卖交易所实物黄金的交易对手为其他参与交易所实物黄金交易的投资者；",
				"对纸黄金而言，所有投资者的交易对手都是银行。",
				"3、交易机制不同",
				"交易所的实物黄金交易采用场内竞价撮合模式，与股票交易模式完全相同。投资者能自主参与报价，根据价格优先、时间优先的原则由计算机撮合成交，交易系统实时公开买卖报价和成交价，买家和卖家直接交易；",
				"纸黄金的交易中，投资者只能根据银行的报价点价成交，不能参与报价，买入价与卖出价之间有较大的价差。",
				"4、实物提取不同",
				"通过交易所交易的是实实在在的黄金实物，买入交易所的实物黄金后，投资者账户上的黄金是有存放在金库的实物黄金相对应的，投资者既可以在价格较高时卖出赚取差价，也可以从金库中提取实物，是一种投资、保值两相宜的产品；",
				"纸黄金交易的是银行报出的黄金买卖价格，是一种账面上的黄金交易，不能提取实物，所以银行也把它叫做“账户金”。",
				"5、交易成本不同",
				"交易所的实物黄金交易的成本为交易手续费，交易所的手续费加上代理商的手续费一般不高于成交金额的万分之八；",
				"纸黄金的交易成本不直接表现为交易手续费，而是表现为同一时点上的买卖差价，银行从买卖差价中获取收益，买卖价差如果折算为交易手续费率的话，其手续费率远远高于交易所的手续费率。"
			],
			["交易所有无带杠杆的产品合约？",
				"有，交易所的延期交收合约如黄金Au(T+D)、白银Ag(T+D)就是以保证金方式进行交易的，客户的保证金比例一般在15%左右，杠杆比例一般在5-10倍，交易所及客户的代理会员可以根据市场情况适时调整保证金比例。"
			],
			["个人可以参与交易的合约有哪些？",
				"个人可以参与交易的现货实盘合约有：Au99.95、Au99.99、Au100g；",
				"其中：Au99.95对应的是标准重量为3千克、成色不低于99.95%的金锭；",
				"Au99.99对应的是标准重量为1千克、成色不低于99.99%的金锭；Au100g对应的是标准重量为100克、成色不低于99.99%的金条。",
				"个人可以参与交易的现货延期交收合约：Au(T+D)、Au(T+N1)、Au(T+N2)、Ag(T+D)，其中较为活跃的合约是Au(T+D)、Ag(T+D)。"
			],
			["现货实盘合约与延期交收合约区别？",
				"<img:04>"
			],
			["什么是现货延期交收合约？",
				"现货延期交收合约是指以支付保证金的形式进行交易、以每日无负债方式进行结算的合约，客户可以选择合约成交当日交割，也可以延期交割，同时引入延期补偿费机制来调节实物供求矛盾。"
			],
			["什么是现货即期合约？",
				"现货即期合约是指T日交易、T+2日交割的合约，合约的买方、卖方报价时必须有20%的保证金，报价成交后，在T+2日进行钱货两讫的交割清算。"
			],
			["什么是现货实盘合约？",
				"现货实盘合约是指：合约的买方报价时必须有全额资金，合约的卖方报价时必须有相应的实物，报价后，对应的资金或实物即被冻结，成交后，实时进行实物交割，以钱货两讫的方式进行清算。"
			],
			["合约可以怎样分类？",
				"按照交易品种来分，合约可以分为三大类：",
				"1、黄金有Au99.99、Au99.95、Au99.5、Au50g、Au100g五个现货实盘合约；",
				"Au(T+D)、Au(T+N1)、Au(T+N2)三个现货延期交收合约；",
				"2、白银有Ag99.9、Ag99.99两个现货即期合约；Ag(T+D)现货延期交收合约；",
				"3、铂金有PT99.95现货实盘合约。",
				"按照交易特点来分，合约也可以分为三类：",
				"1、现货实盘合约:Au99.99、Au99.95、Au99.5、Au50g、Au100g、PT99.95",
				"2、现货即期合约：Ag99.9、Ag99.99",
				"3、现货延期交收合约：Au(T+D)、Au(T+N1)、Au(T+N2)、Ag(T+D)"
			],
			["合约的主要内容是什么？",
				"合约的主要内容包括：交易品种、合约交易代码、交易方式、交易单位、报价单位、最小变动价位、每日价格最大波动限制、最大单笔报价量、最小单笔报价量、交易时间、最低交易保证金、清算方式、交割品种、交割方式、交割时间、交割地点、交易手续费、交割费等。"
			],
			["交易品种为什么以合约形式标准化？",
				"集中竞价交易是交易所主要的交易方式，将交易品种以合约的形式标准化（即：除了价格之外，将合约的其他要素如交易单位、报价单位、交割品种、交割时间等固定下来），有利于提高交易效率，降低交易成本，减少交易纠纷。"
			]
		],
		["开户", 
			["上金所开户时间及规则",
				"上金所全天24小时均可开户，节假日若无特殊通知也可开户。以开户时间计算，T+2时间后可进行交易；由于20:00--2:30时段属于下个交易日，所以三点半之前开户算本交易日，三点半之后开户，算下一个交易日。"
			],
			["上金所开户提示身份证已被使用，开户失败怎么办？",
				"若您身份证号提示已被使用，表示该号码已经在上金所开户，需去原开户机构销户后才可以重新开户。",
				"若您不知何时在上金所开过户，那很可能是您开通过招商银行、工商银行、建设银行、平安银行、农业银行、光大银行、中国银行、兴业银行、中信银行等银行的贵金属账户（例如：纸黄金、纸白银账户等），请您先到以上银行进行销户后再到财猫贵金属平台进行开户、绑定银行卡。"
			],
			["上金所开户时手机接收不到验证码",
				"请您查看您手机的防护系统，是否屏蔽了相关短信提示。"
			],
			["上金所支持开户的银行",
				"建设银行"
			],
			["上金所签约后提示账户冻结怎么办",
				"开户时上传的身份证照片不清晰或与输入信息不符的，审核未通过，账户会被冻结。重新上传身份证原件正反面照片，审核通过后即可解冻。"
			],
			["交易密码有什么作用",
				"交易密码用于登陆交易所，登陆后才可进行交易。"
			],
			["资金密码有什么作用",
				"在交易所进行资金的转入和转出时，需要输入资金密码。"
			],
			["交易密码是否区分大小写",
				"交易密码需6至10位数字和字母组合，区分大小写。"
			],
			["为什么资金密码不能与交易密码设置一致的？",
				"为了保护您的账户资金安全，资金密码不能与交易密码一致。"
			],
			["上金所支持绑卡的银行及出入金额度",
				"建设银行：日入金最高额度15万元"
			],
			["修改密码的时间？",
				"全天（只要能登录系统就可以）"
			],
			["出入金时间和规则？",
				"1.开户之后即可出入金",
				"2.工作日9：00至16：00",
				"3.晚20：00至凌晨2：30只能入金不可以出金",
				"4.周末非交易日不能出入金",
				"5.节假日不可以出入金",
				"注：只要完成绑卡后就可以出入金，但要在以上规定的时间内操作。"
			],
			["销户后生效时间及再开户生效时间说明：",
				"按您销户的时间，每个交易日当天下午15:30之前完成销户，当日生效；15:30之后销户，生效时间在下一个交易日。例如：您4月7日下午16:00销户，销户生效时间是4月8日；",
				"重新开户需要T+2，例如：须是4月10日（T+2）这个交易日了，则4月9日20：00开市后，可以重新开户；",
				"注：4月9日下午15：30闭市后，18：00交易所清算完毕之后，也是可以重新开户的，但这个会因清算完成情况，存在不确定性。",
				"您重新开户后，需要T+2可才以开始交易。",
				"例如：您要到4月14日才可以进行交易，即13日晚上20：00以后（11日和12日周六周日不能交易）。"
			],
			["一张身份证可以开两个账户吗？",
				"上金所试行一户一码制，一个用户的身份证只允许在交易所开通一个交易账户，如果您的身份证在其他平台（银行和金融机构）注册过账户，您必须先在原平台注销账户，才能在新平台开通新的交易账户。"
			],
			["开户的流程？",
				"1.登录财猫，如没有注册需先注册财猫",
				"2.选择“交易”界面，点击极速开户按钮",
				"3.进入开户环节，需填写姓名身份证号、银行卡号，填写调查问卷，即可成功开户，开户后请24小时内上传身份证照片，完成银商绑定就可以交易啦。"
			]
		],
		["交易", ["超期费是什么概念？收费标准？",
				"延期交收合约允许连续持有，直至平仓或完成交收。交易所可以对连续持有时间超过规定期限的超期持仓征收超期费。",
				"收取超期费的启用条件和具体标准会在交易所的网站上公告。目前超期费的启用条件和收取标准是：当Au(T+D)合约的持仓量超过250吨时，交易所对持仓超过120天的超期持仓，按照万分之二/天的超期费率收取超期费；当Ag(T+D)的持仓量超过4500顿时，交易所对持仓超过120天的超期持仓，按照万分之一点五/天的超期费率收取超期费。",
				"超期费归入交易所风险基金。"
			],
			["中立仓是什么概念？如何进行申报？",
				"中立仓是指为了获取延期补偿费而参与实物交收时生成的持仓。",
				"当交收申报的收货量大于交货量时，客户以交实物的形式进行中立仓申报，交货成功后，按当日结算价生成相应的多头持仓；",
				"当交收申报的交货量大于收货量时，客户以收实物的形式进行中立仓申报，收货成功后，按当日结算价生成空头持仓。",
				"中立仓免收手续费。",
				"中立仓申报时间为15:31—15:40，客户按照当日交收申报结果确定的中立仓方向进行申报，申报时交易所按合约当日结算价冻结生成相应持仓所需的保证金。",
				"Au(T+D)的中立仓最小申报量为1千克，Ag(T+D)的中立仓最小申报量为15千克，并按各自最小申报量的整数倍进行申报。中立仓申报结束前，客户可以撤销申报。"
			],
			["延期补偿费的概念？",
				"对于持有延期交收合约的投资者，每天都可以自由地选择是否进行交收申报。申报交割的多头一方需准备好资金，空头一方需准备好实物。如果市场上交货申报量与收货申报量不平衡，多空双方之一方需要向另一方支付延期补偿费。",
				"延期补偿费是客户延期交收时，补偿给对方融通资金或实物所需的成本；",
				"延期补偿费的支付方向根据交、收申报数量对比确定：",
				"当某延期交收合约空头申报的交货量小于多头申报的收货量时，当日延期补偿费支付方向为“空付多”，清算时该合约的全部空头持仓，按一一对应的方式向全部的多头持仓支付延期补偿费；",
				"当某延期交收合约空头申报的交货量大于多头申报的收货量时，当日延期补偿费支付方向为“多付空”，清算时该合约的全部多头持仓，按一一对应的方式向全部的空头持仓支付延期补偿费；",
				"当交货申报量等于收货申报量时，不发生延期补偿费支付。",
				"延期补偿费=持仓量×当日结算价×延期补偿费率。",
				"各延期交收合约的延期补偿费率根据上金所公告执行。"
			],
			["如何进行延期交收合约的交收申报？",
				"延期交收合约的实物交割采用交收申报制度，交收申报时间为15:00—15:30，在每日的交收申报时段，多头持仓可进行收货申报、空头持仓可进行交货申报。交收申报结束前，客户可以撤销申报。",
				"黄金延期交收合约的最小交收申报量为1千克、白银延期交收合约的最小交收申报量为15千克，并按最小申报量的整数倍进行申报。",
				"申报交收需准备好相应的实物或资金，交收申报配对成功，在当日清算时完成资金和实物的过户。",
				"交收配对成功但清算时没有相应的可提资金或可用库存，按交割违约处理。"
			],
			["成交量、持仓量、交收量的概念？",
				"成交量是指某一合约在当日交易期间成交的双边数量；",
				"持仓量是指客户所持有的未平仓延期交收合约的双边数量；",
				"交收量是指某一延期交收合约实物交收配对成功的双边数量。"
			],
			["集合竞价是如何进行的？",
				"集合竞价是形成当日开盘价的一种方式，即在当天开盘前还没有成交价时，通过集合竞价的方式，以形成比较合理的开盘价格。",
				"集合竞价采用最大成交量、最小剩余量原则，高于集合竞价产生价格的买入申报全部成交；低于集合竞价产生价格的卖出申报全部成交；等于集合竞价产生的价格的买入或卖出申报，根据买入申报量和卖出申报量的多少，按少的一方的申报量成交。",
				"开盘集合竞价中的未成交申报单自动参与开盘后的竞价交易。"
			],
			["什么是开盘价、收盘价、结算价？",
				"现货实盘合约以当日的第一笔成交的价格作为开盘价。",
				"现货即期合约和现货延期交收合约的开盘价通过集合竞价的方式产生，开盘集合竞价没有产生开盘价的，以当日的第一笔成交的价格作为开盘价。",
				"收盘价是某合约当日最后五笔成交的加权平均价。",
				"收盘价是现货实盘合约计算下一交易日涨跌停板幅度的基准。",
				"结算价是某合约整个交易日成交价格按成交量的加权平均价。当日无成交价格的，以上一交易日的结算价作为当日结算价。",
				"结算价是现货即期合约和延期交收合约计算下一交易日涨跌停板幅度的基准，是延期交收合约进行当日未平仓合约盈亏清算的依据。"
			],
			["什么是开仓、平仓、持仓？",
				"开仓就是订立新的买、卖合约，因此客户需要支付保证金以确保合约的履行，开仓交易增加客户持有的合约数量；",
				"平仓就是客户对原来开仓订立的买、卖合约做一个反向交易，对冲客户持有的合约，消除合约的履行义务。因此平仓释放了客户用于履约担保的保证金，减少了客户持有的合约数量；",
				"持仓就是开仓之后、未平仓或交割前客户持有合约的状态，也叫做未平仓合约；持仓分多头持仓和空头持仓。",
				"买入开仓，卖出开仓，买入平仓，卖出平仓四种方式对应不同的保证金占用与持仓增减情况如下：",
				"买入开仓->占用保证金->增加多头持仓",
				"卖出开仓->占用保证金->增加空头持仓",
				"买入平仓->释放保证金->减少空头持仓",
				"卖出平仓->释放保证金->减少多头持仓"
			],
			["空头、多头分别是什么意思？",
				"多头是指投资者对市场看好，预计价格将会上涨，于是先买入合约，将来准备收取实物或待价格上涨至某一价位时再将合约卖出平仓，以获取差额收益。",
				"空头是与多头相反概念，即指投资者对市场看淡，预计价格将会下跌，于是先卖出合约，将来准备交付实物或待价格下跌至某一价位时再将合约买入平仓，以获取差额收益。"
			],
			["交易所的报价交易指令有哪些？",
				"交易所目前只有限价交易指令，即买入类指令必须以不高于所报的价格成交；卖出类指令必须以不低于所报价格成交。交易所目前没有市价指令和止损指令。",
				"对于交易所的现货实盘合约，有两类限报价交易指令：买入、卖出；",
				"对于交易所的现货延期交收合约，有四类报价交易指令：买入开仓、卖出平仓、卖出开仓、买入平仓。",
				"买入开仓报价是指买入一定数量的延期交收合约以增加多头持仓的报价；",
				"卖出平仓报价是指对多头持仓进行反向的卖出交易以了结多头合约的报价。",
				"卖出开仓报价是指卖出一定数量的延期交收合约以增加空头持仓的报价；",
				"买入平仓报价是指对空头持仓进行反向的买入交易以了结空头合约的报价。"
			],
			["如何进行交易？",
				"下载财猫贵金属APP，开户、充值后，点击底部“交易”菜单栏，选择顶部“上金所”按钮，进入上金所交易界面，下达交易指令即可。"
			]
		],
		["清算", ["交易所有多少结算银行？",
				"目前财猫贵金属支持的上金所签约、结算银行为建设银行。"
			],
			["如何看懂结算单？",
				"结算单一般包括户名、成交日期、成交品种、成交数量及结算价格、买入或卖出、交易手续费和其他费用等内容。",
				"由于延期交收合约是保证金交易，实行每日无负债结算制度，计算相对复杂，举例如下：",
				"某客户开户后在保证金账户存入资金30万元，某日开仓买入Au(T+D)合约5手，成交价280元/克，同一天平仓2手，成交价282元/克，当日结算价281元/克，假设保证金比例为15%，手续费率为万分之四，则该客户当日的交易盈亏及结算情况如下：",
				"当日平仓盈亏=（282-280）X1000X2=4000元",
				"当日持仓盈亏=（281-280）X1000X3=3000元",
				"当日盈亏=4000+3000=7000元",
				"手续费=280X1000X5X4/10000+282X1000X2X4/10000=560+225.6=785.6元",
				"当日权益=300000+7000-785.6=306214.4元",
				"保证金占用=281X1000X3X15%=126450元",
				"可用资金=306214.4-126450=179764.4元"
			],
			["延期交收合约每日盈亏组成和计算？",
				"延期交收合约的每日盈亏由当日持仓盈亏及当日平仓盈亏组成：",
				"1、当日持仓盈亏是客户的未平仓合约因每日结算价的变化而产生的，由持历史仓盈亏和持今日新仓盈亏组成，计算方法如下：",
				"持历史仓盈亏=（当日结算价-昨日结算价）X持仓量X合约单位",
				"持今日新仓盈亏=（当日结算价-当日开仓价）X持仓量X合约单位",
				"2、当日平仓盈亏由平仓了结的合约产生的，也可以分为平历史仓盈亏和平今日仓盈亏",
				"平历史仓盈亏=（当日平仓价-昨日结算价）X平仓量X合约单位",
				"平今日仓盈亏=（当日平仓价-当日开仓价）X平仓量X合约单位"
			],
			["延期交收交易每日无负债结算制度？",
				"对于延期交收合约，每日无负债结算制度又称“逐日盯市”制度，具体来说，就是在每日交易结束后，交易所按照合约当日的结算价对会员账户上所有合约的盈亏、保证金、手续费、延期费等费用进行结算，对应收应付款项实行净额一次划转，相应增加或减少会员的结算准备金，当结算准备金不足时，会员应在规定时间内补足保证金，否则，交易所有权对会员持有的合约进行强行平仓。",
				"交易所会员按照相同的方式对其代理的客户进行结算，当客户保证金不足时，会员将要求客户追加保证金，客户应在约定时间内补足保证金，否则会员有权按照双方“交易代理协议”的约定对该客户持有的合约进行强行平仓。",
				"例如，假设客户在开盘后以290元/克的价格买入2手Au(T+D),保证金比例为15%，所需的保证金为87000元（290X1000X2X15%），若当日收盘后结算价为280元/克，则当日盈亏(280-290）X1000X2=-20000,以结算价计算的合约保证金需84000元，客户需补充的保证金为84000-(87000-20000)=17000元。（不计算手续费）"
			],
			["延期交收交易保证金制度概念？",
				"在延期交收合约交易中，只需按合约价值的一定比率交纳少量资金作为履行合约的资金担保，便可参与合约的买卖，这种资金就是保证金。",
				"新开仓时所需交纳的保证金是根据合约金额和保证金比率确定的，即：保证金＝合约金额X保证金比率。",
				"交易所Au(T+D)合约的最低保证金比率为交易金额的10%（交易所可以根据长假或其他市场风险情况调整保证金比例），会员单位会在交易所保证金的基础上加收一定比例的保证金。",
				"例如，某客户以300元/克的价格卖出2手Au(T+D)合约（每手1000克），会员可按照15%的保证金比例，那么，他必须支付的保证金为90000元（即300x2000x15％）。",
				"在持仓过程中，会因市场行情的不断变化而产生浮动盈亏。清算时，浮动盈亏将成为实际盈亏，同时，还须根据结算价重新计算持有合约的保证金。",
				"保证金对于保障市场的正常运转具有重要作用。",
				"1.保证金制度的实施，降低了交易成本，使用一定比例的保证金就可从事合约的交易，发挥了资金杠杆作用，促进套期保值功能的发挥。",
				"2.保证金为合约的履行提供资金担保。保证金制度可以保证所有账户的每一笔交易和持有的每一个头寸都具有与其面临风险相适应的资金，交易中发生的盈亏不断得到相应的处理，杜绝了负债现象。因此这一制度的严格执行为合约的履行提供了安全可靠的保障。",
				"3.保证金是交易所调整交易规模的重要于段。当市场火爆、交易规模过大时，可通过提高保证金的办法，增加交易成本，以抑制投机行为，控制交易的规模和风险。反之，当市场低迷、交易规模过小时，则可通过适量降低保证金来吸引更多的市场参与者，活跃交易气氛。"
			],
			["不同的合约类型清算方式有何不同？",
				"交易所对现货实盘交易和现货即期交易采取钱货两讫制度进行清算。",
				"交易所对现货延期交收交易实行每日无负债清算制度和交易保证金制度。"
			],
			["交易所清算的原则是什么?",
				"交易所实行“集中、净额、二级”的资金清算原则。",
				"“集中”是指交易所对会员统一办理资金清算和划付；",
				"“净额”是指会员就其在交易所买卖的成交差额与交易所进行清算；",
				"“二级”是指交易所负责对会员实行清算，会员负责对其代理客户实行清算。"
			],
			["什么是清算？清算的作用是什么？",
				"清算一般是指将买卖各类交易合约的数量和金额分别予以计算，然后对合约及资金分别进行记账和收付的一种行为。",
				"交易所的资金清算是指根据交易结果和交易所的有关规定对会员货款、交易保证金、交易盈亏、交易手续费、延期补偿费、超期费及其他有关款项等进行计算、收付的行为。",
				"会员单位根据交易所的清算结果对客户进行结算，并按约定方式将结果及时通知客户。",
				"清算的作用是：",
				"A、对交易明细及交易结果进行整理、计算、记录，为下一交易日的交易提供数据基础；",
				"B、对货款、保证金、交易盈亏及相关费用等进行计算、收付、记账，按照逐日盯市制度，为强行平仓等风险控制措施提供数据依据。"
			]
		],
		["风控", ["客户如何防止被强行平仓?",
				"由于延期交收合约采用保证金制度，价格的波动会产生较大的浮动盈亏，从而引起客户保证金余额的大幅变化。如果资金管理不善，可能会出现客户账户中的资金不能满足追加保证金的要求，此时客户的持仓就可能被强行平仓。有时候即使大方向看对了，也可能因为仓位太满，经不起行情的振荡，造成保证金不足，在获利前被强行平仓出局而遭受损失。",
				"成熟市场的经验表明，交易开仓时切忌满仓操作，建仓时投入的资金一般不要过半，最好控制在三分之一以内，以便行情波动时为追加保证金而留有余地。"
			],
			["什么是强行平仓？怎样会被强平？",
				"强行平仓制度是指交易所对会员（或会员对客户）存在未按照规定及时追加保证金、持仓超过交易所限仓标准未及时自行减仓等行为，以及交易所规定的其它情形的，交易所（或会员）有权采取强行平仓措施。",
				"强行平仓盈利部分按照有关规定处理，发生的费用、损失及因市场原因无法强行平仓造成的损失扩大部分由相关会员或者客户承担。",
				"当会员出现下列情况之一时，交易所有权对其持仓实行强行平仓：",
				"1.会员保证金账户资金不足，并未能在规定时限内补足的；",
				"2.持仓量超出交易所的限仓规定的；",
				"3.因违规受到交易所强行平仓处罚的；",
				"当客户出现上述情况时，其代理会员也可以按照代理协议的约定对客户的持仓实行强行平仓。"
			],
			["什么情况是账户保证金不足？",
				"在延期交收合约交易中，当客户新开仓时，交易系统按照成交价值及保证金比例计算并冻结保证金，此后，如果行情向不利于客户的方向变动时，交易系统在计算时将按新的价格计算并扣除亏损金额，并重新计算并冻结保证金，此时如果保证金账户的权益不够支付需冻结的保证金时，就出现了账户保证金不足的情况。",
				"举例如下：",
				"某客户保证金账户原有资金5万元，以300元/克的价格买入1手（1000克）Au(T+D)合约，其代理会员要求的保证金比例为15%，则开仓保证金为4.5万元（300X1000X0.15）；第二天，黄金价格下跌至280元/克，客户亏损2万元（280X1000-300X1000），账户权益只剩3万元，而需要冻结的保证金为4.2万元（280X1000X0.15），客户权益不够需要支付的保证金，账户就出现了保证金不足的情况。",
				"在这种情况下，客户的代理会员会通知客户至少追加保证金1.2万元（3万元-4.2万元），才能满足账户保证金的要求，否则，其代理会员有权对客户持仓进行强行平仓。"
			],
			["客户的资金账户是什么概念？",
				"客户做贵金属交易的资金账户是指客户在代理会员处开户时，由代理会员在其交易结算系统中为客户设立的专用资金账户，一般称之为“保证金账户”，用于记录客户的出入金、买入卖出的资金划转、交易盈亏、费用、保证金占用、可用余额及权益等情况。",
				"保证金账户与客户在银行的储蓄账户（或借记卡账户）是相互独立的，当保证金账户的资金不足时，客户可以将资金从储蓄账户划入保证金账户，当保证金账户的可用余额较多时，客户可以将资金从保证金账户划入储蓄账户。"
			],
			["什么是限仓制度，限仓规定是多少？",
				"限仓是指交易所规定会员或客户对某一合约单边持仓的最大数量。",
				"交易所采用限制会员持仓和限制客户持仓相结合的办法，控制市场风险；会员和客户的持仓数量不得超过交易所允许的限仓额度。",
				"目前，各延期交收合约的客户限仓额度见下表（单位：千克）",
				"<img:05>",
				"如果会员及客户因实际生产经营需要提高限仓额度的，可向交易所提交提高限仓额度的申请，交易所可根据实际情况适当提高限仓额度。"
			],
			["什么是涨跌停板，设立原因？",
				"涨跌停板是指在一个交易日中，合约价格的波动不得高于或者低于规定的涨跌幅度，超过该涨跌幅度的报价指令被视为无效指令。",
				"一般情况下，交易所黄金延期交收合约的涨跌停板为7%，白银延期交收合约的涨跌停板为9%；现货实盘合约的涨跌停板为30％，现货即期合约的涨跌停板为10%。交易所可以根据市场风险调整延期交收合约的涨跌停板幅度。",
				"涨跌停板制度与保证金制度相结合，是有效执行每日无负债结算制度的前提。通过设定涨跌停板的幅度小于合约保证金比例，能够锁定交易所会员及其客户每一交易日所持有合约的最大亏损金额，能够有效防止客户穿仓，维护保证金制度的实施。另外，涨跌停板制度也能够有效地减缓、抑制一些突发事件及过度投机行为对合约价格的冲击。"
			],
			["如何认识保证金交易的杠杆性风险？",
				"保证金交易放大了客户盈利或亏损的倍数，这就是杠杆性风险。",
				"例如：如果保证金比例10%，那么，用5万元的资金就可以买价值50万元的黄金合约，当黄金的价格上涨10%时，投资者就赚到了5万元，资金就翻了一倍；反之，如果黄金价格下跌了10%时，投资者就亏损了5万元，资金就全部赔光了。因此投资者必须充分认识保证金交易的杠杆性风险。"
			],
			["交易所有哪些风险控制制度？",
				"交易所的风险管理制度有：保证金制度、涨（跌）停板制度、延期补偿费制度、超期费制度、限仓制度、大户报告制度、强行平仓制度和风险警示制度等。"
			],
			["客户可能面临的交易风险有哪些？",
				"A、价格风险：贵金属价格受国内外各种政治因素、经济因素，以及各种突发事件的影响，价格走势的不确定因素很大，对价格走势的判断的失误可能会造成投资资金的损失。",
				"B、结算风险：结算时，如果客户账上所需的资金不足或实物不够，客户将面临违约风险，并需支付违约金；另外，在延期交收品种交易过程中，由于是采用保证金制度及每日无负债结算制度，如果客户保证金不足且没有在规定的时间内追加到位，客户可能将面临被强行平仓的风险。",
				"C、操作风险：行情系统、交易下单系统等可能出现技术故障，导致无法看到行情或无法下单交易；或是客户因操作失误下错单等。这些都可能会造成意外损失。",
				"D、法律风险：如果客户选择的交易代理机构是非法机构，或者在交易过程中违反了法律、法规和交易规则，可能会面临法律风险。"
			]
		],
		["交割", ["什么是二次清算？",
				"交易所实行“黄金出库后不再入库”的原则，所以一旦提货后就不能再进入交易所交易。因此建议以投资为目的购买黄金的投资者，在买入后不要选择提取实物黄金，而是保留在自己的实物账户上，存放在交易所的指定仓库中。目前指定仓库对个人投资者的实物黄金免收仓储费。"
			],
			["在实物交割方面涉及的费用有哪些？",
				"涉及的费用有四项，分别为交割费、仓储费、运保费、出入库费。",
				"交割费是指参与实物交割的会员及客户向交易所交纳的交割手续费，交易所向参与白银交割的会员及客户收取交割费，交割费的计算公式为：交割费=交割费率X实物交割标准重量，白银交割费率为1元/千克。",
				"仓储费是指定仓库保管实物产生的保管费用。交易所指定仓库执行统一仓储费标准，清算重量为实物标准重量。仓储费由交易所代收代付，黄金、铂金的剩余库存的仓储费目前为1.8元/千克•天；黄金、铂金的买入货权的仓储费目前为0.6元/千克•天，实物出库日为1.8元/千克。银锭的仓储费率为：0.011元/千克•天。目前交易所对个人投资者账户中持有的实物黄金免收仓储费。",
				"运保费是指交易所统一调拨各指定仓库实物产生的费用，仅在客户发生剩余库存的卖出交割及买入货权的出库申请时收取。金锭、金条、Ag99.99银锭由交易所负责统一调运，其中金锭、100克金条、Ag99.99银锭运保费由买卖双方共同承担，50克金条运保费由卖方承担。金锭、100克金条运保费率为0.06元/克，50克金条运保费率为0.12元/克，Ag99.99运保费率为5元/千克。",
				"会员在指定仓库存入实物或提取实物时，需向指定仓库支付入库费和出库费。金锭、金条、铂锭入库费率及出库费率均为2元/千克，不足1千克的按1千克计收。银锭的入库费率及出库费率为0.09元/千克。出入库费由指定仓库直接收取。"
			],
			["个人客户如何提取黄金实物？",
				"个人客户向其代理会员提出提货申请，由代理会员委派专人去交易所指定仓库提货后转交客户。具体流程可参考各会员单位官方网站。"
			],
			["个人可以参与的交割品种有哪些？",
				"交易所各上市合约与交割品种对应如下：",
				"Au50g：交割品种为标准重量0.05千克、成色不低于99.99％的金条；",
				"Au100g：交割品种为标准重量0.1千克、成色不低于99.99％的金条；",
				"Au99.99：交割品种为标准重量1千克、成色不低于99.99％的金锭；",
				"Au99.95：交割品种为标准重量3千克、成色不低于99.95％的金锭；",
				"Au99.5：交割品种为标准重量12.5千克、成色不低于99.50％的金锭；",
				"PT99.95：交割品种为标准重量0.5千克、1千克、2千克、3千克、4千克、5千克、6千克、成色不低于99.95％的铂锭。",
				"Au（T+D）、Au（T+N1）和Au（T+N2）：基准交割品种为标准重量3千克、成色不低于99.95％的金锭。标准重量1千克、成色不低于99.99％的金锭可替代交割。",
				"交割实物须为3千克和1千克整数倍，会员及客户实物账户中剩余库存或买入货权实物必须分别以1千克的整数倍进行交割。替代实物交割品种目前暂不执行升水制度。",
				"Ag99.99及Ag（T+D）：交割品种为标准重量15千克、成色不低于99.99％的银锭。",
				"Ag99.9现货即期交易合约，交割品种为标准重量15千克、成色不低于99.9％的银锭。个人客户不能参与白银实物交割。",
				"个人客户可以参与交割的交割品种有：Au100g、Au99.99、Au99.95、Au（T+D）、",
				"Au（T+N1）和Au（T+N2）六个合约品种。"
			],
			["交易所指定仓库的营业时间？",
				"指定仓库的营业时间为交易所工作日上午8:45分至下午17:00整。"
			],
			["交易所有多少指定仓库？",
				"交易所在全国44个地区设立72家指定仓库（黄金69家、白银3家），金锭由交易所统一调运配送，方便会员就近交货、就近提货。"
			],
			["剩余库存与买入货权有何区别？",
				"剩余库存及买入货权都代表会员或客户拥有的实物所有权，都可以在交易中卖出或申请提货出库，但两者还是有一定的区别：",
				"<img:06>"
			],
			["用于交割的黄金可以分为哪两类？",
				"用于交割的黄金有入库发生存入的实物及交易方式买入的货权两类来源。",
				"会员及客户以入库方式存入指定仓库的黄金记入其剩余库存账户；会员及客户通过交易所的交易平台买入的黄金记入其买入货权账户。"
			],
			["什么是实物账户？什么是一户一码？",
				"实物账户是交易所给会员及客户开立的、用于登记实物变动情况的账户。",
				"会员及客户的现货实盘交易、现货即期交易、现货延期交收交易的实物实行同一账户管理。",
				"交易所实物交割实行一户一码制，即会员及客户开户成功取得的交易编码即同时作为实物账户代码，实物交割处理到每个会员及客户的实物账户。"
			],
			["什么是实物交割？业务有哪些？",
				"实物交割是指交易双方为履行交易合约，进行的实物所有权的转移行为。",
				"交易所建立了完备的仓储体系和安全迅捷的物流系统，并对实物交割和出入库管理建立了整套的管理制度和业务规则。交易所提供实物登记、交割清算、质量认证、物流配送、质押过户和租借过户等业务服务。"
			]
		],
		["热点问题", ["上金所出入金时间和规则",
				"1、交易日9:00-16:00可以出入金；",
				"2、晚20:00-凌晨2:30只能入金，不能出金；",
				"3、周六、日不能出入金；",
				"4、节假日不可以出入金；",
				"5、平仓后要T+1交易日才可出金。"
			],
			["上金所交易手续费的收取规则？",
				"1、手续费为交易额的万分之八，双向收取，即开仓和平仓都会收取一次交易额万分之八的手续费；",
				"2、交易手续费中，用户当日建仓当日平仓的部分（须在上金所下午16:00清算之前平仓），平仓部分的手续费会在结算时返还给用户；",
				"3、用户当日建仓当日未平仓，持仓到下一个交易日平仓，扣除的手续费不会返还。",
				"举例说明：",
				"示例1：用户当日买入10手开仓，当日卖出5手平仓。那么卖出的5手平仓部分，卖出时收取手续费，结算时会返还此部分。",
				"示例2：用户当日买入10手开仓，卖出10手平仓；后重复买入卖出，均完成了平仓。那么所有平仓部分，结算时都会返还。",
				"示例3：用户当日买入10手开仓，第二个交易日卖出平仓，平仓部分不返还。",
				"示例4：用户当日买入10手开仓，第二个交易日追加10手开仓，总计有20手持仓。在第二个交易日，平仓10手。上金所会优先平当日仓位，因此此时这10手平仓手续费会返还。"
			],
			["上金所的交易品种有哪些？",
				"目前，交易所在财猫贵金属有包括黄金、白银两个品种，共8个合约，其中：",
				"黄金延期Au(T+D)、迷你黄金延期mAu(T+D)、黄金单月延期Au(T+N1)、黄金双月延期Au(T+N2)四个现货延期交收合约；",
				"黄金有Au99.95、Au99.99、Au100g三个现货实盘合约；白银有Ag(T+D)现货延期交收合约。"
			],
			["上金所交易品种的入金门槛是多少？",
				"上金所：上金所的主要交易品种白银延期（AgT+D）、迷你黄金延期（mAuT+D）、黄金延期（AuT+D）。",
				"白银延期的交易单位是手，每手1kg，1kg的价格约为3500-3600元，考虑到9%保证金产生的杠杆效应，每手最少投入315元就可以进行交易；",
				"迷你黄金延期的交易单位是手，每手100g，100g的价格约为23700元，考虑到7%保证金产生的杠杆效应，每手最少投入约2600元就可以进行交易；",
				"黄金延期的交易单位是手，每手1kg，1kg的价格约为237000元，考虑到7%保证金产生的杠杆效应，每手最少投入约16590元就可以进行交易。"
			],
			["交易时间是如何规定的？",
				"北京时间",
				"夜间：20:00-02:30（周一周五）",
				"上午：09:00-11:30（周一周五）",
				"下午：13:30-15:30（周一周五）",
				"下午15:00-15:30为交割申报时间；下午15:31-15:40为中立仓申报时间；周一上午8：50-9：00、周一至周五夜间19:50-20:00为集合竞价和撮合时间。其中夜间与次日白天交易时间段为一完整交易日，20:00至次日凌晨02:30为夜市交易，其余时间为日市交易。",
				"以上交易时间如有变动，以上金所实际交易时间为准。"
			]
		]
	],
	["银商绑定文档"]
]