<!doctype html>
<#include "gjs/config.html" />
<#assign topMenu="help" />
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>帮助-财猫贵金属（财猫网）最安全的贵金属投资理财平台</title>

<#include "gjs/include/page/head.html" />
<body>
<#include "gjs/include/menu/topNav.html" />
<#include "gjs/include/menu/menu.html" />
<script>
	var IMGURL = "${imgUrl}";
</script>
	<div class="help">
		<div class="innerCont clearfix">
			<div class="mod-left nav">
				<ul id="nav"></ul>
			</div>
			<div class="mod-right">
				<div class="mod-rightcontent helpList">
					<p class="notices" id="notice" style="display:none">! 为了您的使用便捷，建议您下载财猫贵金属APP（右侧扫码下载），在APP上进行以下操作。</p>
					<div class="helpCont" id="list">
						<script type="text/x-tmpl">
							<div class="helpTabs">
							    <ul>
									<%for(var i = 1,l = data.length; i < l; i++ ){%>
							       	 <li <%if(lv2 == i){%> class="z-crt"<%}%>><a href="?lv1=<%=lv1%>&lv2=<%=i%>"><%=data[i][0]%></a></li>
									<%}%>
							    </ul>
							</div>
							<% for(var j = 1,l2 = data[lv2].length; j < l2; j++){%>
							<dl>
								<dt><%=data[lv2][j][0]%></dt>
								<dd>
									<% for(var k = 1,l3 = data[lv2][j].length; k < l3; k++){%>
									<p><%=data[lv2][j][k]%></p>
									<%}%>
								</dd>
							</dl>
							<%}%>
						</script>
						<script type="text/x-tmpl" name="bank">
							<h1 class="bankTitle clearfix"><strong style="float:left;"><%=data.name%>银商绑定指南</strong></h1>
							<div class="bankCont"><%=data.content%></div>
							<%if(data.link){%>
							<p style="padding:50px 0 20px;font-size:16px;"><a href="<%=data.link%>" target="_blank">前往银行绑定：<%=data.link%></a></p>
							<%}%>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var action = $_GET("action");
		if(!action){
			helpLayout();
		}else if(action == "pcbank"){
			bankLayout();
		}
	</script>




<#include "gjs/include/page/foot.html" />
	</body>
</html>