@charset "utf-8";
@import 'base';
body{color:#424040;background:#f4f4f4;}
.whydo{
	height:700px;background:#fff;
	.wrap{
		width:1000px;margin:0 auto;overflow: hidden;
		.header{
			font-size:36px;padding-top:95px;height:130px;text-align:center;background:url(img/p1.jpg) no-repeat center 150px;
			em{color:#b73a3c;padding-top:40px;font-size:20px;display:block;margin:0 auto;}
		}
		.list{
			overflow: hidden;width:1100px;
			dl{width:244px;margin-right:8px;float:left;text-align: center;}
			dd{
				font-size:14px;
				em{color:#b73a3c;padding-top:40px;font-size:20px;display:block;margin:0 auto;height:36px;}
			}
		}
	}
}
.caimaoInf{
	height:1315px;background:#f4f4f4;

	.wrap{
		width:1000px;margin:0 auto;overflow: hidden;
		.header{
			font-size:36px;padding-top:95px;height:180px;text-align:center;background:url(img/p2.jpg) no-repeat center 150px;
			em{
				color:#b73a3c;font-size:20px;display:block;margin:0 auto;padding-top:20px;
				i{background:url(img/1.jpg) no-repeat 0 10px;width:50px;height:80px;display:inline-block;vertical-align:middle}
				b{height:80px;display:inline-block;vertical-align:middle;line-height:80px;}
			}
		}
		.info{border-bottom:1px solid #cac9c9;padding-bottom:70px;}
		.header2{
			background:none;padding-top:40px;height:130px;
			em{
				i{
					background-image:url(img/2.jpg)
				}
			}
		}
		.slg{font-size:20px;display:block;height:45px;}
		.ilist{
			width:1100px;overflow: hidden;
			dl{float:left;width:196px;height:233px;margin-right:5px;background:url(img/bg1.jpg) no-repeat;}
			dt{font-size:16px;color:#b73a3c;padding:30px 0 0 18px;height:35px;}
			dd{font-size:14px;padding:0 0 0 18px;width:158px;line-height:21px;}
		}
	}
}
.bigthree{
	height:500px;background:url(img/bg.jpg) no-repeat center top;

	.wrap{
		width:1000px;margin:0 auto;overflow: hidden;
		.header{
			font-size:36px;
			em{
				color:#b73a3c;font-size:20px;display:block;margin:0 auto;padding-top:20px;
				i{background:url(img/3.png) no-repeat 0 10px;width:50px;height:80px;display:inline-block;vertical-align:middle}
				b{height:80px;display:inline-block;vertical-align:middle;line-height:80px;}
			}
		}
		.con1{font-size:19px;height:30px;}
		.con2{font-size:14px;height:65px;}
		dl{border-left:5px solid #b73a3c;font-size:14px;margin-bottom:35px;padding-left:10px;}
		dt{
			font-size:24px;color:#000;height:34px;
			i{color:#b73a3c;}
		}
	}
}
.bp{margin:0 auto;text-align:center;}
.notice{
	width:1000px;margin:0 auto;
	strong{
		font-size:22px;display:inline-block;border-radius:18px;height:36px;line-height:36px;padding:0 10px;background:#9d9d9d;color:#fff;
	}
	dl{padding-top:25px;}
	dt{font-size:18px;color:#b83b3c;}
	dd{font-size:14px;padding-top:5px;line-height:25px;}
	.btn{padding:80px 0;text-align:center;}
}