<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="../dev/style/assistant.css" />
	<title>Document</title>
</head>
<body>
	<div class='personal-head2'>
		<div class='head-top'>
			<img src="../img/assistant/portrait.png" alt="" class='portrait'>
			
			<h1>lee想<img src="../img/assistant/vip.png" alt=""></h1>
			<span class='followBtn followBtn1'><img src="../img/assistant/jia.png" alt="">关注</span>
			<span class='followBtn followBtn2'><img src="../img/assistant/rightimg2.png" alt="">已关注</span> 
		</div>
		<div class='head-bottom'>
			<h1><span>万科控股</span> <span>60001</span></h1>
			<p>距第一次推荐已上涨10%</p>
		</div>
	</div>
	<div class="artBox">
		<div class="artMain">
			<h1><span class='gallon'>加仓30→35%</span><span class='price'>时价 <span>15.00</span></span></h1>
			<p class='articleWord'>拟作价约50亿元收购公司控股股东投资集团持有的鹤壁同力97.15%股权、鹤壁丰鹤50%股权和华能沁北35%股权。控股股东投资集团承诺，标的资产2016年度至2018年度预计合计净利润为4.81亿元、4.23亿元和4.26亿元。交易完成后，公司装机规模、火力发电产能规模将进一步扩大，其中已投产控制装机容量将由430万千瓦增至610万千万，已投产权益装机容量将由395.08万千瓦增至667.37万千瓦。公司业绩有望提升。</p>
			<h2>
				<p class='name'><i>2小时前</i></p>
				<p class='xin'><span>33</span><br><i><img src="../img/assistant/heart.png" alt=""></i></p>
			</h2>
		</div>
	</div>
	<div class="artBox2">
		<div class="artMain">
			<h1><span class='gallon'>加仓30→35%</span><span class='price'>时价 <span>15.00</span></span></h1>
			<p class='articleWord'>拟作价约50亿元收购公司控股股东投资集团持有的鹤壁同力97.15%股权、鹤壁丰鹤50%股权和华能沁北35%股权。控股股东投资集团承诺，标的资产2016年度至2018年度预计合计净利润为4.81亿元、4.23亿元和4.26亿元。交易完成后，公司装机规模、火力发电产能规模将进一步扩大，其中已投产控制装机容量将由430万千瓦增至610万千万，已投产权益装机容量将由395.08万千瓦增至667.37万千瓦。公司业绩有望提升。</p>
			<h2>
				<p class='name'><i>2小时前</i></p>
				<p class='xin'><span>33</span><br><i><img src="../img/assistant/heart3.png" alt=""></i></p>
			</h2>
		</div>
	</div>
	<div class='followMark'>
		<div class='btnBox'>
			<p class='tips'>确定不再关注此么？</p>
			<p class='yes'>确定</p>
			<p class='no'>取消</p>
		</div>
	</div>
</body>
<script src="../dev/js/zepto.min.js"></script>
<script src="../dev/js/assistant.js"></script>
</html>