<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="../dev/style/assistant.css" />
	<title>Document</title>
</head>
<body>
	<div class="assistant clearfix">
		<div class='assisMain'>
			<div class="assisMainL">
				<img src="../img/assistant/portrait.png" alt="">
			</div>
			<div class='assisMainR'>
				<h1>
					<p class='name'><span>高耀华<img src="../img/assistant/vip.png" alt=""></span><br><i>2小时前</i></p>
					<p class='xin'><span>33</span><br><i><img src="../img/assistant/heart.png" alt=""></i></p>
				</h1>
				<a href="#" class='word'>
				储备水平并非币值的，最终决定因素但其下降或给市场带来较大的心响，刺激更多外汇流出。由于缺乏充分沟通，短期内人民币进一步贬值的风险依然高企..
					<p class='stockName'>正泰电器 600021</p>
				</a>
			</div>
		</div>
	</div>
	<div class="assistant clearfix">
		<div class='assisMain'>
			<div class="assisMainL">
				<img src="../img/assistant/portrait.png" alt="">
			</div>
			<div class='assisMainR'>
				<h1>
					<p class='name'><span>高耀华<img src="../img/assistant/vip.png" alt=""></span><br><i>2小时前</i></p>
					<p class='xin'><span>33</span><br><i><img src="../img/assistant/heart2.png" alt=""></i></p>
				</h1>
				<a href="#" class='word'>
				储备水平并非币值的，最终决定因素但其下降或给市场带来较大的心响，刺激更多外汇流出。由于缺乏充分沟通，短期内人民币进一步贬值的风险依然高企..
					<p class='stockName'>正泰电器 600021</p>
				</a>
			</div>
		</div>
	</div>
	<div class='assisFooter'>
		<ul class='footerList1'>
			<li><a href="#" class='follow'>关注</a></li>
			<li><a href="#" class='hall'>大厅</a></li>
		</ul>
	</div>
</body>
</html>