<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>贵金属-下载页</title>
    <link href="../dev/style/download.css" rel="stylesheet">
</head>

<body>
<div class="download_page">
    <div class="header w">
        <h1><a href="/"></a></h1>
        <div class="right f_r">
            <a class="hov" href="">手机版</a>
            <a href="">PC版</a>
        </div>
    </div>
    <div class="banner">
        <div class="banner01">财猫贵金属手机客户端  安全好用的投资平台</div>
        <div class="banner02"><img src="../img/download/jin_tel_ma.png" width="176" height="176"/></div>
        <div class="banner03">
            <a  href=""><i class="icon_iphone"></i>iPhone版下载</a>
            <a href=""><i class="icon_android"></i>Android版下载</a>
        </div>
    </div>
    <div class="advant">
        <ul class="w">
            <li class="one">
                <i class="icon01"></i>
                <span><b>安全</b>资金三方银行托管100%安全</span>
            </li>
            <li class="two">
                <i class="icon02"></i>
                <span><b>好用</b>十秒钟急速在线开户，随时随地炒金银</span>
            </li>
            <li class="three">
                <i class="icon03"></i>
                <span><b>低门槛</b>专业分析师指导，100块就能炒白银</span>
            </li>
        </ul>
    </div>
    <div class="why w">
        <h3>为什么投资贵金属</h3>
        <ul>
            <li>
                <b>10倍杠杆</b>
                采用保证金交易制度<br>
                可以使用10%的保证金购买整份合约<br>
                资金收益放大10倍<br>
                小资金博出大收益
            </li>
            <li>
                <b>双向交易</b>
                可以买涨也能买跌<br>
                行情下行高位卖出低位买入<br>
                看准行情涨跌都能赚钱<br>
                资金不容易被套牢
            </li>
            <li>
                <b>21小时不停盘</b>
                早9点到次日早6点不间歇交易<br>
                交易时间最长可达21小时<br>
                是股票交易时长的5倍<br>
                下班也能炒白银
            </li>
            <li>
                <b>交易T+0</b>
                贵金属采用T+0交易模式<br>
                当天可以根据行情进行多轮买卖<br>
                资金灵活性高<br>
                收益当日结算
            </li>
        </ul>
    </div>
    <div class="foot w">
        京ICP备15016693号-2 2013-2015©版权所有
    </div>
</div>
</body>
</html>
