<!doctype html>
<html>
<head>
    <title>第一课-投资贵金属好处多</title>
    <meta charset='utf-8'>
  
   <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">

    <link href='/static/gjs/prod/app/download/css/style0.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/gjs/prod/app/download/css/animation.css">
    <script type='text/javascript'>
        //判断系统及版本
      
        var coverUrl = '';
        var config = {
            coverUrl: coverUrl,
            swipeCur: 0,
            swipeDir: 'vertical'// 'vertical' // horizontal
        }
    </script>
    <script src='/static/gjs/prod/app/download/js/zepto.min.js'></script>
    <script src='/static/gjs/prod/app/download/js/swipe.js'></script>
    <script src='/static/gjs/prod/app/download/js/player.js'></script>
</head>
<body>
<div style="position:absolute;left:0;top:0;color:#000;background:#fff;z-index:9999999999" id="debug"></div>
<div class='container'>
    <div class='swipe' id='swipe'>
        <ul>
            <!--首页~动画1-->
            <li class='js-flag-expired' id='hehe' style="background: url("img/onebg.png")no-repeat;
    background-size:100% 100%;">
                <div class='page index '>
                   <div class='index-1 a-flipinY' id="animate">
                       <img src="/static/gjs/prod/app/download/img/loadlogo.png" alt="">
                   </div>
                   <div class="index-2 a-bounceinL">
                       <img src="/static/gjs/prod/app/download/img/indexword.png" alt="">
                   </div>
                   <div class="index-4 ">
                       <img src="/static/gjs/prod/app/download/img/indeximg1.png" alt="">
                   </div>
                    <div class="index-3">
                       <a href="#" class='loadBtn'></a>
                   </div>
                    
                  <img src="/static/gjs/prod/app/download/img/upimg.png" alt="" class='xiala1'>
                  
                </div>
            </li>

            <!--动画2-->
            <li class='js-flag-expired'>
                <div class='page page02'>
                    <div class='page02-1 a-flipinY'>
                         <img src="/static/gjs/prod/app/download/img/loadlogo2.png" alt="">
                    </div>
                    <div class='page02-2 a-bounceinR'>
                        <img src="/static/gjs/prod/app/download/img/loadtit1.png" alt="">
                    </div>
                    <div class='page02-3'>
                       <img src="/static/gjs/prod/app/download/img/imgone1.png" alt="" class='a-fadein'>
                       <img src="/static/gjs/prod/app/download/img/imgone2.png" alt=""class='a-bouncein'>
                   </div>
                   <div class="page02-4">
                       <a href="#" class='loadBtn2'></a>
                   </div>
                  <img src="/static/gjs/prod/app/download/img/upimg2.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画3-->
            <li class='js-flag-normal'>
                <div class='page page03' >
                    <div class='page03-1 a-flipinY'>
                         <img src="/static/gjs/prod/app/download/img/loadlogo2.png" alt="">
                    </div>
                    <div class='page03-2 a-bounceinR'>
                        <img src="/static/gjs/prod/app/download/img/loadtit2.png" alt="">
                    </div>
                    <div class='page03-3'>
                       <img src="/static/gjs/prod/app/download/img/imgtwo1.png" alt="" class='a-flipinY'>
                       <div class='dwMarker'><img src="/static/gjs/prod/app/download/img/imgtwo2.png" alt=""class=''></div>
                       
                   </div>
                   <div class="page03-4">
                       <a href="#" class='loadBtn2'></a>
                   </div>
                  <img src="/static/gjs/prod/app/download/img/upimg2.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画4-->
            <li class='js-flag-normal'>
                <div class='page page04'>
                  <div class='page04-1 a-flipinY'>
                         <img src="/static/gjs/prod/app/download/img/loadlogo2.png" alt="">
                    </div>
                    <div class='page04-2 a-bounceinR'>
                        <img src="/static/gjs/prod/app/download/img/loadtit3.png" alt="">
                    </div>
                    <div class='page04-3'>
                       <img src="/static/gjs/prod/app/download/img/imgthree1.png" alt="" class='a-bounceinL'>
                      <img src="/static/gjs/prod/app/download/img/imgthree2.png" alt=""class='a-fadeinT'>
                       <img src="/static/gjs/prod/app/download/img/imgthree3.png" alt=""class='a-bounceinR'>
                         <img src="/static/gjs/prod/app/download/img/imgthree4.png" alt=""class='a-bounceinR'>
                       <img src="/static/gjs/prod/app/download/img/imgthree4.png" alt=""class='a-bounceinR'> 
                   </div>
                   <div class="page04-4">
                       <a href="#" class='loadBtn2'></a>
                   </div>
                  <img src="/static/gjs/prod/app/download/img/upimg2.png" alt="" class='xiala1'>
                </div>
            </li>
        </ul>
        <!--<a href='javascript:;' id='sw-music' class='ui-music f-b4p f-r4p playing'><i class='ui-icon icon-music'></i>
            <audio autoplay='autoplay' preload='auto' loop='loop' data-src='music/14290722924984.mp3' src='music/RightNow&RightHere.mp3' data-play='1'></audio>
        </a>-->
    </div>
</div>
</body>
<script src="zepto.min.js"></script>
<script>

</script>
</html>