<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="../dev/style/assistant.css" />
	<title>Document</title>
</head>
<body>
	<div class='personal-head'>
		<div class='head-top'>
			<img src="../img/assistant/portrait.png" alt="" class='portrait'>
			<!-- <span class='followBtn'><img src="../img/assistant/rightimg.png" alt="">已关注</span> -->
			<span class='followBtn'>关注</span>
		</div>
		<div class='head-bottom'>
			<h1>Philip<img src="../img/assistant/vip.png" alt=""></h1>
			<p>华泰证券能源类金牌分析师</p>
		</div>
	</div>
	<div class='personalMain'>
		<div class='personalMainL'>
			<span class='yuan1'><span class='yuan2'>65%</span></span>
		</div>
		<div class='personalMainR'>
			<h1>
				<p class='stock'><span>万科控股</span><br><i>305521</i></p>
				<p class="time">目标价 <span>20.00</span><img src="../img/assistant/rightArrow.png" alt=""></p>
			</h1>
		</div>
	</div>
	<div class='personalMain'>
		<div class='personalMainL'>
			<span class='yuan1'><span class='yuan2'>65%</span></span>
		</div>
		<div class='personalMainR'>
			<h1>
				<p class='stock'><span>万科控股</span><br><i>305521</i></p>
				<p class="time">目标价 <span>20.00</span><img src="../img/assistant/rightArrow.png" alt=""></p>
			</h1>
		</div>
	</div>
	<div class='personalMain'>
		<div class='personalMainL'>
			<span class='yuan1'><span class='yuan2'>65%</span></span>
		</div>
		<div class='personalMainR'>
			<h1>
				<p class='stock'><span>万科控股</span><br><i>305521</i></p>
				<p class="time">目标价 <span>20.00</span><img src="../img/assistant/rightArrow.png" alt=""></p>
			</h1>
		</div>
	</div>
	<div class='personalMain'>
		<div class='personalMainL'>
			<span class='yuan1'><span class='yuan2'>65%</span></span>
		</div>
		<div class='personalMainR'>
			<h1>
				<p class='stock'><span>万科控股</span><br><i>305521</i></p>
				<p class="time">目标价 <span>20.00</span><img src="../img/assistant/rightArrow.png" alt=""></p>
			</h1>
		</div>
	</div>
</body>
</html>