<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link rel="stylesheet" href="../prod/style/style.css" />
		<script src="../prod/js/metal.js"></script>
		<script>
			var h = http(),
				isLogin = 0;
		</script>
	</head>
	<body>

	<div class="top">
		<div class="innerCont clearfix">
			<div class="topnav">
				<a href="">财猫主站</a><!--
				--><a href="">财猫邮币卡</a><!--
				--><a href="">财猫贵金属</a>
			</div>
			<div class="user"><a href="" class="appdownload" id="appdownload"><i></i>APP下载</a><a href="">登录</a><span>|</span><a href="">注册</a><div class="qrcode" id="qrcode"><img src="../img/qrcode_android.png" ><img src="../img/qrcode_apple.png"></div></div>
		</div>
	</div>
	<div class="menuline">
		<div class="innerCont clearfix">
			<div class="logo"><a href="home.html"><img src="../img/logo.png"></a></div>
			<div class="menu">
				<a href="home.html">首页<i><span>◆</span></i></a><!--
				--><a href="market.html">行情<i><span>◆</span></i></a><!--
				--><a href="news.html">资讯<i><span>◆</span></i></a><!--
				--><a href="openAccount.html" class="on">快速开户<b>hot!</b><i><span>◆</span></i></a><!--
				--><a href="help.html">帮助<i><span>◆</span></i></a>
			</div>
			<div class="asset">
				<div class="totalAsset">
					总资产：<b>9999999.99</b>
				</div>
				<dl class="assetDetail">
					<dt><em><span>总收益：</span><i class="rise">+234.55</i></em><em><span>可用保证金：</span><b>99999999.55</b></em></dt>
					<dd class="njs">
						<p><b>南交所</b><span>ID：2342342</span><span>绑定卡：招行（尾号2342）</span></p>
						<div class="countAsset">
							<div class="result">净资产：<i>99999999.55</i> = </div>
							<ul class="section">
								<li><i></i>可用保证金：23422.55</li>
								<li><i></i>持仓盈利：+53.55</li>
								<li><i></i>持仓成本：563.22</li>
							</ul>
						</div>
					</dd>
					<dd class="sjs">
						<p><b>上金所</b></p>
						<div class="btnBox"><a href="" class="openAccount">去开户</a></div>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	

	<div class="account">
		<div class="innerCont upload">
			<div class="titleBox">上传身份证</div>
			<p class="notice">上交所提示您，为了保证您顺利开户，请及时上传有效身份证照片。</p>
			<div class="uploadBox">
				<dl>
					<dt>身份证正面</dt>
					<dd class="uppic"><img src="../img/card1.jpg"></dd>
					<dd class="notice"></dd>
				</dl>
				<dl>
					<dt>身份证反面</dt>
					<dd class="uppic"><img src="../img/card1.jpg"></dd>
					<dd class="notice"></dd>
				</dl>
			</div>
		</div>
	</div>



	<div class="bottom">
		<div class="bottomnav">
			<a href="about.html">关于我们</a><!--
					--><span>|</span><!--
					--><a href="rule.html">服务条款</a><!--
					--><span>|</span><!--
					--><a href="help.html">帮助中心</a>
		</div>
		<div class="contact">
			<div class="inner">
				<em class="qq"><i></i>官方QQ群 4006660888</em><!--
						--><span>|</span><!--
						--><em class="phone"><i></i>24小时服务电话 4000-898-000</em>
			</div>
		</div>
		<div class="copyright">
			<p>版权所有 © 北京朋乐投资管理有限公司 丨 京ICP备15016693号</p>
		</div>
	</div>

	<div class="rightBar">
		<div class="takeAim">
			<div class="tools">
				<dl class="goTop">
					<dt></dt>
				</dl>
				<dl class="tel">
					<dt></dt>
					<dd><i></i><b>4000-898-000</b></dd>
				</dl>
				<dl class="qq">
					<dt></dt>
					<dd><i></i><b>800097600</b></dd>
				</dl>
				<dl class="app">
					<dt></dt>
					<dd><img src="../img/qrcode.jpg"><p>扫码下载贵金属APP</p></dd>
				</dl>
			</div>
		</div>
	</div>
	</body>
</html>