<!doctype html>
<html>
<head>
    <title>第一课-投资贵金属好处多</title>
    <meta charset='utf-8'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no" />
    <link href='/static/gjs/prod/app/school/css/style0.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/gjs/prod/app/school/css/animation.css">
    <script type='text/javascript'>
        //判断系统及版本
      
        var coverUrl = '';
        var config = {
            coverUrl: coverUrl,
            swipeCur: 0,
            swipeDir: 'vertical'// 'vertical' // horizontal
        }
    </script>
    <script src='/static/gjs/prod/app/school/js/zepto.min.js'></script>
    <script src='/static/gjs/prod/app/school/js/swipe.js'></script>
    <script src='/static/gjs/prod/app/school/js/player.js'></script>
</head>
<body>
<div class='container'>
    <div class='swipe' id='swipe'>
        <ul>
            <!--首页~动画1-->
            <li class='js-flag-expired' id='hehe' style="background: url("img/onebg.png")no-repeat;
    background-size:100% 100%;">
                <div class='page index '>
                   <div class='index-1 a-flipinY' id="animate">
                       <img src="/static/gjs/prod/app/school/img/onebanner.png" alt="">
                   </div>
                   <div class="index-2 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/oneimg1.png" alt="">
                   </div>
                   <div class='index-3 a-bounceinR'>
                       <img src="/static/gjs/prod/app/school/img/oneimg2.png" alt="">
                   </div>
                   <div class="index-4 a-bounceinL" >
                     <img src="/static/gjs/prod/app/school/img/oneimg3.png" alt="">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                  
                </div>
            </li>

            <!--动画2-->
            <li class='js-flag-expired'>
                <div class='page page02'>
                    <div class='page02-1 a-flipinY'>
                        <img src="/static/gjs/prod/app/school/img/oneimg4.png" alt="">
                       
                    </div>
                    <div class='page02-2 a-bounceinR'>
                        <img src="/static/gjs/prod/app/school/img/oneimg6.png" alt="">
                    </div>
                    <div class='page02-3 a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/oneimg5.png" alt="">
                   </div>
                   <div class="page02-4 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/oneimg8.png" alt="" >
                   </div>
                   <div class="page02-5 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/oneimg7.png" alt="" >
                   </div>
                   <div class="page02-6 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/oneimg9.png" alt="" >
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画3-->
            <li class='js-flag-normal'>
                <div class='page page03' >
                  <div class='page03-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/oneimg10.png" alt="">
                  </div>
                  <div class='page03-2'>
                      <img src="/static/gjs/prod/app/school/img/oneimg12.png" alt="" class="word a-bounceinL">
                      <img src="/static/gjs/prod/app/school/img/oneimg11.png" alt="" class="yuan a-bounceinL">
                  </div>
                  <div class="page03-3">
                       <img src="/static/gjs/prod/app/school/img/oneimg13.png" alt="" class="yuan a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/oneimg14.png" alt="" class=" word a-bounceinR">
                   </div>
                    <div class="page03-4 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/oneimg16.png" alt="">
                   </div>
                    <div class="page03-5 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/oneimg15.png" alt="">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画4-->
            <li class='js-flag-normal'>
                <div class='page page04'>
                  <div class='page04-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/oneimg17.png" alt="">
                  </div>
                  <div class='page04-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/oneimg18.png" alt="">
                  </div>
                   <div class="page04-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/oneimg19.png" alt="">
                   </div>
                   <div class="page04-4 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/oneimg20.png" alt="">
                   </div>
                   <div class="page04-5 a-bounceinL">
                      <img src="/static/gjs/prod/app/school/img/oneimg21.png" alt="">
                   </div>
                   <div class="page04-6 a-bouncein">
                      <img src="/static/gjs/prod/app/school/img/oneimg22.png" alt="">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画5-->
            <li class='js-flag-normal'>
                <div class='page page05'>
                  <div class='page05-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/oneimg23.png" alt="">
                  </div>
                  <div class='page05-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/oneimg24.png" alt="">
                  </div>
                   <div class="page05-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/oneimg25.png" alt="">
                   </div>
                   <div class="page05-4 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/oneimg27.png" alt="">
                   </div>
<!--                    <div class="page05-5 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/onebtn.png" alt="">
                   </div> -->
                </div>
            </li>

        </ul>
        <!--<a href='javascript:;' id='sw-music' class='ui-music f-b4p f-r4p playing'><i class='ui-icon icon-music'></i>
            <audio autoplay='autoplay' preload='auto' loop='loop' data-src='music/14290722924984.mp3' src='music/RightNow&RightHere.mp3' data-play='1'></audio>
        </a>-->
    </div>
</div>
</body>
<script>
</script>
</html>