<!doctype html>
<html>
<head>
    <title>第二课-清清楚楚赚钱交费</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no" />
    <link href='/static/gjs/prod/app/school/css/style0.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/gjs/prod/app/school/css/animation.css">
    <script type='text/javascript'>
        
        var coverUrl = '';
        var config = {
            coverUrl: coverUrl,
            swipeCur: 0,
            swipeDir: 'vertical'// 'vertical' // horizontal
        }
    </script>
    <script src='/static/gjs/prod/app/school/js/zepto.min.js'></script>
    <script src='/static/gjs/prod/app/school/js/swipe.js'></script>
    <script src='/static/gjs/prod/app/school/js/player.js'></script>
</head>
<body>
<div class='container'>
    <div class='swipe' id='swipe'>
        <ul>
            <!--首页~动画1-->
            <li class='js-flag-expired'>
                <div class='page page06'>
                    <div class='page06-1 a-flipinY'>
                        <img src="/static/gjs/prod/app/school/img/twobanner.png" alt="">
                    </div>
                    <div class='page06-2 a-bounceinL'>
                        <img src="/static/gjs/prod/app/school/img/twoimg1.png" alt="">
                    </div>
                    <div class='page06-3 a-bounceinR'>
                       <img src="/static/gjs/prod/app/school/img/twoimg2.png" alt="">
                   </div>
                   <div class="page06-4 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/twoimg3.png" alt="" >
                   </div>
                   <div class="page06-5 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/twoimg4.png" alt="" >
                   </div>
                   <div class="page06-6 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/twoimg5.png" alt="" >
                   </div>
                    <div class="page06-7">
                       <img src="/static/gjs/prod/app/school/img/twoimg6.png" alt="" class='a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/twoimg7.png" alt="" class='a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/twoimg8.png" alt="" class='a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/twoimg9.png" alt="" class='a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/twoimg10.png" alt="" class='a-bounceinL'>
                   </div>
                    <div class="page06-8 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/twoimg11.png" alt="" >
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>

            <!--动画2-->
            <li class='js-flag-expired'>
                <div class='page page07'>
                    <div class='page07-1 a-flipinY'>
                        <img src="/static/gjs/prod/app/school/img/twoimg12.png" alt="">
                    </div>
                    <div class='page07-2 a-fadein'>
                        <img src="/static/gjs/prod/app/school/img/twoimg14.png" alt="">
                    </div>
                    <div class='page07-3 a-bounceinR'>
                       <img src="/static/gjs/prod/app/school/img/twoimg13.png" alt="">
                   </div>
                   <div class="page07-4 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/twoimg15.png" alt="" >
                   </div>
                   <div class="page07-5 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/twoimg16.png" alt="" >
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画3-->
            <li class='js-flag-normal'>
                <div class='page page08' >
                  <div class='page08-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/twoimg17.png" alt="">
                  </div>
                  <div class='page08-2'>
                      <img src="/static/gjs/prod/app/school/img/twoimg19.png" alt="" class="word a-bounceinL">
                      <img src="/static/gjs/prod/app/school/img/twoimg18.png" alt="" class="yuan a-bounceinL">
                  </div>
                  <div class="page08-3 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/twoimg20.png" alt="">

                   </div>
                    <div class="page08-4">
                       <img src="/static/gjs/prod/app/school/img/twoimg21.png" alt="" class="a-fadeinR">
                        <img src="/static/gjs/prod/app/school/img/twoimg22.png" alt="" class="yuan a-bounceinR">
                   </div>
                    <div class="page08-5 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/twoimg23.png" alt="">
                   </div>
                   <div class="page08-6 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/twoimg24.png" alt="">
                   </div>
                   <div class="page08-7 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/twoimg25.png" alt="">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画4-->
            <li class='js-flag-normal'>
                <div class='page page09'>
                  <div class='page09-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/twoimg26.png" alt="">
                  </div>
                  <div class='page09-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/twoimg27.png" alt="">
                  </div>
                   <div class="page09-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/twoimg28.png" alt="">
                   </div>
                   <div class="page09-4 a-fadein">
                      <img src="/static/gjs/prod/app/school/img/twoimg29.png" alt="">
                   </div>
                   <div class="page09-5 a-fadein">
                      <img src="/static/gjs/prod/app/school/img/twoimg30.png" alt="">
                   </div>
                   <div class="page09-6 a-bouncein">
                      <img src="/static/gjs/prod/app/school/img/twoimg31.png" alt="">
                   </div>
<!--                    <div class="page09-7 a-bouncein">
                      <img src="/static/gjs/prod/app/school/img/twoimg32.png" alt="">
                   </div> -->
                   
                </div>
            </li>
           
        </ul>
        <!--<a href='javascript:;' id='sw-music' class='ui-music f-b4p f-r4p playing'><i class='ui-icon icon-music'></i>
            <audio autoplay='autoplay' preload='auto' loop='loop' data-src='music/14290722924984.mp3' src='music/RightNow&RightHere.mp3' data-play='1'></audio>
        </a>-->
    </div>
</div>
</body>
<script>
</script>
</html>