<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新手学堂</title>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="">
<link href='/static/gjs/prod/app/school/css/style0.css' rel='stylesheet'/>
</head>
<body>
	<div class='listbox clearfix'>
		<div class='list '>
			<dl>
				<dt><a href="xuetangone.html"><img src="/static/gjs/prod/app/school/img/list1.png" alt=""></a></dt>
				<dd><h1><a href="xuetangone.html">第一课-投资贵金属好处多</a></h1></dd>
			</dl>
			<dl>
				<dt><a href="xuetangtwo.html"><img src="/static/gjs/prod/app/school/img/list2.png" alt=""></a></dt>
				<dd><h1><a href="xuetangtwo.html">第二课-清清楚楚赚钱交费</a></h1></dd>
			</dl>
			<dl>
				<dt><a href="xuetangthree.html"><img src="/static/gjs/prod/app/school/img/list3.png" alt=""></a></dt>
				<dd class='clearfix'><h1><a href="xuetangthree.html">第三课-短线交易6大法则</a></h1></dd>
			</dl>
		</div>
	</div>
</body>
</html>