<!doctype html>
<html>
<head>
    <title>第三课-短线交易6大法则</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="format-detection" content="telephone=no" />
    <link href='/static/gjs/prod/app/school/css/style0.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/gjs/prod/app/school/css/animation.css">
    <script type='text/javascript'>
        //判断系统及版本
        
        var coverUrl = '';
        var config = {
            coverUrl: coverUrl,
            swipeCur: 0,
            swipeDir: 'vertical'// 'vertical' // horizontal
        }
    </script>
    <script src='/static/gjs/prod/app/school/js/zepto.min.js'></script>
    <script src='/static/gjs/prod/app/school/js/swipe.js'></script>
    <script src='/static/gjs/prod/app/school/js/player.js'></script>
</head>
<body>
<div class='container'>
    <div class='swipe' id='swipe'>
        <ul>
            <!--首页~动画1-->
            <li class='js-flag-expired'>
                <div class='page page10'>
                    <div class='page10-1 a-flipinY'>
                        <img src="/static/gjs/prod/app/school/img/threebanner.png" alt="">
                    </div>
                    <div class='page10-2 a-bounceinL'>
                        <img src="/static/gjs/prod/app/school/img/threeimg1.png" alt="">
                    </div>
                    <div class='page10-3 a-bounceinR'>
                       <img src="/static/gjs/prod/app/school/img/threeimg2.png" alt="">
                   </div>
                   <div class="page10-4 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/threeimg3.png" alt="" >
                   </div>
                   <div class="page10-5 ">
                       <img src="/static/gjs/prod/app/school/img/threeimg4.png" alt="" class="a-flipinY">
                         <img src="/static/gjs/prod/app/school/img/threeimg5.png" alt="" class="a-bouncein">
                           <img src="/static/gjs/prod/app/school/img/threeimg6.png" alt="" class="a-bouncein">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
            </li>

            <!--动画2-->
            <li class='js-flag-expired'>
                <div class='page page11'>
                    <div class='page11-1 a-bouncein'>
                        <img src="/static/gjs/prod/app/school/img/threeimg7.png" alt="">
                    </div>
                    <div class='page11-2 a-bounceinL'>
                        <img src="/static/gjs/prod/app/school/img/threeimg8.png" alt="">
                    </div>
                    <div class='page11-3 a-bounceinL'>
                       <img src="/static/gjs/prod/app/school/img/threeimg9.png" alt="">
                   </div>
                   <div class="page11-4 a-bounceinR">
                       <img src="/static/gjs/prod/app/school/img/threeimg10.png" alt="" >
                   </div>
                    <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画3-->
            <li class='js-flag-normal'>
                <div class='page page12' >
                  <div class='page12-1 a-bouncein'>
                      <img src="/static/gjs/prod/app/school/img/threeimg11.png" alt="">
                  </div>
                  <div class='page12-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg12.png" alt="">

                  </div>
                  <div class="page12-3 a-bounceinL">
                       <img src="/static/gjs/prod/app/school/img/threeimg13.png" alt="">
                   </div>
                    <div class="page12-4">
                       <img src="/static/gjs/prod/app/school/img/threeimg14.png" alt="" class="a-fadein">
                        <img src="/static/gjs/prod/app/school/img/threeimg15.png" alt="" class='a-bounceinL'>
                   </div>
                    <div class="page12-5 a-bouncein">
                       <img src="/static/gjs/prod/app/school/img/threeimg16.png" alt="" class="a-fadein">
                       <img src="/static/gjs/prod/app/school/img/threeimg17.png" alt="" class='a-bounceinL'>
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
            <!--动画4-->
            <li class='js-flag-normal'>
                <div class='page page13'>
                  <div class='page13-1 a-bouncein'>
                      <img src="/static/gjs/prod/app/school/img/threeimg18.png" alt="">
                  </div>
                  <div class='page13-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg19.png" alt="">
                  </div>
                   <div class="page13-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/threeimg20.png" alt="">
                   </div>
                   <div class="page13-4 a-fadein">
                      <img src="/static/gjs/prod/app/school/img/threeimg21.png" alt="" class='a-bounceinB'>
                      <img src="/static/gjs/prod/app/school/img/threeimg22.png" alt="" class='a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg23.png" alt="" class="a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/threeimg24.png" alt="" class="a-rotatein">
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
             <!--动画5-->
            <li class='js-flag-normal'>
                <div class='page page14'>
                  <div class='page14-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/threeimg25.png" alt="">
                  </div>
                  <div class='page14-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg26.png" alt="">
                  </div>
                   <div class="page14-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/threeimg27.png" alt="">
                   </div>
                   <div class="page14-4">
                      <img src="/static/gjs/prod/app/school/img/threeimg28.png" alt="" class='a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg31.png" alt="" class='a-bounceinR'>
                      <img src="/static/gjs/prod/app/school/img/threeimg30.png" alt="" class='a-bouncein'>
                   </div>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala3'>
                   <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala2'>
                  <img src="/static/gjs/prod/app/school/img/xiala1.png" alt="" class='xiala1'>
                </div>
            </li>
             <!--动画6-->
            <li class='js-flag-normal'>
               <div class='page page15'>
                  <div class='page15-1 a-flipinY'>
                      <img src="/static/gjs/prod/app/school/img/threeimg32.png" alt="">
                  </div>
                  <div class='page15-2 a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg33.png" alt="">
                  </div>
                   <div class="page15-3 a-bounceinR">
                      <img src="/static/gjs/prod/app/school/img/threeimg34.png" alt="">
                   </div>
                   <div class="page15-4">
                      <img src="/static/gjs/prod/app/school/img/threeimg35.png" alt="" class='a-bounceinL'>
                      <img src="/static/gjs/prod/app/school/img/threeimg37.png" alt="" class='a-shake'>
                   </div>
                </div>
            </li>
           
        </ul>
        <!--<a href='javascript:;' id='sw-music' class='ui-music f-b4p f-r4p playing'><i class='ui-icon icon-music'></i>
            <audio autoplay='autoplay' preload='auto' loop='loop' data-src='music/14290722924984.mp3' src='music/RightNow&RightHere.mp3' data-play='1'></audio>
        </a>-->
    </div>
</div>
</body>
<script>
</script>
</html>