<div id="sidebar" class="con-lside cm-left">
	<ul class="list-lside">
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/account/rw.htm"><span class="am-ft-main">充值取现</span></a></li>
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/account/bankcard.htm"><span class="am-ft-main">银行卡信息</span></a></li>
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/account/fund.htm"><span class="am-ft-main">资金明细</span></a></li>
		<li class="list-lside-item" data-access="0 9" style="display: none;"><a href="${basePath}/account/info.htm"><span class="am-ft-main">账户资料</span></a></li>
		<li class="list-lside-item" data-access="0 9" style="display: none;"><a href="${basePath}/account/security.htm""><span class="am-ft-main">账户安全</span></a></li>
		<li class="list-lside-item" data-access="0 9" style="display: none;"><a href="${basePath}/user/avatar.htm"><span class="am-ft-main">头像设置</span></a></li>
	</ul>
</div>