<!--步骤start-->
<div id="navbar" class="navi-container">
	<ol class="ui-step ui-step-3 ">
		<li class="ui-step-start">
			<div class="ui-step-line">-</div>
			<div class="ui-step-icon">
				<i class="iconfont"></i> <i class="ui-step-number">1</i> <span
					class="ui-step-text">${step1!''}</span>
			</div>
		</li>

		<li>
			<div class="ui-step-line">-</div>
			<div class="ui-step-icon">
				<i class="iconfont"></i> <i class="ui-step-number">2</i> <span
					class="ui-step-text">${step2!''}</span>
			</div>
		</li>


		<li class="ui-step-end">
			<div class="ui-step-line">-</div>
			<div class="ui-step-icon">
				<i class="iconfont"></i> <i class="ui-step-number">3</i> <span
					class="ui-step-text">${step3!''}</span>
			</div>
		</li>
	</ol>
</div>
<!--步骤end-->