<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/app${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/global${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/layout${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/extra${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/theme${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/main${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/css/special${resRelease}.css?v=${jsVersion}" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/custom/style/page/caimao.css" />
<link rel="stylesheet" type="text/css"
	  href="${dojoUrl}/app/resources/custom/style/page/lead.css" />

<!-- 新版首页样式 -->
<link rel="stylesheet" type="text/css"
      href="${dojoUrl}/app/resources/newindex/style/style.css" />
