<div id="sidebar" class="con-lside cm-left">
	<ul class="list-lsideButton">
		<li class="list-lsideButton-item"><a href="${basePath}/financing/loan/dxb.htm" target="_blank" class="ui-boxButton ui-boxButton-orange">短线宝借款</a></li>
		<li class="list-lsideButton-item am-mt-5"><a href="${basePath}/financing/loan/borrow.htm" target="_blank" class="ui-boxButton ui-boxButton-blue">普通借款</a></li>
	</ul>
	<ul class="list-lside">
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/financing/loan.htm"><span class="am-ft-main">当前借款</span></a></li>
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/financing/check.htm"><span class="am-ft-main">当前申请</span></a></li>
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/financing/loan/inquiry.htm"><span class="am-ft-main">历史借款</span></a></li>
		<li class="list-lside-item" data-access="0" style="display: none;"><a href="${basePath}/financing/apply/inquiry.htm"><span class="am-ft-main">历史申请</span></a></li>
	</ul>
</div>