
<div id="top">
    <div class="section" style="position: relative;">
        <div class="f_l left" style="vertical-align: middle;">
            <span>
                <i class="icon icon_tel"></i>服务电话4000-898-000，服务时间：工作日8:00-20:00，非工作日9:00-18:00</span>|
            <span class="pl_10"><i class="icon icon_weixin"><span class="weixin_2d"><img src="${dojoUrl}/app/resources/image/customize/${wechatImg}" alt=""/></span></i></span>|
            <span class="pl_10 no_bor"><a class="icon icon_weibo" href="${weiboUrl}" target="_blank"></a></span>
        </div>
        <div id="usertopbar"></div>
    </div>
</div>

<div id="head" style="display: block;">
    <div class="section">
        <div class="f_l left" style="width: 318px;">
            <h1 class="icon icon_logo"><a href="${basePath}/index.htm">财猫网</a></h1><p class="icon icon_p">招招有财</p>
        </div>
        <div class="f_r right">
            <ul>
                <li><a href="${basePath}/index.htm">首页</a></li>
                <li><a href="${basePath}/trade/buy.htm">交易</a></li>
                <li><a href="<#if isProDay>${basePath}/p1.htm<#elseif isProMonth>${basePath}/p2.htm<#elseif isProFree>${basePath}/p3.htm<#elseif isProContest>${basePath}/p4.htm<#else>#</#if>">融资</a></li>
                <li><a href="${basePath}/p2p/targetPage.htm">投资</a></li>
                <li><a href="${basePath}/home/index.htm">账户</a></li>
                <li><a href="${basePath}/download.htm">下载</a></li>
                <li><a href="${basePath}/guide.htm">新手引导</a></li>
                <li><a href="${basePath}/activity/brokerage">邀请返佣</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="head_notice" style="height:2px;line-height:30px; display: block; background-color: #9f2d2e;" id="topNoticeDivPoint">
    <div class="section" style="display: none;"><i class="icon_head_notice"></i><a href="javascript:void(0);" style="color: #ffc600;" id="topNoticeTitlePoint"></a></div>
</div>
