<!--logo+菜单-->
<div id="header" class="header home-header ${headerBottomBorder}">
	<div class="grid-990">
		<!--左边LOGO-->
		<div class="header-lisde">
			<a href="${cmsPath}"><img src="${dojoUrl}/app/resources/image/common/logo.png"
				width="145" /></a> <span class="name" id="headname">${name!''}</span>
		</div>
		<div id="callforhelp" class="cm-right header-risde">
			<i class="fa am-ft-red">&#xf095;</i>
			<span class="am-ft-red am-ft-md">服务热线：<b class="am-ft-number">xxx-xxxx-xxx</b></span>
		</div>

		<div class="clear"></div>
	</div>
</div>
<!--logo+菜单-->