<#include 'layout/config.html'/>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="renderer" content="webkit">
<link rel="shortcut icon" type="image/ico" href="${dojoUrl}/app/resources/image/customize/${favicon}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Expires" content="0" />
<title>${title}</title>
<meta name="keywords" content="融资，股票融资，投资融资，理财融资，融资平台，融资炒股，融资网，融资公司" />
<meta name="description" content="财猫网由金融服务、风险管理及互联网运营等业界一流的专业人士组成的超百人全职运营团队。提供股票融资服务，致力于为公众提供一个国际化、高收益、安全、专业的互联网资产交易平台"/>
<#include 'layout/css.html'/>
</head>
<body class="claro firstTheme layout-flex-column">
	<#include 'layout/head.html'/>
	<div class="content-wrapper"><#if content ??> <@content/></#if></div>
	<#include 'layout/foot.html'/>
	<#include 'layout/js.html'/>
</body>
</html>