<!--头部-->
<div id="topbar" class="topbar">
	<div class="grid-990 clearfix" style="position: relative;">
		<div class="logo-topbar" id="logotopbar" style="visibility: hidden;"></div>
		<!--用户登录-->
		<div class="cm-left topbar-user">

			<img id="topbaravatar" src="${dojoUrl}/app/resources/image/avatar.png"><span
				class="am-left-10">欢迎您，</span> <a href="${basePath}/home/index.htm"><b class="am-right-10"><span id="topusername"></span></b></a>
			<i class="icon-type fa" style="display: none !important;">&#xf0e0;</i><a href="${basePath}/msg/main.htm" style="display: none !important;"><b id="topbarmailcount"
				class="am-left-5"></b></a><a id="logout" class="am-left-10"> [退出]</a>

		</div>

		<!--头部菜单start-->
		<ul class="topMenu listLateral">
			<li class="topMenu-item"><a class="topMenu-link" href="${cmsPath}">首页</a></li>
			<li class="topMenu-item"><a class="topMenu-link" href="${cmsPath}/help/index.htm">帮助中心</a></li>
		</ul>
	</div>
</div>
<!--头部-->