<!--左边start-->
<div class="con-lside cm-left">
<ul class="list-lside">
<!--onclick为选中时 -->
<li class="list-lside-item"><a href="${basePath}/stock/assets.htm" ><span class="am-ft-main">我的资产</span></a></li>
<li class="list-lside-item"><a href="${basePath}/stock/buy.htm"><span class="am-ft-main">买入</span></a></li>
<li class="list-lside-item"><a href="${basePath}/stock/sell.htm" ><span class="am-ft-main">卖出</span></a></li>
<li class="list-lside-item"><a href="${basePath}/stock/withdrawal.htm" ><span class="am-ft-main">撤单</span></a></li>
<li class="list-lside-item"><a href="${basePath}/stock/entrust.htm" ><span class="am-ft-main">委托查询</span></a></li>
<li class="list-lside-item"><a href="${basePath}/stock/deal.htm" ><span class="am-ft-main">成交查询</span></a></li>
</ul>
</div>
<!--左边end-->

