body {
  font-family: 'Microsoft YaHei',Lucida Grande,Lucida Sans Unicode,\5B8B\4F53;
  -webkit-text-size-adjust: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
  padding: 0;
  margin: 0; }

table, td, tr, th {
  font-size: 12px; }

ol, ul {
  list-style: none; }

li {
  list-style-type: none; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: top;
  border: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%;
  font-weight: 400; }

i, u, em, b, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: 400; }

input, textarea, button, select, button {
  outline: none;
  resize: none;
  font-family: \5B8B\4F53; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: "."; }

.targetList {
  font-family: "Microsoft Yahei";
  padding: 0 15px;
  width: 770px;
  margin: 0 auto; }
  .targetList thead span.rank {
    cursor: pointer;
    padding-right: 10px;
    background: url(../image/rank.png) no-repeat right -77px; }
    .targetList thead span.rank.desc {
      background-position: right -37px; }
    .targetList thead span.rank.asc {
      background-position: right 3px; }
  .targetList tbody td {
    height: 82px;
    border-bottom: 1px solid #eaeaea;
    width: 18%; }
    .targetList tbody td.list-name {
      color: #d72a26;
      font-size: 16px; }
      .targetList tbody td.list-name em {
        display: block;
        color: #333;
        font-size: 12px;
        height: 25px; }
      .targetList tbody td.list-name i {
        font: 30px arial; }
    .targetList tbody td.list-rate {
      font: 22px arial;
      color: #d72a26; }
    .targetList tbody td.list-time {
      font-size: 14px;
      color: #333; }
    .targetList tbody td.list-progress {
      text-align: right;
      font-size: 14px;
      color: #333;
      position: relative; }
      .targetList tbody td.list-progress span {
        position: relative;
        z-index: 4; }
      .targetList tbody td.list-progress b {
        position: absolute;
        left: 0;
        top: 35px;
        height: 12px;
        background: #f0f0f0;
        width: 70%;
        z-index: 3; }
      .targetList tbody td.list-progress i {
        position: absolute;
        left: 0;
        top: 0;
        height: 12px;
        background: #ff6600; }
    .targetList tbody td.list-ctrl {
      width: 10%; }
      .targetList tbody td.list-ctrl a {
        display: block;
        width: 70px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        background: #d72a26;
        font-size: 14px;
        text-decoration: none;
        text-align: center; }
        .targetList tbody td.list-ctrl a:hover {
          background: #ac2421; }

.pageTool {
  width: 800px;
  margin: 20px auto; }

.targetInfo {
  width: 800px;
  margin: 0 auto; }

.targetHere {
  width: 380px;
  padding-right: 20px;
  float: left;
  border-right: 1px solid #eaeaea; }
  .targetHere strong {
    display: block;
    height: 48px; }
    .targetHere strong b {
      color: #d72a26; }
    .targetHere strong span {
      display: inline-block;
      padding: 0 5px;
      color: #eaeaea; }
  .targetHere dl {
    overflow: hidden;
    height: 46px;
    font-size: 14px; }
  .targetHere dt {
    float: left;
    width: 70px;
    color: #999;
    height: 46px; }
  .targetHere dd {
    float: left;
    width: 300px;
    position: relative; }
    .targetHere dd.linestep {
      padding-left: 90px;
      width: 200px; }
    .targetHere dd em {
      position: absolute;
      left: 0;
      top: 4px;
      height: 13px;
      background: #f0f0f0;
      width: 80px; }
      .targetHere dd em i {
        position: absolute;
        left: 0;
        top: 0;
        height: 13px;
        background: #ff6600; }
    .targetHere dd .icons {
      color: #fff;
      background: #d72a26;
      padding: 0 10px; }
    .targetHere dd input {
      font-size: 12px;
      height: 12px;
      padding: 12px 10px;
      width: 270px; }
  .targetHere .fixLine1 dt {
    padding-top: 11px; }
  .targetHere .submit {
    padding-top: 20px; }
    .targetHere .submit a {
      text-decoration: none;
      display: block;
      width: 120px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      background: #d72a26; }
      .targetHere .submit a:hover {
        background: #ac2421; }

.lender {
  float: right;
  width: 380px; }
  .lender strong {
    display: block;
    height: 48px; }
  .lender dl {
    overflow: hidden;
    height: 42px;
    font-size: 14px; }
  .lender dt {
    float: left;
    width: 70px;
    color: #999;
    height: 46px; }
  .lender dd {
    float: left;
    width: 300px;
    position: relative; }
    .lender dd.linestep {
      padding-left: 90px;
      width: 200px; }
    .lender dd em {
      position: absolute;
      left: 0;
      top: 4px;
      height: 13px;
      background: #f0f0f0;
      width: 80px; }
      .lender dd em i {
        position: absolute;
        left: 0;
        top: 0;
        height: 13px;
        background: #ff6600; }
    .lender dd b {
      color: #d72a26; }
    .lender dd .icons {
      color: #fff;
      background: #d72a26;
      padding: 0 10px; }
    .lender dd input {
      font-size: 12px;
      height: 12px;
      padding: 12px 10px;
      width: 270px; }
  .lender .green {
    color: #4da319; }
  .lender .red {
    color: #d72a26; }
  .lender em {
    display: block;
    border-top: 1px solid #eaeaea;
    font-size: 16px;
    padding: 18px 0 10px; }
  .lender p {
    font-size: 12px;
    line-height: 20px; }
  .lender span {
    display: block;
    border: 1px solid #d72a26;
    color: #d72a26;
    padding: 8px 0;
    text-align: center;
    margin-top: 20px; }

.bidList {
  border-top: 1px solid #eaeaea;
  margin-top: 30px; }
  .bidList .red {
    color: #d72a26; }
  .bidList p {
    height: 58px;
    line-height: 58px; }
  .bidList dl span {
    display: inline-block;
    width: 180px;
    padding-left: 20px; }
  .bidList dt {
    background: #f7f7f7;
    border-top: 1px solid #eaeaea;
    height: 35px;
    line-height: 35px;
    color: #666;
    font-size: 12px; }
  .bidList dd {
    height: 35px;
    line-height: 35px;
    font-size: 14px; }
  .bidList .red {
    color: #d72a26; }

.invList {
  border-top: 1px solid #eaeaea;
  margin-top: 30px; }
  .invList .red {
    color: #d72a26; }
  .invList p {
    height: 58px;
    line-height: 58px; }
  .invList dl span {
    display: inline-block;
    width: 90px;
    padding-left: 10px; }
  .invList dt {
    background: #f7f7f7;
    border-top: 1px solid #eaeaea;
    height: 35px;
    line-height: 35px;
    color: #666;
    font-size: 12px; }
  .invList dd {
    height: 35px;
    line-height: 35px;
    font-size: 14px; }
  .invList .red {
    color: #d72a26; }
  .invList .green {
    color: #4da319; }
  .invList .orange {
    color: #ff6600; }
  .invList a, .invList a:link, .invList a:hover {
    color: #47a9ee;
    text-decoration: none; }

.myinv {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid #eaeaea; }
  .myinv strong {
    display: block;
    font-size: 16px;
    height: 20px;
    border-left: 2px solid #d72a26;
    padding-left: 5px; }

.filter {
  font-size: 14px;
  padding-top: 25px; }
  .filter select, .filter input {
    margin: 0 15px 0 5px;
    vertical-align: middle; }
  .filter a {
    vertical-align: middle;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #d72a26; }
    .filter a:hover {
      background: #ac2421; }

.myAssets {
  overflow: hidden;
  width: 800px;
  margin: 0 auto; }
  .myAssets .outbox {
    overflow: hidden;
    width: 1200px;
    height: 120px; }
  .myAssets .unitbox {
    width: 230px;
    height: 95px;
    border-right: 1px solid #eaeaea;
    float: left;
    color: #999; }
  .myAssets p {
    padding-left: 10px;
    height: 50px;
    font-size: 14px; }
  .myAssets dl {
    overflow: hidden;
    width: 210px;
    margin: 0 auto; }
    .myAssets dl b {
      color: #000;
      display: block; }
  .myAssets dt {
    float: left;
    width: 100px; }
  .myAssets dd {
    float: right;
    width: 100px;
    text-align: right; }
  .myAssets a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #d72a26; }
    .myAssets a.invBtn {
      width: 110px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #d72a26;
      margin: 0 auto; }
      .myAssets a.invBtn:hover {
        color: #fff;
        background: #d72a26;
        text-decoration: none; }
    .myAssets a.recharge {
      width: 90px;
      height: 28px;
      line-height: 28px;
      color: #fff;
      background: #d72a26;
      margin: 15px 0 10px 10px; }
      .myAssets a.recharge:hover {
        background: #ac2421;
        text-decoration: none; }
    .myAssets a.deposit {
      margin-left: 10px;
      width: 90px;
      height: 28px;
      line-height: 28px;
      color: #000;
      background: #e2e2e2; }
      .myAssets a.deposit:hover {
        background: #a0a0a0;
        text-decoration: none; }
  .myAssets b {
    color: #d72a26; }
  .myAssets i {
    font-size: 30px; }

/*# sourceMappingURL=p2p.css.map */
