<#assign controller="Message"/>
<#include 'layout/layout.html'/>
<#macro content>
<div id="contentctn" class="grid-990 contents">
    <div class="con-lside cm-left conside" id="sidemenuctn" style="position: inherit;">
    </div>
<div class="frame-all frame-all-box cm-right" id="rightctn" style="width: 800px;">
<div class="filter-loan">
<div id="filterbox" class="clearfix">
<div class="cm-left filter-date">
<span class="filter-loan-th">起止日期：</span>
<div id="daterange">
<div class="filter-button"><a id="inquirybtn" class="ui-button ui-button-sgray"><b class="ui-button-text am-ft-sm">查询</b></a></div>
</div>
</div>

</div>

</div>
</div>
</div>

</#macro>
