<div class="f_r">
    <div class="topbar-avator-wrapper" style="display: none;">
        <a href="${baseUrl}/user/avatar.htm">
            <img data-dojo-attach-point="avatarNode" id="topbaravatar" src="${dojoUrl}app/resources/image/bosheng/avatar-img.jpg" style="width: 35px;height: 35px;"/>
        </a>
    </div>
    <div class="text first" style="float:left;">
        欢迎您，<a data-dojo-attach-point="usernameNode" href="${baseUrl}/home/index.htm"></a><em class="line">  |</em>
    </div>
    <div class="text" style="float:left; margin-left: 15px;">
        <i class="fa fa-envelope" style="margin-right: 5px;"></i><a href="${baseUrl}/msg/main.htm">我的消息</a><em class="line">  |</em>
    </div>
    <div class="text" style="float:left; margin-left: 15px;">
        <a data-dojo-attach-point="logoutNode"><i class="fa fa-power-off" style="margin-right: 5px;"></i>退出</a>
    </div>
</div>