<div class="box">
    <div class="con-box" style="background-color: #fff">
        <div class="title-box clearfix" data-dojo-attach-point="titleCtnNode">
            <h2 data-dojo-attach-point="titleNode" class="cm-left"></h2>
            <a data-dojo-attach-point="closeNode" class="cm-right close-box">×</a>
        </div>
        <div data-dojo-attach-point="contentNode" style="padding: 20px 40px;">
            <form data-dojo-attach-point="formNode" class="ui-form ui-form-box" role="form">
                <div data-dojo-attach-point="usernameNode">
                </div>
                <div data-dojo-attach-point="pwdNode">
                </div>
                <div data-dojo-attach-point="btnNode">
                </div>
                <div class="clear"></div>
                <p class="ui-form-other">
                    <a href="${baseUrl}/user/register.htm" target="_blank">免费注册</a>
                    <a style="float: right;" href="${baseUrl}/user/forgetloginpwd.htm" target="_blank">忘记密码？</a>
                </p>
            </form>
        </div>
    </div>
</div>