<ul class="sidemenu">
    <li><i class="fa fa-money d-icon"></i><em><a>融&nbsp;&nbsp;资</a></em></li>
    <ul style="display: block; overflow: inherit; height: 132px;">
        <li><em><a href="${baseUrl}/p1.htm">按日融资</a></em></li>
        <li><em><a href="${baseUrl}/p2.htm">按月融资</a></em></li>
        <li><em><a href="${baseUrl}/p10.htm">按月融资(低息)</a></em></li>
    </ul>
    <li><i class="fa fa-money d-icon"></i><em><a>我的融资</a></em></i></li>
    <ul style="display: block; overflow: inherit; height: 176px;">
        <li><em><a href="${baseUrl}/financing/apply.htm">我的申请</a></em></li>
        <li><em><a href="${baseUrl}/financing/contracts.htm">当前合约</a></em></li>
        <li><em><a href="${baseUrl}/financing/hiscontract.htm">历史合约</a></em></li>
        <li><em><a href="${baseUrl}/p2p/userTargetPage.htm">我的标的</a></em></li>
    </ul>
</ul>