<div style="border:3px solid #e35c37;">
    <!--站点顶部公告,相关的css放在layout.css id="siteNotice" -->
    <div class="sn-main-all" data-dojo-attach-point="siteNoticeNode">
        <div class="sn-main" data-dojo-attach-point="siteNoticeMainNode">
            <span class="sn-logo"></span>
            <div class="sn-body">
                <!--站点顶部公告的标题-->
                <span class="sn-title" data-dojo-attach-point="siteNoticeTitleNode"></span>
                <!--站点顶部公告的内容，目前就只能显示两行，高度90px-->
                <span class="sn-content" data-dojo-attach-point="siteNoticeContentNode"></span>
            </div>
            <!--站点顶部公告的关闭按钮-->
            <a href="javascript:void(0)" class="sn-close" data-dojo-attach-point="siteNoticeCloseNode" ></a>
        </div>
    </div>
    <!--站点顶部公告的快捷提示按钮id="siteNotice_tip" -->
    <div class="sn-tip"  data-dojo-attach-point="siteNoticeTipNode">
    </div>
</div>