<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>开户</title>
		<link rel="stylesheet" href="../dev/style/account.css" />
	</head>
	<body>

		<div class="top">
			<div class="innerCont clearfix">
				<div class="topnav">
					<a href="">财猫主站</a><!--
					--><a href="">财猫邮币卡</a><!--
					--><a href="">财猫贵金属</a><!--
					--><a href="">财猫原油</a><!--
					--><a href="">财猫美股</a><!--
					--><a href="">财猫大牛股</a>
				</div>
				<div class="user"><a href="" class="appdownload"><i></i>APP下载</a><a href="">登录</a><span>|</span><a href="">注册</a></div>
			</div>
		</div>
		<div class="menuline">
			<div class="innerCont clearfix">
				<div class="logo"><a href=""><img src="../img/logo.png"></a></div>
				<div class="menu">
					<a href="" class="on">首页<i><span>◆</span></i></a><!--
					--><a href="">行情中心<i><span>◆</span></i></a><!--
					--><a href="">打新申购<i><span>◆</span></i></a><!--
					--><a href="">交易所公告<i><span>◆</span></i></a><!--
					--><a href="">快速开户<b>hot!</b><i><span>◆</span></i></a><!--
					--><a href="">个人中心<i><span>◆</span></i></a>
				</div>
			</div>
		</div>


		<div class="main">
			<div class="account">
				<p class="tit_top">您已经成功注册财猫账户。</p>
				<div class="tit">
					<ul>
						<li class="compete">
							<i>1</i>实名认证
						</li>
						<li class="cur">
							<i>2</i>选择开户
						</li>
						<li>
							<i>3</i>上传照片
						</li>
					</ul>
				</div>
				<div class="one" >
					<form action="">
						<div class="group">
							<div class="col_01">姓名</div>
							<div class="col_02">
								<input type="text" placeholder="请输入姓名" />
								<span class="v_info"></span>
							</div>
						</div>
						<div class="group">
							<div class="col_01">身份证号</div>
							<div class="col_02">
								<input type="text" placeholder="请输入身份证号" />
								<span class="v_info"></span>
							</div>
						</div>
						<div class="group">
							<div class="col_01"></div>
							<div class="col_02">
								<button type="submit" class="btn">下一步</button>
							</div>
						</div>

					</form>
				</div>

				<div class="two" >
					<form action="">
						<div class="group clearfix">
							<div class="col_01 f_l">您要开通的交易所</div>
							<div class="col_2 f_l">
								<ul class="select_bank select_jys">
									<li class="cur"><img src="../img/exchange/njwjs.jpg" alt="南京文交所"/></li>
									<li><img src="../img/exchange/htybk.jpg" alt="汉唐文交所"/></li>
									<li><img src="../img/exchange/shybk.jpg" alt="上海邮币卡"/></li>
								</ul>
							</div>
						</div>
						<div class="group clearfix">
							<div class="col_01 f_l">支持银行</div>
							<div class="col_2 f_l">
								<ul class="select_bank">
									<li class="cur"><img src="../img/bank/001.jpg" alt="中国工商银行"><i class="icons"></i></li>
									<li><img src="../img/bank/002.jpg"  alt="招商银行"></li>
									<li><img src="../img/bank/003.jpg" alt="中国建设银行"></li>
									<li><img src="../img/bank/004.jpg" alt="中国银行"></li>
									<li><img src="../img/bank/005.jpg" alt="中国农商银行"></li>
									<li><img src="../img/bank/006.jpg" alt="交通银行"></li>
									<li><img src="../img/bank/007.jpg" alt="浦发银行"></li>
								</ul>
							</div>
						</div>
						<div class="group">
							<div class="col_01">银行卡号</div>
							<div class="col_02">
								<input type="text" placeholder="请输入银行卡号"/>
								<span class="v_info"></span>
							</div>
						</div>

						<div class="group">
							<div class="group">
								<div class="col_01"></div>
								<div class="col_02">
									<button type="submit" class="btn">下一步</button>
								</div>
							</div>
						</div>

					</form>
				</div>

				<div class="three" >
					<form method="post">
						<ul class="upload">
							<li>
								<p>身份证信息页面</p>
								<div class="load_in">
									<a class="submit" href="javascript:void(0);">点击上传</a>
									<span class="example">
										<b class="front">
											<i class="icons"></i>
											示例
										</b>
										<span class="popups front_popups"></span>
									</span>
								</div>
								<p>支持JPG、PNG格式，大小不超过5M</p>
							</li>
							<li>
								<p>身份证国徽页面</p>
								<div class="load_in">
									<a class="submit submiting" href="javascript:void(0);"><i class="icons"></i> 正在上传</a>
									<span class="example">
										<b class="back">
											<i class="icons"></i>
											示例
										</b>
										<span class="popups back_popups"></span>
									</span>
								</div>
								<p>支持JPG、PNG格式，大小不超过5M</p>
							</li>
							<li>
								<p>银行卡正面</p>
								<div class="load_in">
									<a class="submit submit_compete" href="javascript:void(0);"><i class="icons"></i> 上传完成</a>
									<span class="example">
										<b class="bank_bg">
											<i class="icons"></i>
											示例
										</b>
										<span class="popups bank_popups"></span>
									</span>
								</div>
								<p>支持JPG、PNG格式，大小不超过5M</p>
							</li>

						</ul>
						<div class="group">
							<div class="col_01"></div>
							<div class="col_02">
								<button type="button" class="btn">提交</button>
							</div>
						</div>
					</form>

				</div>


			</div>
		</div>
<script>

</script>
	</body>
</html>