<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>行情中心-全部交易所</title>
	<link href="../prod/style/style.css" rel="stylesheet">
    <script src="../prod/js/chart/lib.js"></script>
	<link href="../prod/style/qiu-style.css" rel="stylesheet">
</head>

<body>
<div class="top">
	<div class="innerCont clearfix">
		<div class="topnav">
			<a href="">财猫主站</a><!--
					--><a href="">财猫邮币卡</a><!--
					--><a href="">财猫贵金属</a><!--
					--><a href="">财猫原油</a><!--
					--><a href="">财猫美股</a><!--
					--><a href="">财猫大牛股</a>
		</div>
		<div class="user"><a href="" class="appdownload"><i></i>APP下载</a><a href="">登录</a><span>|</span><a href="">注册</a></div>
	</div>
</div>
<div class="menuline">
	<div class="innerCont clearfix">
		<div class="logo"><a href=""><img src="../img/logo.png"></a></div>
		<div class="menu">
			<a href="" class="on">首页<i><span>◆</span></i></a><!--
					--><a href="">行情中心<i><span>◆</span></i></a><!--
					--><a href="">打新申购<i><span>◆</span></i></a><!--
					--><a href="">交易所公告<i><span>◆</span></i></a><!--
					--><a href="">快速开户<b>hot!</b><i><span>◆</span></i></a><!--
					--><a href="">个人中心<i><span>◆</span></i></a>
		</div>
	</div>
</div>

	<div class="main helpList">
		<div class="clearfix">
		    <div class="mod-left">
				<div class="goodsnav">
					<ul class="nav">
						<li>银商绑定指南</li>
						<li class="on">交易客户端下载</li>
					</ul>
				</div>
		    </div>
		    <div class="mod-right">
		        <div class="mod-rightcontent">
		        	<div class="exchangeSoft">
		        		<dl>
		        			<dt><img src="http://ybk.devcaimao.com/static/img/exchange/njwjs.jpg"></dt>
		        			<dd class="softList"><ul><li><a href="">钱币邮票交易新客户端XP（标准版）</a></li><li><a href="">钱币邮票交易新客户端WIN7（标准版）</a></li><li><a href="">钱币邮票交易新客户端WIN8（标准版）</a></li></ul></dd>
		        			<dd><strong><a href="">Framework 2.0 下载 （32位）</a></strong><p>双击安装后客户端，若出现 SysFrame.exe-.Net Framework Initialization Error 的问题，请先卸载之前安装软件，然后下载安装Framework2.0 组件，再安装客户端即可。</p></dd>
		        			<dd><strong><a href="">Framework 2.0 下载 （64位）</a></strong><p>双击安装后客户端，若出现 SysFrame.exe-.Net Framework Initialization Error 的问题，请先卸载之前安装软件，然后下载安装Framework2.0 组件，再安装客户端即可。</p></dd>
		        			<dd class="center"><a href="">钱币邮票交易客户端操作手册下载</a></dd>
		        		</dl>
		        		<dl>
		        			<dt><img src="http://ybk.devcaimao.com/static/img/exchange/zgyjs.jpg"></dt>
		        			<dd class="softList"><ul><li><a href="">钱币邮票交易新客户端XP（标准版）</a></li><li><a href="">钱币邮票交易新客户端WIN7（标准版）</a></li><li><a href="">钱币邮票交易新客户端WIN8（标准版）</a></li></ul></dd>
		        			<dd><strong><a href="">dot_Net_Freamwork-2.0 32位版</a></strong><p>双击安装后客户端，若出现包含 Net Framework的错误信息，请先卸载之前安装软件，然后下载安装Framework2.0组件，再安装客户端即可。</p></dd>
		        			<dd><strong><a href="">dot_Net_Freamwork-2.0 64位版</a></strong><p>双击安装后客户端，若出现包含 Net Framework的错误信息，请先卸载之前安装软件，然后下载安装Framework2.0组件，再安装客户端即可。</p></dd>
		        		</dl>
		        		<dl>
		        			<dt><img src="http://ybk.devcaimao.com/static/img/exchange/hxwjs.jpg"></dt>
		        			<dd class="softList"><ul><li><a href="">钱币邮票交易新客户端</a></li></ul></dd>
		        		</dl>
					</div>
		        </div>
		    </div>
		</div>
	</div>




<div class="bottom">
	<div class="bottomnav">
		<a href="">关于我们</a><!--
				--><span>|</span><!--
				--><a href="">服务条款</a><!--
				--><span>|</span><!--
				--><a href="">帮助中心</a><!--
				--><span>|</span><!--
				--><a href="">客户端下载</a>
	</div>
	<div class="contact">
		<div class="inner">
			<em class="qq"><i></i>官方QQ群 4006660888</em><!--
					--><span>|</span><!--
					--><em class="phone"><i></i>24小时服务电话 4000-898-000</em>
		</div>
	</div>
	<div class="copyright">
		<p class="notice">声明：所有用户观点不代表财猫网认同。本站禁止推销、非法理财、私下收费等行为，请用户甄别。投资有风险，入市需谨慎！</p>
		<p>京公网安备　11010102000845  京ICP备13000642号  2013-2015©版权所有</p>
	</div>
</div>

</body>
</html>
