<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>开户-老用户</title>
		<link rel="stylesheet" href="../dev/style/account.css" />
	</head>
	<body>

		<div class="top">
			<div class="innerCont clearfix">
				<div class="topnav">
					<a href="">财猫主站</a><!--
					--><a href="">财猫邮币卡</a><!--
					--><a href="">财猫贵金属</a><!--
					--><a href="">财猫原油</a><!--
					--><a href="">财猫美股</a><!--
					--><a href="">财猫大牛股</a>
				</div>
				<div class="user"><a href="" class="appdownload"><i></i>APP下载</a><a href="">登录</a><span>|</span><a href="">注册</a></div>
			</div>
		</div>
		<div class="menuline">
			<div class="innerCont clearfix">
				<div class="logo"><a href=""><img src="../img/logo.png"></a></div>
				<div class="menu">
					<a href="" class="on">首页<i><span>◆</span></i></a><!--
					--><a href="">行情中心<i><span>◆</span></i></a><!--
					--><a href="">打新申购<i><span>◆</span></i></a><!--
					--><a href="">交易所公告<i><span>◆</span></i></a><!--
					--><a href="">快速开户<b>hot!</b><i><span>◆</span></i></a><!--
					--><a href="">个人中心<i><span>◆</span></i></a>
				</div>
			</div>
		</div>


		<div class="main">
			<div class="openAccountTable">
				<div class="openAccountTableAuto">
					<table>
						<thead>
						<tr>
							<th><div class="col_1">交易所名称</div></th>
							<th><div class="col_2">银商绑定支持银行</div></th>
							<th><div class="col_3">开户处理时间段</div></th>
							<th><div class="col_4">活动</div></th>
							<th><div class="col_5">出入金时间段</div></th>
							<th><div class="col_6">银商绑定时间段</div></th>
							<th><div class="col_7">交易时间</div></th>
							<th><div class="col_8">交易时间段</div></th>
							<th><div class="col_9">交易手续费字段</div></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><div class="col_1">南京文交所</div></td>
							<td><div class="col_2">平安银行</div></td>
							<td><div class="col_3">8:30-17:00</div></td>
							<td><div class="col_4">青西邮币卡开户获至少50元原始票</div></td>
							<td>
								<div class="col_5">全天24小时均可绑定</div>
							</td>
							<td><div class="col_6">9:30-11:30</div></td>
							<td><div class="col_7">9:00—15:30</div></td>
							<td><div class="col_8">9:30-11:30</div></td>
							<td><div class="col_9">交易手续费字</div></td>
						</tr>
						<tr>
							<td><div class="col_1">北京邮票交易所</div></td>
							<td><div class="col_2">农行、工行、平安银行、建行、招商</div></td>
							<td><div class="col_3">8:30-17:00</div></td>
							<td><div class="col_4">开户送礼品，周周有更新”邮币卡交易所钜惠活动公告</div></td>
							<td><div class="col_5">工商银行：3:00—23:00 <br>
								建设银行：9:00—15:30 18:00-23:00 <br>
								建设银行：全天24小时均可绑定 <br>
								建设银行：9:00—15:30 18:00-23:00<br>
								建设银行：9:00—15:30 18:00-23:00 <br>
								建设银行：全天24小时均可绑定 <br>
								建设银行：9:00—15:30 18:00-23:00<br>
								平安银行：全天24小时均可绑定</div>
							</td>
							<td><div class="col_6">9:30-11:30</div></td>
							<td><div class="col_7">9:00—15:30 18:00-23:00</div></td>
							<td><div class="col_8">9:30-11:30</div></td>
							<td><div class="col_9">交易手续费字段交易手续</div></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="openAccountTableBtn">
					<a class="btn" href="">了解了，我要开户</a>
				</div>
			</div>
		</div>
<script>

</script>
	</body>
</html>