<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link rel="stylesheet" href="../prod/style/style.css" />
	</head>
	<body>

		<div class="top">
			<div class="innerCont clearfix">
				<div class="topnav">
					<a href="">财猫主站</a><!--
					--><a href="">财猫邮币卡</a><!--
					--><a href="">财猫贵金属</a><!--
					--><a href="">财猫原油</a><!--
					--><a href="">财猫美股</a><!--
					--><a href="">财猫大牛股</a>
				</div>
				<div class="user"><a href="" class="appdownload"><i></i>APP下载</a><a href="">登录</a><span>|</span><a href="">注册</a></div>
			</div>
		</div>
		<div class="menuline">
			<div class="innerCont clearfix">
				<div class="logo"><a href=""><img src="../img/logo.png"></a></div>
				<div class="menu">
					<a href="" class="on">首页<i><span>◆</span></i></a><!--
					--><a href="">行情中心<i><span>◆</span></i></a><!--
					--><a href="">打新申购<i><span>◆</span></i></a><!--
					--><a href="">交易所公告<i><span>◆</span></i></a><!--
					--><a href="">快速开户<b>hot!</b><i><span>◆</span></i></a><!--
					--><a href="">个人中心<i><span>◆</span></i></a>
				</div>
			</div>
		</div>


		<div class="main usercenter">
			
			<div class="clearfix">
				<div class="mod-left pagenav">
					<em class="myaccount"><i></i>我的开户</em>
					<!-- <a class="myaccount"><i></i>我的开户</a> -->
				</div>
				<div class="mod-right">
					<div class="mod-rightcontent maincont">
						<div class="accountList">
							<div class="innerBox">
								<dl>
									<dt><img src="../img/icon.jpg"><strong>南京文交所</strong></dt>
									<dd>刘惠怡</dd>
									<dd>工商银行 2015-05-06</dd>
									<dd class="curstatus">当前状态：<span class="ispassed">已通过</span><a href="">下载银商绑定指南</a></dd>
								</dl>
								<dl>
									<dt><img src="../img/icon.jpg"><strong>南京文交所</strong></dt>
									<dd>刘惠怡</dd>
									<dd>工商银行 2015-05-06</dd>
									<dd class="curstatus">当前状态：<span class="checkin">审核中</span></dd>
								</dl>
								<dl>
									<dt><img src="../img/icon.jpg"><strong>南京文交所</strong></dt>
									<dd>刘惠怡 201023012312321</dd>
									<dd>工商银行 2015-05-06</dd>
									<dd class="curstatus">当前状态：<span class="isnotpassed">未通过</span></dd>
								</dl>
								<dl>
									<dt><img src="../img/icon.jpg"><strong>南京文交所</strong></dt>
									<dd>刘惠怡</dd>
									<dd>工商银行 2015-05-06</dd>
									<dd class="curstatus">当前状态：<span class="isnotpassed">未通过</span></dd>
								</dl>


								<div class="addNew">
									<a href=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="bottom">
			<div class="bottomnav">
				<a href="">关于我们</a><!--
				--><span>|</span><!--
				--><a href="">服务条款</a><!--
				--><span>|</span><!--
				--><a href="">帮助中心</a><!--
				--><span>|</span><!--
				--><a href="">客户端下载</a>
			</div>
			<div class="contact">
				<div class="inner">
					<em class="qq"><i></i>官方QQ群 4006660888</em><!--
					--><span>|</span><!--
					--><em class="phone"><i></i>24小时服务电话 4000-898-000</em>
				</div>
			</div>
			<div class="copyright">
				<p class="notice">声明：所有用户观点不代表财猫网认同。本站禁止推销、非法理财、私下收费等行为，请用户甄别。投资有风险，入市需谨慎！</p>
				<p>京公网安备　11010102000845  京ICP备13000642号  2013-2015©版权所有</p>
			</div>
		</div>

	</body>
</html>