<#assign controller="ForgetLoginPwd"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="grid-910">

<!--步骤start-->
<div id="navbar" class="navi-container">
<ol class="ui-step ui-step-4 ">
<li class="ui-step-start">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont"></i>
<i class="ui-step-number">1</i>
<span class="ui-step-text">输入手机号</span>
</div>
</li>		
<!--<li>
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont"></i>
<i class="ui-step-number">2</i>
<span class="ui-step-text">验证身份</span>
</div>
</li>-->

<li>
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont"></i>
<i class="ui-step-number">2</i>
<span class="ui-step-text">重置密码</span>
</div>
</li>			
		

<li class="ui-step-end">
<div class="ui-step-line">-</div>
<div class="ui-step-icon">
<i class="iconfont"></i>
<i class="ui-step-number">3</i>
<span class="ui-step-text">完成</span>
</div>
</li>	
</ol>
</div>
<div id="contentctn" class="frame-all">

</div>
</div>
</#macro>