<h3>团融网服务协议</h3>
<p>发布日期：2014年11月18日</p>
<p>欢迎您进入团融网服务平台！</p>
<p class="am-pt-10">特别提示：</p>
<p class="text">杭州团融网信息科技有限公司（以下简称“团融网”）依据《团融网服务协议》（以下简称“本协议”）的规定为团融网会员（以下简称“会员”）提供网络信息技术服务。您在使用团融网平台服务之前，请您务必审慎阅读、充分理解并遵守各条款内容，如您对协议有任何疑问的，应向团融网客服咨询。并且此协议在团融网和会员之间具有合同的法律效力。</p>
<p class="text">当您有如下行为时：⑴您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序。⑵您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序。⑶您以其他团融网允许的方式实际使用团融网平台服务时。表示您已充分阅读、理解并接受本协议的全部内容，并与团融网平台达成协议。您承诺接受并遵守本协议的约定， 届时您不应以未阅读本协议的内容或者未获得团融网对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
<h3>一、团融网服务</h3>
<p>1、团融网服务是由团融网通过团融网平台（网址：www.tuanrongwang.com）以及合作伙伴：恒生电子、联动优势、各合作证券公司向会员提供的服务。具体服务内容包括但不限于，会员注册、充值、融资、理财、证券交易、取现、风险控制等。</p>
<p>2、为了保障您的权益，您在自愿注册使用团融网服务前必须仔细阅读并充分理解知悉本服务协议所有条款。除另行明确声明外，团融网平台服务包含任何团融网及其关联公司提供的基于互联网以及移动网的相关服务，且均受本协议约束。如果您不同意本协议的约定，您应立即停止注册/激活程序或停止使用团融网平台服务。</p>
<p>3、本协议内容包括协议正文、法律声明、及所有团融网已经发布或将来可能发布的各类规则、公告或通知（以下合称“团融网规则”或“规则”）。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。</p>
<p>4、团融网有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行变更公告，无需另行单独通知您。变更后的协议和规则一经在网站公布后，立即或在公告明确的特定时间自动生效。若您在前述变更公告后继续使用团融网平台服务的，即表示您已经阅读、理解并接受经修订的协议和规则。若您不同意相关变更，应当立即停止使用团融网平台服务。</p>
<p>5、团融网对于会员的通知及任何其他的协议、告示或其他关于会员使用会员账户及服务的通知，会员理解并同意团融网可通过团融网平台公告、电话服务、电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递等方式进行，该等通知于发送之日视为已送达收件人。因信息传输等原因导致个人会员未在前述通知发出当日收到该等通知的，团融网不承担责任。</p>
<h3>二、 注册与会员</h3>
<p>1、您确认，在您完成注册程序或以其他团融网允许的方式实际使用团融网平台服务时，您应当是具备完全民事行为能的自然人。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且团融网有权注销或永久冻结您的账户，并向您及您的监护人索偿相应损失。</p>
<p>2、注册和会员<br/>
⑴当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他团融网允许的方式实际使用团融网平台服务时，您即受本协议约束。您可以使用您提供及确认的手机号码登录团融网平台进行操作。<br/>
⑵您了解并同意，如您在团融网平台注册成功，出于为您服务的目的，您的姓名、团融网账户名、银行卡号等个人信息将会同步与恒生电子、联动优势等有关主体分享。<br/>
⑶您可以对账户设置团融网昵称，您设置的团融网昵称不得侵犯或涉嫌侵犯他人合法权益。如您设置的团融网昵称涉嫌侵犯他人合法权益，团融网有权终止向您提供团融网平台服务，注销您的团融网昵称。团融网昵称被注销后将开放给任意用户注册。<br/>
⑷您的登录名、团融网昵称和密码不得以任何方式买卖、转让、赠与或继承，除非有法律明确规定或司法裁定，并经团融网同意，且需提供团融网要求的合格的文件材料并根据团融网制定的操作流程办理<br/>
</p>
<p>3、会员信息<br/>
⑴会员必须依团融网要求提示提供会员真实、最新、有效及完整的资料<br/>
⑵会员应当准确填写并及时更新自己提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便团融网或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，无法为您提供服务或者提供服务有错误。导致您在使用团融网平台服务过程中产生任何损失、增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的真实性和有效性，如有变更或需要更新的，您应按团融网的要求进行操作。<br/>
</p>
<p>4、会员账户安全<br/>
您必须自行负责对您的团融网登录名、团融网昵称、登录和安全密码进行保密，且须对您在该登录名、团融网昵称、登录和安全密码下发生的所有活动（包括但不限于网上炒股、融资炒股、网上充值提现等服务）承担责任。您同意：⑴ 如发现任何人未经授权使用您的团融网登录名、团融网昵称和密码，或发生违反保密规定的任何其他情况，您会立即通知团融网，并授权团融网将该信息同步给联动；及 ⑵ 确保您在每个上网时段结束时，以正确步骤离开网站/服务。团融网不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解团融网对您的请求采取行动需要合理时间，团融网对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br/>
</p>
<p>5、团融网登录名注销<br/>
⑴如您连续12个月未登录过团融网平台，且您的账户下不存在未到期的有效业务，您的团融网登录名可能被注销，不能再登录团融网平台，所有团融网服务将终止。<br/>
⑵您同意并授权团融网，您如在团融网进行坐庄。对敲、接盘、大宗交易、内幕信息等违反证券交易法律法规的活动，团融网在合理的的范围内对此有权披露，您的团融网登录名可能被注销、不能再登录团融网平台以及homs客户端账户，所有团融网服务同时终止。<br/>
</p>
<h3>三、 团融网服务的内容</h3>
<p>1、通过团融网及其关联公司提供的团融网平台服务，会员可在团融网平台上创建个人账户、网上炒股、达成融资意向并进行融资炒股、提供交易管理服务、以及使用其它信息服务及技术服务，具体以所开通的平台提供的服务内容为准。团融网服务的部分内容需要会员根据团融网要求完成身份认证及银行卡认证，未进行身份认证及/或银行卡认证的会员将无法使用该部分团融网服务。因未能完成认证而无法享受团融网服务造成的损失，团融网不承担任何责任。</p>
<p>2、团融网为了更好的为会员服务，将定期为会员提供信息发布服务。团融网向会员提供的各种信息及资料仅为参考，会员自己应依其独立判断做出决策。会员据此进行交易的，产生的风险由会员自行承担，会员无权据此向团融网提出任何法律主张。在交易过程中，会员之间发生的纠纷，由纠纷各方自行解决，团融网不承担任何责任。</p>
<p>3、团融网将为会员提供以下交易管理服务：
⑴、会员在团融网平台进行注册时将生成会员账户，会员账户将记载会员个人在团融网平台的活动，上述会员账户是个人会员登录团融网平台的唯一账户。
⑵、会员保证并承诺通过团融网平台进行交易的资金来源合法，不存在负债（包括可能的负债）。
⑶、会员确认，会员在团融网平台上按团融网服务流程所确认的交易状态，将成为团融网为个人会员进行相关交易或操作（包括但不限于网上炒股、融资炒股、支付或收取款项、冻结资金、订立合同等）的不可撤销的指令。会员同意相关指令的执行时间以团融网在团融网系统中进行实际操作的时间为准。会员同意团融网有权依据本协议及/或陆团融网相关纠纷处理规则等约定对相关事项进行处理。
会员未能及时对交易状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由个人会员自行负责，团融网不承担任何责任。
⑷、会员了解团融网并不是银行或金融机构，按照中国法律规定，团融网不提供“即时”金额转账服务，会员同意团融网对资金到账延迟不承担任何责任。
⑸、会员理解并同意，团融网向符合条件的会员提供服务。团融网对在团融网平台上进行的炒股、融资炒股等交易行为不承担任何责任，团融网无法也没有义务保证会员在发出借款要约或投资意向后，能够实际获得借款或投资成功，会员因前述原因导致的损失（包括但不限于利息、手续费等损失）由会员自行承担，团融网不承担责任。
⑹、会员通过团融网平台进行各项交易或接受交易款项时，若会员未遵从本服务协议条款或团融网公布的交易规则中的操作指示，团融网不承担任何责任。若发生上述状况而款项已先行拨入会员账户下，会员同意团融网有权直接从相关会员个人账户中扣回款项及禁止会员要求支付此笔款项之权利。此款项若已汇入会员个人的银行账户，会员个人同意团融网有向个人会员事后索回的权利，由此产生的追索费用由会员个人承担。
⑺、团融网有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于融资成数、可买证券范围、利率、警示线、平仓线、个股持仓上限等，会员了解团融网的前述设定可能会对交易造成一定不便，对此没有异议。
⑻、如果团融网发现了因系统故障或其他任何原因导致的处理错误，无论有利于团融网还是有利于会员个人，团融网都有权纠正该错误。如果该错误导致会员个人实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，团融网保留纠正不当执行的交易的权利，会员应根据团融网向会员发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。会员理解并同意，会员因前述处理错误而多付或少付的款项均不计利息，团融网不承担因前述处理错误而导致的任何损失或责任（包括会员可能因前述错误导致的利息、汇率等损失）。
⑼、会员在使用团融网平台服务过程中，所产生的应纳税赋（包括但不限于股票交易佣金、印花税）以及一切硬件、软件、服务及其它方面的费用，均由会员独自承担。各项服务费用详见个人会员使用团融网服务时团融网平台上所列之收费方式说明。团融网保留单方面制定及调整服务费用的权利。
会员在使用团融网服务过程中（如充值或取现等）可能需要向第三方（如银行或第三方支付公司等）支付一定的费用，具体收费标准详见第三方网站相关页面，或团融网平台的提示。
</p>
<p>4、团融网为会员提供以下服务：
⑴、银行卡认证：为使用团融网或团融网委托的第三方机构提供的充值、取现、代扣等服务，会员应按照团融网平台规定的流程提交以会员本人名义登记的有效银行借记卡等信息，经由团融网审核通过后，团融网会将会员的账户与前述银行账户进行绑定。如会员未按照团融网规定提交相关信息或提交的信息错误、虚假、过时或不完整，或团融网所有合理的理由怀疑会员提交的信息为错误、虚假、过时或不完整，团融网有权拒绝为会员提供银行卡认证服务，会员因此未能使用充值、取现、代扣等服务而产生的损失自行承担。
⑵、充值：会员可以使用团融网指定的方式向会员账户充入资金，用于通过团融网平台进行相关操作。
⑶、代收/代付：团融网按照其平台当时向会员开放的功能提供代收/代付服务，自行或委托第三方机构代为收取其他会员或团融网合作的担保公司等第三方向会员的账户支付的本息、代偿金等各类款项，或者，将会员账户里的款项支付给会员在注册时绑定的银行卡内。团融网不保证提供的前述服务符合会员个人的期望。
⑷、取现：会员可以通过团融网平台当时开放的取现功能将会员账户中的资金转入注册时经过认证绑定的银行卡账户中。团融网将于收到会员的前述指示后，尽快通过第三方机构将相应的款项汇入会员注册时认证绑定的银行卡账户（根据个人会员提供的银行不同，会产生汇入时间上的差异）。
⑸、查询：团融网将对会员在团融网平台的所有操作进行记录，不论该操作之目的最终是否实现。会员可以通过会员账户实时查询会员账户名下的交易记录。会员理解并同意会员最终收到款项的服务是由会员注册时经过认证绑定的银行卡对应的银行提供的，需向该银行请求查证。会员理解并同意通过团融网平台查询的任何信息仅作为参考，不作为相关操作或交易的证据或依据；如该等信息与团融网记录存在任何不一致，应以团融网提供的书面记录为准。
会员了解，上述充值、代收/代付及取现服务涉及团融网与银行、第三方支付机构等第三方的合作。会员同意：(a) 受银行、第三方支付机构等第三方仅在工作日进行资金代扣及划转的现状等各种原因所限，团融网不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；(b) 一经会员使用前述服务，即表示个人会员不可撤销地授权团融网进行相关操作，且该等操作是不可逆转的，会员不能以任何理由拒绝付款或要求取消交易。就前述服务，团融网暂不会向会员收取费用，但会员应按照第三方的规定向第三方支付费用，具体请见第三方网站的相关信息。与第三方之间就费用支付事项产生的争议或纠纷，与团融网无关。
⑹、会员每次使用团融网服务应直接登录团融网平台（网址：http//www.tuanrongwang.com如团融网以公告等形式发布新的网址，请届时登录新的网址）或使用homs账户进行相关操作，而不要通过邮件或其他网站提供的链接登录。个人会员每次拨打团融网客户电话应拨打团融网官方网站提供的客服电话400 8848 458（如团融网以公告等形式发布新的客服电话，请届时拨打新的客服电话），而不要拨打其他任何电话。
</p>
<p>5、 团融网将为会员提供以下合同管理服务：
⑴、在团融网平台交易需订立的合同采用电子合同方式。会员使用会员账户登录团融网平台后，根据团融网的相关规则，以会员账户ID在平台通过点击确认或类似方式签署的电子合同即视为会员本人真实意愿并以个人会员本人名义签署的合同，具有法律效力。会员应妥善保管自己的账户密码等账户信息，会员通过前述方式订立的电子合同对合同各方具有法律约束力，会员不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。
⑵、会员根据本协议以及团融网的相关规则签署电子合同后，不得擅自修改该合同。团融网向会员提供电子合同的备案、查看、核对服务，如对电子合同真伪或电子合同的内容有任何疑问，会员可通过使用团融网的“查阅合同”功能进行核对。如对此有任何争议，应以团融网记录的合同为准。如再有疑问，请咨询团融网客服。
⑶、会员不得私自仿制、伪造在团融网平台上签订的电子合同或印章，不得用伪造的合同进行招摇撞骗或进行其他非法使用，否则由会员自行承担责任。
</p>
<p>6、除外责任
⑴、在任何情况下，对于会员使用团融网服务过程中涉及由第三方提供相关服务的责任由该第三方承担，团融网不承担该等责任。团融网不承担责任的情形包括但不限于：
①因银行、第三方支付机构等第三方未按照会员和/或团融网指令进行操作引起的任何损失或责任；
② 因银行、第三方支付机构等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；
③ 因银行、第三方支付机构等第三方对交易限额或次数等方面的限制而引起的任何损失或责任；
④ 因其他第三方的行为或原因导致的任何损失或责任。
⑵、 因会员自身的原因导致的任何损失或责任，由个人会员自行负责，团融网不承担责任。团融网不承担责任的情形包括但不限于：
① 会员未按照本协议或团融网平台不时公布的任何规则进行操作导致的任何损失或责任；
② 因会员使用的银行卡的原因导致的损失或责任，包括会员的银行卡被冻结、挂失等导致的任何损失或责任；
③会员向团融网发送的指令信息不明确、或存在歧义、不完整等导致的任何损失或责任；
④ 会员账户内余额不足导致的任何损失或责任；
⑤ 其他因会员原因导致的任何损失或责任。
</p>
<h3>四、账户安全及管理</h3>
<p>1、会员了解并同意，确保会员账户及密码的机密安全是会员的责任。会员将对利用该会员账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：<br/>
⑴会员不对其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。因黑客、病毒或会员的保管疏忽等非团融网原因导致会员的会员账户遭他人非法使用的，团融网不承担任何责任。<br/>
(2) 团融网通过会员的会员账户及密码来识别会员的指令，会员确认，使用会员账户和密码登录后在团融网的一切行为均代表会员本人。会员账户操作所产生的电子信息记录均为会员行为的有效凭据，并由会员本人承担由此产生的全部责任。<br/>
(3) 冒用他人账户及密码的，团融网及其合法授权主体保留追究实际使用人连带责任的权利。<br/>
(4) 会员应根据团融网的相关规则以及团融网平台的相关提示创建一个安全密码，应避免选择过于明显的单词或日期。<br/>
</p>
<p>2、 会员如发现有第三人冒用或盗用个人会员账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知团融网，要求团融网暂停相关服务，否则由此产生的一切责任由会员本人承担。同时，个人会员理团融网对个人会员的请求采取行动需要合理期限，在此之前，团融网对第三人使用该服务所导致的损失不承担任何责任。</p>
<p>3、会员决定不再使用会员账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将会员账户中的可用款项（如有）全部取现或者向团融网发出其它合法的支付指令，并向团融网申请注销该会员账户，经团融网审核同意后可正式注销会员账户。
会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若会员丧失全部或部分民事权利能力或民事行为能力，团融网或其授权的主体有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与会员账户相关的款项。
</p>
<p>4、 团融网有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向会员提供本协议项下的全部或部分会员服务（包括收费服务），并将注册资料移除或删除，且无需对个人会员或任何第三方承担任何责任。前述情形包括但不限于：<br/>
⑴、团融网认为会员提供的个人资料不具有真实性、有效性或完整性；<br/>
⑵、团融网发现异常交易或有疑义或有违法之虞时；<br/>
⑶、团融网认为个会员账户涉嫌洗钱、套现、传销、被冒用或其他团融网认为有风险之情形；<br/>
⑷、 团融网认为会员已经违反本协议中规定的各类规则及精神；<br/>
⑸、 会员账户已连续三年内未实际使用且账户中余额为零；<br/>
⑹、 团融网基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向会员提供本协议项下的全部或部分会员服务（包括收费服务），并将注册资料移除或删除的其他情形。<br/>
</p>
<p>5、 会员同意在必要时，团融网无需进行事先通知即有权终止提供会员账户服务，并可能立即暂停、关闭或删除会员账户及该会员账户中所有相关资料及档案。</p>
<p>6、 会员同意，会员账户的暂停、中断或终止不代表会员责任的终止，会员仍应对使用团融网服务期间的行为承担可能的违约或损害赔偿责任，同时团融网仍可保有个人会员的相关信息。</p>
<h3>五、会员的义务及承诺</h3>
<p>1、会员承诺绝不为任何非法目的或以任何非法方式使用团融网服务，并承诺遵守中国相关法律、法规及团融网发布的相关规定，遵守所有与团融网服务有关的网络协议、规则和程序。</p>
<p>2、 会员同意并保证不得利用团融网服务从事侵害他人权益或违法之行为，若有违反者应负所有法律责任。上述行为包括但不限于：<br/>
⑴、侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他权益。<br/>
⑵、违反依法律或合约所应负之保密义务。<br/>
⑶、冒用他人名义使用陆金所服务。<br/>
⑷、涉嫌洗钱、套现或进行传销活动的。<br/>
⑸、从事任何可能含有电脑病毒或是可能侵害陆金所服务系統、资料等行为。<br/>
⑹、利用团融网服务系统进行可能对互联网或移动网正常运转造成不利影响之行为。<br/>
⑺、侵犯团融网的商业利益，包括但不限于发布非经团融网许可的商业广告。<br/>
⑻、利用团融网服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料。<br/>
⑼、其他团融网有正当理由认为不适当之行为。<br/>
</p>
<p>3、 团融网保有依其单独判断删除团融网平台内各类不符合法律政策或不真实或不适当的信息内容而无须通知会员的权利，并无需承担任何责任。 若会员未遵守以上规定的，团融网有权作出独立判断并采取暂停或关闭会员账户等措施，而无需承担任何责任。</p>
<p>4、 会员承诺，其通过团融网平台上传或发布的信息均真实有效，其向团融网提交的任何资料均真实、有效、完整、详细、准确。如因违背上述承诺，造成团融网或团融网其他使用方损失的，会员将承担相应责任。</p>
<h3>六、责任范围及责任限制</h3>
<p>、 团融网未对任何团融网服务提供任何形式的保证，包括但不限于以下事项：<br/>
⑴、团融网服务将符合会员的需求。<br/>
⑵、团融网服务将不受干扰、及时提供或免于出错。<br/>
⑶、会员经由团融网服务购买或取得之任何产品、服务、资讯或其他资料将符合会员的期望。<br/>
</p>
<p>2、 团融网服务的合作单位所提供的服务品质及内容由该合作单位自行负责。团融网平台的内容可能涉及由第三方所有、控制或者运营的其他网站（以下简称“第三方网站”）。团融网不能保证也没有义务保证第三方网站上任何信息的真实性和有效性。会员经由团融网服务的使用下载或取得任何资料，应由会员自行考量且自负风险，因资料的下载而导致的任何损坏由会员自行承担。</p>
<p>3、 会员自团融网及团融网工作人员或经由团融网服务取得的建议或资讯，无论其为书面或口头，均不构成团融网对团融网服务的任何保证。</p>
<p>4、在法律允许的情况下，团融网对于与本协议有关或由本协议引起的，或者，由于使用团融网平台、或由于其所包含的或以其它方式通过团融网平台提供给会员的全部信息、内容、材料、产品（包括软件）和服务、或购买和使用产品引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使其事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除团融网对上述损失的责任。<br/>会员同意，基于互联网的特殊性，团融网不担保服务不会中断，也不担保服务的及时性及/或安全性。系统因相关状况无法正常运作，使会员无法使用任何团融网服务或使用任何团融网服务时受到任何影响时，团融网对会员或第三方不负任何责任，前述状况包括但不限于：<br/>
⑴、团融网系统停机维护期间。<br/>
⑵、电信设备出现故障不能进行数据传输的。<br/>
⑶、 由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因而造成的陆金所服务中断或延迟。<br/>
⑷、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成陆金所系统障碍不能执行业务的。<br/>
</p>
<p>5、除本协议另有规定外，在任何情况下，团融网对本协议所承担的违约赔偿责任总额不超过向会员收取的当次团融网服务费用总额。</p>
<h3>七、隐私权保护及特别授权</h3>
<p>1、 团融网对于会员提供的、团融网自行收集的、经认证的个人信息将按照本协议予以保护、使用或者披露。团融网无需会员同意即可向团融网关联实体转让与团融网平台有关的全部或部分权利和义务。未经团融网事先书面同意，会员不得转让其在本协议项下的任何权利和义务。</p>
<p>2、 团融网可能自行收集会员在团融网注册时提供的资料以外的其他资料，以更好地掌握会员个人情况，并为会员度身订造团融网服务、解决争议并有助确保在团融网平台进行安全交易。</p>
<p>3、 会员同意团融网可使用关于会员个人的相关资料（包括但不限于团融网持有的有关会员个人的档案中的资料，团融网从会员个人目前及以前在团融网平台上的活动所获取的其他资料以及团融网通过其他方式自行收集的资料）以解决争议、对纠纷进行调停。会员同意团融网可通过人工或自动程序对个人会员的资料进行评价。</p>

<p>4、 团融网采用行业标准惯例以保护会员的资料。会员因履行本协议提供给团融网的信息，团融网不会恶意出售或免费共享给任何第三方，以下情况除外：<br/>
⑴、提供独立服务且仅要求服务相关的必要信息的供应商，如恒生电子、联动优势、印刷厂、邮递公司等；<br/>
</p>
<p>5、团融网有义务根据有关法律要求向司法机关和政府部门提供会员的个人资料。在会员未能按照与团融网签订的服务协议或者与团融网其他会员签订的协议等其他法律文本的约定履行自己应尽的义务时，团融网有权根据自己的判断，或者与该笔交易有关的其他会员的请求披露会员的个人信息和资料，并做出评论。</p>
<h3>八、知识产权的保护</h3>
<p>1、 团融网平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、平台架构、平台画面的安排、网页设计，均由团融网或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>
<p>2、非经团融网或其他权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表团融网平台程序或内容。</p>
<p>3、 未经团融网明确书面同意，不得以任何商业目的对团融网网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。未经团融网明确书面同意，会员不得用任何方式把团融网或其关联公司的商标、标识或其他专有信息（包括图像、文字、网页设计或形式）据为己有。未经团融网明确书面同意，个人会员不得以任何方式使用团融网或其关联公司的名字和商标。</p>
<p>4、 尊重知识产权是个人会员应尽的义务，如有违反，会员应对团融网承担损害赔偿等法律责任。</p>
<h3>九、法律适用、管辖与其他</h3>
<p>1、 本协议是由会员与团融网共同签订的，适用于会员在团融网的全部活动。本协议内容包括但不限于协议正文条款及已经发布的或将来可能发布的各类规则，所有条款和规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
<p>2、本协议不涉及会员与团融网的其他会员之间因网上交易而产生的法律关系及法律纠纷。但会员在此同意将全面接受并履行与团融网其他会员在团融网签订的任何电子法律文本，并承诺按照该法律文本享有和（或）放弃相应的权利、承担和（或）豁免相应的义务。</p>
<p>3、 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。</p>
<p>4、团融网对本服务协议拥有最终的解释权。</p>
<p>5、 本协议及其修订的有效性、履行与本协议及其修订效力有关的所有事宜，将受中国法律管辖，中国法律未规定的，适用团融网的相关规定。</p>
<p>6、因本协议所引起的会员与团融网之间的任何纠纷或争议，首先应友好协商解决，协商不成的，会员在此完全同意将纠纷或争议提交团融网所在地杭州有管辖权的人民法院诉讼解决。</p>



