.header .top .slideBox .tit, .header .nav .left, .header .nav .right ul, .pagination, .group, .main .login .tit, .docMain .docMainLeft a, .informationIn li, .clearfix {
  *zoom: 1; }
  .header .top .slideBox .tit:after, .header .nav .left:after, .header .nav .right ul:after, .pagination:after, .group:after, .main .login .tit:after, .docMain .docMainLeft a:after, .informationIn li:after, .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }

/** RESET **/
body {
  font-size: 12px;
  font-family: 'Microsoft YaHei',Lucida Grande,Lucida Sans Unicode,\5B8B\4F53;
  -webkit-text-size-adjust: none;
  color: #6a6a6a;
  _font: 12px/1.5 \5B8B\4F53; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea {
  padding: 0;
  margin: 0; }

table, td, tr, th {
  font-size: 12px; }

ol, ul {
  list-style: none; }

li {
  list-style-type: none; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: top;
  border: 0; }

caption, th {
  text-align: left; }

s, strike, del {
  text-decoration: blink; }

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%;
  font-weight: 400; }

i, u, em, b, strong {
  font-style: normal;
  text-decoration: none;
  font-weight: 400; }

input, textarea, button, select, button {
  outline: none;
  resize: none;
  font-family: \5B8B\4F53; }

a {
  color: #666;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  a:visited {
    text-decoration: none; }
  a:hover {
    color: #eb4636;
    text-decoration: none;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }

.header .top {
  height: 36px;
  background-color: #3D3D3D; }
  .header .top .w {
    position: relative; }
  .header .top a {
    color: #888; }
    .header .top a:hover {
      color: #fff; }
  .header .top .left {
    padding-top: 12px; }
    .header .top .left s {
      display: inline-block;
      width: 36px;
      text-align: center;
      color: #888; }
  .header .top .right {
    line-height: 36px; }
    .header .top .right a {
      display: inline-block;
      padding: 0 15px; }
      .header .top .right a.last {
        padding-right: 0; }
    .header .top .right span {
      display: inline-block;
      padding: 0 10px;
      background-color: #565656;
      cursor: pointer; }
      .header .top .right span:hover {
        background-color: #fff;
        color: #888; }
  .header .top .slideBox {
    display: none;
    position: absolute;
    right: 100px;
    top: 36px;
    background-color: #fff;
    border: 1px solid #F1F1F1;
    border-top: 0;
    z-index: 1; }
    .header .top .slideBox .tit {
      height: 28px;
      line-height: 28px;
      padding: 0 10px 0 15px; }
      .header .top .slideBox .tit a {
        float: right;
        color: #1997E5; }
    .header .top .slideBox .slideBoxIn ul {
      width: 260px;
      max-height: 180px;
      overflow: auto; }
      .header .top .slideBox .slideBoxIn ul li {
        border-top: 1px solid #F1F1F1;
        padding: 20px 15px;
        height: 18px;
        color: #999; }
        .header .top .slideBox .slideBoxIn ul li span {
          float: left; }
        .header .top .slideBox .slideBoxIn ul li i {
          float: right;
          display: none;
          font-size: 14px;
          cursor: pointer; }
        .header .top .slideBox .slideBoxIn ul li s {
          float: left;
          width: 18px;
          text-align: center; }
        .header .top .slideBox .slideBoxIn ul li a {
          float: left;
          color: #4D4D4D;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 140px; }
          .header .top .slideBox .slideBoxIn ul li a:hover {
            color: #ED4636; }
        .header .top .slideBox .slideBoxIn ul li:hover {
          background-color: #F8F8F8; }
          .header .top .slideBox .slideBoxIn ul li:hover i {
            display: block; }
    .header .top .slideBox .slideBoxIn p.slideBoxNo {
      padding-top: 36px;
      height: 80px;
      text-align: center; }
      .header .top .slideBox .slideBoxIn p.slideBoxNo i {
        width: 28px;
        height: 28px;
        background-position: -100px -142px;
        margin-bottom: -6px;
        border-top: 1px solid #F1F1F1; }
.header .nav {
  height: 80px;
  background-color: #F5F5F5; }
  .header .nav .left {
    padding-top: 22px; }
    .header .nav .left a, .header .nav .left b {
      float: left; }
    .header .nav .left a {
      background: url("../../img/logo.png") no-repeat 0 -1px;
      width: 138px;
      height: 40px; }
    .header .nav .left b {
      font-size: 22px;
      color: #888;
      height: 22px;
      line-height: 22px;
      padding-left: 10px;
      margin-top: 8px;
      border-left: 2px solid #888; }
  .header .nav .right {
    padding-top: 30px; }
    .header .nav .right ul li {
      float: left;
      padding-left: 65px; }
      .header .nav .right ul li a {
        font-size: 16px;
        color: #4D4D4D; }
        .header .nav .right ul li a:hover {
          color: #ED4636; }
        .header .nav .right ul li a.hov {
          color: #ED4636;
          font-weight: bold;
          position: relative; }
          .header .nav .right ul li a.hov:before {
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #ED4636;
            left: -10px; }

.foot {
  text-align: center;
  color: #999;
  padding-top: 28px;
  height: 45px;
  border-top: 1px solid #E6E6E6; }
  .foot s {
    width: 32px;
    display: inline-block; }

.footer {
  padding: 30px 0 40px 0;
  background-color: #2A2A2A; }
  .footer s {
    display: inline-block;
    width: 40px;
    text-align: center; }
  .footer .left {
    float: left;
    color: #4D4D4D; }
    .footer .left .nav_sub {
      padding-bottom: 15px;
      color: #989898; }
      .footer .left .nav_sub a {
        color: #989898; }
        .footer .left .nav_sub a:hover {
          color: #fff; }
        .footer .left .nav_sub a.service, .footer .left .nav_sub a.tel {
          float: right;
          font-size: 16px; }
          .footer .left .nav_sub a.service i, .footer .left .nav_sub a.tel i {
            width: 28px;
            height: 22px;
            background-position: -71px -22px;
            margin-bottom: -4px; }
        .footer .left .nav_sub a.tel {
          margin-left: 13px;
          padding-left: 10px;
          border-left: 1px solid #3D3D3D; }
          .footer .left .nav_sub a.tel i {
            background-position: -69px -44px; }
    .footer .left .friend {
      line-height: 22px;
      font-size: 14px;
      padding-bottom: 18px;
      margin-bottom: 16px;
      border-bottom: 1px solid #3D3D3D; }
      .footer .left .friend a {
        color: #4D4D4D; }
        .footer .left .friend a:hover {
          color: #fff; }
      .footer .left .friend s {
        width: 20px; }
    .footer .left .down s {
      width: 30px; }
  .footer .right {
    float: right;
    font-size: 14px; }
    .footer .right i {
      background-position: -72px -68px;
      width: 22px;
      height: 18px;
      margin-bottom: -3px; }
    .footer .right img {
      display: block;
      padding-top: 5px; }

.pagination .paging {
  float: right;
  overflow: hidden;
  margin: 20px auto; }
  .pagination .paging li {
    cursor: pointer; }
    .pagination .paging li a {
      color: #888; }
    .pagination .paging li a:hover, .pagination .paging li:hover a {
      color: #fff; }
  .pagination .paging .number, .pagination .paging .prev {
    height: 20px;
    line-height: 20px;
    background: #fff;
    color: #666666;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
    float: left;
    text-align: center;
    font-size: 10px; }
    .pagination .paging .number:hover, .pagination .paging .prev:hover {
      background: red;
      color: #fff;
      border: 1px solid #f00; }
  .pagination .paging .number {
    width: 20px; }
  .pagination .paging .prev {
    padding: 0 9px; }
  .pagination .paging .cur {
    background: red;
    color: #fff;
    border: 1px solid #f00; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.w {
  width: 1200px;
  margin: auto; }

.font_14 {
  font-size: 14px; }

.font_red {
  color: #ED4636; }

.font_bold {
  font-weight: bold; }

a {
  color: #35A4E8; }
  a:hover {
    color: #188bd2; }

.hidden {
  display: none; }

.icons {
  background: url("../../img/icons_sprite.png");
  display: inline-block; }

.icon_info {
  width: 14px;
  height: 14px;
  background-position: -48px -172px;
  margin-right: 5px;
  margin-bottom: -3px; }

.icon_error, .error .icons {
  width: 14px;
  height: 14px;
  background-position: -30px -172px;
  margin-right: 5px;
  margin-bottom: -3px; }

.icon_success, .success .icons {
  width: 14px;
  height: 14px;
  background-position: -64px -172px;
  margin-right: 5px;
  margin-bottom: -3px; }

.icon_compete {
  width: 52px;
  height: 52px;
  background-position: 0 -195px; }

.group {
  padding-top: 20px;
  height: 38px; }
  .group .col_1, .group .col_2 {
    float: left;
    height: 38px; }
  .group .col_1 {
    width: 188px;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    color: #666;
    margin-right: 20px; }
  .group .col_2 {
    width: 260px; }
    .group .col_2 select, .group .col_2 input {
      width: 260px;
      height: 36px;
      text-indent: 10px;
      font-size: 14px;
      background-color: #fff;
      border: 1px solid #E6E6E6;
      outline: 0;
      padding: 0;
      box-sizing: border-box; }
      .group .col_2 select:hover, .group .col_2 input:hover {
        border-color: #4266b0; }
      .group .col_2 select.input_error, .group .col_2 input.input_error {
        background-color: #fff;
        border: 1px solid #ED4636;
        outline: 0;
        padding: 0;
        box-sizing: border-box; }
        .group .col_2 select.input_error:hover, .group .col_2 input.input_error:hover {
          border-color: #4266b0; }
      .group .col_2 select.input_verify, .group .col_2 input.input_verify {
        width: 160px;
        float: left; }
  .group .col_text {
    padding-top: 8px; }

.verify {
  width: 98px;
  float: left;
  background-color: #E6E6E6;
  color: #4D4D4D;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 0;
  cursor: pointer; }
  .verify:hover {
    color: #999;
    background-color: #E6E6E6; }

.btn {
  width: 160px;
  height: 36px;
  line-height: 36px;
  border: 0;
  background-color: #ED4636;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-align: center; }
  .btn:hover {
    background-color: #FB5F50; }
  .btn:active {
    background-color: #D93E2F; }

.error, .success {
  color: #999;
  margin-top: 5px;
  padding-left: 208px;
  height: 18px; }

.main .setMain {
  width: 730px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 160px; }
  .main .setMain .setMainTit {
    height: 44px;
    color: #777;
    font-size: 14px; }
  .main .setMain .setMainIn {
    border: 1px solid #DEDEDE;
    padding: 22px 36px 76px 26px;
    background-color: #F6F6F6; }
    .main .setMain .setMainIn .setMainInTit {
      height: 45px;
      color: #999;
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 10px; }
  .main .setMain .setMainSuccess {
    border: 1px solid #DEDEDE; }
    .main .setMain .setMainSuccess .setMainSuccessTop {
      padding: 30px 22px 0 40px;
      height: 80px;
      background-color: #F6F6F6;
      border-bottom: 1px solid #DEDEDE; }
      .main .setMain .setMainSuccess .setMainSuccessTop .left {
        font-size: 18px;
        color: #4D4D4D; }
        .main .setMain .setMainSuccess .setMainSuccessTop .left i {
          margin-bottom: -20px;
          margin-right: 15px; }
      .main .setMain .setMainSuccess .setMainSuccessTop .right {
        padding-top: 5px; }
        .main .setMain .setMainSuccess .setMainSuccessTop .right a {
          width: 134px;
          height: 34px;
          line-height: 36px;
          background-color: #fff;
          color: #777;
          display: inline-block;
          border: 1px solid #E6E6E6; }
          .main .setMain .setMainSuccess .setMainSuccessTop .right a:hover {
            background-color: #eee; }
          .main .setMain .setMainSuccess .setMainSuccessTop .right a i {
            width: 25px;
            height: 16px;
            margin-left: 16px;
            background-position: -51px -212px;
            margin-bottom: -3px; }
          .main .setMain .setMainSuccess .setMainSuccessTop .right a:first-child {
            margin-right: 6px; }
            .main .setMain .setMainSuccess .setMainSuccessTop .right a:first-child i {
              background-position: -52px -195px; }
    .main .setMain .setMainSuccess .setMainSuccessFoot {
      height: 36px;
      padding-top: 18px; }
      .main .setMain .setMainSuccess .setMainSuccessFoot a {
        padding-left: 102px;
        font-size: 14px;
        color: #1997E5; }
.main .login {
  float: right;
  width: 290px;
  padding: 28px 14px 36px;
  background-color: #fff;
  margin-top: 120px;
  margin-right: 66px; }
  .main .login .input {
    width: 290px;
    height: 36px;
    text-indent: 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    outline: 0;
    padding: 0;
    box-sizing: border-box; }
    .main .login .input:hover {
      border-color: #4266b0; }
  .main .login .input_error {
    background-color: #fff;
    border: 1px solid #ED4636;
    outline: 0;
    padding: 0;
    box-sizing: border-box; }
    .main .login .input_error:hover {
      border-color: #4266b0; }
  .main .login .input_verify {
    width: 190px;
    float: left; }
  .main .login .input_tu_verify {
    width: 120px;
    height: 30px;
    float: left;
    margin-right: 10px; }
  .main .login .error, .main .login .success {
    padding-left: 0; }
  .main .login .tit b {
    font-size: 16px;
    color: #4D4D4D;
    font-weight: bold; }
  .main .login .tit span {
    font-size: 14px;
    text-align: right;
    color: #999; }
  .main .login .col {
    padding-top: 15px; }
  .main .login .btn {
    width: 100%; }
  .main .login .col_tel .input, .main .login .col_password .input {
    text-indent: 50px;
    background: url("../../img/account/icons_input_login.png") no-repeat 0 0; }
    .main .login .col_tel .input:hover, .main .login .col_password .input:hover {
      background-position: 0 -68px; }
    .main .login .col_tel .input.input_error, .main .login .col_password .input.input_error {
      background-position: 0 -136px; }
      .main .login .col_tel .input.input_error:hover, .main .login .col_password .input.input_error:hover {
        background-position: 0 -68px; }
  .main .login .col_password .input {
    background-position: 0 -34px; }
    .main .login .col_password .input:hover {
      background-position: 0 -102px; }
    .main .login .col_password .input.input_error {
      background-position: 0 -170px; }
      .main .login .col_password .input.input_error:hover {
        background-position: 0 -102px; }

.login_down {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 60px; }
  .login_down ul {
    width: 1410px;
    overflow: hidden; }
    .login_down ul li {
      width: 33.33%;
      overflow: hidden;
      float: left; }
      .login_down ul li i {
        float: left;
        width: 115px;
        height: 70px;
        background: url("../../img/account/login_icon.png") no-repeat; }
        .login_down ul li i.icon_01 {
          background-position: 0 0; }
        .login_down ul li i.icon_02 {
          background-position: 20px -71px; }
        .login_down ul li i.icon_03 {
          background-position: 50% 100%; }
      .login_down ul li p {
        float: left;
        font-size: 14px;
        color: #999; }
        .login_down ul li p b {
          display: block;
          font-size: 24px;
          color: #4D4D4D;
          padding-top: 10px; }

.login_bg {
  background: #F94A39 url("../../img/account/login_bg.png") no-repeat 0 50%; }
  .login_bg .w.clearfix {
    height: 670px; }

.MessageNotice {
  padding-top: 30px;
  padding-bottom: 100px; }
  .MessageNotice .MessageTop {
    padding-bottom: 10px; }
    .MessageNotice .MessageTop select {
      width: 165px;
      height: 38px;
      border: 1px solid #E6E6E6; }
    .MessageNotice .MessageTop a {
      display: inline-block;
      padding-top: 40px;
      font-size: 14px; }
    .MessageNotice .MessageTop s {
      display: inline-block;
      width: 20px;
      text-align: center;
      font-weight: bold;
      color: #1997E5; }
  .MessageNotice .MessageIn table {
    border-top: 1px solid #DEDEDE; }
    .MessageNotice .MessageIn table tr {
      border-bottom: 1px solid #DEDEDE;
      line-height: 22px;
      cursor: pointer; }
      .MessageNotice .MessageIn table tr td {
        padding: 25px 0;
        font-size: 14px; }
      .MessageNotice .MessageIn table tr:hover {
        background-color: #F8F8F8; }
    .MessageNotice .MessageIn table .col_1 {
      display: block;
      padding-left: 20px;
      width: 200px;
      color: #999; }
      .MessageNotice .MessageIn table .col_1 input {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: -5px; }
    .MessageNotice .MessageIn table .col_2 {
      width: 700px;
      padding-right: 130px;
      color: #4d4d4d; }
    .MessageNotice .MessageIn table .col_3 {
      width: 150px;
      color: #777; }

.docMain {
  position: relative;
  z-index: 0; }
  .docMain .docMainLeft {
    background-color: #F5F5F5;
    width: 158px;
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
    padding-top: 18px; }
    .docMain .docMainLeft li {
      height: 46px;
      padding: 0 12px; }
    .docMain .docMainLeft a {
      font-size: 14px;
      color: #4D4D4D; }
      .docMain .docMainLeft a span {
        float: left;
        padding-top: 5px; }
      .docMain .docMainLeft a .icons {
        width: 28px;
        height: 28px;
        float: left;
        margin-right: 7px; }
      .docMain .docMainLeft a .icon_information_account {
        background-position: -136px -84px; }
      .docMain .docMainLeft a .icon_caimao_account {
        background-position: -136px 0; }
      .docMain .docMainLeft a .icon_gjs_account {
        background-position: -136px -28px; }
      .docMain .docMainLeft a .icon_ybk_account {
        background-position: -136px -56px; }
      .docMain .docMainLeft a .icon_arrows_account {
        width: 8px;
        height: 14px;
        background-position: -62px -154px;
        display: none;
        float: right;
        margin: 0;
        margin-top: 8px; }
      .docMain .docMainLeft a:hover, .docMain .docMainLeft a.hov {
        color: #ED4636; }
        .docMain .docMainLeft a:hover .icon_information_account, .docMain .docMainLeft a.hov .icon_information_account {
          background-position: -164px -84px; }
        .docMain .docMainLeft a:hover .icon_caimao_account, .docMain .docMainLeft a.hov .icon_caimao_account {
          background-position: -164px 0; }
        .docMain .docMainLeft a:hover .icon_gjs_account, .docMain .docMainLeft a.hov .icon_gjs_account {
          background-position: -164px -28px; }
        .docMain .docMainLeft a:hover .icon_ybk_account, .docMain .docMainLeft a.hov .icon_ybk_account {
          background-position: -164px -56px; }
        .docMain .docMainLeft a:hover .icon_arrows_account, .docMain .docMainLeft a.hov .icon_arrows_account {
          display: block; }
      .docMain .docMainLeft a.hov {
        font-weight: bold; }
  .docMain .docMainIn {
    background-color: #FFF;
    margin: 0 0 0 198px;
    padding: 30px 0;
    min-height: 560px; }

.icon_lock_blue {
  width: 14px;
  height: 14px;
  background-position: -100px -174px; }

.icon_lock_red {
  width: 14px;
  height: 14px;
  background-position: -86px -174px; }

.informationTit {
  height: 30px;
  color: #ED4636;
  font-weight: bold;
  border-top: 2px solid #ED4636;
  background-color: #F5F5F5;
  font-size: 14px;
  padding: 0 25px;
  line-height: 30px; }

.informationIn li {
  padding: 20px 0;
  border-bottom: 1px solid #E6E6E6; }
.informationIn .left {
  width: 185px;
  padding-left: 25px;
  font-size: 14px;
  color: #4D4D4D;
  font-weight: bold; }
.informationIn .mid {
  width: 700px; }
  .informationIn .mid .name {
    font-size: 14px;
    color: #4D4D4D; }
  .informationIn .mid .form {
    display: none; }
    .informationIn .mid .form .group {
      padding: 0; }
      .informationIn .mid .form .group.mt_20 {
        margin-top: 20px; }
    .informationIn .mid .form .error, .informationIn .mid .form .success {
      padding: 0; }
.informationIn .right {
  width: 56px;
  font-size: 14px; }

.gjsMainIn .informationTit {
  border-color: #1997E5;
  color: #1997E5; }
  .gjsMainIn .informationTit.grayTit {
    border-color: #999;
    color: #999; }
.gjsMainIn .btn {
  background-color: #1997E5; }
  .gjsMainIn .btn:hover {
    background-color: #7DA0E7;
    color: #fff; }
  .gjsMainIn .btn:active {
    background-color: #395EAA;
    color: #fff; }

.ybkMainIn .informationTit {
  border-color: #F2740C;
  color: #F2740C; }
  .ybkMainIn .informationTit.grayTit {
    border-color: #999;
    color: #999; }
.ybkMainIn .btn {
  background-color: #F2740C; }
  .ybkMainIn .btn:hover {
    background-color: #FF9239;
    color: #fff; }
  .ybkMainIn .btn:active {
    background-color: #D56307;
    color: #fff; }

.accountIn {
  margin-bottom: 24px; }
  .accountIn .btn {
    width: 132px;
    display: block; }
  .accountIn table {
    display: none; }
    .accountIn table.cur {
      display: block; }
    .accountIn table thead {
      background-color: #FBFBFB; }
    .accountIn table tr {
      border-bottom: 1px solid #E6E6E6; }
      .accountIn table tr td {
        padding: 30px 0;
        height: 40px; }
      .accountIn table tr .col_1 {
        width: 370px;
        overflow: hidden;
        padding-left: 25px; }
        .accountIn table tr .col_1 img, .accountIn table tr .col_1 span, .accountIn table tr .col_1 a {
          float: left; }
        .accountIn table tr .col_1 span {
          font-size: 22px;
          font-weight: bold;
          color: #4D4D4D; }
        .accountIn table tr .col_1 a {
          font-size: 14px;
          color: #999;
          line-height: 38px; }
        .accountIn table tr .col_1 span {
          padding: 4px 10px 0; }
        .accountIn table tr .col_1 b {
          font-size: 14px;
          color: #4d4d4d;
          font-weight: bold; }
      .accountIn table tr .col_2 {
        width: 440px;
        color: #777;
        font-size: 14px; }
        .accountIn table tr .col_2 p {
          height: 30px; }
        .accountIn table tr .col_2 b {
          color: #4D4D4D;
          font-weight: bold; }
      .accountIn table tr .col_3 {
        width: 165px;
        font-size: 14px; }
        .accountIn table tr .col_3 s {
          display: inline-block;
          width: 22px;
          text-align: center;
          color: #1997E5; }

.paging {
  overflow: hidden;
  width: 510px;
  margin: 20px auto; }
  .paging li {
    cursor: pointer; }
  .paging .number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    color: #666666;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
    float: left;
    text-align: center;
    font-size: 10px; }
  .paging .btn {
    width: auto;
    height: 20px;
    padding: 0 9px;
    line-height: 20px;
    background: #fff;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
    float: left;
    text-align: center;
    font-size: 10px; }
  .paging .btn:hover, .paging .number:hover, .paging .cur {
    background: red;
    color: #fff;
    border: 1px solid #f00; }
  .paging .btn a {
    color: #666; }
  .paging .btn:hover a, .paging .btn a:hover {
    color: #fff; }

/*# sourceMappingURL=personal.css.map */
