<div class="con-avatar clearfix">

<div class="cm-left avatar-lside">
<div>
<p class="img-avtar" style="overflow: hidden;box-shadow: 0px 0px 1px 1px #919191;padding:0;"><img data-dojo-attach-point="displayNode" src="${baseUrl}/app/resources/image/bosheng/avatar-img.jpg"></p>
<p class="am-pt-5"><span class="am-ft-md">请选择一张图</span></p>
<p class="am-pt-5"><span class="am-ft-sm am-ft-gray">支持jpg、gif、或png格式</span></p>
</div>
<p class="am-pt-20" style="position: relative"><span data-dojo-attach-point="previewBtnNode"></span><span data-dojo-attach-point="uploadBtnNode"></span><input title="" id="avatarfile" name="file" data-dojo-attach-point="fileSelectorNode" class="ui-input ui-input-file" placeholder="" type="file" style="display: block;display: block;width:100px;position: absolute;bottom: 3px;height: 36px;opacity: 0;filter: alpha(opacity:0);"></p>
</div>


<div data-dojo-attach-point="previewNode" class="cm-left avatar-rside">
<p><span class="am-ft-md">头像预览：</span></p>

</div>


</div>