<div class="grid1000">

    <!--内容start-->
    <div class="con-success clearfix">
        <div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
        <div class="cm-left successText-rside">
            <p class="layout01"><b>实名认证已成功！</b></p>
        </div>
    </div>
    <div class="sideCatalog">
        <div class="success-validate">
            <i class="icon-reg-real-name"></i>

            <div class="success-validateText">
                <p class="name"><span data-direct="real">实名认证</span><i class="icon-right"></i></p>

                <p>仅需输入一张<em class="am-ft-orange">真实有效的身份证</em>即可认证成功。 </p>
            </div>
        </div>
        <div class="success-validate">
            <i class="icon-reg-password"></i>

            <div class="success-validateText">
                <p class="name"><span data-direct="tradePwd">安全密码</span><i class="icon-right"></i></p>

                <p>安全密码是平台上进行核心操作时，<em class="am-ft-orange">唯一身份认证。</em></p>
            </div>
        </div>
    </div>
    <!--内容end-->


</div>