<div class="center">

<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"></div>
<div class="cm-left successText-rside">
<p class="layout01"><i class="ui-icon icon-big-success"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>恭喜您，手机绑定成功！</b></p>
<p class="layout02"><span class="am-ft-gray">账号如有异常，将会实时通知您。</span></p>
<p class="layout02"><span class="am-ft-md">手机号码：</span><b data-dojo-attach-point="newMobileNode" class="am-ft-lg"></b></p>
<p class="layout02"><span class="am-ft-md"><a class="am-left-5 am-right-5" href="${baseUrl}/account/security.htm">安全信息</a><a class="am-left-5" href="${baseUrl}/home/index.htm">会员中心首页</a></span></p>
</div>
</div>
<!--内容end-->


</div>