<div class="con-all">
<!--内容start-->
<div class="con-success clearfix">
<div class="cm-left successIcon-lside"></div>
<div class="cm-left successText-rside">
<p class="layout01"><i class="ui-icon icon-big-success"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>恭喜您，登录密码重置成功！</b></p>
<p class="layout02"><span class="am-ft-gray am-ft-md">请使用新密码重新登录。</span></p>
<p class="layout02"><a href="${baseUrl}/user/login.htm" class="ui-button ui-button-mred"><b class="ui-button-text am-ft-white am-ft-md">登录</b></a></p>
</div>
</div>
<!--内容end-->
</div>
