<div class="box">
<div class="con-box">
<!--窗口标题 -->
<div class="title-box clearfix">
<h2 class="cm-left">手机验证</h2>
<a class="cm-right close-box" data-dojo-attach-point="closeNode">×</a>
</div><!--窗口标题 -->


<div class="content" data-dojo-attach-point="contentNode" style="min-height:inherit;">

<!--表单-->
<div data-dojo-attach-point="formNode" class="ui-form ui-form-box am-mt-20" role="form">
<div class="ui-form-item">
<label class="ui-label">您的手机号：</label>
<b data-dojo-attach-point="phoneNode" class="ui-text am-ft-md">${phone}</b>
<div data-dojo-attach-point="editPhoneNode" class="ui-form-verificationCode"><a href="javascript:void(0)"><span class="am-ft-md">更改手机</span></a></div>
</div>
</div>



</div>
</div>
</div>