<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>前端页面</title>
    <link href="../dev/style/personal.css" rel="stylesheet" media="screen">
</head>

<style>
    .index{overflow: hidden;padding: 30px }
    .index dl{float: left;width: 30%;line-height: 30px;font-size: 16px;}
</style>
<base target="_blank"/>
<body>
<!--头部-->
<div class="header">
        <div class="top">
            <div class="w clearfix">
                <div class="f_l left">
                    <a href="">财猫主站</a><s>|</s>
                    <a href="">财猫贵金属</a><s>|</s>
                    <a href="">财猫邮币卡</a>
                </div>
                <div class="f_r right">
                    <a href="">返回旧版</a>
                    <a href="">151****1524</a>
                    <span class="slideBtn">0</span>
                    <a href="">退出</a>
                    <a class="last" href="">设置</a>
                </div>
                <!--消息框-->
                <div class="slideBox">
                    <div class="tit"><span class="f_l">消息</span><a href="">全部消息</a></div>
                    <div class="slideBoxIn">
                        <ul>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>贵金属</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品对交易会员进行按累计净买入金额定向配售的公告</a> <i>X</i> </li>
                        </ul>
                        <!--暂无消息-->
                        <p class="slideBoxNo">
                            <i class="icons"></i>您当前没有消息
                        </p>
                    </div>


                </div>
            </div>

        </div>
        <div class="nav">
            <div class="w clearfix">
                <h1 class="f_l left">
                    <a href="/"></a>
                    <b>个人中心</b>
                 </h1>
                <div class="f_r right">
                    <ul>
                        <li><a href="">账户中心</a></li>
                        <li><a href="">个人资料</a></li>
                        <li><a class="hov" href="">消息通知</a></li>
                    </ul>
                </div>
            </div>
        </div>

</div>
<!--内容区-->
<div class="main">
   <div class="docMain w">
       <div class="docMainLeft">
           <ul>
               <li><a class="hov" href=""><i class="icons icon_caimao_account"></i><span>前端页面</span><i class="icons icon_arrows_account"></i></a></li>
               <li><a href=""><i class="icons icon_caimao_account"></i><span>财猫账户</span><i class="icons icon_arrows_account"></i></a></li>
               <li><a href=""><i class="icons icon_gjs_account"></i><span>贵金属账户</span><i class="icons icon_arrows_account"></i></a></li>
               <li><a href=""><i class="icons icon_ybk_account"></i><span>邮币卡账户</span><i class="icons icon_arrows_account"></i></a></li>
           </ul>
       </div>
       <div class="docMainIn">
           <div class="informationTit">前端页面</div>
           <div class="index">
               <dl>
                   <dt>注册登录修改密码</dt>
                   <dd><a href="login.html">登陆</a></dd>
                   <dd><a href="register.html">注册</a></dd>
                   <dd><a href="set_password.html">找回密码</a></dd>
                   <dd><a href="reset_password.html">重置密码密码</a></dd>
                   <dd><a href="set_trade_password.html">资金密码</a></dd>
                   <dd><a href="reset_trade_password.html">交易密码</a></dd>
               </dl>
               <dl>
                   <dt>账户</dt>
                   <dd><a href="information.html">个人资料</a></dd>
                   <dd><a href="caimao_account.html">财猫账户</a></dd>
                   <dd><a href="gjs_account.html">贵金属账户</a></dd>
                   <dd><a href="ybk_account.html">邮币卡账户</a></dd>
                   <dd><a href="message.html">消息通知</a></dd>
               </dl>

           </div>
       </div>
   </div>
</div>

<!--底部-->
<div class="footer">
    <div class="w clearfix">
        <div class="left">
            <div class="nav_sub">
                <a href="">关于我们</a><s>|</s>
                <a href="">会员资质</a><s>|</s>
                <a href="">联系我们</a><s>|</s>
                <a href="">加入我们</a><s>|</s>
                <a href="">管理团队</a>
                <a class="tel" href=""><i class="icons"></i> 400-898-000</a>
                <a class="service" href=""><i class="icons"></i> 在线咨询</a>
            </div>
            <p class="friend">友情链接<br>
                <a href="">上海黄金交易所</a><s>|</s><a href="">深圳金融电子结算中心</a><s>|</s><a href="">红杉资本</a><s>|</s><a href=""> 真格基金</a><s>|</s> <a href="">南方稀贵金属交易所</a><s>|</s><a href="">南京文交所</a><s>|</s> <a href="">火币Huobi.com</a><s>|</s><a href="">陆羽国际茶业交易中心</a>
            </p>
            <p class="down">
                版权所有©北京朋乐投资管理有限公司 <s>|</s> 京ICP备15016693号-2 <s>|</s> 风险提示/隐私保密条款
            </p>
        </div>
        <div class="right">
            <i class="icons"></i>财猫官方微信
            <img src="../img/home/weixin_ma.png"/>
        </div>
    </div>
</div>
</body>
</html>
