<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人消息</title>
    <link href="../dev/style/personal.css" rel="stylesheet" media="screen">
</head>

<body>
<!--头部-->
<div class="header">
        <div class="top">
            <div class="w clearfix">
                <div class="f_l left">
                    <a href="">财猫主站</a><s>|</s>
                    <a href="">财猫贵金属</a><s>|</s>
                    <a href="">财猫邮币卡</a>
                </div>
                <div class="f_r right">
                    <a href="">返回旧版</a>
                    <a href="">151****1524</a>
                    <span class="slideBtn">0</span>
                    <a href="">退出</a>
                    <a class="last" href="">设置</a>
                </div>
                <!--消息框-->
                <div class="slideBox">
                    <div class="tit"><span class="f_l">消息</span><a href="">全部消息</a></div>
                    <div class="slideBoxIn">
                        <ul>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>贵金属</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品对交易会员进行按累计净买入金额定向配售的公告</a> <i>X</i> </li>
                        </ul>
                        <!--暂无消息-->
                        <p class="slideBoxNo">
                            <i class="icons"></i>您当前没有消息
                        </p>
                    </div>


                </div>
            </div>

        </div>
        <div class="nav">
            <div class="w clearfix">
                <h1 class="f_l left">
                    <a href="/"></a>
                    <b>个人中心</b>
                 </h1>
                <div class="f_r right">
                    <ul>
                        <li><a href="">账户中心</a></li>
                        <li><a href="">个人资料</a></li>
                        <li><a class="hov" href="">消息通知</a></li>
                    </ul>
                </div>
            </div>
        </div>

</div>
<!--内容区-->
<div class="main">
   <div class="docMain w">
       <div class="docMainLeft">
           <ul>
               <li><a class="hov" href=""><i class="icons icon_information_account"></i><span>个人信息</span><i class="icons icon_arrows_account"></i></a></li>
           </ul>
       </div>
       <div class="docMainIn">
           <div class="informationTit">个人信息</div>
           <ul class="informationIn">
               <li>
                   <div class="left f_l">昵称</div>
                   <div class="mid f_l">
                       <div class="name" style="display: none">
                           张小盒
                       </div>
                       <div class="form" style="display: block">
                           <form action="">
                               <div class="group">
                                   <div class="col_2">
                                       <input type="text" placeholder="请输入昵称" />
                                   </div>
                               </div>
                               <div class="info"><i class="icons icon_info"></i>4-20个字符，可纯字母、数字或两者结合。</div>
                               <div class="error"><i class="icons"></i>4-20个字符，可纯字母、数字或两者结合。</div>
                               <div class="group mt_20">
                                   <div class="col_2">
                                       <button type="submit" class="btn">保存</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="right f_r">
                       <a href="">取消</a>
                   </div>
               </li>
               <li>
                   <div class="left f_l">QQ</div>
                   <div class="mid f_l">
                       <div class="name">
                           282207295
                       </div>
                       <div class="form" >
                           <form action="">
                               <div class="group">
                                   <div class="col_2">
                                       <input type="text" placeholder="请输入QQ" />
                                   </div>
                               </div>
                               <div class="error"><i class="icons"></i>4-20个字符，可纯字母、数字或两者结合。</div>
                               <div class="group mt_20">
                                   <div class="col_2">
                                       <button type="submit" class="btn">保存</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="right f_r">
                       <a href="">修改</a>
                   </div>
               </li>
               <li>
                   <div class="left f_l">微信</div>
                   <div class="mid f_l">
                       <div class="name">
                           282207295
                       </div>
                       <div class="form" >
                           <form action="">
                               <div class="group">
                                   <div class="col_2">
                                       <input type="text" placeholder="请输入微信" />
                                   </div>
                               </div>
                               <div class="error"><i class="icons"></i>请输入微信</div>
                               <div class="group mt_20">
                                   <div class="col_2">
                                       <button type="submit" class="btn">保存</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="right f_r">
                       <a href="">修改</a>
                   </div>
               </li>
               <li>
                   <div class="left f_l">邮寄地址</div>
                   <div class="mid f_l">
                       <div class="name">
                           北京市海淀区上地三街嘉华大厦
                       </div>
                       <div class="form" >
                           <form action="">
                               <div class="group">
                                   <div class="col_2">
                                       <input type="text" placeholder="请输入邮寄地址" />
                                   </div>
                               </div>
                               <div class="error"><i class="icons"></i>请输入邮寄地址</div>
                               <div class="group mt_20">
                                   <div class="col_2">
                                       <button type="submit" class="btn">保存</button>
                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
                   <div class="right f_r">
                       <a href="">修改</a>
                   </div>
               </li>
           </ul>
       </div>
   </div>
</div>

<!--底部-->
<div class="footer">
    <div class="w clearfix">
        <div class="left">
            <div class="nav_sub">
                <a href="">关于我们</a><s>|</s>
                <a href="">会员资质</a><s>|</s>
                <a href="">联系我们</a><s>|</s>
                <a href="">加入我们</a><s>|</s>
                <a href="">管理团队</a>
                <a class="tel" href=""><i class="icons"></i> 400-898-000</a>
                <a class="service" href=""><i class="icons"></i> 在线咨询</a>
            </div>
            <p class="friend">友情链接<br>
                <a href="">上海黄金交易所</a><s>|</s><a href="">深圳金融电子结算中心</a><s>|</s><a href="">红杉资本</a><s>|</s><a href=""> 真格基金</a><s>|</s> <a href="">南方稀贵金属交易所</a><s>|</s><a href="">南京文交所</a><s>|</s> <a href="">火币Huobi.com</a><s>|</s><a href="">陆羽国际茶业交易中心</a>
            </p>
            <p class="down">
                版权所有©北京朋乐投资管理有限公司 <s>|</s> 京ICP备15016693号-2 <s>|</s> 风险提示/隐私保密条款
            </p>
        </div>
        <div class="right">
            <i class="icons"></i>财猫官方微信
            <img src="../img/home/weixin_ma.png"/>
        </div>
    </div>
</div>
</body>
</html>
