<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link href="../dev/style/personal.css" rel="stylesheet" media="screen">
</head>

<body>
<!--头部-->
<div class="header">
    <div class="top">
        <div class="w">
            <div class="left">
                <a href="">财猫主站</a><s>|</s>
                <a href="">财猫贵金属</a><s>|</s>
                <a href="">财猫邮币卡</a>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="w">
            <h1 class="left">
                <a href="/"></a>
                <b>欢迎注册</b>
            </h1>
        </div>
    </div>
</div>
<!--内容区-->
<!--注册第一步-->
<div class="main login_bg">
    <div class="w clearfix">
        <div class="login">
            <div class="tit">
                <b class="f_l">手机注册</b>
                <span class="f_r">已有账户？<a href="">直接登陆</a></span>
            </div>
            <div class="col">
                <input class="input" type="password" placeholder="请输入手机号" />
            </div>
            <div class="col clearfix">
                <input class="input input_verify" type="password" placeholder="请输入短信获取验证码" />
                <button class="verify" type="button">获取验证码</button>
            </div>
            <div class="error"><i class="icons"></i>你输入的手机号有误，请重新输入。</div>
            <div class="col"><button type="submit" class="btn">注册</button></div>
            <div class="col"><label><input type="checkbox" checked>我已阅读并同意 <a href="">《财猫网用户协议》</a></label></div>
        </div>
    </div>
</div>
<div class="login_down w">
    <ul>
        <li>
            <i class="icon_01"></i>
            <p>
                <b>交易品种多</b>财猫网不断的丰富的交易品种
            </p>
        </li>
        <li>
            <i class="icon_02"></i>
            <p>
                <b>交易成本低</b>财猫网不断的降低交易成本
            </p>
        </li>
        <li>
            <i class="icon_03"></i>
            <p>
                <b>交易效率高</b>财猫网不断的提升交易效率
            </p>
        </li>
    </ul>
</div>

<!--注册成功-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainSuccess">
                <div class="setMainSuccessTop clearfix">
                    <div class="left f_l"><i class="icons icon_compete"></i>恭喜您，财猫注册成功！</div>
                    <div class="right f_r">
                        <a href=""><i class="icons"></i>贵金属开户</a>
                        <a href=""><i class="icons"></i>邮币卡开户</a>
                    </div>
                </div>
                <div class="setMainSuccessFoot">
                    <a href="">返回账户中心</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--底部文件-->
<div class="foot w">
    版权所有©北京朋乐投资管理有限公司<s>|</s>京ICP备15016693号-2
</div>
</body>
</html>
