<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>重置资金密码</title>
    <link href="../dev/style/personal.css" rel="stylesheet" media="screen">
</head>

<body>
<!--头部-->
<div class="header">
        <div class="top">
            <div class="w clearfix">
                <div class="f_l left">
                    <a href="">财猫主站</a><s>|</s>
                    <a href="">财猫贵金属</a><s>|</s>
                    <a href="">财猫邮币卡</a>
                </div>
                <div class="f_r right">
                    <a href="">返回旧版</a>
                    <a href="">151****1524</a>
                    <span>0</span>
                    <a href="">退出</a>
                    <a class="last" href="">设置</a>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="w clearfix">
                <h1 class="f_l left">
                    <a href="/"></a>
                    <b>个人中心</b>
                 </h1>
                <div class="f_r right">
                    <ul>
                        <li><a class="hov" href="">账户中心</a></li>
                        <li><a href="">个人资料</a></li>
                        <li><a href="">消息通知</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--内容区-->
<!--重置资金密码第一步-->
    <div class="main">
        <div class="w">
            <div class="setMain">
                <div class="setMainTit"><a href="">贵金属南方文交所</a>>重置资金密码</div>
                <div class="setMainIn">
                    <p class="setMainInTit"><i class="icons icon_info"></i>1个手机号最多只能被1一个账号用作登录名。</p>
                    <form action="">
                        <div class="group">
                            <div class="col_1">手机号</div>
                            <div class="col_2"><input type="text" placeholder="请输入手机号" /></div>
                        </div>
                        <div class="group">
                            <div class="col_1">手机效验码</div>
                            <div class="col_2 clearfix">
                                <input class="input_verify"  type="text" placeholder="请输入手机效验码" />
                                <button class="verify" type="button">获取验证码</button>
                            </div>
                        </div>
                        <div class="success"> <i class="icons"></i>效验码已发送到您的手机，30分钟内输入有效，请勿泄露。</div>
                        <div class="group">
                            <div class="col_1"></div>
                            <div class="col_2"><button type="submit" class="btn">下一步</button></div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--重置资金密码第二步-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit"><a href="">贵金属南方文交所</a>>重置资金密码</div>
            <div class="setMainIn">
                <p class="setMainInTit"><i class="icons icon_info"></i>工作日9：00-次日6：00期间可修改资金密码。密码为6位数字或字母。</p>
                <form action="">
                    <div class="group">
                        <div class="col_1">新密码</div>
                        <div class="col_2"><input class="input_error" type="password" placeholder="请输入新密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">确认新密码</div>
                        <div class="col_2"><input type="password" placeholder="请再次输入新密码" /></div>
                    </div>
                    <div class="error"> <i class="icons"></i>你输入的密码有误，请重新输入。 </div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn">确认修改</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--重置资金密码完成-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit"><a href="">贵金属南方文交所</a>>重置资金密码</div>
            <div class="setMainSuccess">
                <div class="setMainSuccessTop">
                    <div class="left"><i class="icons icon_compete"></i>恭喜您，贵金属南交所密码修改成功！</div>
                </div>
                <div class="setMainSuccessFoot">
                    <a href="">返回账户中心</a>
                </div>

            </div>
        </div>
    </div>
</div>


<!--底部文件-->
<div class="foot w">
        版权所有©北京朋乐投资管理有限公司<s>|</s>京ICP备15016693号-2
    </div>
</body>
</html>
