<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <link href="../dev/style/personal.css" rel="stylesheet" media="screen">
</head>

<body>
<!--头部-->
<div class="header">
        <div class="top">
            <div class="w clearfix">
                <div class="f_l left">
                    <a href="">财猫主站</a><s>|</s>
                    <a href="">财猫贵金属</a><s>|</s>
                    <a href="">财猫邮币卡</a>
                </div>
                <div class="f_r right">
                    <a href="">返回旧版</a>
                    <a href="">151****1524</a>
                    <span class="slideBtn">0</span>
                    <a href="">退出</a>
                    <a class="last" href="">设置</a>
                </div>
                <!--消息框-->
                <div class="slideBox">
                    <div class="tit"><span class="f_l">消息</span><a href="">全部消息</a></div>
                    <div class="slideBoxIn">
                        <ul>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>贵金属</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>
                            <li><span>主站</span> <s>|</s><a href="">关于开展上市新品对交易会员进行按累计净买入金额定向配售的公告</a> <i>X</i> </li>
                        </ul>
                        <!--暂无消息-->
                        <p class="slideBoxNo">
                            <i class="icons"></i>您当前没有消息
                        </p>
                    </div>


                </div>
            </div>

        </div>
        <div class="nav">
            <div class="w clearfix">
                <h1 class="f_l left">
                    <a href="/"></a>
                    <b>个人中心</b>
                 </h1>
                <div class="f_r right">
                    <ul>
                        <li><a class="hov" href="">账户中心</a></li>
                        <li><a href="">个人资料</a></li>
                        <li><a href="">消息通知</a></li>
                    </ul>
                </div>
            </div>
        </div>

</div>
<!--内容区-->
<!--修改密码-火币-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit">修改财猫密码</div>
            <div class="setMainIn">
                <p class="setMainInTit"><i class="icons icon_info"></i>定期更换密码可以让你的账户更加安全。建议密码采用字母和数字混合，并且不短于6位。</p>
                <form action="">
                    <div class="group">
                        <div class="col_1">证件类型</div>
                        <div class="col_2">
                            <select>
                                <option value="01">身份证</option>
                                <option value="02">Passport 护照</option>
                            </select>
                        </div>
                    </div>
                    <div class="group">
                        <div class="col_1">证件号码</div>
                        <div class="col_2">
                            <input type="text" placeholder="请输入证件号码" />
                        </div>
                    </div>
                    <div class="error"> <i class="icons"></i>输入的证件号码有误，请重新输入</div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn">下一步</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--修改密码第一步-->
    <div class="main">
        <div class="w">
            <div class="setMain">
                <div class="setMainTit">修改财猫密码</div>
                <div class="setMainIn">
                    <p class="setMainInTit"><i class="icons icon_info"></i>1个手机号最多只能被1一个账号用作登录名。</p>
                    <form action="">
                        <div class="group">
                            <div class="col_1">手机号</div>
                            <div class="col_2 col_text"><b class="font_14 font_red font_bold">150****1254</b></div>
                        </div>
                        <div class="group">
                            <div class="col_1">手机效验码</div>
                            <div class="col_2 clearfix">
                                <input class="input_verify"  type="text" placeholder="请输入手机效验码" />
                                <button class="verify" type="button">获取验证码</button>
                            </div>
                        </div>
                        <div class="success"> <i class="icons"></i>效验码已发送到您的手机，30分钟内输入有效，请勿泄露。</div>
                        <div class="group">
                            <div class="col_1"></div>
                            <div class="col_2"><button type="submit" class="btn">下一步</button></div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--修改密码第二步-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit">修改财猫密码</div>
            <div class="setMainIn">
                <p class="setMainInTit"><i class="icons icon_info"></i>定期更换密码可以让你的账户更加安全。建议密码采用字母和数字混合，并且不短于6位。</p>
                <form action="">
                    <div class="group">
                        <div class="col_1">新密码</div>
                        <div class="col_2"><input class="input_error" type="password" placeholder="请输入新密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">确认新密码</div>
                        <div class="col_2"><input type="password" placeholder="请再次输入新密码" /></div>
                    </div>
                    <div class="error"> <i class="icons"></i>你输入的密码有误，请重新输入。 </div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn">下一步</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--修改密码完成-->
<div class="main">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit">修改财猫密码</div>
            <div class="setMainSuccess">
                <div class="setMainSuccessTop clearfix">
                    <div class="left f_l"><i class="icons icon_compete"></i>恭喜您，财猫注册成功！</div>
                    <div class="right f_r">
                        <a href=""><i class="icons"></i>贵金属开户</a>
                        <a href=""><i class="icons"></i>邮币卡开户</a>
                    </div>
                </div>
                <div class="setMainSuccessFoot">
                    <a href="">返回账户中心</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!--底部文件-->
<div class="foot w">
        版权所有©北京朋乐投资管理有限公司<s>|</s>京ICP备15016693号-2
    </div>
</body>
</html>
