<#include "home/config.html"/>
<#include "home/include/head.html"/>
<#assign userTopMenu="account"/>
    <title>修改密码</title>
</head>
<#assign userTopMenu="account"/>

<body>
<!--头部-->
<div class="header">
<#include "home/include/topRich.html" />
<#include "home/include/menuLine.html" />

</div>
<!--内容区-->
<!--修改密码第二步-->
<div class="main" id="stepready">
    <div class="w">
        <div class="setMain">
            <div class="setMainIn">
            	<p style="padding-top:30px;font-size:30px;text-align:center;">验证交易所登录状态......</p>
            </div>
        </div>
    </div>
</div>
<!--修改密码第二步-->
<div class="main" id="step0" style="display:none">
    <div class="w">
        <div class="setMain" style="padding-bottom:340px;">
            <div class="setMainTit" id="title0">登录交易所</div>
            <div class="setMainIn">
                    <div class="group">
                        <div class="col_1">交易密码</div>
                        <div class="col_2"><input type="password" placeholder="请输入交易密码" /></div>
                    </div>
                    <div class="hidden" id="notice0"> <i class="icons"></i>你输入的密码有误，请重新输入。 </div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn" action="loginExchange">确认登录</button></div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--修改密码第二步-->
<div class="main" id="step1" style="display:none">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit" id="title">修改交易密码</div>
            <div class="setMainIn">
                <p class="setMainInTit" id="content"><i class="icons icon_info"></i>定期更换密码可以让你的账户更加安全。</p>
                    <div class="group">
                        <div class="col_1">原密码</div>
                        <div class="col_2"><input type="password" placeholder="请输入原密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">新密码</div>
                        <div class="col_2"><input type="password" placeholder="请输入新密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">确认新密码</div>
                        <div class="col_2"><input type="password" placeholder="请再次输入新密码" /></div>
                    </div>
                    <div class="hidden" id="notice"> <i class="icons"></i>你输入的密码有误，请重新输入。 </div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn" action="submit">确认修改</button></div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!--修改密码完成-->
<div class="main" style="display:none" id="step2">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit" id="title2"></div>
            <div class="setMainSuccess">
                <div class="setMainSuccessTop clearfix">
                    <div class="left f_l"><i class="icons icon_compete"></i>恭喜您，密码修改成功！</div>

                </div>
                <div class="setMainSuccessFoot">
                    <a href="/gjs/account.html">返回账户中心</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
	var http = {
			funds : "/api/gjs_account/doModifyFundsPwd",
			trade : "/api/gjs_account/doModifyTradePwd"
		},
    	title0 = document.querySelector("#title0"),
    	title = document.querySelector("#title"),
    	title2 = document.querySelector("#title2"),
		r = request(),
		ex = $_GET("exchange") || "NJS",
		wind = $_GET("wind") || "funds",
		types = wind == "funds" ? "资金" : "交易";
		title0.innerHTML = "登录" + ($_GET("exn") || "交易所");
		title.innerHTML = "修改" + ($_GET("exn") || "交易所") + types +"密码";
		title2.innerHTML = "修改" + ($_GET("exn") || "交易所") + types +"密码";
    ;(function(){
    	var stepready = document.querySelector("#stepready"),
    		step0 = document.querySelector("#step0"),
    		notice0 = document.querySelector("#notice0"),
    		step1 = document.querySelector("#step1"),
    		tradePwdDom = step0.querySelector("input");
    	r.ajax({
    		url : "/api/gjs_trade/queryTradeLogin",
    		type : "GET",
    		data : {
    			token : token,
    			exchange : ex
    		},
    		success : function(d){
    			if(d.success){
    					stepready.style.display = "none";
    				if(d.data.result){
    					step1.style.display = "block";
    				}else{
    					step0.style.display = "block";
    				}
    			}
    		}
    	});
    	Event.add(step0,'click',function(e){
    		var tar = Event.target(e),
    			action = tar.getAttribute("action");
    		if(action == "loginExchange"){
    			Event.stop(e);
    			if(!tradePwdDom.value){
                    notice0.innerHTML = '<i class="icons"></i>交易密码没有填写';
                    notice0.className = "error";
    				return;
    			}
    			r.ajax({
    				url : "/api/gjs_trade/doTradeLogin",
    				type : "POST",
    				data : {
    					token : token,
    					exchange : ex,
    					tradePwd : encodePwd(tradePwdDom.value)
    				},
					success : function(d){
						if(d.success){
	    					step1.style.display = "block";
	    					step0.style.display = "none";
						}else{
		                    notice0.innerHTML = '<i class="icons"></i>'+d.msg;
		                    notice0.className = "error";
						}
					}
    			});
    		}
    	})
    })();
    setGJSNewPwd(http[wind],{
    	exchange : ex,
    	token : token
    },1);
</script>
<#include "home/include/footRich.html" />