<#include "home/config.html"/>
<#include "home/include/head.html"/>
<#assign userTopMenu="account"/>
    <title>修改财猫密码</title>
</head>

<body>
<!--头部-->
<div class="header">
<#include "home/include/topRich.html" />
<#include "home/include/menuLine.html" />

</div>
<!--内容区-->
<!--修改密码第二步-->
<div class="main" id="step1">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit">修改财猫密码</div>
            <div class="setMainIn">
                <p class="setMainInTit"><i class="icons icon_info"></i>定期更换密码可以让你的账户更加安全。建议密码采用字母和数字混合，并且不短于6位。</p>
                    <div class="group">
                        <div class="col_1">原密码</div>
                        <div class="col_2"><input type="password" placeholder="请输入原密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">新密码</div>
                        <div class="col_2"><input type="password" placeholder="请输入新密码" /></div>
                    </div>
                    <div class="group">
                        <div class="col_1">确认新密码</div>
                        <div class="col_2"><input type="password" placeholder="请再次输入新密码" /></div>
                    </div>
                    <div class="hidden" id="notice"> <i class="icons"></i>你输入的密码有误，请重新输入。 </div>
                    <div class="group">
                        <div class="col_1"></div>
                        <div class="col_2"><button type="submit" class="btn" action="submit">确认修改</button></div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!--修改密码完成-->
<div class="main" style="display:none" id="step2">
    <div class="w">
        <div class="setMain">
            <div class="setMainTit">修改财猫密码</div>
            <div class="setMainSuccess">
                <div class="setMainSuccessTop clearfix">
                    <div class="left f_l"><i class="icons icon_compete"></i>恭喜您，财猫密码修改成功！</div>
                    <div class="right f_r">
                        <a href="${gjsUrl}/gjs/openAccount.html"><i class="icons"></i>贵金属开户</a>
                        <a href="${ybkUrl}/ybk/open_account.html"><i class="icons"></i>邮币卡开户</a>
                    </div>
                </div>
                <div class="setMainSuccessFoot">
                    <a href="/user/account.html">返回账户中心</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    setNewPwd()
</script>
<#include "home/include/footRich.html" />