<#--front config start-->
<#assign basePath=""/><#--freemarker html-->
<#assign caimaoUrl="http://pz.web1caimao.com" />
<#assign homeUrl="http://www.web1caimao.com" />
<#assign ybkUrl="http://ybk.web1caimao.com" />
<#assign gjsUrl="http://jin.web1caimao.com" />
<#assign staticUrl="/static/gjs/prod"/><#--js,css-->
<#assign imgUrl="/static/gjs/img"/><#--image-->
<#assign resRelease=""/><#--"" or ".min"-->
<#assign jsVersion="1.0.03"/><#--clear cache-->
<#assign httpUrl="http://jin.web1caimao.com"/><#--通信域-->
<#assign isDebug=0/><#--1为开发测试环境，0为生产环境-->
<#--front config end-->

