@charset "utf-8";
@import 'base';

html,body{background:#dfdfdf;}
dt{font-size:18px;line-height:3;padding:0 1em;border-bottom:1px solid #e5e5e5;background:#fff;}
dd{font-size:16px;line-height:2;padding:0 1em .5em;display:none;}
img{width:100%;}