<#assign controller="ApplyLoan"/>
<#include 'layout/layout.html'/>
<#macro content>
    <div class="content">
        <div class="container">
            <div id="sidemenuctn" class="conside">
            </div>
            <div class="content-wrap">
            	 <div class="padd-space">
                    <div class="recharge-content">
                        <div class="tab" id="tab">
                        	<div class="head">
                    	        <span class="select"><i></i>申请中</span>
                                <span><i></i>申请通过</span>
                                <span><i></i>申请失败</span>
                            </div>
                            <div class="panel" id="applyctn">
                            </div>
                        </div>
                        <div class="pagination-holder clearfix">
                           <div id="light-pagination" class="pagination"></div>
                         </div>
                    </div>
                </div>
               <!-- <div class="node-box" id="applyctn">
                    <div class="head">
                    	<span class="select"><i></i>申请中</span>
                        <span><i></i>申请通过</span>
                        <span><i></i>申请失败</span>
                        <i></i><em data-dojo-attach-point="titleNode">申请中</em>
                    </div>
                </div>
                 <div class="node-box" id="applySuccessctn">
                    <div class="head">
                        <i></i><em data-dojo-attach-point="titleNode">申请通过</em>
                    </div>
                </div>
                <div class="node-box" id="applyFailctn">
                    <div class="head">
                        <i></i><em data-dojo-attach-point="titleNode">申请失败</em>
                    </div>
                </div>
                <div class="pagination-holder clearfix">
                    <div id="light-pagination" class="pagination"></div>
                </div>-->
              <!--  <div class="node-box" id="financingctn">
                </div>
                <div id="product-panel" style="margin: 20px 200px;display: none;"></div>-->
            </div>
        </div>
    </div>
</#macro>