<#assign controller="Contracts"/>
<#include 'layout/layout.html'/>
<#macro content>
    <div class="content">
        <div class="container">
            <div id="sidemenuctn" class="conside">
            </div>
            <div class="content-wrap">
                <div class="node-box" id="financingctn">
                   <div class="head">
                        <i></i><em data-dojo-attach-point="titleNode">当前合约</em>
                    </div>
                </div>
                <div id="product-panel" style="margin: 20px 200px;display: none;"></div>
                <div class="pagination-holder clearfix">
                    <div id="light-pagination" class="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</#macro>