
<ul>
   <li><a href="/user/account.html" <#if leftMenu == 1>class="hov"</#if>><i class="icons icon_caimao_account"></i><span>财猫账户</span><i class="icons icon_arrows_account"></i></a></li>
<li><a href="/gjs/account.html" <#if leftMenu == 2>class="hov"</#if>><i class="icons icon_gjs_account"></i><span>贵金属账户</span><i class="icons icon_arrows_account"></i></a></li>
<!--<li><a href="/tpl?tpl=/home/user/ybkaccount"><i class="icons icon_ybk_account"></i><span>邮币卡账户</span><i class="icons icon_arrows_account"></i></a></li> -->
</ul>