<!--底部-->
<div class="footer">
    <div class="w clearfix">
        <div class="left">
            <div class="nav_sub">
                <a href="${caimaoUrl}/about.htm">关于我们</a><s>|</s>
                <!--<a href="">会员资质</a><s>|</s>-->
                <a href="${caimaoUrl}/contact.htm">联系我们</a><s>|</s>
                <!--<a href="">加入我们</a><s>|</s>-->
                <a href="${caimaoUrl}/team.htm">管理团队</a><s>|</s>
                <a href="${caimaoUrl}/flsm.htm">法律声明</a><s>|</s>
                <a href="${caimaoUrl}/fxts.htm">风险提示</a><s>|</s>
                <a href="${caimaoUrl}/ystk.htm">隐私条款</a><s>|</s>
                <a href="${caimaoUrl}/yhxy.htm">用户协议</a>
                <a class="tel" href=""><i class="icons"></i> 4000-898-000</a>
                <a class="service" rel="nofollow" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&uin=800097600&1445239347032" target="_blank"><i class="icons"></i> 在线咨询</a>
            </div>
            <p class="friend">友情链接<br>
                <a rel="nofollow" href="http://www.sge.com.cn/" target="_blank">上海黄金交易所</a><s>|</s>
                <a rel="nofollow" href="http://www.szfesc.cn/" target="_blank">深圳金融电子结算中心</a><s>|</s>
                <a rel="nofollow" href="https://www.sequoiacap.com/" target="_blank">红杉资本</a><s>|</s>
                <a rel="nofollow" href="http://www.zhenfund.com/" target="_blank">真格基金</a><s>|</s>
                <a rel="nofollow" href="http://www.csrpme.com/" target="_blank">南方稀贵金属交易所</a><s>|</s>
                <a rel="nofollow" href="http://www.njwjsqbyp.com/" target="_blank">南京文交所</a><s>|</s>
                <a rel="nofollow" href="https://www.huobi.com/" target="_blank">火币Huobi.com</a><s>|</s>
                <a rel="nofollow" href="http://www.luyut.com/" target="_blank">陆羽国际茶业交易中心</a>
            </p>
            <p class="down">
                版权所有©北京朋乐投资管理有限公司 <s>|</s> 京ICP备15016693号-2 <s>|</s> 风险提示/隐私保密条款
            </p>
        </div>
        <div class="right">
            <i class="icons"></i>财猫官方微信
            <img src="${imgUrl}/home/weixin_ma.png"/>
        </div>
    </div>
</div>
</body>
</html>
