
        <div class="nav">
            <div class="w clearfix">
                <h1 class="f_l left">
                    <a href="/"></a>
                    <b>个人中心</b>
                 </h1>
                <div class="f_r right">
                    <ul>
                        <li><a href="/user/account.html" <#if userTopMenu == "account">class="hov"</#if>>账户中心</a></li>
                        <li><a href="/user/info.html" <#if userTopMenu == "info">class="hov"</#if>>个人资料</a></li>
                        <li><a href="/user/message.html" <#if userTopMenu == "msg">class="hov"</#if>>消息通知</a></li>
                    </ul>
                </div>
            </div>
        </div>