        <div class="top">
            <div class="w clearfix">
                <div class="f_l left">
                    <a href="${homeUrl}">财猫主站</a><s>|</s>
                    <a href="${ybkUrl}">财猫邮币卡</a><s>|</s>
                    <a href="${gjsUrl}">财猫贵金属</a>
                </div>
                <div class="f_r right">
                    <a href="${caimaoUrl}/account/index.htm">返回旧版</a>
                    <#if token != "">
                    <a href="">${userInfo.mobile}</a>
                    <!--<span class="slideBtn">0</span>-->
                    <a href="/user/logout.html">退出</a>
                    </#if>
                </div>
                <!--消息框-->
                <!--<div class="slideBox">-->
                    <!--<div class="tit"><span class="f_l">消息</span><a href="">全部消息</a></div>-->
                    <!--<div class="slideBoxIn">-->
                        <!--<ul>-->
                            <!--<li><span>主站</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>-->
                            <!--<li><span>贵金属</span> <s>|</s><a href="">关于开展上市新品的公告</a> <i>X</i> </li>-->
                            <!--<li><span>主站</span> <s>|</s><a href="">关于开展上市新品对交易会员进行按累计净买入金额定向配售的公告</a> <i>X</i> </li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash;暂无消息&ndash;&gt;-->
                        <!--<p class="slideBoxNo">-->
                            <!--<i class="icons"></i>您当前没有消息-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->

            </div>

        </div>