<#assign controller="StockBuy"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="contents clearfix">
    <div class="con-lside cm-left conside" id="sidemenuctn" style="position: inherit;">
    </div>
<!--右边start-->
<div id="show_unable" style="display:none;overflow: scroll;position: fixed;width: 500px;height: 480px;top: 50%;left: 50%;margin-top: -240px;margin-left: -250px;border: 1px solid #CCC;background-color: #fff;z-index: 999;">
    <div style="  float: right;margin: 10px 20px 0 0;color: #47A9EE;cursor: pointer;" onclick="javascript:document.getElementById('show_unable').style.display='none'">关闭</div>
    <table style="margin: 30px auto;">
        <thead>
        <tr>
            <td><b>股票代码</b></td>
            <td><b>股票名称</b></td>
            <td width="40"></td>
            <td><b>股票代码</b></td>
            <td><b>股票名称</b></td>
        </tr>
        </thead>
        <tbody>
        <tr><td>002461</td><td>珠江啤酒</td><td></td>
            <td>300153</td><td>科泰电源</td></tr>
        <tr><td>002625</td><td>龙生股份</td><td></td>
            <td>600193</td><td>创兴资源</td></tr>
        <tr><td>002406</td><td>远东传动</td><td></td>
            <td>002201</td><td>九鼎新材</td></tr>
        <tr><td>002120</td><td>新海股份</td><td></td>
            <td>002316</td><td>键桥通讯</td></tr>
        <tr><td>000722</td><td>湖南发展</td><td></td>
            <td>000809</td><td>铁岭新城</td></tr>
        <tr><td>002552</td><td>宝鼎重工</td><td></td>
            <td>002306</td><td>中科云网</td></tr>
        <tr><td>002640</td><td>百圆裤业</td><td></td>
            <td>002355</td><td>兴民钢圈</td></tr>
        <tr><td>002193</td><td>山东如意</td><td></td>
            <td>601011</td><td>宝泰隆</td></tr>
        <tr><td>300174</td><td>元力股份</td><td></td>
            <td>002672</td><td>东江环保</td></tr>
        <tr><td>000715</td><td>中兴商业</td><td></td>
            <td>002026</td><td>山东威达</td></tr>
        <tr><td>600051</td><td>宁波联合</td><td></td>
            <td>600526</td><td>菲达环保</td></tr>
        <tr><td>000932</td><td>华菱钢铁</td><td></td>
            <td>002546</td><td>新联电子</td></tr>
        <tr><td>002045</td><td>国光电器</td><td></td>
            <td>002688</td><td>金河生物</td></tr>
        <tr><td>300035</td><td>中科电气</td><td></td>
            <td>601311</td><td>骆驼股份</td></tr>
        <tr><td>300377</td><td>赢时胜</td><td></td>
            <td>300431</td><td>暴风科技</td></tr>
        <tr><td>300421</td><td>力星股份</td><td></td>
            <td>300255</td><td>常山药业</td></tr>
        <tr><td>000558</td><td>莱茵置业</td><td></td>
            <td>300285</td><td>国瓷材料</td></tr>
        <tr><td>002061</td><td>江山化工</td><td></td>
            <td> </td><td> </td></tr>


        </tbody>
    </table>
</div>
<div class="con-rside cm-right">
    <div style="float: right;color: #47A9EE;cursor: pointer;" id="unbaleBuy" onclick="javascript:document.getElementById('show_unable').style.display='block'">今日禁买股票</div>
<!--标题-->
<!-- <div class="title-page"><h3 class="am-ft-xl">买入</h3></div> -->

<div class="con-transactions clearfix">
<!--交易中心买入左边start-->
<div class="cm-left transactions-lside">
<!--表单-->
<!-- <form class="ui-form" role="form"> -->
<div class="ui-form-item" style="width:180px;" >
<label class="ui-label">操作员编号：</label>
<div class="ui-select" id="childAccountDiv" >
  <!-- <a class="layer" href="#"><span class="text">100080</span><span class="icon"></span></a>
  <div class="detail">
   <a href="#">100080</a>
	</div> -->
</div>  
</div>

<div class="ui-form-item">
<label class="ui-label">可用余额：</label>
<div class="ui-text" style="padding: 2px 0;"><b class="am-ft-number am-ft-xxxl" id="balanceInteger" ></b><b class="am-ft-number am-ft-xxxl" id="balanceDecimal" >0.00</b> <span class="am-ft-md">元 </span></div>
</div>


<div class="ui-form-item">
<label class="ui-label">证券代码：</label>
<input type="text" class="ui-input" placeholder="" maxlength="6" id="stock_code" >
<input type="hidden" id="exchange_type" >
<div id="stock_name" style="display:none;"></div>
</div>

<div class="ui-form-item">
<label class="ui-label" style="margin-right:0px;">委托价格：</label>
<div class="form-subtraction" id="priceSpinnerDiv">
</div>
</div>

<div class="ui-form-item">
<label class="ui-label" style="margin-right:0px;" >可买数量：</label>
<div class="ui-text"  style="margin-left: 10px;"> <span class="am-ft-md" id="buyalbeAmount" ></span></div>
</div>


<div class="ui-form-item">
<label class="ui-label">委托数量：</label>
<div class="form-subtraction" id="amountSpinnerDiv">
</div>
<div class="form-content">
<ul class="list-form-quantity listLateral">
<li class="list-quantity-item"><a id="allAmount">全部</a></li>
<li class="list-quantity-item"><a id="halfAmount" >1/2</a></li>
<li class="list-quantity-item"><a id="oneThirdAmount" >1/3</a></li>
<li class="list-quantity-item"><a id="quarterAmount" >1/4</a></li>
</ul>
</div>
</div>

<div class="ui-form-item" id="tradePwdDiv"> 
<label class="ui-label">安全密码：</label>
<input type="password" class="ui-input" placeholder="" id="tradePwd" >
</div>


<div id="buybuttonctn">
</div>
<!-- </form> -->
</div>
<!--交易中心买入左边end-->


<!--交易中心买入右边start-->
<div class="cm-right transactions-rside">
<div class="transactions-rside-name lineBottom-gray-dashed">
<div class="name" id="stockName" >--</div>
<div class="code" id="stockCode" >--</div>
<div class="Index"><b class="am-ft-number" id="newPrice">--</b></div>
<div class="Or">
<p><span id="chargeRate" >--</span></p>
<p><span id="chargeValue" >--</span></p>
</div>
</div>


<div class="K-line lineBottom-gray-dashed" style="width:435px;" id="timeShareChart" >

</div>

<!--五档-->
<div class="fiveStalls clearfix">
<div class="cm-left fiveStalls-lside lineRight-gray-dashed">
<div class="detail">
<p class="a1"><span>卖⑤</span></p>
<p class="a2"><span id="sellPrice5">--</span></p>
<p class="a3"><span id="sellCount5">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖④</span></p>
<p class="a2"><span id="sellPrice4">--</span></p>
<p class="a3"><span id="sellCount4">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖③</span></p>
<p class="a2"><span id="sellPrice3">--</span></p>
<p class="a3"><span id="sellCount3">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖②</span></p>
<p class="a2"><span id="sellPrice2">--</span></p>
<p class="a3"><span id="sellCount2">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖①</span></p>
<p class="a2"><span id="sellPrice1">--</span></p>
<p class="a3"><span id="sellCount1">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>涨停</span></p>
<p class="a2"><span class="am-ft-red" id="upPrice">--</span></p>
</div>
</div>

<div class="cm-right fiveStalls-rside">
<div class="detail">
<p class="a1"><span>买①</span></p>
<p class="a2"><span id="buyPrice1">--</span></p>
<p class="a3"><span id="buyCount1" >--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买②</span></p>
<p class="a2"><span id="buyPrice2">--</span></p>
<p class="a3"><span id="buyCount2">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买③</span></p>
<p class="a2"><span id="buyPrice3">--</span></p>
<p class="a3"><span id="buyCount3">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买④</span></p>
<p class="a2"><span id="buyPrice4">--</span></p>
<p class="a3"><span id="buyCount4">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买⑤</span></p>
<p class="a2"><span id="buyPrice5">--</span></p>
<p class="a3"><span id="buyCount5">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>跌停</span></p>
<p class="a2"><span class="am-ft-green" id="downPrice">--</span></p>
</div>
</div>

</div>
<!--五档-->

</div>
<!--交易中心买入右边end-->
</div>

</div>
<!--右边end-->

</div>

</#macro>

<#macro subScript>
<!-- 绘制行情图部分使用了jquery，后续调整为dojo -->
<script type="text/javascript" src="${basePath}/app/ux/jquery/jquery-1.8.2.min.js" ></script>
<script type="text/javascript" src="${basePath}/app/ux/highstock/highstock.js" ></script>
<script type="text/javascript" src="${basePath}/app/ux/chart/timeShareChart.js" ></script>
</#macro>