<#assign controller="MoneyOut"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="content">
        <div class="container">
            <div id="sidemenuctn" class="conside">
            </div>
            <div class="content-wrap" id="contentctn">
                <div class="content-wrap" style="width: 720px;" id="free_p">
                    <p style="background: #dedede;border: 1px solid rgba(150, 150, 150, 0.63);text-align: center;color: #4D4D4D;margin-left: 20px;padding: 5px;">提盈时间为交易日的上午10：00 到 下午3：00</p>
                </div>
            </div>
        </div>
    </div>
</#macro>