<#assign controller="StockSell"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="contents clearfix">
    <div class="con-lside cm-left conside" id="sidemenuctn" style="position: inherit;">
    </div>
<!--右边start-->
<div class="con-rside cm-right">
<!--标题-->
<!-- <div class="title-page"><h3 class="am-ft-xl">卖出</h3></div> -->

<div class="con-transactions clearfix">
<!--交易中心买入左边start-->
<div class="cm-left transactions-lside">
<!--表单-->
<!-- <form class="ui-form" role="form"> -->
<div class="ui-form-item" style="width:180px;" >
<label class="ui-label">操作员编号：</label>
<div class="ui-select" id="childAccountDiv" >
  <!-- <a class="layer" href="#"><span class="text">100080</span><span class="icon"></span></a>
  <div class="detail">
   <a href="#">100080</a>
	</div> -->
</div>  
</div>


<div class="ui-form-item">
<label class="ui-label">可用余额：</label>
<div class="ui-text" style="padding: 2px 0;"><b class="am-ft-number am-ft-xxxl" id="balanceInteger" ></b><b class="am-ft-number am-ft-xxxl" id="balanceDecimal" >0.00</b> <span class="am-ft-md">元 </span></div>
</div>


<div class="ui-form-item">
<label class="ui-label">证券代码：</label>
<input type="text" class="ui-input" placeholder="" maxlength="6" id="stock_code" >
<input type="hidden" id="exchange_type" >
<div id="stock_name" style="display:none;"></div>
</div>

<div class="ui-form-item">
<label class="ui-label" style="margin-right:0px;">委托价格：</label>
<div class="form-subtraction" id="priceSpinnerDiv">
</div>
</div>

<div class="ui-form-item">
<label class="ui-label" style="margin-right:0px;">可卖数量：</label>
<div class="ui-text" style="margin-left: 10px;"> <span class="am-ft-md" id="sellalbeAmount" ></span></div>
</div>

<div class="ui-form-item">
<label class="ui-label">委托数量：</label>
<div class="form-subtraction" id="amountSpinnerDiv">
</div>
<div class="form-content">
<ul class="list-form-quantity listLateral">
<li class="list-quantity-item"><a id="allAmount">全部</a></li>
<li class="list-quantity-item"><a id="halfAmount" >1/2</a></li>
<li class="list-quantity-item"><a id="oneThirdAmount" >1/3</a></li>
<li class="list-quantity-item"><a id="quarterAmount" >1/4</a></li>
</ul>
</div>
</div>


<div class="ui-form-item">
<label class="ui-label">安全密码：</label>
<input type="password" class="ui-input" placeholder="" id="tradePwd" >
</div>


<div id="sellbuttonctn">
</div>
</div>
<div class="cm-right transactions-rside">
<div class="transactions-rside-name lineBottom-gray-dashed">
<div class="name" id="stockName" >--</div>
<div class="code" id="stockCode" >--</div>
<div class="Index"><b class="am-ft-number" id="newPrice">--</b></div>
<div class="Or">
<p><span id="chargeRate" >--</span></p>
<p><span id="chargeValue" >--</span></p>
</div>
</div>


<div class="K-line lineBottom-gray-dashed" style="width:435px;" id="timeShareChart" >

</div>

<!--五档-->
<div class="fiveStalls clearfix">
<div class="cm-left fiveStalls-lside lineRight-gray-dashed">
<div class="detail">
<p class="a1"><span>卖⑤</span></p>
<p class="a2"><span id="sellPrice5">--</span></p>
<p class="a3"><span id="sellCount5">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖④</span></p>
<p class="a2"><span id="sellPrice4">--</span></p>
<p class="a3"><span id="sellCount4">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖③</span></p>
<p class="a2"><span id="sellPrice3">--</span></p>
<p class="a3"><span id="sellCount3">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖②</span></p>
<p class="a2"><span id="sellPrice2">--</span></p>
<p class="a3"><span id="sellCount2">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>卖①</span></p>
<p class="a2"><span id="sellPrice1">--</span></p>
<p class="a3"><span id="sellCount1">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>涨停</span></p>
<p class="a2"><span class="am-ft-red" id="upPrice">--</span></p>
</div>
</div>

<div class="cm-right fiveStalls-rside">
<div class="detail">
<p class="a1"><span>买①</span></p>
<p class="a2"><span id="buyPrice1">--</span></p>
<p class="a3"><span id="buyCount1" >--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买②</span></p>
<p class="a2"><span id="buyPrice2">--</span></p>
<p class="a3"><span id="buyCount2">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买③</span></p>
<p class="a2"><span id="buyPrice3">--</span></p>
<p class="a3"><span id="buyCount3">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买④</span></p>
<p class="a2"><span id="buyPrice4">--</span></p>
<p class="a3"><span id="buyCount4">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>买⑤</span></p>
<p class="a2"><span id="buyPrice5">--</span></p>
<p class="a3"><span id="buyCount5">--</span></p>
</div>
<div class="detail">
<p class="a1"><span>跌停</span></p>
<p class="a2"><span class="am-ft-green" id="downPrice">--</span></p>
</div>
</div>

</div>
<!--五档-->

</div>
<!-- </form> -->
</div>
<!--交易中心买入左边end-->


<!--交易中心买入右边start-->

<!--交易中心买入右边end-->
</div>

</div>
<!--右边end-->

</div>
</#macro>

<#macro subScript>
<!-- 绘制行情图部分使用了jquery，后续调整为dojo -->
<script type="text/javascript" src="${basePath}/app/ux/jquery/jquery-1.8.2.min.js" ></script>
<script type="text/javascript" src="${basePath}/app/ux/highstock/highstock.js" ></script>
<script type="text/javascript" src="${basePath}/app/ux/chart/timeShareChart.js" ></script>
</#macro>