<!doctype html>
<#include "gjs/config.html" />
<#assign topMenu="help" />

<#include "gjs/include/page/head.html" />
<body>
<#include "gjs/include/menu/topNav.html" />
<#include "gjs/include/menu/menu.html" />
	

	<div class="help">
		<div class="innerCont clearfix">
			<div class="mod-left nav">
				<ul id="nav">
					<li><i></i><a href="about.html">关于我们</a></li>
					<li class="on"><i></i><a href="rule.html">服务条款</a></li>
				</ul>
			</div>
			<div class="mod-right">
				<div class="mod-rightcontent helpList">
					<div class="ruleCont">
						<h2>财猫黄金服务协议</h2>
<p>财猫黄金APP是由北京朋乐投资有限公司打造的投资服务平台。用户在使用产品前或使用过程中，知悉并完全同意以下声明：</p>
<p>第一条 因下列情形导致产品信息传递延迟、中断、终止，本产品不承担法律责任：</p>
<p>（1）因互联网接入单位、短信发送商、移动运营商第三方的线路故障、通讯故障造成的信息传递异常；</p>
<p>（2）产品进行停机维护或产品升级暂停服务时；</p>
<p>（3）因地震、台风、战争、罢工、瘟疫、爆发性和流行性传染病或其他重大疫情、火灾造成的及其他不可抗力造成的网络服务异常；</p>
<p>（4）因黑客攻击、网络病毒侵入或发作、网络管制导致产品信息显示异常；</p>
<p>（5）非从指定网站下载的产品客户端内获取的产品信息显示异常。</p>
<p>第二条 本产品用户在参加产品举办的各种活动时，我们将在您的同意及确认下，通过注册表格等形式要求您提供一些个人资料，如：您的姓名、性别、年龄、出生日期、身份证号等。我们在未经您同意的情况下，不会将您的任何资料以任何形式泄露给任何第三方。但当政府司法机关依照法定程序要求本网站披露个人资料时，我们将根据执法单位之要求或为公共安全之目的提供个人资料，在此情况下的任何披露，本产品均得免责。</p>
<p>第三条 由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露，或由于与本产品链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，本产品均得免责。</p>
<p>第四条 本产品不保证提供的功能一定能满足用户的要求，也不保证服务不会中断、变更、终止。但本产品承诺对于可能或已经出现的各种功能瑕疵会尽最大的可能、在最短的时间内提供技术支持。</p>
<p>第五条 财猫黄金APP是一款免费使用的软件。使用过程中产生的上网数据流量费和短信费由运营商收取，与财猫网无关。上网数据流量根据用户手机上网的流量来计算，资费标准不一样，具体情况移动用户请致电10086，联通用户请致电10010，电信用户请致电10000。</p>
<p>第六条 本产品由北京朋乐投资管理有限公司出品。本产品（包括但不限于产品文字、图表、图像、源代码）的著作权、商标权和其他知识产权，属北京朋乐投资管理有限公司所有。任何媒体、网站或个人未经北京朋乐投资管理有限公司授权不得复制、使用、传播；已获书面授权的媒体、网站或个人，使用时必须注明“稿件来源：财猫黄金”，违者依法承担责任。</p>
<p>本产品内由专人撰写文章均具相应著作权及其他知识产权，任何媒体、网站或个人不得进行复制、使用、传播、剽窃及篡改。</p>
<p>第七条 产品任何资讯或专家言论不代表产品观点，用户据此作出的投资，风险自负。</p>
<p>第八条 本声明的修改权、更新权、最终解释权归属北京朋乐投资有限公司。</p>
<p>第九条 本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。</p>
<p>第十条 凡以任何方式直接或间接使用本产品或本产品资料者，视为自愿接受本声明的约束。</p>


<h2>风险提示</h2>
<p>黄金、白银、贵金属交收交易是以保证金方式进行的杠杆式交易，可能获得较高的投资收益，但也可能发生较大的损失，损失的金额有可能超过您的全部保证金。因此，请您务必在充分了解交易规则和风险的情况下谨慎交易！
</p>
<p>您需要承担的风险包括但不限于以下几个方面：
</p>
<p>（1）因受国内国际各种政治、经济因素，以及各种突发事件的影响，贵金属价格可能会发生剧烈波动。
</p>
<p>（2）当某个交易品种达到涨、跌停板的情况下，会出现买入或卖出无法成交的可能，您的所有保证金可能损失殆尽且不足以弥补交易亏损。
</p>
<p>（3）在同一交易日内不同交易场次之间，市场价格可能会有剧烈波动，您的交易指令可能因通讯网络速度等原因无法及时下达或撤销，可能由此对您的交易造成影响或带来损失。
</p>
<p>（4）由于交易通过电子通讯技术和互联网技术来实现，因通讯或网络故障导致的某些服务中断和延时可能会对您的交易产生影响。另外，您的电脑系统有可能被病毒、网络黑客等攻击，从而使您的交易受到影响或带来损失。
</p>
<p>（5）因不可抗力因素，包括地震、水灾、火灾、暴动、罢工、战争、政府管制、国际或国内的禁止或限制以及停电、技术故障、电子故障等其他无法预测和防范的事件，都有可能会对您的交易产生影响或带来损失。</p>

					</div>
				</div>
			</div>
		</div>
	</div>
<#include "gjs/include/page/foot.html" />
    </body>
</html>
