<div style="margin: 0 auto;display: table;height: 100%;">
    <div class="con-success clearfix" style="display: table-cell;vertical-align: middle;">
        <div class="cm-left successIcon-lside"></div>
        <div class="cm-left successText-rside">
            <p class="layout01"><i data-dojo-attach-point="typeNode" class="fa"></i><b data-dojo-attach-point="msgNode"></b></p>
            <p class="layout03"><span data-dojo-attach-point="subMsgNode"></span></p>
            <p class="layout02"><a data-dojo-attach-point="linkNode"></a></p>
        </div>
    </div>
</div>