<div class="box" data-dojo-attach-point="alertNode" >
<div class="con-box" style="background-color: #fff">
<div class="title-box clearfix" data-dojo-attach-point="titleCtnNode">
<h2 data-dojo-attach-point="titleNode" class="cm-left"></h2>
<a data-dojo-attach-point="closeNode" class="cm-right close-box">×</a>
</div>
<div data-dojo-attach-point="contentNode" style="padding: 10px;">
<form data-dojo-attach-point="msgNode" class="ui-form ui-form-box" role="form">
</form>
${confirmTextHTML}
${confirmAndCancelHTML}
</div>
</div>
</div>