
<!DOCTYPE html>
<#include "ybk/config.html" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮币卡APP下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, user-scalable=false">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="${staticUrl}/style/topic/ybk/reset.css?version=${jsVersion}">
    <link rel="stylesheet" type="text/css" href="${staticUrl}/style/topic/ybk/open.css?version=${jsVersion}">
</head>
<body>
<div class="wrapper">
    <div style='height: 17%;width:100%'></div>
    <a href="${imgUrl}/app/Youbi<#if channelId??>_${channelId}<#else></#if>.apk" onclick="return is_weixin();" class='loadBtn' >Android 立即下载</a>
    <a href="javascript:void(0);" onclick="if (is_weixin()) {window.location.href='itms-services://?action=download-manifest&url=https://ybk.caimao.com/static/ybk/img/app/ybk.plist';} else {return false;}" class='loadBtn'>iOS下载</a>
</div>
<div class="mask">
    <dl>
        <dt><img src="${imgUrl}/topic/ybk/download/people.png" alt=""></dt>
        <dd>
            <p>点击右上角【在浏览器中打开】</p>
            <p>下载财猫邮币卡APP</p>
        </dd>
    </dl>
</div>
</body>
<script src='${staticUrl}/js/topic/ybk/download/zepto.js?version=${jsVersion}'></script>
<script src="${staticUrl}/js/topic/ybk/download/load.js?version=${jsVersion}"></script>
</html>