<!doctype html>
<#include "ybk/config.html" />
<#assign topMenu="index" />
<html>
<head>
    <meta charset="utf-8">
    <title>新手引导--邮币卡</title>
    <link rel="stylesheet" href="${staticUrl}/style/lead.css" />
    <script src="${staticUrl}/js/ybk/global.js?version=${jsVersion}" type="text/javascript"></script>
</head>

<body>
<a id="to_top"></a>
<#include "ybk/include/page/head.html" />






<!--新手引导页开始-->
<div id="topic_lead">
    <div class="layout layout00">
        <div class="box">
            <a href="https://ybk.caimao.com/ybk/open_account.html" class="openbtn">我要领取</a>
            <p>活动详情：<a href="https://www.caimao.com/topic/ybk.html">https://www.caimao.com/topic/ybk.html</a><br>对活动存有任何疑问，请拨打咨询电话:4000-898-000 或 <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&uin=800097600&1444728033048">QQ咨询客服</a></p>
        </div>
    </div>
    <div class="layout layout01">
        <div class="tit">邮币卡是什么<img src="${imgUrl}/topic/ybk/lead/layout01_tit.png" width="386" height="64"/></div>
        <div class="w">
            <div class="top01">
                <div class="top_in">
                    <h3></h3>
                    <ul>
                        <li>
                            <i></i> 邮币卡是指具有投资价值的邮票、钱币、电话卡<br>已成为拓展集藏与投资渠道的新趋势。
                        </li>
                        <li>
                            <i></i>   邮币卡电子盘令交易者可以像交易股票一样买卖<br>邮币卡藏品。
                        </li>
                        <li> <i></i> 邮币卡电子盘行业自2013年10月21日诞生以来，始终保持爆<br>发似的增长。<span>在此趋势下，2017年邮币卡电子盘市场规模预计<br>将超过万亿。</span></li>
                        <li class="last">
                            （数据来自《2015年邮币卡电子盘行业报告》）
                        </li>
                    </ul>
                </div>
            </div>
            <div class="down01">
                <h3></h3>
                <p>第三轮生肖邮票 2010虎年大版邮票2014年2月13日正式上市，<br>当时实物市场价300元一枚电子盘以240元一张开卖上市一个月<br>价格翻倍，最高点曾经涨到<span> 7万多元 </span> 。</p>
            </div>
        </div>
    </div>

    <div class="layout layout02">
        <div class="tit"><img src="${imgUrl}/topic/ybk/lead/layout02_tit.png" width="554" height="64"/></div>
        <div class="w">
            <h3></h3>
            <p> <span>T+0交易方式</span><b>交易制度</b><span>T+1交易方式</span></p>
            <p> <span>现货交易</span>	<b>交易方式</b>	<span>现货交易</span></p>
            <p> <span>手续费</span>	<b>交易费用</b>	<span>印花税+交易佣金+过户费</span></p>
            <p> <span>（藏品所有权）可实物提取</span>	<b>提取方式</b>	<span>（公司股权）不可提取</span></p>
            <p>  <span>不可增发不可派送</span>	<b>发行制度</b>	<span>可增发可派送</span></p>
            <p> <span>银商银权绑定 封闭操作</span>	<b>资金存管</b>	<span>第三方资金存管</span></p>
            <p>  <span>个人托管上市</span>	<b>上市制度</b>	<span>多级审批上市</span></p>
            <p> <span>最小交易单位1枚</span><b>	交易单位</b>	<span>最小交易单位100股</span></p>
            <p> <span>交易日9：30-15：00</span>	<b>交易时间</b>	<span>交易日9：30-15：00</span></p>
        </div>
    </div>
    <div class="layout layout03">
        <div class="tit"><img src="${imgUrl}/topic/ybk/lead/layout03_tit.png" width="540" height="66"/></div>
        <div class="w">
            <p>传统交易所多家开户：需要重复提交8～10项资料。
                <span> 财猫邮币卡集成开户：提交一次资料，多家开户。</span>
            </p>
        </div>
    </div>
    <div class="layout layout04">
        <div class="tit"><img src="${imgUrl}/topic/ybk/lead/layout04_tit.png" width="412" height="70"/></div>
        <div class="w">
            <ul>
                <li>
                    <i></i>
                    <span> 集成开户</span>
                    一次提交资料即可立开<br>
                    各大交易所账户
                </li>
                <li>
                    <i class="icon_02"></i>
                    <span> 纵览行情</span>
                    一站查询全网交易品种<br>
                    电子盘实时行情
                </li>
                <li>
                    <i class="icon_03"></i>
                    <span> 资讯导航</span>
                    实时推送最新邮币<br>
                    资讯
                </li>
                <li>
                    <i class="icon_04"></i>
                    <span> 实力</span>
                    红杉资本投资团队重磅<br>
                    打造
                </li>
                <li>
                    <i class="icon_05"></i>
                    <span> 典范</span>
                    互联网及电商大会"最佳<br>
                    创业品牌"
                </li>
                <li>
                    <i class="icon_06"></i>
                    <span> 专业</span>
                    10年专业互联网金<br>
                    融风控管理团队
                </li>
            </ul>
        </div>
    </div>
    <div class="layout layout05" style="padding-bottom:250px;">
        <div class="w">
            <h3>财猫邮币卡合作交易所</h3>
            <div class="inner">
                <a rel="nofollow" href="http://www.zgqbyp.com/" target="view_window"><img src="${imgUrl}/exchange/njwjs.jpg"></a>
                <a rel="nofollow" href="http://www.nfqbyp.com/" target="view_window"><img src="${imgUrl}/exchange/nfwjs.jpg"></a>
                <a rel="nofollow" href="http://www.cacecybk.com.cn/web/index.jsp" target="view_window"><img src="${imgUrl}/exchange/zgyjs.jpg"></a>
                <a rel="nofollow" href="http://www.hbcybk.com/" target="view_window"><img src="${imgUrl}/exchange/hzwjs.jpg"></a>
                <a rel="nofollow" href="http://ybk.huaxiacae.com/index.html" target="view_window"><img src="${imgUrl}/exchange/hxwjs1.jpg"></a>
                <a rel="nofollow" href="http://dzp.wjybk.com/" target="view_window"><img src="${imgUrl}/exchange/bjsflt.jpg"></a>
                <a rel="nofollow" href="http://www.jinmajia.com/" target="view_window"><img src="${imgUrl}/exchange/jmj.jpg"></a>
                <a rel="nofollow" href="http://ybk.hxce.cn/" target="view_window"><img src="${imgUrl}/exchange/hxwjs.jpg"></a>
                <a rel="nofollow" href="http://ybk.jscaee.com.cn/" target="view_window"><img src="${imgUrl}/exchange/jswjs.jpg"></a>
                <a rel="nofollow" href="http://www.shscce.com/html/shscce/index.shtml" target="view_window"><img src="${imgUrl}/exchange/shybk.jpg"></a>
                <a rel="nofollow" href="http://www.znypjy.com/" target="view_window"><img src="${imgUrl}/exchange/znwjs.jpg"></a>
                <a rel="nofollow" href="http://qbyp.gzcmex.com/web/index.jsp" target="view_window"><img src="${imgUrl}/exchange/gzwjs.jpg"></a>
            </div>
            <p><span style="display:block;line-height:30px;font-size:12px;">温馨提示：投资有风险，理财需谨慎，加群了解财猫</span><i></i>财猫邮币卡交流群 ：333855308</p>
        </div>

    </div>
    <div class="right_fix">
        <a href="#to_top">
            <i></i>
        </a>
        <a>
            <i class="icons02"></i>
            <img src="${imgUrl}/topic/ybk/lead/fix02_02.png" alt=""/>
        </a>
        <a class="a3">
            <i class="icons03"></i>
            <img src="${imgUrl}/topic/ybk/lead/fix02_01.png" alt=""/>
        </a>
        <a class="a4" href="">
            <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&uin=800097600&1444726683035" target="_blank"><i class="icons04"></i></a>
        </a>
        <a class="5">
            <i class="icons05"></i>
            <img src="${imgUrl}/topic/ybk/lead/fix02_03.png" alt=""/>
        </a>

    </div>
    <div class="bottom_fix">
        <div class="w">
            <div class="img"></div>
            <img src="${imgUrl}/topic/ybk/lead/fix01_02.png" alt=""/>
            <a href="/ybk/open_account.html">我要开户</a>
        </div>
    </div>
</div>
<!--新手引导页end-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a1539df98107c7df914ae2d77cd616c3";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
