
<div class="am-header">
<a id="go_back2" class="header-Link header-leftLink"><i class="am-icon-arrow-left"></i></a>
<h1>手机验证</h1>
</div>
<!--顶部导航-->

<article class="con-spacing25 content">


<!--登录-->
<aside class="">
<p class=" am-pt-15"><span class="prompt">已经向您的手机发送验证码，请输入您收到的4位验证码完成注册</span></p>


<div class="am-flexbox am-pt-20" style="overflow:hidden;">
<div class="am-flexbox-item"><span class="prompt">您的手机号码:</span></div>
<div class="am-flexbox-item"><span id="phone_number" class="am-ft-xl"></span></div>
<div class="am-flexbox-item"><a id="button_lineblack" class="am-button am-button-lineblack" style="display:none;">发送验证码</a>
<a id="button_lineblack_active" class="am-button am-button-lineblack am-button-lineblack-active">重发验证码<label>45</label></a>
</div>
</div>


<ul class="am-listLogin am-listReg am-pt-10">
        <li class="am-listLogin-item">
      <div class="am-flexbox">
        <div class="am-flexbox-item icon-item">
        <i class="type-icon user-ico"></i></div>
         <div class="am-flexbox-item"><span class="ui-form-field am-left-15"><input id="sms_code" maxlength="6" type="text" autocomplete="off" class="text_input" defaultvalue="输入手机验证码" value="" placeholder="输入手机验证码">
</span></div>
        </div>
        </li>
    </ul>
    
  
</aside>
<!--登录-->

<!--按钮-->
<div class="btn-page btn-page-center" style="margin-top:30px;">
        <a href="###" id="regist_button" class="am-button am-button-red">
        <span class="am-ft-white">立即注册</span>
        </a>
        
</div>
<!--按钮-->

</article>



