<div class="layout_wrap" id="dialog_point">
    <div class="layout layout01">
        <h3 class="title">行业QQ群<a href="javascript:void(0);" id="dialog_close"><i class="icons icon_close"></i></a>  </h3>

        <div class="content">
            <div class="fin-contract-content" style="text-align: center; font-size:18px;">
                <div><b>333855308</b><i style="margin-left: 60px;">已满</i></div>
                <div><b>335443289</b><i style="margin-left: 60px;">已满</i></div>
                <div><b>335048909</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>458370867</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>334675034</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>390092470</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>426343895</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>278136616</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>367178828</b><i style="margin-left: 60px;">未满</i></div>
                <div><b>368077054</b><i style="margin-left: 60px;">未满</i></div>

            </div>
        </div>

    </div>

</div>
