<div class="layout_wrap" id="dialog_point">
    <div class="layout layout01">
        <h3 class="title">《风险提示书》<a href="javascript:void(0);" id="dialog_close"><i class="icons icon_close"></i></a>  </h3>

        <div class="content">
            <div class="fin-contract-content">
                <p><h2><span>《风险提示书》</span></h2></p>

                <p><span>尊敬的用户：</span></p>

                <p><span>欢迎您使用北京朋乐投资管理有限公司运营的财猫网（<span>www.caimao.com</span>）<span >(</span>以下称“本平台”<span>)</span>进行邮币卡交易所的代理开户业务和享受其他资讯服务。为了让您充分了解邮币卡交易风险，根据各个交易所的相关规定，特提供本风险提示书。若您选择参与通过本平台提供的开户服务而进行钱币邮票实物交易，则视为您已仔细阅读前述规定以及本风险提示书并自愿承担您自行参与的钱币邮票实物交易带来的风险。</span></p>

                <p><span>鉴于您进行钱币邮票交易存在风险并可能导致您亏损，请您慎重考虑自身情况是否适合进行此类交易，并确定可以自行承担风险及亏损，同时客观理性地认识到钱币邮票交易的风险包括但不限于：</span></p>

                <p><span>一、宏观经济风险：由于我国宏观经济形势的变化以及钱币邮票艺术品价值取向的变化，存在可能影响钱币邮票价格上下波动的情形；国际宏观经济形势变化也会对钱币邮票交易市场产生影响，存在导致钱币邮票交易价格上下波动的情形。</span></p>

                <p><span>二、政策法规及市场风险：钱币邮票交易作为一种创新的实物交易模式，自身的交易规则还需要在实践中不断完善，国家法律、法规及政策的变化以及影响价格波动的其他因素出现，都可能影响钱币邮票交易价格；或者由于您选择交易的所根据国家法律、法规及政策变化等原因而对该所相关规则进行修订，可能影响交易主体资格、交易规则等各个方面的变化。上述法律法规、政策及本所规则的风险，均可能导致本所交易的钱币邮票价格异常波动。</span></p>

                <p><span>三、鉴定评估风险：由于国内目前尚没有权威的鉴定评估机构和统一的鉴定估值程序及完备的鉴定估值方法，钱币邮票鉴定估值意见书仅供投资者参考，不作为您主张其他权益的依据。</span></p>

                <p><span>四、技术风险：由于资料的收集填写上报传输、交易的进行、信息的显示及资金的划付均是运用电子通讯技术和电脑技术并通过互联网传输来实现的，这些技术存在被网络黑客和计算机病毒攻击的可能，或者通讯技术、电脑技术和相关软件具有存在缺陷的可能，互联网传输故障也可能造成您的信息上报、交易指令无法及时传输，这些风险均可导致您可能不能及时开户、或是您的交易申报无法成交或者无法全部成交，或者转账资金不能及时到账、交易延迟、中止甚至无法完成交易等。</span></p>

                <p><span>五、交易所风险：您选择的交易所本身存在着各种风险：包括但不限于是否合规、管理是否规范、技术是否安全、产品是否合理规范、交易所行情、资讯信息不真实或提供不及时、操作是否及时等各种人为和或非人为的风险；</span></p>

                <p><span>六、信息风险：您提交本平台进行开户的信息，很可能不符合交易所的规定，或是在转填写过程中，可能存在过失导致信息填写错误、遗漏等风险；</span></p>

                <p><span>七、不可抗力风险：诸如地震、台风、火灾、水灾、战争、瘟疫、社会动乱等不可抗力因素可能导致开户申报系统的瘫痪或钱币邮票交易系统的瘫痪；本平台以及各个交易所无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障等也可能导致钱币邮票交易系统非正常运行甚至瘫痪；银行无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障等也可能导致资金转账系统非正常运行甚至瘫痪，这些风险可能导致您的开户申报或和交易申报无法成交或者无法全部成交，或者转账资金不能及时到账等。</span></p>

                <p><span>八、账号密码泄露风险由于您会员使用计算机被病毒侵入、黑客攻击等导致的密码泄露、账号泄露或您的身份被冒用，可能导致无法正确下达申报指令、恶意虚假申报或申报失败、延迟、错误等。</span></p>

                <p><span>九、您会员软硬件系统风险：您的电脑设备及软件系统与所提供的网上交易系统不相匹配，导致无法下达开户成功或和申报指令或申报失败、延迟等。</span></p>

                <p><span>十、其他风险：密码失密、操作不当、投资决策失误的等原因可能会使您会员发生亏损；网上申报、热键操作完毕后未及时退出，他人进行恶意操作而造成的损失；网上交易未及时退出还可能导致遭遇黑客攻击，从而造成损失。</span></p>

                <p><span>上述风险都将可能会导致您发生亏损，该等亏损均由您自行承担。在您参与钱币邮票交易时，他人给予的保证获利或不会发生亏损的任何承诺都是没有根据的，类似的承诺不会减少发生亏损的可能。</span></p>

                <p><span>本《风险提示书》提示事项仅为列举，并不能详细列明从事钱币邮票交易的全部风险和可能影响钱币邮票市场异常波动的所有情形，其他不可预见的风险因素也可能会给您带来损失。<b>尊敬的用户，请您明确知悉：本平台只是作为各个交易所的开户经纪商，除了代理您在您选定的各个交易所开户和提供相应行情及资讯信息等外，无其他任何服务形式。本平台不是您投资的委托理财方，故对上述各类风险以及您交易的任何品类均不作出任何承诺或担保，也没有降低您风险的任何义务，故您的任何操作只是由您个人进行并承担任何风险和责任。您在进行钱币邮票交易前，应确保自己已经做好足够的风险评估和财务安排，应确保自己已经对即将使用的交易所和进行交易的交易品类进行足够的风险评估，避免因参与交易而遭受难以承受的损失。由此产生的任何损失，与本平台无关，本平台不承担任何责任；您在进行钱币邮票交易过程中，请您自行关注各个交易所的通知、文件、协议等各种情况，自行决定是否要同意继续操作，本平台不具有通知您或和代您查看等的任何义务。</b></span></p>

                <p></p>

                <p><b><h2>《风险警示书》</h2></b></p>

                <p><span>尊敬的用户：</span></p>

                <p><span>本平台敬告您，您应当根据自身的经济条件和心理承受能力认真制定交易策略，尤其是您决定购买有较大潜在风险的品种时，更应当清醒地认识到该类实物藏品蕴含的风险。</span></p>

                <p><span>钱币邮票网上实物交易是一种创新的交易模式。您在进行交易时存在盈利的可能，也存在亏损的风险。在您参与钱币邮票实物交易时，我们郑重地提醒您，认真阅读并谨记以下劝导：</span></p>

                <p><span>1</span><span>、</span><span></span><span>请合理配置个人资产，不要以个人全部资产投入钱币邮票交易市场。</span></p>

                <p><span>2</span><span>、</span><span></span><span>请理性管理个人财富，不要拿生活必须资金、自用住房抵押贷款或其他借款投入钱币邮票市场。</span></p>

                <p><span>3</span><span>、</span><span></span><span>请客观评估自己投资抗风险能力，选择恰当的投资品种。</span></p>

                <p><span>4</span><span>、</span><span></span><span>请正确运用投资策略，留有适当资金以备不时之需。</span></p>

                <p><span>5</span><span>、</span><span></span><span>请认真了解所投资的藏品，不能仅凭市场传言盲目操作。</span></p>

                <p><span>6</span><span>、</span><span></span><span>请认真了解并掌握钱币邮票投资所需的必要知识和相关法规，提高自我保护的能力。</span></p>

                <p><span></span></p>

                <p><span>本平台没有授权任何个人或组织进行委托代理开会以及钱币邮票委托投资理财业务，为保护您的合法权益，请不要与任何人签订钱币邮票交易委托代理协议，否则由此引起的一切后果将由您承担。</span></p>

                <p><span>本平台郑重提醒您，钱币邮票投资是一种风险投资，请分清投资与投机、风险和收益之间的关系，请自行判断交易所的情况，树立正确的投资理念，谨慎入市，理性操作，注意身心健康与资金安全。</span></p>

                <p><span>本风险提示书并不能提示从事钱币邮票交易的全部风险及钱币邮票市场的全部情形。您务必对此有清醒的认识。</span></p>

                <p><b><span>“投资有风险，入市须谨慎”。请切记风险！</span></b></p>

                <p><b></b></p>

                <p><h2><span>《用户协议》</span></h2></p>

                <p><span>用户协议（以下简称本协议）由北京朋乐投资管理有限公司（以下简称本公司）和用户签订，本公司建立了专业的客服团队，并建立完善的客户服务制度，从技术、人员和制度上保障用户提问及投诉渠道的畅通，为用户提供及时的疑难解答与投诉反馈。欢迎用户注册成为北京朋乐投资管理有限公司网站(www.caimao.com)</span>（以下称“财猫网”）会员，使用财猫网为用户提供的会员服务。为了本协议表述之方便，以下“本公司”和“财猫网”合称“我们”或其他第一人称。</span></p>

                <p ><b><span><span>一、</span></span></b><b><span>承诺声明</span></b></p>

                <p ><span>1</span><span>、我们在此特别提醒用户：<b>在用户决定成为本网站会员前，请仔细阅读并完全理解本服务条款的全部内容（特别是以粗体标注的内容）以及《风险提示书》、《风险警示书》、《法律声明》、《隐私条款》的全部内容。</b>用户必须在不加修改地无条件完全接受本服务协议所包含的条款、条件和本网站即时刊登的通告，并且遵守有关互联网及或本网站的相关法律、规定与规则的前提下，才能进入会员注册程序。用户只有成功注册成为财猫网会员，才能使用我们提供的会员服务。<b>如用户不同意本服务条款的任意内容或者无法准确理解本公司对条款的解释，请勿注册或使用财猫会员服务，不要进行后续操作，包括但不限于不要接受本协议，不使用本平台服务。</b>如果用户对本协议的条款有疑问，请通过本公司在网站所留的联系渠道进行询问，本公司将向用户解释条款内容。
</span></p>

                <p ><span>2</span><span>、<b>用户一经勾选同意财猫网注册协议条款并按照本网站规定的会员注册程序开始注册，即表示用户已充分阅读、理解并同意接受本服务协议的条款和条件，并签署了本服务协议，本服务协议即在用户和本公司之间产生法律效力。</b>用户同意，本公司根据互联网的发展和中华人民共和国有关法律、法规的变化，会据此对本协议进行变更或修改不断地完善服务质量，并通过<span>www.caimao.com</span>网站以公告的方式提前予以公布，公告期限届满后修改的协议即时生效；<b>用户有义务随时查看财猫网网站上公式的最新版本协议，如发生有关争议时，以最新协议为准。若用户在本协议内容公告变更生效后继续使用的财猫网服务，表示用户已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用财猫网财猫网服务；若用户不同意变更后的协议内容，用户应在变更生效前停止使用。</b></span></p>

                <p ><span>3</span><span>、本服务协议内容包括本协议全部条款及本网站已经发布的或将来可能发布的各类规则、通告。所有规则、通告为本协议不可分割的一部分<span>,</span>与本协议正文具有同等法律效力。</span></p>

                <p ><b><span><span>二、</span></span></b><b><span>定义解释</span></b></p>

                <p ><span>1</span><span>、邮币卡：是指具有投资价值的邮票、钱币、电话卡，已成为拓展人们集藏与投资渠道的新趋势。现在，邮币卡电子盘令交易者可以像投资股票一样投资买卖邮币卡藏品。</span></p>

                <p ><span>2</span><span>、交易所：指在财猫网上展示的全部与财猫网合作的交易所，授权我们为其提供投资者代理开户业务。</span></p>

                <p ><span>账户：指用户按照本公司允许的方式在财猫网上取得的供用户使用的账户。用户一旦注册账户成功，即可享受财猫网提供的一次提交材料，多家邮币卡交易所开户的代理服务；并且还可以在财猫网上时刻关注多家邮币卡交易所的行情和咨询，免去多站切换的繁琐。</span></p>

                <p ><span>4</span><span>、本网站：除本协议另有规定外，指<span >www.caimao.com</span>及或客户端。</span></p>

                <p ><span>5</span><span>、本公司：指北京朋乐投资管理有限公司。</span></p>

                <p ><span>6</span><span>、用户：接受并同意本协议全部条款及财猫网不时发布和更新的法律条款和操作规则、完成相应注册流程，注册成为财猫网的会员的自然人或其他组织。</span></p>

                <p ><span ><span> </span>7</span><span>、用户注册：指用户登录财猫网，并按要求填写相关信息并确认完全知晓并同意履行相关用户协议的过程。</span></p>

                <p ><b><span><span>三、</span></span></b><b><span>用户注册</span></b></p>

                <p ><span>1</span><span>、<b>用户须具有中国法律规定的完全民事权利能力和民事行为能力，能独立承担本协议项下的权利义务。不具备前述条件的，用户应立即终止注册或停止使用本协议。</b></span></p>

                <p ><span>2</span><span>、<b>用户进行注册并非出于洗钱等违反法律法规或破坏邮币卡交易秩序及其他一切非法目的。</b></span></p>

                <p ><span>3</span><span>、用户同意根据财猫网用户注册页面的要求提供有效电子邮箱、身份信息、电话号码等信息，设置财猫网账号及密码，<b>用户应确保所提供全部信息的真实性、完整性和准确性。用户必须保证在</b>财猫网<b>网注册的账号为本人亲自操作，不得由他人代为注册或者代替他人注册，不得假冒他人信息进行注册，否则，由此引起的一切纠纷、风险及法律责任由行为人自行承担，</b>财猫<b>网不承担解决任何纠纷的义务及其他责任。</b></span></p>

                <p ><span>4</span><span>、用户合法、完整并有效提供注册所需信息后，方可有权获得财猫网账号和密码，财猫网账号和密码用于用户在财猫网进行会员登录。</span></p>

                <p ><span>5</span><span>、用户获得财猫网账号及密码时即视为用户注册成功，用户同意接收财猫网发送的与网站管理、运营相关的电子邮件和或短消息等信息。</span></p>

                <p ><span>6</span><span>、<b>用户注册成功后，应当提供本人的真实身份证号码，上传本人身份证正反面并进行手持身份证视频实名认证</b>。</span></p>

                <p ><b><span><span>四、</span></span></b><b><span>服务内容</span></b></p>

                <p ><span ><span> </span></span><span>成为财猫网用户后，用户可以获得财猫网提供的以下服务：</span></p>

                <p ><span>1</span><span>、财猫网与邮币卡交易所合作，用户在财猫网提交各个交易所要求的开户资料（包括但不限于手机号码、身份证号、银行卡号等信息），如果用户提交的材料通过了财猫网后台审核，我们将会将用户的开户信息提交到交易所完成开户；完成开户后，用户会获得相应的交易所的账户名和密码等信息，用户须妥善保管上述信息。</span></p>

                <p ><span>3</span><span>、用户只要在财猫网上提交一次资料<span >(</span>资料符合交易所要求的前提下<span>)</span>，就可以完成我们合作的多家交易所开户流程，开启邮币卡交易。</span></p>

                <p ><span>4</span><span>、财猫网将各大邮币卡交易所（一期目前有<span >10</span>所）的行情信息，分时、<span>K</span>线等实时交易信息展示在财猫网上，用户可以随时查看。</span></p>

                <p ><span>5</span><span>、用户有权在财猫网查看其个人账号下的信息，有权应用财猫网提供的功能进行操作。</span></p>

                <p ><span>6</span><span>、用户有权按照我们发布的活动规则参与财猫网组织的网站活动。</span></p>

                <p ><span>7</span><span>、财猫网为用户提供部分交易所的交易咨询、发布交易所公告、打新申购、新闻报道的行业信息等服务，交易所的数量将随着我们的合作不断拓展，随时更新在财猫网上。</span></p>

                <p ><b><span><span>五、</span></span></b><b><span>服务使用规则</span></b></p>

                <p ><span>1</span><span>、用户应当遵守法律法规、规章、规范性文件及政策要求的规定，不得在财猫网上或利用财猫网服务从事非法或其他损害财猫网或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经财猫网授权使用或伪造财猫网电子邮件题头信息等。</p>

                <p ><span><span></span>2</span><span>、用户应当妥善使用和保管其财猫网账号及密码和其注册时绑定的手机号码、以及手机接收的手机验证码的安全。用户对使用其财猫网账号和密码、资金密码、手机验证码进行的任何操作和后果承担全部责任。
</span></p>

                <p><b><span><span>3、</span></span></b><span>当用户发现财猫网账号、密码、或资金密码、验证码被未经其授权的第三方使用，或存在其他账号安全问题时，应立即有效通知我们，要求财猫网暂停该财猫网账号的服务。财猫网有权在合理时间内对用户的该等请求采取行动，但对财猫网采取行动前用户已经遭受的损失不承担任何责任。
<b>用户在未经财猫网同意的情况下不得将财猫网账号以赠与、借用、租用、转让或其他方式处分给他人。</b></span></p>

                <p><span><span>4、</span></span><span>用户应当遵守财猫网不时发布和更新的用户协议以及其他服务条款和操作规则。</span></p>

                <p><b><span><span>5、</span></span></b><b><span>我们一旦帮用户将交易所的账户注册完成后，用户在各个交易所网站上进行的任何操作均与我们无关，用户须遵照各个交易所的协议和要求进行全部操作，出现任何问题（包括但不限于用户在交易所的账户名、密码等丢失等）均与我们无关，我们不承担任何责任。</span></b></p>

                <p ><b><span><span>六、</span></span></b><b><span>账户安全</span></b></p>

                <p ><span>用户将对使用财猫网账户或密码、校验码进行的一切操作及言论负完全责任，用户同意：</span></p>

                <p ><span>1</span><span>、除相关产品另有规则外，本公司可以通过用户的财猫网登录名和密码或者本公司认可的其他方式识别用户的身份，用户应当对该等财猫网登录名、密码、校验码、身份识别信息等进行妥善保管，对于因财猫网登录名、密码、校验码、身份识别信息等泄露所致的损失由用户自行承担。<b>用户保证不向其他任何人泄露用户的财猫网登录名、密码、校验码以及身份信息等，亦不使用其他任何人的财猫网登录名、密码、校验码、身份识别信息等。本公司亦可能通过本服务应用用户使用的其他产品或设备识别用户的指示，用户应当妥善保管处于用户或应当处于用户掌控下的这些产品或设备，对于这些产品或设备因非用户本人使用或遗失所致的任何损失，由用户自行承担。</b></span></p>

                <p ><span>2</span><span>、基于计算机端、手机端以及使用其他电子设备的用户使用习惯，本公司可能在用户使用具体产品时设置不同的账户登录模式及采取不同的措施识别用户的身份。</span></p>

                <p ><span>3</span><span>、<b>用户同意，如用户发现有他人冒用或盗用用户的财猫网登录名及密码或任何其他未经合法授权之情形，或发生与用户的财猫网账户关联的手机或其他设备遗失或其他可能危及到用户的财猫网账户内财产权益安全情形时，用户应立即以有效方式通知本公司，向本公司申请暂停相关财猫网服务。用户不可撤销地授权本公司将前述情况同步给财猫网网站，以保障用户的合法权益。</b></span></p>

                <p ><span>4</span><span>、确保用户在持续登录任一财猫网网站时段结束时，以正确步骤离开网站。本公司不能也不会对因用户未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。用户理解本公司对用户的请求采取行动需要合理期限，在此之前，本公司对已执行的指令或和所导致的用户的损失不承担任何责任。</span></p>

                <p ><span>5</span><span>、<b>用户确认，用户应自行对用户的财猫网账户负责，只有用户本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法继承（如有）。</b></span></p>

                <p ><span>6</span><span>、用户同意，基于运行安全的需要，本公司可以暂时停止提供或者限制本服务部分功能，或提供新的功能，在任何功能减少、增加或者变化时，<b>只要用户仍然使用本服务，表示用户仍然同意本协议或者变更后的协议。</b></span></p>

                <p ><span>7</span><span>、本公司有权了解用户使用本服务的真实背景及目的，用户应如实提供本公司所需的真实、全面、准确的信息或资料；<b>如果本公司有合理理由怀疑用户提供虚假交易信息的，本公司有权暂时或永久限制用户所使用本服务的部分或全部功能。</b></span></p>

                <p ><span>8</span><span>、<b>用户同意，本公司有权按照国家法律或行政法规所赋予权力的有权机关的要求提供用户的个人信息或对用户的财猫网账户进行查询、冻结或扣划（如有资产）。</b></span></p>

                <p ><b><span><span>七、</span></span></b><b><span>用户权利与义务</span></b></p>

                <p ><span>1</span><span>、用户有权按照本协议约定接受财猫网提供的相关服务。</span></p>

                <p ><span>2</span><span>、用户有权随时终止使用财猫网服务。</span></p>

                <p ><span>3</span><span>、<b>用户对注册时提供的个人资料的真实性、有效性及安全性负责。</b></span></p>

                <p ><b><span>4</span></b><b><span>、用户授权本公司收集其个人材料和信息（包括但不限于手机号码、身份证号、银行卡号等信息），并授权本公司审核全部资料和信息并授权本公司全权代理其在相应交易所进行开户的全部程序。用户对本公司上述代理行为承担全部责任。</span></b></p>

                <p ><b><span>5</span></b><b><span>、用户承诺用户在授权本公司代理其开立相应交易所账户时，已经充分阅读并知晓了相应交易所开户需要签署的全部文件内容并表示同意，用户只是授权本公司为其以用户的名义进行相应同意的操作（包括但不限于在相应文件前打勾的方式等）。用户对该行为产生的后果承担全部责任，与本公司无关。</span></b></p>

                <p><span>6</span><span>、<b>用户明确知悉且确认：我们只是作为各个交易所的开户经纪商，除了代理用户在用户选定的各个交易所开户及本协议约定的其他服务外，无其他任何服务形式。我们不是用户投资的委托理财方，故对用户的交易所账户无任何操作和防范任何风险的义务；我们对各类风险以及用户交易的任何品类均不作出任何承诺或担保，也没有降低用户风险的任何义务，故用户的任何操作只是由用户个人进行并承担任何风险和责任。用户在进行钱币邮票交易前，应确保自己已经做好足够的风险评估和财务安排，应确保自己已经对即将使用的交易所和进行交易的交易品类进行足够的风险评估，避免因参与交易而遭受难以承受的损失。由此产生的任何损失，与我们无关，我们不承担任何责任；用户在进行钱币邮票交易过程中，请您自行关注各个交易所的通知、文件、协议等各种情况，自行决定是否要同意继续操作，本平台不具有通知用户或和代用户查看等的任何义务。<span ></span></b></span></p>

                <p><b><span>7</span></b><b><span>、用户明确知悉且确认：财猫网上的展示的交易所的行情信息，分时、<span >K</span>线等实时交易信息、交易咨询、交易所公告、打新申购、新闻报道的行业信息等均来自于各个交易所的转载，我们对上述信息的真实性、合法性和完整性等不承担任何责任，用户自身判断并确认。</span></b></p>

                <p ><span>8</span><span>、用户不得以任何技术手段或其他方式干扰财猫网的正常运行或干扰其他用户对财猫网服务的使用。</span></p>

                <p ><span>8</span><span>、如用户因网上交易与其他用户产生诉讼的，不得通过司法或行政以外的途径要求财猫网提供相关资料。</span></p>

                <p ><span>9</span><span>、<b>用户不得以虚构事实等方式恶意诋毁财猫网本公司的商誉。</b></span></p>

                <p ><b><span><span>八、</span></span></b><b><span>我们的权利与义务</span></b></p>

                <p ><span>1</span><span>、如用户不具备本协议约定的注册资格，则财猫网有权拒绝用户进行注册，对已注册的用户有权注销其财猫网会员账号，财猫网因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，财猫网保留其他任何情况下决定是否接受用户注册的权利。</span></p>

                <p ><span>2</span><span>、<b>如用户不具备交易所的开户资格或其提交的资料不符合交易所的要求，我们在征得用户同意的前提下会向用户要求补充资料或变更提供符合交易所要求的资料；如经相应修订、变更或重新提交仍不符合相应要求，则我们有权拒绝为用户提供委托代理开户的服务，且不承担任何责任。</b></span></p>

                <p><span>3</span><span>、我们确认：财猫网上展示的交易所的行情信息，分时、<span >K</span>线等实时交易信息、交易咨询、交易所公告、打新申购、新闻报道的行业信息等均来自于各个交易所的转载，我们对上述信息的真实性、合法性和完整性等不承担任何责任，用户自身判断并确认。</span></p>

                <p><span>4</span><span>、财猫网通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供财猫网服务。</span></p>

                <p ><span>5</span><span>、财猫网有权在发现财猫网上显示的任何信息存在明显错误时，对信息予以更正。</span></p>

                <p ><span>6</span><span>、财猫网保留随时修改、中止或终止财猫网服务的权利，财猫网行使修改或中止服务的权利不需事先告知用户，财猫网终止财猫网一项或多项服务的，终止自财猫网在网站上发布终止公告之日生效。</span></p>

                <p ><span>7</span><span>、财猫网有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用财猫网服务期间的全部资料和信息，但须按照《隐私条款》进行使用，不得非法使用该等信息。</span></p>

                <p ><span>8</span><span>、财猫网有权随时删除财猫网网站内各类不符合国家法律法规、规范性文件或财猫网网站规定的用户评价等内容信息，财猫网行使该等权利不需提前通知用户。</span></p>

                <p ><b><span><span>九、</span></span></b><b><span>账户注销</span></b></p>

                <p><span><span>1、</span></span><span>如用户连续一年未使用财猫网会员账号和密码登录财猫网，则财猫网有权注销用户的财猫网账号。</span></p>

                <p><span><span>2、</span></span><span>在需要终止使用本服务时，用户可以申请注销用户的财猫网账户，用户同意在需要终止使用本服务时，可以申请注销用户的财猫网账户。</span></p>

                <p><span><span>3、</span></span><span>用户所申请注销的财猫网账户应当是用户本人的财猫网账户。如用户需要注销用户的财猫网账户，用户应当依照本公司规定的程序进行财猫网账户注销。</span></p>

                <p><b><span><span>4、</span></span></b><b><span>财猫网账户注销将导致本公司终止为用户提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下结果：</span></b></p>

                <p ><b><span ><span> </span></span></b><b><span>任何兑换代码或卡券（包括但不限于购物券、礼品券、优惠券等任何与财猫网账户相关的兑换代码、卡券）均将作废。</span></b></p>

                <p><b><span><span>5、</span></span></b><b><span>用户仍应对用户在注销财猫网账户前且使用本服务期间的行为承担相应责任，包括但不限于可能产生的违约责任、损害赔偿责任及履约义务，同时本公司仍可保有用户的相关信息。</span></b></p>

                <p><span><span>6、</span></span><span>用户可以通过自助或者人工的方式申请注销财猫网账户，但如果用户使用了本公司提供的安全产品，应当在该安全产品环境下申请注销。</span></p>

                <p><b><span><span>7、</span></span></b><span>用户申请注销的财猫网账户应当处于正常状态，即用户的财猫网账户的账户信息和用户信息是最新、完整、正确的，且该账户可以使用所有财猫网服务功能。账户信息或用户信息过时、缺失、不正确的账户或被暂停或限制或终止提供服务的财猫网账户不能被申请注销。<b>如用户申请注销的财猫网账户有关联的财猫网账户、在该关联财猫网账户被注销前，用户不能注销该账户。</b></span></p>

                <p><b><span><span>8、</span></span></b><b><span>用户申请注销的财猫网账户应当不存在任何由于该账户被注销而导致的未了结的合同关系与其他基于该账户的存在而产生或维持的权利义务，及本公司认为注销该账户会由此产生未了结的权利义务而产生纠纷的情况。如不符合前述任何情况的，用户不能申请注销该账户。</span></b></p>

                <p><span><span>9、</span></span><span>如果用户申请注销的财猫网账户一旦注销成功，将不再予以恢复。账号注销后，财猫网有权将相应的会员名开放给其他用户注册使用。</span></p>

                <p ><b><span><span>十、</span></span></b><b><span>不可抗力</span></b></p>

                <p ><b><span ><span> </span></span></b><span                              ><span></span>1</span><span>、不可抗力在合同订立后发生当事人在订合同时不能预见、不能避免、不可控制的意外事故，以致不能履行合同或不能如期履行合同时，遭受不可抗力的一方可以免除减轻履行合同的责任。</span></p>

                <p ><span ><span> </span>2</span><span>、<b>在法律允许的范围内，不论在何种情况下，财猫网对由于包括但不限于信息网络设备维护、信息网络连接故障、电脑、通讯
                    或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、 司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。</b></span></p>

                <p ><b><span><span>十一、</span></span></b><b><span>知识产权</span></b></p>

                <p ><b><span ><span> </span></span></b><span                                    >1</span><span>、财猫网所包含的全部智力成果包括但不限于网站标志、数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，
软件编译、相关源代码和软件<span > (</span>包括小应用程序和脚本<span >) </span>的知识产权权利均归财猫网所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。</span></p>

                <p ><span ><span> </span>2</span><span>、财猫网名称中包含的所有权利<span> (</span>包括但不限于商誉和商标、标志<span >) </span>均归本公司所有。</span></p>

                <p ><span>3</span><span>、<b>用户接受本协议即视为用户主动将其在财猫网发表的任何形式的信息的著作权，</b>包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权
以及应当由著作权人享有的其他可转让权利无偿独家转让给财猫网所有，财猫网有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在财猫网发布的任何受著作权法保护的作品内容，
无论该内容形成于本协议签订前还是本协议签订后。</span></p>

                <p ><span>4</span><span>、 用户在使用财猫网服务过程中不得非法使用或处分财猫网或他人的知识产权权利。用户不得将已发表于财猫网的信息以任何形式发布或授权其它网站（及媒体）使用。</span></p>

                <p ><b><span><span>十二、</span></span></b><b><span>协议变更及终止</span></b></p>

                <p><b><span><span>1、</span></span></b><span>财猫网有权随时对本协议内容或财猫网发布的其他服务条款及操作规则的内容进行变更，变更时财猫网将在财猫网站内显著位置发布公告，
变更自公告发布之时生效，如<b>用户继续使用财猫网提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权注销财猫网账户、停止使用财猫网服务。</b></span></p>

                <p><span><span>2、</span></span><span>财猫网有权依据本协议约定注销用户的财猫网账号，本协议于账号注销之日终止。</span></p>

                <p><span><span>3、</span></span><span>财猫网有权依据本协议约定终止全部财猫网服务，本协议于财猫网全部服务终止之日终止。</span></p>

                <p><b><span><span>4、</span></span></b><b><span>本协议终止后，用户无权要求财猫网继续向其提供任何服务或履行任何其他义务，包括但不限于要求财猫网为用户保留或向用户披露其原财猫网账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。</span></b></p>

                <p><b><span><span>5、</span></span></b><span>本协议的终止不影响守约方向违约方追究违约责任。<b></b></span></p>

                <p ><b><span><span>十三、</span></span></b><b><span>反洗钱</span></b></p>

                <p ><span>1</span><span>、财猫网遵守和执行《中华人民共和国反洗钱法》的规定，对用户进行身份识别、客户身份资料和交易记录保存制度，以及大额的和可疑交易报告的制度。</span></p>

                <p ><span>2</span><span>、<b>用户注册、挂失交易密码或者资金密码时，应当提供并上传身份证复印件，财猫网对用户提供的身份证信息进行识别和比对。财猫网有合理的理由怀疑用户使用虚假身份注册时，有权拒绝注册或者注销已经注册的账户。</b></span></p>

                <p ><span>3</span><span>、<b>财猫网对用户身份信息等记录进行保存，依法协助、配合司法机关和行政执法机关打击洗钱活动， 依照法律法规的规定协助司法机关、海关、税务等部门查询、冻结和扣划客户存款。</b></span></p>

                <p ><b><span>十五、风险提示</span></b></p>

                <p><span><span> </span></span><b><span>用户确认认真阅读了《风险提示书》和《风险警示书》的内容，同意并接受。</span></b></p>

                <p ><b><span>十六、违约责任</span></b></p>

                <p ><span>1</span><span>、财猫网或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。/span></p>

                <p ><span>2</span><span>、<b>如因用户提供的信息不真实、不完整或不准确给财猫网造成损失的，财猫网有权要求用户对财猫网进行损失的赔偿。</b></span></p>

                <p ><span>3</span><span>、如因用户违反法律法规规定或本协议约定，在财猫网或利用财猫网服务从事非法活动的， 财猫网有权立即终止继续对其提供财猫网服务，注销其账号，并要求其赔偿由此给财猫网造成的损失。</span></p>

                <p ><span>4</span><span>、如用户以技术手段干扰财猫网的运行或干扰其他用户对财猫网使用的，财猫网有权立即注销其财猫网账号，并有权要求其赔偿由此给财猫网造成的损失。</span></p>

                <p ><span>5</span><span>、<b>如用户以虚构事实等方式恶意诋毁财猫网的商誉，财猫网有权要求用户向财猫网公开道歉，赔偿其给财猫网造成的损失，并有权终止对其提供财猫网服务。</b></span></p>

                <p ><b><span>十七、法律适用</span></b></p>

                <p ><span>本协议之生效、签订、履行、管辖、终止、解释、变更、执行与争议解决均适用中华人民共和国法律。<b></b></span></p>

                <p ><b><span>十八、争议解决</span></b></p>

                <p ><span>因本协议引起的或与本协议有关的任何争议，各方应友好协商解决<span>;</span>若协商不成，<b>由本协议的签订地即本公司所在地的人民法院管辖</b>。 </span></p>

                <p><b><span><span>十九、</span></span></b><b><span>协议生效</span></b></p>

                <p ><span>1</span><span>、本协议于用户点击财猫网注册页面的同意注册并完成注册程序、获得财猫网账号和密码时生效，对财猫网和用户均具有约束力。本协议生效之日，即为用户全权授权我们代理其在交易所开户的授权的生效之日。</span></p>

                <p ><span>2</span><span>、如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
</span></p>

                <p ><b><span>二十、其他</span></b></p>

                <p ><span>本协议最终解释权归本公司所有。</span></p>

                <p ><b><span>若用户在本协议内容公告变更生效后继续使用的财猫网网服务，表示用户已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用财猫网网服务；若用户不同意变更后的协议内容，用户应在变更生效前停止使用。</span></b></p>

                <p ><b></b></p>

                <span><h2>《隐私条款》</h2></span>

                <span><span>一、</span></span><span>双方</span>

                <span>1.1 </span><span>北京朋乐投资管理有限公司（以下称“公司”），是一家根据中华人民共和国法律在中国注册成立的公司，该公司运营财猫网网站<span>(www.caimao.com)</span>平台（以下称“本平台”），本平台是一个专门为用户提供专业的代理开户平台和咨询行情产品的平台。为了协议表述之方便，以下“公司”以及“本平台”或将成为“我们”或其他第一人称。</span>

                <p><span>1.2 </span><span>只要注册成功，本平台提供了有效账户的自然人或其他主体，均为本平台的用户，本协议表述之便利，以下使用“您”或其他第二人称。<span><br>
1.3 </span>为了本协议表述之便利，我们和您在本协议中合称为“双方”，我们或您单称为“一方”。</span></p>

                <span>二、隐私政策制定的目的</span>

                <p><span>隐私政策规定了我们只通过您登陆本平台、在本平台上注册和<span >/</span>或使用我们提供的服务采集您信息的类型以及我们如何使用和保护这些采集到的信息。</span></p>

                <span>三、您的同意</span>

                <p><span>为确保您对我们在处理个人资料上有充分信心<span >, </span>您切要详细阅读及理解隐私政策的条文。特别是您一旦登陆本平台不论您是否在本平台上注册，您均向我们表明您接受、同意、承诺和确认<span>:<br>
</span>用户承诺：用户具有完全民事权利能力和行为能力且为本人操作，或虽不具有完全民事权利能力和行为能力<span >,</span>但点击同意注册按钮，
本网即视为经其法定代理人同意并由其法定代理人代理注册及应用我们的服务。<span ><br>
3.1 </span>您在自愿下连同所需的同意向我们披露个人资料<span >;<br>
3.2 </span>您会遵守本隐私政策的全部条款和限制<span >;<br>
3.3 </span>您同意我们通过您登陆本平台、在本平台上注册和<span >/</span>或使用我们提供的服务收集您的信息；您同意日后我们对隐私政策的任何修改<span    >;<br>
3.4 </span>您同意我们的分公司、附属公司、雇员、就您可能会感兴趣的产品和服务与您联络<span >( </span>除非您已经表示不想收到该等讯息<span    > )</span>。</span></p>

                <span>四、收集的信息</span>

                <p><span>4.1 </span><span>当您使用本平台时，您同意我们开始使用<span>cookies</span>来追踪您的每一个动作，并收集和记住你留下的所有信息，其中包括但不限于您的<span >IP</span>地址，地理位置及其他资料。<span><br>
4.2 </span>如果您愿意使用本平台提供的服务，您需要填写和提供以下两种信息：<span ><br>
4.2.1 </span>身份信息。该信息可以帮助我们验证您是否有资格注册为本平台会员以及验证您是否有资格注册为各邮币卡交易所会员，包括但不限制你的名字，你的居住地址，邮寄地址，您所属国家或政府发签发的其他具有证明您身份信息的不同的证书以及涉及到的号码及所有其他可帮助我们验证您身份的信息（以下合称为”身份信息”
）。<span ><br>
4.2.2 </span>服务信息。该信息帮助我们以及各邮币卡交易所与您联系并顺利为您提供服务，包括但不限制您的电话号码、传真号码、有效的电子邮件地址、邮寄地址以及您的借记卡信息和<span    >/</span>或其他帐户信息（以下合称为“服务信息” ）。<span ><br>
4.3 </span>在您使用本平台或其提供的服务时，我们可能会为了改进本平台的使用功能，提升您对使用本平台及其提供的服务及其安全性的体验或是根据法院或可适用法律法规或有管辖权的其他政府机构的命令，通过本平台公示的专属于我们的邮箱或其他我们认为合规的方式收集更多的必要的信息。<span    ><br>
4.4 </span>如果您访问了任何链接在本平台上的其他第三方平台或合作的第三方，您应同意并遵守该第三方网单独和独立的隐私政策。我们对这些平台或合作方的内容及活动不承担任何责任。</span></p>

                <span>五、<span >Cookie</span></span><span    ><o:p></o:p></span>

                <p><span>5.1 </span><span>当您到访我们平台时<span>, </span>我们通过<span >cookies</span>使用<span >Google
Stats</span>去记录我们的业绩以及核对在线广告的效果。<span >Cookie</span>是发送到您的浏览器上并在您的电脑硬盘驱动器上存储的小量数据。只有当您使用您的电脑进入我们平台时<span>, Cookie</span>才能够被发送到您的电脑硬盘上。<span ><br>
5.2 Cookies</span>常用于记录访问者浏览我们平台上的各个项目时的习惯以及偏好。<span >Cookies</span>所搜集的资料是不记名的集体统计数据<span>, </span>不载有个人资料。<span ><br>
5.3 Cookies</span>不能用于取得您的硬盘上的数据、您的电邮地址、及您的私人数据其可使本平台或服务商系统识别到您的浏览器并捕捉和记忆信息。大多数浏览器都预设为可以接受<span>Cookies</span>。您可以选择将您的浏览器设定为不接受<span >Cookies, </span>或如果<span>Cookies</span>一被装上就通知您。不过<span >, </span>若设定为禁止<span>Cookies, </span>您或许便不能启动或使用我们平台的某些功能。</span><span                     ><o:p></o:p></span></p>

                <span>六、信息使用用途</span>

                <p><span>6.1 </span><span>我们为了以下目的或以下列方式使用我们收集到的您的信息：<span><br>
6.1.1 </span>通过我们的平台向您提供我们的各项服务；<span ><br>
6.1.2 </span>当您使用我们的平台时<span >, </span>能辨认及确认您的身份；<span ><br>
6.1.3 </span>为了改善和提高平台和服务（根据我们收到的您的信息及反馈，帮助我们改善平台的服务，进而我们可以更有效地对您的服务请求和支持需求做出回应）；<span><br>
6.1.4 </span>统计我们平台使用量的数据；<span ><br>
6.1.5 </span>个性化您的体验（您的信息将帮助我们更好地为您的个性化需求作出回应）；<span ><br>
6.1.6 </span>处理交易（您的信息，无论是公共或私人的，未经您的同意不会以任何理由被出售、交换、转移，或提供给任何其他公司，但除了为完成我们要为您提供的服务以及您所要求的明确目的）；<span><br>
6.1.7 </span>要定期发送电子邮件（您提供订单处理的电子邮件地址，除了偶尔接收我们的新闻，更新，相关产品或服务的信息等，可用来向您发送信息和更新有关您的订单）；<span><br>
6.1.8 </span>满足本平台用户协议规定的其他目的和为了满足该等目的的所有合法途径。<span ><br>
6.2 </span>我们不会向其他方出售，交易或以其他方式转让信息。但不包括帮助我们经营我们的平台，开展业务，或者向您提供服务的受信任的第三方，只要这些当事方同意将这些信息保密。当我们相信披露信息是适当的，是遵守法律、法规、规章制度的或来自于法院或他主管当局的命令、执行我们的平台策略，正常运行平台所需要，或保护我们或他人的权利、财产或安全的。但是，您的信息不得提供给其他方进行营销，广告或其他用途。</span></p>

                <span>七、个人资料的保护</span>

                <p><span>7.1 </span><span>我们实施妥善的实物、电子、管理及技术方面的措施来保护和保障您的个人资料的安全。我们尽力确保通过我们平台所搜集的任何个人资料皆免于任何与我们无关的第三者的滋扰。我们采取的安全措施包括但不限于<span>:<br>
7.1.1 </span>实物措施<span >: </span>存有您个人资料的记录会被存放在有锁的地方。<span><br>
7.1.2 </span>电子措施<span >: </span>存有您个人资料的电脑数据会被存放在受严格登入限制的电脑系统和存储媒体上。<span><br>
7.1.3 </span>管理措施<span >: </span>只有经我们授权的职员才能接触到您的个人资料<span>, </span>这些职员需要遵守我们个人资料保密的内部守则。<span ><br>
7.1.4 </span>技术措施<span >: </span>可能采用如<span >Secure Socket
Layer Encryption</span>这种加密技术来输送您的个人资料。<span ><br>
7.1.5 </span>其它措施<span >: </span>我们的网络服务器受到“防火墙”的保护。<span ><br>
7.2 </span>若您知悉我们的平台上有任何安全方面的漏洞<span >, </span>请不要迟疑去联&#32097;我们<span>, </span>使我们可以尽快采取妥适的行动。<span ><br>
7.3 </span>尽管实施了上述技术和保安的措施<span >, </span>我们不能保证资料在互联网上的输送绝对安全<span>, </span>因此我们不能绝对保证您通过我们平台提供给我们的个人资料在一切时候都是安全的。对任何因未经授权而接触您个人资料所发生的事件我们一&#27114;不承担责任<span>, </span>于这方面产生或导致的任何损失或损害<span >, </span>我们也不负责赔偿。</span></p>

                <span>八、隐私政策的修订</span>

                <p><span>我们保留随时修改该隐私政策的权利。我们通过更新和发布新版本的生效日期告诉您我们修订了隐私政策，并突出修订处，有时我们会发布通知告诉您隐私政策已修订，但这不是我们的一项义务。您应定期查看隐私政策并关注其修订情况，如果您不同意修订的内容，您应停止立即访问本平台。当隐私政策的更新版本发布，您持续访问本平台显示和表明您同意该更新的内容，并同意遵守该更新的隐私权政策。</span></p>

                <span>九、与我们的沟通</span>

                <p><span>9.1 </span><span>如果您有任何要求和意见，您可以通过平台公示的联系方式（以下称为“有效的联系方式”），这是属于我们与您沟通的唯一有效和官方电子邮件或电话号码，所以我们对您未使用有效的联系方式，任何作为或不作为不承担责任。<span><br>
9.2 </span>我们只通过本平台上的有效的联系方式发布公告和信息或在本平台张贴公告，所以我们对由于您信任了未通过以上方式获得的信息而产生的任何损失不承担责任。<span><br>
9.3 </span>若您对我们的隐私政策有任何问题<span >, </span>欢迎随时联系我们。</span></p>

                <p><span><h2>《法律声明》</h2></span></p>

                <span><span >第一条 </span></span><span>本网站的宗旨是在不违反中华人民共和国法律法规的前提下，尽可能地为中国广大邮币卡爱好者及投资者提供专业的代理开户平台和咨询行情产品。
禁止使用本网站从事洗钱、走私、商业贿赂等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</span>

                <span>第二条 当公安机关、检察院、法院等有权机关出示相应的调查文件要求本站配合对指定用户进行调查时， 或对用户账户采取查封、冻结或者划转措施时，本站将按照公安机关的要求协助提供相应的用户数据，或进行相应的操作。
因此而造成的用户隐私泄露、账户不能操作及因此给所造成的损失等，本站不承担任何责任。</span>

                <span>第三条 本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，本站做为服务的提供方，有义务对平台的规则及服务进行完善，
但本站并无触犯中华人民共和国法律的动机和事实，对使用者的行为不承担任何连带责任。</span>

                <span>第四条 凡以任何方式登陆本网站或直接、间接使用本网站服务者，视为自愿接受本网站声明的约束。</span>

                <span>第五条 本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国法律法规冲突时，以中华人民共和国法律法规为准。</span>




            </div>
        </div>

    </div>

</div>
