<#--front config start-->
<#assign basePath=""/><#--freemarker html-->
<#assign caimaoUrl="http://pz.localcaimao.com:8080" />
<#assign homeUrl="http://www.localcaimao.com" />
<#assign ybkUrl="http://ybk.localcaimao.com" />
<#assign gjsUrl="http://jin.localcaimao.com" />
<#assign staticUrl="/static/home/prod"/><#--js,css-->
<#assign imgUrl="/static/home/img"/><#--image-->
<#assign resRelease=""/><#--"" or ".min"-->
<#assign jsVersion="1.0.03"/><#--clear cache-->
<#assign publicKey="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDOI53uYwwr+M+Gniyx3iWU6CFi+FiF1oj4SBJK/Nzno133XfUIOcuf2ykJjpuP8b2JfGg5fUqLiDBNHZEoIbQAPw4hRZi1+hF5mvhdwIR8E1UK1YeJVpRY6AymW/IhqlxLGhdL49FvCKoJNORUH7wRCmH3gj+ly4zLHmRD2OEJnwIDAQAB"/>
<#assign isDebug=0/><#--1为开发测试环境，0为生产环境-->
<#--front config end-->

