@charset "utf-8";

/*引入base*/
@import "../module/reset";

/*引入base*/
@import "../module/base";
@import "../module/layout";

$imgURL: '../../images/';

.page_login{
  height:600px;
  padding-top: 73px;
  border-bottom: 2px solid #ebb21a;
  background: #f8cf62;
  .page_in{
    width: 300px;
    height: 300px;
    padding:20px 37px;
    margin: auto;
    @include img($imgURL+ "login_bg.jpg",left bottom);
    background-color: #f7f6f2;
       .hd{
      h5{
        font-size: 22px;
        color:#b73a3c ;
        line-height: 34px;
        border-bottom: 1px dashed #d1d1d1;
      }
    }
    .bd{
      margin-bottom: 20px;
      li{
        margin-top: 20px;
      .input_text{
        @include input($gray,'', #edd0d0);
        width: 290px;
        line-height:45px;
        height:45px;
        padding-left: 10px;
        font-size: 16px;
      }
      .btn{
        height: 45px;
        width: 290px;
        color: #FFF;
        font-size: 18px;
        @include btn(none,$red)
      }
      }
    }
    .ft{}
  }
}