<#--网站标题-->
<#assign default_title="财猫网"/>

<#--热线电话-->
<#assign hotline="4000-898-000"/>
<#--银行转账-->
<#assign bankCards=[{"ID": "CMB", "name","北京朋乐投资管理有限公司", "bankType": "招商银行", "bank": "1109 1322 0310 301", "deposit": "招商银行西二旗支行"}]/>
<#--支付宝账户-->
<#assign alpayAccountID="zhifu@caimao.com"/>
<#assign alpayAccountName="北京朋乐投资管理有限公司"/>
<#assign alpayImg="alipay.png"/>
<#--融资产品名称-->
<#assign proDay="按日融资"/>
<#assign proMonth="按月融资"/>
<#assign proFree="免费体验"/>
<#assign proContest="实盘大赛"/>
<#assign proOffer="限时特惠"/>
<#assign proP2P="股票投资"/>
<#--功能开关-->
<#assign isProDay=true/><#--按日融资-->
<#assign isProMonth=true/><#--按月融资-->
<#assign isProFree=false/><#--免费体验-->
<#assign isProContest=false/><#--实盘大赛-->
<#assign isProOffer=false/><#--特惠(暂时不加)-->
<#assign isProP2P=false/><#--投标-->
<#assign isPopularize=true/><#--推广积分-->
<#assign isAlipay=true/><#--支付宝充值-->
<#assign isBankTransfer=true/><#--银行转账-->
<#assign isUploadCertification=false /><#--实名认证是否身份上传-->
<#assign isHeepayTest=false/><#--汇付宝充值是否测试 -->

<#assign proDaySwitch=true/><#--按日融资开关-->
<#assign proDayCloseMsg="今日融资额已领完"/><#--按日融资关闭提示-->
<#assign proMonthSwitch=true/><#--按月融资开关-->
<#assign proMonthCloseMsg="今日融资额已领完"/><#--按月融资关闭提示-->